Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

More fixes
  modules/yup_core/streams/yup_MemoryOutputStream.cpp
  tests/yup_core/yup_String.cpp
Due: yup_core, YUP Core

More tests
  tests/yup_core/yup_MemoryOutputStream.cpp
Due: none

Assorted set of fixes (#78)
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_core/streams/yup_MemoryOutputStream.cpp
  modules/yup_core/system/yup_SystemStats.cpp
  modules/yup_core/system/yup_TargetPlatform.h
  modules/yup_python/bindings/yup_YupCore_bindings.h
  python/CMakeLists.txt
  tests/yup_core/yup_MemoryOutputStream.cpp
  tests/yup_core/yup_String.cpp
Due: yup_core, yup_audio_basics, YUP Core, YUP Audio Basics

DataTree and utility classes (#74)
  CLAUDE.md
  docs/Building Plugins.md
  docs/tutorials/DataTree Tutorial.md
  modules/yup_core/containers/yup_DynamicObject.cpp
  modules/yup_core/containers/yup_DynamicObject.h
  modules/yup_core/containers/yup_HashMap.h
  modules/yup_data_model/tree/yup_AtomicCachedValue.h
  modules/yup_data_model/tree/yup_CachedValue.h
  modules/yup_data_model/tree/yup_DataTree.cpp
  modules/yup_data_model/tree/yup_DataTree.h
  modules/yup_data_model/tree/yup_DataTreeObjectList.h
  modules/yup_data_model/tree/yup_DataTreeQuery.cpp
  modules/yup_data_model/tree/yup_DataTreeQuery.h
  modules/yup_data_model/tree/yup_DataTreeSchema.cpp
  modules/yup_data_model/tree/yup_DataTreeSchema.h
  modules/yup_data_model/yup_data_model.cpp
  modules/yup_data_model/yup_data_model.h
  tests/yup_data_model/yup_CachedValue.cpp
  tests/yup_data_model/yup_DataTree.cpp
  tests/yup_data_model/yup_DataTreeObjectList.cpp
  tests/yup_data_model/yup_DataTreeQuery.cpp
  tests/yup_data_model/yup_DataTreeSchema.cpp
Due: yup_core, YUP Core

Improve expression
  modules/yup_core/maths/yup_Expression.cpp
  tests/yup_core/yup_Expression.cpp
Due: yup_core, YUP Core

Font tests
  modules/yup_graphics/fonts/yup_Font.cpp
  tests/yup_graphics/yup_Font.cpp
Due: yup_graphics, YUP Graphics

More tests
  modules/yup_graphics/fonts/yup_Font.cpp
  tests/yup_graphics/yup_StyledText.cpp
Due: yup_graphics, YUP Graphics

More tweaks
  tests/yup_graphics/yup_Drawable.cpp
  tests/yup_graphics/yup_Path.cpp
  tests/yup_python/yup_ScriptEngine.cpp
Due: none

Fix issues with tests
  modules/yup_core/files/yup_File.cpp
  modules/yup_python/scripting/yup_ScriptEngine.cpp
  tests/yup_core/yup_URL.cpp
Due: yup_core, YUP Core

Move to C++20 by default
  README.md
  cmake/yup_dependencies.cmake
  cmake/yup_modules.cmake
  cmake/yup_platforms.cmake
Due: none

Get rid of Optional and switch to C++20
  modules/yup_audio_basics/audio_play_head/yup_AudioPlayHead.h
  modules/yup_audio_basics/midi/yup_MidiFile.cpp
  modules/yup_audio_basics/midi/yup_MidiMessageSequence.cpp
  modules/yup_audio_devices/native/yup_Audio_ios.cpp
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
  modules/yup_core/containers/yup_Optional.h
  modules/yup_core/native/yup_SharedCode_posix.h
  modules/yup_core/yup_core.h
  python/pyproject.toml
  tests/yup_audio_basics/yup_AudioPlayHead.cpp
  tests/yup_audio_basics/yup_MidiFile.cpp
  tests/yup_core/yup_Optional.cpp
  thirdparty/rive_decoders/rive_decoders.h
Due: yup_core, yup_audio_basics, YUP Core, YUP Audio Basics

Improve python packaging
  cmake/yup_python.cmake
  modules/yup_python/scripting/yup_ScriptEngine.cpp
  python/tools/ArchivePythonStdlib.py
Due: none

More coverage
  tests/yup_core/yup_BigInteger.cpp
Due: none

More tests
  tests/yup_core/yup_JavascriptEngine.cpp
  tests/yup_core/yup_NormalisableRange.cpp
Due: none

Don't make cache fail
  .github/workflows/build_wasm.yml
Due: none

More tests
  modules/yup_core/files/yup_FileSearchPath.cpp
  tests/yup_core/yup_FileSearchPath.cpp
  tests/yup_core/yup_StringArray.cpp
  tests/yup_core/yup_Uuid.cpp
Due: yup_core, YUP Core

More string tests
  tests/yup_core/yup_String.cpp
Due: none

Removed useless methods and added more useful tests
  modules/yup_core/text/yup_CharacterFunctions.cpp
  modules/yup_core/text/yup_CharacterFunctions.h
  tests/yup_core/yup_ConsoleApplication.cpp
  tests/yup_core/yup_LocalisedStrings.cpp
  tests/yup_core/yup_MimeTypeTable.cpp
Due: yup_core, YUP Core

Fixing stuff
  tests/yup_core/yup_ConsoleApplication.cpp
  tests/yup_core/yup_MimeTypeTable.cpp
  tests/yup_core/yup_ThreadPool.cpp
  tests/yup_core/yup_TimeSliceThread.cpp
Due: none

Fix issues
  modules/yup_core/containers/yup_Variant.cpp
  modules/yup_core/containers/yup_Variant.h
  tests/yup_core/yup_JavascriptEngine.cpp
Due: yup_core, YUP Core

Fix tests
  python/tests/test_yup_events/test_MessageManager.py
  tests/yup_core/yup_FileSearchPath.cpp
Due: none

More tests
  tests/yup_core/yup_FlagSet.cpp
  tests/yup_core/yup_JavascriptEngine.cpp
  tests/yup_core/yup_XmlDocument.cpp
Due: none

More tests
  tests/yup_core/yup_IPAddress.cpp
  tests/yup_core/yup_MACAddress.cpp
Due: none

Fix wasm builds now that we are on C++20
  CMakeLists.txt
Due: none

Bump cmake and emsdk
  .github/workflows/build_wasm.yml
  CMakeLists.txt
  README.md
  cmake/toolchains/ios.cmake
  docs/Building Plugins.md
  docs/Building Standalone.md
  examples/app/CMakeLists.txt
  examples/console/CMakeLists.txt
  examples/graphics/CMakeLists.txt
  examples/plugin/CMakeLists.txt
  python/CMakeLists.txt
  standalone/app/CMakeLists.txt
  tests/CMakeLists.txt
Due: none

Forgot to switch to 20
  cmake/yup_audio_plugin.cmake
  cmake/yup_standalone.cmake
  docs/Building Plugins.md
  docs/Building Standalone.md
  examples/plugin/CMakeLists.txt
Due: none

I removed cache of emsdk
  .github/workflows/build_wasm.yml
Due: none

Disable scan for modules
  CMakeLists.txt
Due: none

Fix tests on emscripten
  tests/yup_data_model/yup_DataTree.cpp
Due: none

Fixes for emscripten
  modules/yup_data_model/undo/yup_UndoManager.cpp
Due: none

Fix wasm on emscripten 4
  cmake/yup_standalone.cmake
Due: none

Add stackTrace to DEFAULT_LIBRARY_FUNCS_TO_INCLUDE
  cmake/yup_standalone.cmake
Due: none

Fix syntax for DEFAULT_LIBRARY_FUNCS_TO_INCLUDE
  cmake/yup_standalone.cmake
Due: none

Update CMake and Emscripten SDK version requirements
  README.md
Due: none

More audio tests
  tests/yup_audio_basics/yup_AudioChannelSet.cpp
  tests/yup_audio_basics/yup_BufferingAudioSource.cpp
  tests/yup_audio_basics/yup_ChannelRemappingAudioSource.cpp
  tests/yup_audio_basics/yup_MixerAudioSource.cpp
  tests/yup_audio_basics/yup_ResamplingAudioSource.cpp
  tests/yup_audio_basics/yup_ReverbAudioSource.cpp
  tests/yup_audio_basics/yup_ToneGeneratorAudioSource.cpp
Due: none

Improved tests
  README.md
  cmake/yup_standalone.cmake
  tests/yup_audio_basics/yup_AudioDataConverters.cpp
  tests/yup_audio_basics/yup_AudioProcessLoadMeasurer.cpp
  tests/yup_audio_basics/yup_FloatVectorOperations.cpp
Due: none

More fixes
  modules/yup_data_model/tree/yup_DataTree.cpp
  modules/yup_data_model/tree/yup_DataTree.h
  tests/yup_audio_basics/yup_AudioProcessLoadMeasurer.cpp
  tests/yup_data_model/yup_DataTree.cpp
  tests/yup_data_model/yup_DataTreeSchema.cpp
Due: none

More tests
  tests/yup_audio_basics/yup_Decibels.cpp
  tests/yup_audio_basics/yup_IIRFilter.cpp
  tests/yup_audio_basics/yup_Reverb.cpp
Due: none

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
