Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

Improved drawable
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
Due: yup_graphics, YUP Graphics

More tweaks
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/primitives/yup_Path.cpp
Due: yup_graphics, YUP Graphics

Working tiger
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
Due: yup_graphics, YUP Graphics

More tweaks
  modules/yup_graphics/drawables/yup_Drawable.cpp
Due: yup_graphics, YUP Graphics

Fix issue
  modules/yup_graphics/primitives/yup_Path.cpp
Due: yup_graphics, YUP Graphics

Code formatting
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/graphics/yup_ColorGradient.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/primitives/yup_Path.cpp
Due: yup_graphics, YUP Graphics

More work
  examples/graphics/source/examples/Svg.h
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/layout/yup_Fitting.h
  modules/yup_graphics/yup_graphics.h
Due: yup_graphics, YUP Graphics

More work on svg
  examples/graphics/source/examples/Svg.h
  examples/graphics/source/examples/VariableFonts.h
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/layout/yup_Justification.h
  modules/yup_graphics/primitives/yup_AffineTransform.h
  modules/yup_graphics/primitives/yup_Line.h
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Point.h
  modules/yup_graphics/primitives/yup_Rectangle.h
  modules/yup_graphics/primitives/yup_Size.h
  tests/yup_graphics/yup_Graphics.cpp
Due: yup_graphics, YUP Graphics

More tweaks
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/graphics/yup_Color.cpp
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
Due: yup_graphics, YUP Graphics

More output
  modules/yup_graphics/drawables/yup_Drawable.cpp
Due: yup_graphics, YUP Graphics

Avoid strange behaviour
  modules/yup_events/native/yup_MessageManager_mac.mm
Due: none

Code formatting
  modules/yup_events/native/yup_MessageManager_mac.mm
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/layout/yup_Fitting.h
  modules/yup_graphics/layout/yup_Justification.h
  modules/yup_graphics/primitives/yup_Path.cpp
Due: yup_graphics, YUP Graphics

More gradient fun
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
Due: yup_graphics, YUP Graphics

Code formatting
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
Due: yup_graphics, YUP Graphics

More doxygen
  modules/yup_graphics/drawables/yup_Drawable.h
Due: yup_graphics, YUP Graphics

More work on demos
  examples/graphics/source/examples/Artboard.h
  examples/graphics/source/examples/Audio.h
  examples/graphics/source/examples/FileChooser.h
  examples/graphics/source/examples/LayoutFonts.h
  examples/graphics/source/examples/OpaqueDemo.h
  examples/graphics/source/examples/PopupMenu.h
  examples/graphics/source/examples/Python.h
  examples/graphics/source/examples/TextEditor.h
  examples/graphics/source/examples/VariableFonts.h
  examples/graphics/source/examples/Widgets.h
  examples/graphics/source/main.cpp
Due: none

Avoid bug in mac event loop
  modules/yup_events/native/yup_MessageManager_mac.mm
Due: none

More work
  CMakeLists.txt
  cmake/yup_modules.cmake
  cmake/yup_standalone.cmake
  cmake/yup_utilities.cmake
  justfile
  modules/yup_audio_basics/yup_audio_basics.h
  modules/yup_audio_devices/yup_audio_devices.h
  modules/yup_core/system/yup_StandardHeader.h
  modules/yup_core/yup_core.h
  modules/yup_events/yup_events.h
  modules/yup_python/yup_python.h
  python/CMakeLists.txt
  python/MANIFEST.in
  python/setup.py
  tests/CMakeLists.txt
  tests/yup_python/yup_ScriptEngine.cpp
Due: yup_core, yup_events, yup_audio_basics, yup_audio_devices, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices

More tweaks
  CMakeLists.txt
  cmake/yup.cmake
  cmake/yup_dependencies.cmake
  cmake/yup_modules.cmake
  cmake/yup_options.cmake
  cmake/yup_standalone.cmake
  examples/app/CMakeLists.txt
  examples/console/CMakeLists.txt
  examples/graphics/CMakeLists.txt
  justfile
  modules/yup_python/bindings/yup_YupCore_bindings.cpp
  modules/yup_python/modules/yup_YupInternal_module.cpp
  modules/yup_python/modules/yup_YupMain_module.cpp
  modules/yup_python/yup_python.cpp
  modules/yup_python/yup_python.mm
  modules/yup_python/yup_python_bindings.cpp
  modules/yup_python/yup_python_core.cpp
  modules/yup_python/yup_python_modules.cpp
  python/.gitignore
  python/CMakeLists.txt
  python/pyproject.toml
  python/setup.py
Due: none

Improve building of python modules
  CMakeLists.txt
  cmake/yup_options.cmake
  python/setup.py
Due: none

Fix build failures
  CMakeLists.txt
  cmake/yup.cmake
  cmake/yup_options.cmake
Due: none

Only use python for desktops (we need to build it for ios/android/wasm if we want to link it there)
  examples/graphics/CMakeLists.txt
  examples/graphics/source/main.cpp
  modules/yup_python/utilities/yup_CrashHandling.cpp
  modules/yup_python/yup_python.h
Due: none

Code formatting
  examples/graphics/source/main.cpp
  modules/yup_python/utilities/yup_CrashHandling.cpp
  modules/yup_python/yup_python.h
Due: none

More tweaks
  examples/graphics/source/main.cpp
  modules/yup_core/native/yup_SharedCode_posix.h
  python/.gitignore
  python/pyproject.toml
  python/setup.py
  python/tests/test_yup_core/test_File.py
  python/tests/test_yup_core/test_JSON.py
  python/tests/test_yup_core/test_MemoryBlock.py
  python/tests/test_yup_core/test_MemoryMappedFile.py
  python/tests/test_yup_core/test_Time.py
  python/tests/test_yup_core/test_URLInputSource.py
  python/tests/test_yup_core/test_Uuid.py
  python/tests/test_yup_core/test_XmlElement.py
  python/tests/utilities.py
Due: none

Build wheels
  .github/workflows/build_macos.yml
Due: none

Only execute unit tests on desktop
  tests/CMakeLists.txt
Due: none

Change folder
  .github/workflows/build_macos.yml
Due: none

Change name
  .github/workflows/build_macos.yml
Due: none

Skip yup_python on non desktop
  cmake/yup_modules.cmake
Due: none

More fixes
  CMakeLists.txt
  cmake/yup_modules.cmake
  python/CMakeLists.txt
Due: none

Fix python
  CMakeLists.txt
Due: none

Fix it
  modules/yup_core/native/yup_Threads_windows.cpp
Due: none

Stick a compiler flag for linux
  modules/yup_python/yup_python.h
Due: none

Skipping arm64 tests
  .github/workflows/build_macos.yml
Due: none

Fix universal building
  .github/workflows/build_macos.yml
Due: none

Don't include python
  examples/graphics/source/main.cpp
Due: none

Fix it
  .github/workflows/build_macos.yml
Due: none

More stuff
  CMakeLists.txt
Due: none
