Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

More tweaks
  tests/yup_rhi/native/yup_GpuDevice_linux.cpp
Due: none

More fixes
  tests/yup_rhi/native/yup_GpuDevice_linux.cpp
Due: none

Fix linux
  tests/yup_rhi/native/yup_GpuDevice_linux.cpp
Due: none

Update rendering backend support status in README
  README.md
Due: none

Fix conflicts
  modules/yup_gui/native/yup_Windowing_sdl.h
  tests/yup_gui/yup_Component.cpp
Due: none

Andodroid notification support
  cmake/platforms/android/app/src/main/AndroidManifest.xml.in
Due: none

More tests
  tests/yup_core.cpp
  tests/yup_core/yup_MimeTypes.cpp
  tests/yup_events/yup_ToastNotification.cpp
Due: none

Fix javascript
  modules/yup_events/native/yup_ToastNotification_wasm.cpp
Due: none

Fix wasm
  modules/yup_events/native/yup_ToastNotification_wasm.cpp
Due: none

Fix
  CHANGELOG.md
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.h
  modules/yup_dsp/frequency/yup_SpectrumAnalyzerState.cpp
  tests/yup_audio_gui/yup_SpectrogramComponent.cpp
Due: none

More touch handling
  CHANGELOG.md
  docs/ui/component-basics.md
  examples/graphics/source/examples/TouchTrails.h
  examples/graphics/source/main.cpp
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/widgets/yup_Slider.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_Slider.cpp
Due: yup_gui, YUP GUI

Cross platform Toast Notifications (#176)
  CHANGELOG.md
  cmake/platforms/android/app/src/main/AndroidManifest.xml.in
  docs/ui/index.md
  docs/ui/toast-notifications.md
  examples/graphics/source/examples/ToastNotificationDemo.h
  examples/graphics/source/main.cpp
  modules/yup_core/files/yup_MimeTypes.cpp
  modules/yup_core/files/yup_MimeTypes.h
  modules/yup_core/files/yup_common_MimeTypes.cpp
  modules/yup_core/files/yup_common_MimeTypes.h
  modules/yup_core/misc/yup_RuntimePermissions.h
  modules/yup_core/native/yup_AndroidDocument_android.cpp
  modules/yup_core/native/yup_RuntimePermissions_android.cpp
  modules/yup_core/native/yup_Threads_android.cpp
  modules/yup_core/yup_core.cpp
  modules/yup_core/yup_core.h
  modules/yup_events/native/yup_Messaging_android.cpp
  modules/yup_events/native/yup_ToastNotification_android.cpp
  modules/yup_events/native/yup_ToastNotification_apple.mm
  modules/yup_events/native/yup_ToastNotification_linux.cpp
  modules/yup_events/native/yup_ToastNotification_wasm.cpp
  modules/yup_events/native/yup_ToastNotification_windows.cpp
  modules/yup_events/notifications/yup_ToastNotification.cpp
  modules/yup_events/notifications/yup_ToastNotification.h
  modules/yup_events/yup_events.cpp
  modules/yup_events/yup_events.h
  tests/yup_core.cpp
  tests/yup_core/yup_MimeTypes.cpp
  tests/yup_events.cpp
  tests/yup_events/yup_ToastNotification.cpp
Due: yup_core, yup_events, YUP Core, YUP Events

Added layout support
  CHANGELOG.md
  examples/graphics/source/examples/Layout.h
  examples/graphics/source/main.cpp
  modules/yup_gui/layout/yup_FlexBox.cpp
  modules/yup_gui/layout/yup_FlexBox.h
  modules/yup_gui/layout/yup_FlexItem.cpp
  modules/yup_gui/layout/yup_FlexItem.h
  modules/yup_gui/layout/yup_Grid.cpp
  modules/yup_gui/layout/yup_Grid.h
  modules/yup_gui/layout/yup_GridItem.cpp
  modules/yup_gui/layout/yup_GridItem.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  tests/yup_gui.cpp
  tests/yup_gui/yup_FlexBox.cpp
  tests/yup_gui/yup_Grid.cpp
Due: yup_gui, YUP GUI

Rewrite spectrogram to use RHI
  CHANGELOG.md
  examples/graphics/source/examples/SpectrumAnalyzer.h
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.h
  modules/yup_audio_gui/displays/yup_SpectrogramComponentShader.frag
  modules/yup_audio_gui/displays/yup_SpectrogramComponentShader.inc
  modules/yup_audio_gui/displays/yup_SpectrogramComponentShader.vert
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.cpp
  modules/yup_dsp/frequency/yup_SpectrumAnalyzerState.cpp
  tests/yup_audio_gui/yup_SpectrogramComponent.cpp
Due: none

More rive support
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  examples/graphics/CMakeLists.txt
  examples/graphics/data/layout-ui.riv
  examples/graphics/source/examples/Artboard.h
  examples/graphics/source/main.cpp
  modules/yup_graphics/primitives/yup_AffineTransform.h
  modules/yup_gui/artboard/yup_Artboard.cpp
  modules/yup_gui/artboard/yup_Artboard.h
  modules/yup_gui/artboard/yup_ArtboardFile.cpp
  modules/yup_gui/artboard/yup_ArtboardFile.h
  modules/yup_gui/artboard/yup_ArtboardNode.cpp
  modules/yup_gui/artboard/yup_ArtboardNode.h
  modules/yup_gui/artboard/yup_ArtboardViewModel.cpp
  modules/yup_gui/artboard/yup_ArtboardViewModel.h
  modules/yup_gui/artboard/yup_ArtboardViewModelInstance.cpp
  modules/yup_gui/artboard/yup_ArtboardViewModelInstance.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  tests/data/rive/data-binding.riv
  tests/data/rive/game-animation.riv
  tests/data/rive/responsive-sliders.riv
  tests/mocks/rive_gpu.h
  tests/yup_gui.cpp
  tests/yup_gui/yup_Artboard.cpp
  tests/yup_gui/yup_ArtboardViewModel.cpp
  tests/yup_gui/yup_ArtboardViewModelInstance.cpp
  tools/rive_inspect.py
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Fix bad merge
  tests/yup_rhi/yup_GpuComputePass.cpp
Due: none

More optimisations and demos
  CHANGELOG.md
  cmake/tools/ydsp_compiler/CMakeLists.txt
  docs/dsp/yup-dsp-language.md
  examples/graphics/data/synths/Freeverb.ydsp
  examples/graphics/data/synths/HelloWorld.ydsp
  examples/graphics/data/synths/PolySineArp.ydsp
  examples/graphics/data/synths/Tremolo.ydsp
  examples/graphics/source/examples/YdspSynths.h
  modules/yup_dsp_jit/analysis/semantic/yup_YdspSemanticProgram.cpp
  modules/yup_dsp_jit/analysis/yup_YdspSemanticAnalyzer.h
  modules/yup_dsp_jit/backend/yup_YdspAsmJitCodegenARM64.cpp
  modules/yup_dsp_jit/backend/yup_YdspAsmJitCodegenX64.cpp
  modules/yup_dsp_jit/backend/yup_YdspAsmJitCodegenX64.h
  modules/yup_dsp_jit/language/yup_YdspAst.h
  modules/yup_dsp_jit/language/yup_YdspParser.cpp
  modules/yup_dsp_jit/tools/vscode-ydsp/syntaxes/ydsp.tmLanguage.json
  tests/yup_dsp_jit/yup_YdspAsmJitCodegenTests.cpp
  tests/yup_dsp_jit/yup_YdspBenchmarkTests.cpp
  tests/yup_dsp_jit/yup_YdspExamplePatchTests.cpp
  tests/yup_dsp_jit/yup_YdspFusedMultiplyAddTests.cpp
  tests/yup_dsp_jit/yup_YdspLexerParserTests.cpp
  tests/yup_dsp_jit/yup_YdspSemanticAnalyzerTests.cpp
  tests/yup_dsp_jit/yup_YdspVectorizerTests.cpp
Due: none

Fix issue
  modules/yup_gui/native/yup_Windowing_sdl.h
Due: none

More tweaks
  CHANGELOG.md
  docs/dsp/yup-dsp-language.md
  examples/graphics/data/synths/FMBell.ydsp
  examples/graphics/source/examples/YdspSynths.h
  modules/yup_dsp_jit/analysis/semantic/yup_YdspSemanticProgram.cpp
  tests/yup_dsp_jit/yup_YdspSemanticAnalyzerTests.cpp
Due: none

More patches and fixes
  CHANGELOG.md
  docs/dsp/yup-dsp-language.md
  examples/graphics/data/synths/StereoDelay.ydsp
  examples/graphics/data/synths/SubtractOne.ydsp
  examples/graphics/data/synths/TX81Z.ydsp
  examples/graphics/data/synths/ZitaReverb.ydsp
  examples/graphics/source/examples/YdspSynths.h
  modules/yup_dsp_jit/backend/yup_YdspWasmCodegen.cpp
  modules/yup_dsp_jit/language/yup_YdspParser.cpp
  modules/yup_dsp_jit/language/yup_YdspParser.h
  modules/yup_dsp_jit/optimiser/builder/yup_YdspBuilder.h
  modules/yup_dsp_jit/optimiser/builder/yup_YdspBuilderFunctions.cpp
  modules/yup_dsp_jit/optimiser/builder/yup_YdspBuilderStatements.cpp
  modules/yup_dsp_jit/optimiser/passes/yup_YdspPassesDeadCodeElimination.cpp
  modules/yup_dsp_jit/optimiser/passes/yup_YdspPassesIfConversion.cpp
  modules/yup_dsp_jit/optimiser/yup_YdspOptimizer.cpp
  modules/yup_dsp_jit/optimiser/yup_YdspOptimizer.h
  tests/yup_dsp_jit/yup_YdspExamplePatchTests.cpp
  tests/yup_dsp_jit/yup_YdspGraphTests.cpp
  tests/yup_dsp_jit/yup_YdspLexerParserTests.cpp
  tests/yup_dsp_jit/yup_YdspWasmTests.cpp
  thirdparty/asmjit_library/upstream/asmjit/core/ra_pass.cpp
Due: none

More tweaks
  CHANGELOG.md
  examples/graphics/source/examples/YdspSynths.h
  thirdparty/sleef_library/sleef_library_common.c
  thirdparty/sleef_library/sleef_library_dp.c
  thirdparty/sleef_library/sleef_library_simddp.c
  thirdparty/sleef_library/sleef_library_simdsp.c
Due: none

Fix wasm
  CHANGELOG.md
  examples/graphics/source/examples/YdspSynths.h
  modules/yup_dsp_jit/backend/yup_YdspWasmCodegen.cpp
  modules/yup_dsp_jit/backend/yup_YdspWasmEmitter.h
  modules/yup_dsp_jit/compiler/yup_YdspCompileOptions.h
  modules/yup_dsp_jit/compiler/yup_YdspCompiler.cpp
  modules/yup_dsp_jit/optimiser/yup_YdspOptimizer.cpp
  modules/yup_dsp_jit/optimiser/yup_YdspVectorizer.cpp
  modules/yup_dsp_jit/optimiser/yup_YdspVectorizer.h
  modules/yup_dsp_jit/runtime/yup_YdspExecutionReport.h
Due: none

Updated discord icon
  README.md
Due: none

Fix issue in artboard teardown
  CHANGELOG.md
  modules/yup_gui/artboard/yup_Artboard.cpp
Due: yup_gui, YUP GUI

Tuning map
  CHANGELOG.md
  modules/yup_audio_basics/midi/yup_TuningMap.cpp
  modules/yup_audio_basics/midi/yup_TuningMap.h
  modules/yup_audio_basics/yup_audio_basics.cpp
  modules/yup_audio_basics/yup_audio_basics.h
  tests/yup_audio_basics/yup_TuningMap.cpp
Due: yup_audio_basics, YUP Audio Basics

More layout compatibility with CSS
  CHANGELOG.md
  docs/ui/component-basics.md
  docs/ui/component-layout.md
  docs/ui/index.md
  examples/graphics/source/examples/Layout.h
  modules/yup_gui/layout/yup_FlexBox.cpp
  modules/yup_gui/layout/yup_FlexBox.h
  modules/yup_gui/layout/yup_FlexItem.cpp
  modules/yup_gui/layout/yup_FlexItem.h
  modules/yup_gui/layout/yup_Grid.cpp
  modules/yup_gui/layout/yup_Grid.h
  modules/yup_gui/layout/yup_GridItem.cpp
  modules/yup_gui/layout/yup_GridItem.h
  modules/yup_gui/layout/yup_LayoutDistribution.h
  modules/yup_gui/yup_gui.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  python/tests/test_yup_gui/__init__.py
  python/tests/test_yup_gui/test_FlexBox.py
  python/tests/test_yup_gui/test_Grid.py
  tests/data/layout/capture.html
  tests/data/layout/flexbox_golden.json
  tests/data/layout/grid_golden.json
  tests/yup_gui.cpp
  tests/yup_gui/yup_FlexBox.cpp
  tests/yup_gui/yup_FlexBoxParity.cpp
  tests/yup_gui/yup_Grid.cpp
  tests/yup_gui/yup_GridParity.cpp
  tests/yup_gui/yup_LayoutParity.h
Due: yup_gui, YUP GUI

Fix tests
  CHANGELOG.md
  cmake/yup_utilities.cmake
  modules/yup_graphics/formats/yup_PngImageFormat.cpp
  tests/yup_audio_gui.cpp
  tests/yup_audio_plugin_host.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginDescription.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginInstance.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginLV2Format.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginScanner.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginState.cpp
  tests/yup_core.cpp
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_ImageFormatMetadataExtended.cpp
  tests/yup_gui.cpp
  tests/yup_gui/yup_ListBoxItem.cpp
  tests/yup_gui/yup_PaintProfileStats.cpp
Due: yup_graphics, YUP Graphics

Add tuning map
  CHANGELOG.md
  modules/yup_audio_basics/midi/yup_TuningMap.cpp
  modules/yup_audio_basics/midi/yup_TuningMap.h
  tests/yup_audio_basics.cpp
  tests/yup_audio_basics/yup_TuningMap.cpp
Due: yup_audio_basics, YUP Audio Basics

Fix python tests
  CHANGELOG.md
  python/tests/test_yup_events/test_ActionBroadcaster.py
  python/tests/test_yup_events/test_AsyncUpdater.py
  python/tests/test_yup_events/test_ChangeBroadcaster.py
  python/tests/test_yup_events/test_LockingAsyncUpdater.py
  python/tests/test_yup_events/test_Message.py
  python/tests/test_yup_events/test_MessageListener.py
  python/tests/utilities.py
Due: none

Fix readme
  README.md
  docs/_static/images/yup_lottie.gif
  docs/_static/images/yup_lottie.png
Due: none

Fix broken readme
  README.md
Due: none
