Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Disable temporarily yup_events python tests
  python/pyproject.toml
  python/tests/test_yup_events/__init__.py
Due: none

Fix warnings
  modules/yup_core/xml/yup_XmlElement.cpp
  modules/yup_core/xml/yup_XmlElement.h
  modules/yup_graphics/drawables/yup_Drawable.cpp
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

More coverage
  modules/yup_core/text/yup_String.cpp
  tests/yup_core/yup_String.cpp
Due: yup_core, YUP Core

More test coverage
  modules/yup_core/system/yup_SystemStats.cpp
  modules/yup_core/text/yup_String.cpp
  modules/yup_core/xml/yup_XmlElement.cpp
  modules/yup_python/utilities/yup_CrashHandling.cpp
  modules/yup_python/utilities/yup_CrashHandling.h
  tests/yup_core/yup_XmlElement.cpp
Due: yup_core, YUP Core

More point and math
  modules/yup_graphics/primitives/yup_Point.h
  tests/yup_core/yup_MathFunctions.cpp
  tests/yup_graphics/yup_Point.cpp
  tests/yup_graphics/yup_Rectangle.cpp
Due: yup_graphics, YUP Graphics

More math
  modules/yup_core/maths/yup_MathsFunctions.h
  modules/yup_core/maths/yup_MathsFunctions_test.cpp
  modules/yup_core/misc/yup_Functional.h
  tests/yup_core/yup_MathFunctions.cpp
Due: yup_core, YUP Core

Code formatting
  modules/yup_core/xml/yup_XmlElement.cpp
Due: yup_core, YUP Core

Update test_XmlElement.py
  python/tests/test_yup_core/test_XmlElement.py
Due: none

Fix issues
  modules/yup_core/maths/yup_MathsFunctions.h
Due: yup_core, YUP Core

More coverage
  modules/yup_graphics/primitives/yup_Line.h
  modules/yup_graphics/primitives/yup_Point.h
  modules/yup_graphics/primitives/yup_Rectangle.h
  modules/yup_graphics/primitives/yup_RectangleList.h
  tests/yup_graphics/yup_Line.cpp
  tests/yup_graphics/yup_Point.cpp
  tests/yup_graphics/yup_Rectangle.cpp
  tests/yup_graphics/yup_RectangleList.cpp
Due: yup_graphics, YUP Graphics

Enable pluginval integration
  CMakeLists.txt
  cmake/yup.cmake
  cmake/yup_audio_plugin.cmake
  cmake/yup_pluginval.cmake
Due: none

Improved test running
  modules/yup_events/messages/yup_ApplicationBase.cpp
  tests/main.cpp
Due: yup_events, YUP Events

Missing macros
  modules/yup_core/files/yup_RangedDirectoryIterator.h
Due: yup_core, YUP Core

More test fixes
  modules/yup_audio_basics/buffers/yup_AudioChannelSet.cpp
  modules/yup_audio_basics/buffers/yup_AudioDataConverters.cpp
  modules/yup_audio_basics/midi/ump/yup_UMP_test.cpp
  modules/yup_audio_basics/midi/yup_MidiFile.cpp
  modules/yup_audio_basics/midi/yup_MidiMessageSequence.cpp
  modules/yup_audio_basics/mpe/yup_MPEInstrument.cpp
  modules/yup_audio_basics/mpe/yup_MPEMessages.cpp
  modules/yup_audio_basics/mpe/yup_MPEZoneLayout.cpp
  modules/yup_core/memory/yup_AllocationHooks.cpp
  modules/yup_core/memory/yup_AllocationHooks.h
  modules/yup_core/unit_tests/yup_UnitTest.cpp
  modules/yup_core/unit_tests/yup_UnitTest.h
  modules/yup_core/unit_tests/yup_UnitTestCategories.h
  modules/yup_core/yup_core.cpp
  modules/yup_core/yup_core.h
Due: yup_core, yup_audio_basics, YUP Core, YUP Audio Basics

Disable test on wasm
  tests/yup_core/yup_NamedPipe.cpp
Due: none

Fix issues
  modules/yup_graphics/primitives/yup_Point.h
  tests/yup_graphics/yup_Point.cpp
Due: yup_graphics, YUP Graphics

Improved xml output
  tests/main.cpp
Due: none

More tests
  modules/yup_audio_basics/midi/ump/yup_UMPIterator.h
  modules/yup_audio_basics/midi/ump/yup_UMPMidi1ToMidi2DefaultTranslator.h
  modules/yup_audio_basics/midi/ump/yup_UMPSysEx7.h
  modules/yup_audio_basics/midi/ump/yup_UMPUtils.h
  modules/yup_audio_basics/midi/ump/yup_UMPView.h
  modules/yup_audio_basics/midi/ump/yup_UMPackets.h
  modules/yup_audio_basics/midi/yup_MidiDataConcatenator.h
  modules/yup_audio_basics/yup_audio_basics.cpp
  modules/yup_audio_basics/yup_audio_basics.h
  modules/yup_audio_devices/yup_audio_devices.cpp
  tests/main.cpp
  tests/yup_audio_basics/yup_MidiMessageSequence.cpp
  tests/yup_audio_basics/yup_UMP.cpp
Due: yup_audio_basics, yup_audio_devices, YUP Audio Basics, YUP Audio Devices

More tests
  tests/yup_audio_basics/yup_AudioPlayHead.cpp
  tests/yup_audio_basics/yup_UMP.cpp
Due: none

More testing
  tests/yup_audio_basics/yup_MidiFile.cpp
  tests/yup_audio_basics/yup_Synthesiser.cpp
  tests/yup_core/yup_Base64.cpp
Due: none

More tweaks
  modules/yup_audio_devices/yup_audio_devices.cpp
  tests/yup_core/yup_Uuid.cpp
Due: yup_audio_devices, YUP Audio Devices

Work on the midi keyboard
  cmake/yup_modules.cmake
  examples/graphics/CMakeLists.txt
  modules/yup_audio_gui/keyboard/yup_MidiKeyboardComponent.cpp
  modules/yup_audio_gui/keyboard/yup_MidiKeyboardComponent.h
  modules/yup_audio_gui/yup_audio_gui.cpp
  modules/yup_audio_gui/yup_audio_gui.h
  modules/yup_audio_gui/yup_audio_gui.mm
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
Due: yup_gui, YUP GUI

Extensive testing (#69)
  modules/yup_audio_basics/midi/ump/yup_UMPIterator.h
  modules/yup_audio_basics/midi/ump/yup_UMPMidi1ToMidi2DefaultTranslator.h
  modules/yup_audio_basics/midi/ump/yup_UMPSysEx7.h
  modules/yup_audio_basics/midi/ump/yup_UMPUtils.h
  modules/yup_audio_basics/midi/ump/yup_UMPView.h
  modules/yup_audio_basics/midi/ump/yup_UMPackets.h
  modules/yup_audio_basics/midi/yup_MidiDataConcatenator.h
  modules/yup_audio_basics/yup_audio_basics.cpp
  modules/yup_audio_basics/yup_audio_basics.h
  modules/yup_audio_devices/yup_audio_devices.cpp
  tests/main.cpp
  tests/yup_audio_basics/yup_AudioPlayHead.cpp
  tests/yup_audio_basics/yup_MidiFile.cpp
  tests/yup_audio_basics/yup_MidiMessageSequence.cpp
  tests/yup_audio_basics/yup_Synthesiser.cpp
  tests/yup_audio_basics/yup_UMP.cpp
  tests/yup_core/yup_Base64.cpp
  tests/yup_core/yup_Uuid.cpp
Due: yup_audio_basics, yup_audio_devices, YUP Audio Basics, YUP Audio Devices

More keys
  examples/graphics/source/examples/Audio.h
  examples/graphics/source/main.cpp
  modules/yup_audio_gui/keyboard/yup_MidiKeyboardComponent.cpp
  modules/yup_audio_gui/keyboard/yup_MidiKeyboardComponent.h
  modules/yup_graphics/graphics/yup_Color.h
  modules/yup_graphics/graphics/yup_ColorGradient.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Improve midi keyboard component
  modules/yup_audio_gui/keyboard/yup_MidiKeyboardComponent.cpp
  modules/yup_audio_gui/keyboard/yup_MidiKeyboardComponent.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
Due: yup_gui, YUP GUI

More tweaks
  examples/graphics/source/examples/Audio.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_Label.cpp
  modules/yup_gui/widgets/yup_Label.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Code formatting
  examples/graphics/source/examples/Audio.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
Due: yup_gui, YUP GUI

More tweaks to audio widgets
  examples/graphics/source/examples/Audio.h
  examples/graphics/source/examples/LayoutFonts.h
  examples/graphics/source/examples/Paths.h
  examples/graphics/source/examples/PopupMenu.h
  examples/graphics/source/examples/SliderDemo.h
  examples/graphics/source/examples/VariableFonts.h
  examples/graphics/source/examples/Widgets.h
  examples/graphics/source/main.cpp
  examples/plugin/source/ExampleEditor.cpp
  modules/yup_graphics/fonts/yup_Font.cpp
  modules/yup_graphics/fonts/yup_Font.h
  modules/yup_graphics/fonts/yup_StyledText.cpp
  modules/yup_graphics/fonts/yup_StyledText.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_gui/buttons/yup_TextButton.cpp
  modules/yup_gui/buttons/yup_ToggleButton.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_ComboBox.cpp
  modules/yup_gui/widgets/yup_Label.cpp
  modules/yup_gui/widgets/yup_Slider.cpp
  modules/yup_gui/widgets/yup_Slider.h
  modules/yup_gui/widgets/yup_TextEditor.cpp
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  tests/CMakeLists.txt
  tests/yup_graphics/yup_Graphics.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

More tweaks
  examples/graphics/source/examples/Audio.h
Due: none

More slider stuff
  examples/graphics/source/examples/Audio.h
  modules/yup_gui/artboard/yup_Artboard.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_Slider.cpp
  modules/yup_gui/widgets/yup_Slider.h
Due: yup_gui, YUP GUI

More gui tweaks
  examples/graphics/source/examples/Audio.h
  examples/graphics/source/examples/SliderDemo.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
Due: yup_gui, YUP GUI

Code formatting
  examples/graphics/source/examples/SliderDemo.h
  examples/plugin/source/ExampleEditor.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_Slider.cpp
  modules/yup_gui/widgets/yup_Slider.h
Due: yup_gui, YUP GUI

Initial check in of dsp module
  cmake/yup_modules.cmake
  guidelines.md
  modules/yup_core/maths/yup_MathsFunctions.h
  modules/yup_dsp/base/yup_FilterBase.h
  modules/yup_dsp/designers/yup_FilterDesigner.h
  modules/yup_dsp/filters/yup_AllpassCascade.h
  modules/yup_dsp/filters/yup_AllpassFilter.h
  modules/yup_dsp/filters/yup_BesselFilter.h
  modules/yup_dsp/filters/yup_Biquad.h
  modules/yup_dsp/filters/yup_ButterworthFilter.h
  modules/yup_dsp/filters/yup_ChebyshevFilter.h
  modules/yup_dsp/filters/yup_CicFilter.h
  modules/yup_dsp/filters/yup_DcFilter.h
  modules/yup_dsp/filters/yup_EllipticFilter.h
  modules/yup_dsp/filters/yup_FirFilter.h
  modules/yup_dsp/filters/yup_FirResampler.h
  modules/yup_dsp/filters/yup_FirstOrderFilter.h
  modules/yup_dsp/filters/yup_IirResampler.h
  modules/yup_dsp/filters/yup_KorgMs20.h
  modules/yup_dsp/filters/yup_LegendreFilter.h
  modules/yup_dsp/filters/yup_LinkwitzRileyFilter.h
  modules/yup_dsp/filters/yup_MoogLadder.h
  modules/yup_dsp/filters/yup_NotchFilter.h
  modules/yup_dsp/filters/yup_ParametricFilter.h
  modules/yup_dsp/filters/yup_RbjFilter.h
  modules/yup_dsp/filters/yup_StateVariableFilter.h
  modules/yup_dsp/filters/yup_Tb303Filter.h
  modules/yup_dsp/filters/yup_VirtualAnalogSvf.h
  modules/yup_dsp/filters/yup_VowelFilter.h
  modules/yup_dsp/utilities/yup_DspMath.h
  modules/yup_dsp/yup_dsp.cpp
  modules/yup_dsp/yup_dsp.h
  modules/yup_dsp/yup_dsp.mm
  tests/CMakeLists.txt
  tests/yup_dsp/yup_BasicFilters.cpp
Due: yup_core, YUP Core

More work
  modules/yup_dsp/base/yup_FilterBase.h
  modules/yup_dsp/designers/yup_FilterDesigner.cpp
  modules/yup_dsp/designers/yup_FilterDesigner.h
  modules/yup_dsp/filters/yup_BesselFilter.h
  modules/yup_dsp/filters/yup_ButterworthFilter.h
  modules/yup_dsp/filters/yup_ChebyshevFilter.h
  modules/yup_dsp/filters/yup_EllipticFilter.h
  modules/yup_dsp/filters/yup_FirFilter.h
  modules/yup_dsp/filters/yup_FirResampler.h
  modules/yup_dsp/filters/yup_IirResampler.h
  modules/yup_dsp/filters/yup_KorgMs20.h
  modules/yup_dsp/filters/yup_LegendreFilter.h
  modules/yup_dsp/filters/yup_MoogLadder.h
  modules/yup_dsp/filters/yup_RbjFilter.h
  modules/yup_dsp/filters/yup_Tb303Filter.h
  modules/yup_dsp/filters/yup_VirtualAnalogSvf.h
  modules/yup_dsp/filters/yup_VowelFilter.h
  modules/yup_dsp/yup_dsp.cpp
Due: none

Improved work
  modules/yup_dsp/designers/yup_FilterDesigner.h
  modules/yup_dsp/filters/yup_FirFilter.h
  modules/yup_dsp/utilities/yup_DspMath.h
  modules/yup_dsp/windowing/yup_WindowFunctions.h
  modules/yup_dsp/yup_dsp.h
Due: none

More work
  modules/yup_dsp/delays/yup_InterpolatedDelayLine.h
  modules/yup_dsp/fft/yup_FFTProcessor.cpp
  modules/yup_dsp/fft/yup_FFTProcessor.h
  modules/yup_dsp/fft/yup_OouraFFT8g.cpp
  modules/yup_dsp/fft/yup_OouraFFT8g.h
  modules/yup_dsp/filters/yup_FirFilter.h
  modules/yup_dsp/filters/yup_SoapFilter.h
  modules/yup_dsp/processors/yup_ConvolutionProcessor.h
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp/yup_BasicFilters.cpp
  tests/yup_dsp/yup_ButterworthFilter.cpp
  tests/yup_dsp/yup_FirFilter.cpp
  tests/yup_dsp/yup_KorgMs20.cpp
  tests/yup_dsp/yup_MoogLadder.cpp
  tests/yup_dsp/yup_RbjFilter.cpp
  tests/yup_dsp/yup_VirtualAnalogSvf.cpp
Due: none

Fix
  modules/yup_dsp/designers/yup_FilterDesigner.cpp
  modules/yup_dsp/filters/yup_BesselFilter.h
  modules/yup_dsp/filters/yup_Biquad.h
  modules/yup_dsp/filters/yup_ButterworthFilter.h
  modules/yup_dsp/filters/yup_ChebyshevFilter.h
  modules/yup_dsp/filters/yup_EllipticFilter.h
  modules/yup_dsp/filters/yup_ParametricFilter.h
  modules/yup_dsp/filters/yup_StateVariableFilter.h
  modules/yup_dsp/filters/yup_Tb303Filter.h
  tests/yup_dsp/yup_BesselFilter.cpp
  tests/yup_dsp/yup_ChebyshevFilter.cpp
  tests/yup_dsp/yup_DcFilter.cpp
  tests/yup_dsp/yup_EllipticFilter.cpp
  tests/yup_dsp/yup_NotchFilter.cpp
  tests/yup_dsp/yup_ParametricFilter.cpp
  tests/yup_dsp/yup_Tb303Filter.cpp
Due: none

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
