Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Fix tocs
  docs/build-system/building-standalone.md
  docs/build-system/cmake-api.md
  docs/index.md
Due: none

Restructure toc
  docs/index.md
Due: none

Fix mermaid css
  docs/_static/mermaid.css
Due: none

Switch to shibuya
  docs/_static/mermaid.css
  docs/_static/readthedocs-flyout.css
  docs/conf.py
  docs/requirements.txt
Due: none

Fixed docs
  docs/conf.py
Due: none

Fix logo
  docs/conf.py
Due: none

More cleanups
  README.md
  docs/_static/rtd-flyout.css
  docs/_static/shibuya-override.css
  docs/conf.py
  docs/core/data-interchange.md
  docs/core/strings-and-text.md
  docs/data/cached-value.md
  docs/data/datatree-tutorial.md
  docs/data/datatree.md
  docs/data/index.md
  docs/data/object-list.md
  docs/data/query.md
  docs/data/schema.md
  docs/data/transactions.md
Due: none

Bump readme
  README.md
Due: none

More docs fixes
  docs/core/data-interchange.md
  docs/core/index.md
  docs/core/xml.md
  docs/graphics/rhi/spinning-cube.md
  docs/graphics/svg.md
Due: none

More updates
  AGENTS.md
  CLAUDE.md
  docs/audio/index.md
  docs/modules.md
  docs/multithreading/index.md
  docs/scripting/index.md
  docs/ui/index.md
Due: none

Updated modules docs
  docs/build-system/module-format.md
  docs/modules.md
  modules/yup_audio_devices/yup_audio_devices.h
  modules/yup_audio_formats/yup_audio_formats.h
  modules/yup_audio_processors/yup_audio_processors.h
  modules/yup_core/yup_core.h
  modules/yup_dsp/yup_dsp.h
  modules/yup_events/native/yup_Messaging_windows.cpp
  modules/yup_events/yup_events.h
  modules/yup_graphics/yup_graphics.h
  modules/yup_gui/yup_gui.h
  modules/yup_python/yup_python.h
  modules/yup_shading/yup_shading.h
  modules/yup_simd/yup_simd.h
Due: yup_core, yup_events, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

More rewrites
  CHANGELOG.md
  modules/yup_animation/animation/yup_Animation.cpp
  modules/yup_animation/io/yup_LottieExpressionEvaluator.h
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/io/yup_LottieReader.h
  modules/yup_animation/io/yup_LottieWriter.h
  modules/yup_animation/model/yup_AnimationComposition.h
  modules/yup_animation/renderer/yup_AnimationRenderResources.cpp
  modules/yup_animation/renderer/yup_AnimationRenderResources.h
  modules/yup_animation/renderer/yup_AnimationRenderer.h
  tests/yup_animation/yup_AnimationRenderer.cpp
  tests/yup_animation/yup_LottieReader.cpp
  tests/yup_animation/yup_LottieRoundtrip.cpp
  tests/yup_animation/yup_LottieWriter.cpp
Due: none

More lottie fixes (#137)
  CHANGELOG.md
  modules/yup_animation/animation/yup_Animation.cpp
  modules/yup_animation/core/yup_AnimationTransform.cpp
  modules/yup_animation/core/yup_AnimationTransform.h
  modules/yup_animation/io/yup_LottieExpressionEvaluator.h
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/io/yup_LottieReader.h
  modules/yup_animation/io/yup_LottieWriter.cpp
  modules/yup_animation/io/yup_LottieWriter.h
  modules/yup_animation/model/yup_AnimationComposition.h
  modules/yup_animation/renderer/yup_AnimationRenderResources.cpp
  modules/yup_animation/renderer/yup_AnimationRenderResources.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.h
  tests/data/lottie/bell.json
  tests/yup_animation/yup_AnimationRenderer.cpp
  tests/yup_animation/yup_AnimationTransform.cpp
  tests/yup_animation/yup_LottieReader.cpp
  tests/yup_animation/yup_LottieRoundtrip.cpp
  tests/yup_animation/yup_LottieWriter.cpp
Due: none

Switch to SDL3
  .github/workflows/coverage.yml
  CMakeLists.txt
  cmake/platforms/yup_android.cmake
  cmake/plugins/yup_plugin_lv2.cmake
  cmake/resources/sdl-symbols-patch.h.in
  cmake/yup_audio_plugin.cmake
  cmake/yup_dependencies.cmake
  cmake/yup_sdl.cmake
  cmake/yup_standalone.cmake
  cmake/yup_utilities.cmake
  modules/yup_gui/native/yup_WindowingUtilities_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  modules/yup_gui/yup_gui.cpp
Due: yup_gui, YUP GUI

Fix visibility notification
  examples/audiograph/source/AudioGraphApp.cpp
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  tests/yup_gui/yup_Component.cpp
Due: yup_gui, YUP GUI

More visibility fixes
  cmake/plugins/yup_plugin_au.cmake
  cmake/yup_audio_plugin.cmake
Due: none

Raise window before dragging
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

More fixes
  CHANGELOG.md
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  tests/yup_gui/yup_Component.cpp
Due: yup_gui, YUP GUI

Add support for mime types in Clipboard
  CHANGELOG.md
  modules/yup_gui/clipboard/yup_SystemClipboard.cpp
  modules/yup_gui/clipboard/yup_SystemClipboard.h
Due: yup_gui, YUP GUI

Fix clipboard
  modules/yup_gui/clipboard/yup_SystemClipboard.h
Due: yup_gui, YUP GUI

More clipboard fun
  examples/graphics/source/examples/ClipboardDemo.h
  examples/graphics/source/main.cpp
  modules/yup_gui/clipboard/yup_SystemClipboard.h
Due: yup_gui, YUP GUI

More cleanups
  .github/workflows/build_ios.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  cmake/yup_dependencies.cmake
Due: none

More fixes
  cmake/platforms/android/app/src/main/java/org/yup/YupActivity.java.in
  cmake/yup_dependencies.cmake
  cmake/yup_standalone.cmake
  docs/build-system/cmake-api.md
  modules/yup_events/yup_events.cpp
Due: yup_events, YUP Events

More formatting
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/desktop/yup_Desktop.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
Due: yup_gui, YUP GUI

Cosmetics
  modules/yup_gui/component/yup_DragAndDropData.h
Due: yup_gui, YUP GUI

Fix apple
  CMakeLists.txt
Due: none

More missing deps and disable unused systems
  .github/workflows/build_linux.yml
  .github/workflows/coverage.yml
  CHANGELOG.md
  cmake/yup_dependencies.cmake
  modules/yup_core/system/yup_SystemStats.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: yup_core, YUP Core

Disable systems
  cmake/yup_dependencies.cmake
Due: none

Fix ios
  modules/yup_gui/yup_gui.h
Due: yup_gui, YUP GUI

Fix compilation
  tests/yup_gui/yup_Component.cpp
Due: none

Fix issues
  modules/yup_gui/clipboard/yup_SystemClipboard.cpp
  modules/yup_gui/native/yup_WindowingUtilities_sdl.cpp
Due: yup_gui, YUP GUI

Fix github actions
  .github/workflows/coverage.yml
  .github/workflows/python_linux.yml
  .github/workflows/python_macos.yml
  .github/workflows/python_windows.yml
Due: none

Fix main generation
  modules/yup_gui/yup_gui.cpp
Due: yup_gui, YUP GUI

Remove is_pod
  thirdparty/rive/include/rive/math/simd_gvec_polyfill.hpp
  thirdparty/rive/include/rive/math/vec2d.hpp
  thirdparty/rive/include/rive/object_stream.hpp
  thirdparty/rive/include/rive/simple_array.hpp
  thirdparty/rive_renderer/include/rive/renderer/stack_vector.hpp
  thirdparty/rive_renderer/include/rive/renderer/trivial_block_allocator.hpp
  thirdparty/rive_renderer/source/gradient.hpp
Due: none

Fix android
  .github/workflows/build_android.yml
Due: none

Add emscripten to sdl
  cmake/yup_standalone.cmake
Due: none

Remove cruft
  tests/CMakeLists.txt
Due: none

More fixes to emscripten
  cmake/yup_dependencies.cmake
Due: none

Fix triviality
  thirdparty/rive/include/rive/math/vec2d.hpp
  thirdparty/rive/include/rive/object_stream.hpp
  thirdparty/rive/include/rive/simple_array.hpp
  thirdparty/rive_renderer/include/rive/renderer/stack_vector.hpp
  thirdparty/rive_renderer/include/rive/renderer/trivial_block_allocator.hpp
Due: none

Fix android
  modules/yup_events/messages/yup_ApplicationBase.cpp
Due: yup_events, YUP Events

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
