Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Fix oversampling and warnings
  modules/yup_dsp/resampling/yup_SincOversampler.h
  tests/yup_dsp_jit/yup_YdspLatencyTests.cpp
  thirdparty/sleef_library/sleef_library_common.c
  thirdparty/sleef_library/sleef_library_dp.c
  thirdparty/sleef_library/sleef_library_simddp.c
  thirdparty/sleef_library/sleef_library_simdsp.c
  thirdparty/sleef_library/sleef_library_sp.c
  thirdparty/sleef_library/sleef_library_tables.c
Due: none

Fix warnings
  thirdparty/sleef_library/sleef_library_common.c
  thirdparty/sleef_library/sleef_library_dp.c
  thirdparty/sleef_library/sleef_library_simddp.c
  thirdparty/sleef_library/sleef_library_simdsp.c
  thirdparty/sleef_library/sleef_library_sp.c
  thirdparty/sleef_library/sleef_library_tables.c
Due: none

Fix warnings in sleef
  thirdparty/sleef_library/sleef_library_common.c
  thirdparty/sleef_library/sleef_library_dp.c
  thirdparty/sleef_library/sleef_library_simddp.c
  thirdparty/sleef_library/sleef_library_simdsp.c
  thirdparty/sleef_library/sleef_library_sp.c
  thirdparty/sleef_library/sleef_library_tables.c
Due: none

More fixes after merge of main
  CHANGELOG.md
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  tests/yup_gui/yup_ComponentPointMapping.cpp
Due: yup_gui, YUP GUI

Improved downloads from cmake
  CHANGELOG.md
  cmake/yup_modules.cmake
  cmake/yup_pluginval.cmake
  cmake/yup_utilities.cmake
Due: none

Fix python deps
  python/pyproject.toml
Due: none

More fixes
  CHANGELOG.md
  codecov.yml
  examples/graphics/source/examples/Audio.h
  examples/graphics/source/examples/audio/SynthEngine.h
  examples/graphics/source/examples/audio/SynthModulationPage.h
  examples/graphics/source/examples/audio/SynthPanels.h
  examples/graphics/source/examples/audio/SynthSettings.h
Due: none

More tweaks
  CHANGELOG.md
  docs/dsp/oscillators.md
  examples/graphics/source/examples/audio/SynthEngine.h
  examples/graphics/source/examples/audio/SynthModulationPage.h
  examples/graphics/source/examples/audio/SynthPanels.h
  examples/graphics/source/examples/audio/SynthSettings.h
  modules/yup_dsp/oscillators/yup_SyncSpectralResampler.h
  tests/yup_dsp/yup_SyncSpectralResampler.cpp
Due: none

I like it
  examples/graphics/source/examples/audio/SynthPanels.h
Due: none

Improved demos
  examples/graphics/CMakeLists.txt
  examples/graphics/source/main.cpp
Due: none

Fix setClipPath
  CHANGELOG.md
  docs/graphics/graphics-class.md
  docs/ui/component-basics.md
  examples/graphics/source/examples/ScrollBarDemo.h
  examples/graphics/source/examples/audio/SynthPanels.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  tests/yup_graphics/yup_Graphics.cpp
  tests/yup_gui/yup_Component.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Reordered demos
  examples/graphics/source/examples/Artboard.h
  examples/graphics/source/examples/ArtboardLayout.h
  examples/graphics/source/examples/AudioFile.h
  examples/graphics/source/examples/Clipboard.h
  examples/graphics/source/examples/Component3D.h
  examples/graphics/source/examples/ComponentEffects.h
  examples/graphics/source/examples/ComputeParticles.h
  examples/graphics/source/examples/Convolution.h
  examples/graphics/source/examples/Crossover.h
  examples/graphics/source/examples/DragAndDrop.h
  examples/graphics/source/examples/Filter.h
  examples/graphics/source/examples/FluidSimulation.h
  examples/graphics/source/examples/GpuAudioProcessing.h
  examples/graphics/source/examples/Lottie.h
  examples/graphics/source/examples/OffscreenRender.h
  examples/graphics/source/examples/Opaque.h
  examples/graphics/source/examples/PaintProfiler.h
  examples/graphics/source/examples/Pbr.h
  examples/graphics/source/examples/ScrollBar.h
  examples/graphics/source/examples/Slider.h
  examples/graphics/source/examples/SpinningCube.h
  examples/graphics/source/examples/ToastNotification.h
  examples/graphics/source/main.cpp
Due: none

Fix SystemStats
  CHANGELOG.md
  docs/core/system-and-app.md
  modules/yup_core/native/yup_BasicNativeHeaders.h
  modules/yup_core/native/yup_SystemStats_android.cpp
  modules/yup_core/native/yup_SystemStats_apple.mm
  modules/yup_core/native/yup_SystemStats_linux.cpp
  modules/yup_core/native/yup_SystemStats_wasm.cpp
  modules/yup_core/native/yup_SystemStats_windows.cpp
  modules/yup_core/system/yup_SystemStats.h
  modules/yup_python/bindings/yup_YupCore_bindings.cpp
  python/pyproject.toml
  tests/yup_core/yup_SystemStats.cpp
Due: yup_core, YUP Core

Fix single demos
  examples/graphics/CMakeLists.txt
Due: none

More fixes
  .github/workflows/deploy_website.yml
  docs/_static/shibuya-override.css
  docs/conf.py
  docs/modules.md
  website/README.md
  website/src/index.html
  website/src/main.js
  website/src/partials/footer.html
  website/src/partials/head.html
  website/src/partials/header.html
  website/vite.config.js
Due: none

Fix paths to assets
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/Clipboard.h
  examples/graphics/source/examples/Convolution.h
  examples/graphics/source/examples/Crossover.h
  examples/graphics/source/examples/GpuAudioProcessing.h
  examples/graphics/source/examples/SpectrumAnalyzer.h
  examples/graphics/source/examples/Svg.h
Due: none

Improve demo generation
  cmake/platforms/emscripten/shell.html
  justfile
Due: none

Improving showcases
  justfile
  website/package-lock.json
  website/package.json
  website/src/index.html
  website/src/main.js
  website/src/showcase.html
  website/src/style.css
Due: none

Fix windowing redraw on emscripten
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

More website niceties
  docs/_static/images/yup_widgets.png
  website/src/index.html
  website/src/showcase.html
Due: none

Improved phrasing
  website/src/index.html
  website/src/partials/footer.html
Due: none

More showcases
  docs/_static/images/yup_component_effects.jpg
  website/src/index.html
  website/src/modules.html
  website/src/showcase.html
Due: none

More website tweaks
  website/README.md
  website/src/index.html
  website/src/partials/footer.html
  website/src/partials/header.html
  website/src/showcase.html
  website/vite.config.js
Due: none

More niceties
  .github/workflows/deploy_website.yml
  website/README.md
  website/src/404.html
  website/src/compare.html
  website/src/index.html
  website/src/main.js
  website/src/partials/footer.html
  website/src/partials/header.html
  website/src/style.css
  website/vite.config.js
Due: none

SEO tweaks
  website/vite.config.js
Due: none

Nice improvements to svg rendering
  CHANGELOG.md
  examples/graphics/data/svg/opacity_blend.svg
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/svg/yup_SVGParser.cpp
  tests/yup_graphics/yup_Drawable.cpp
  thirdparty/rive/source/renderer/draw.cpp
  tools/rive_update_manifest.json
Due: yup_graphics, YUP Graphics

Allow refreshing at vsync on desktop and mobile
  CHANGELOG.md
  cmake/platforms/emscripten/shell.html
  examples/graphics/source/main.cpp
  justfile
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_ComponentNative.cpp
  tools/serve.py
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Remove comments
  modules/yup_gui/dragdrop/yup_DragAndDropData.cpp
  modules/yup_gui/dragdrop/yup_DragAndDropManager.cpp
  modules/yup_gui/dragdrop/yup_DragAndDropTarget.cpp
  modules/yup_gui/dragdrop/yup_DragImageComponent.cpp
  modules/yup_gui/native/yup_NativeDragAndDrop_linux.cpp
  modules/yup_gui/native/yup_NativeDragAndDrop_mac.mm
  modules/yup_gui/native/yup_NativeDragAndDrop_windows.cpp
Due: yup_gui, YUP GUI

Like this a lot!
  cmake/platforms/emscripten/shell.html
Due: none

SVG old bugs (#194)
  CHANGELOG.md
  cmake/platforms/emscripten/shell.html
  examples/graphics/data/svg/opacity_blend.svg
  examples/graphics/source/main.cpp
  justfile
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/svg/yup_SVGParser.cpp
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/dragdrop/yup_DragAndDropData.cpp
  modules/yup_gui/dragdrop/yup_DragAndDropManager.cpp
  modules/yup_gui/dragdrop/yup_DragAndDropTarget.cpp
  modules/yup_gui/dragdrop/yup_DragImageComponent.cpp
  modules/yup_gui/native/yup_NativeDragAndDrop_linux.cpp
  modules/yup_gui/native/yup_NativeDragAndDrop_mac.mm
  modules/yup_gui/native/yup_NativeDragAndDrop_windows.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  tests/yup_graphics/yup_Drawable.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_ComponentNative.cpp
  thirdparty/rive/source/renderer/draw.cpp
  tools/rive_update_manifest.json
  tools/serve.py
  website/vite.config.js
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Fix clipping
  CHANGELOG.md
  modules/yup_gui/component/yup_Component.cpp
  tests/yup_gui/yup_Component.cpp
Due: yup_gui, YUP GUI

Website updates
  website/package-lock.json
  website/package.json
  website/src/index.html
  website/src/main.js
  website/src/style.css
Due: none

More work on widget support
  CHANGELOG.md
  docs/ui/component-styling.md
  docs/ui/index.md
  docs/ui/midi-keyboard.md
  modules/yup_audio_gui/keyboard/yup_MidiKeyboardComponent.cpp
  modules/yup_audio_gui/keyboard/yup_MidiKeyboardComponent.h
  modules/yup_audio_gui/keyboard/yup_ModWheelComponent.cpp
  modules/yup_audio_gui/keyboard/yup_PitchWheelComponent.cpp
  modules/yup_gui/menus/yup_PopupMenu.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_ComboBox.cpp
  tests/yup_audio_gui/yup_MidiKeyboardComponent.cpp
  tests/yup_audio_gui/yup_ModWheelComponent.cpp
  tests/yup_audio_gui/yup_PitchWheelComponent.cpp
  tests/yup_gui/yup_ComboBox.cpp
  tests/yup_gui/yup_PopupMenu.cpp
Due: yup_gui, YUP GUI

Improved MidiKeyboardComponent and other components behaviour and rendering (#197)
  CHANGELOG.md
  docs/ui/component-styling.md
  docs/ui/index.md
  docs/ui/midi-keyboard.md
  modules/yup_audio_gui/keyboard/yup_MidiKeyboardComponent.cpp
  modules/yup_audio_gui/keyboard/yup_MidiKeyboardComponent.h
  modules/yup_audio_gui/keyboard/yup_ModWheelComponent.cpp
  modules/yup_audio_gui/keyboard/yup_PitchWheelComponent.cpp
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/menus/yup_PopupMenu.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_ComboBox.cpp
  tests/yup_audio_gui/yup_MidiKeyboardComponent.cpp
  tests/yup_audio_gui/yup_ModWheelComponent.cpp
  tests/yup_audio_gui/yup_PitchWheelComponent.cpp
  tests/yup_gui/yup_ComboBox.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_PopupMenu.cpp
Due: yup_gui, YUP GUI

Fix issues in audio
  CHANGELOG.md
  docs/audio/index.md
  examples/graphics/source/examples/Audio.h
  examples/graphics/source/examples/AudioFile.h
  examples/graphics/source/examples/Convolution.h
  examples/graphics/source/examples/Crossover.h
  examples/graphics/source/examples/Filter.h
  examples/graphics/source/examples/GpuAudioProcessing.h
  examples/graphics/source/examples/SpectrumAnalyzer.h
  examples/graphics/source/examples/YdspSynths.h
  modules/yup_audio_basics/midi/yup_MidiKeyboardState.cpp
  modules/yup_audio_basics/mpe/yup_MPEInstrument.cpp
  modules/yup_audio_basics/mpe/yup_MPESynthesiser.cpp
  modules/yup_audio_basics/sources/yup_MemoryAudioSource.h
  modules/yup_audio_basics/synthesisers/yup_Synthesiser.cpp
  modules/yup_audio_basics/yup_audio_basics.h
  modules/yup_audio_devices/audio_io/yup_AudioDeviceManager.cpp
  modules/yup_audio_devices/native/yup_AudioWorklet_emscripten.cpp
  modules/yup_core/containers/yup_ListenerList.h
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/resampling/yup_Resampler.h
  modules/yup_dsp/stretching/yup_TimeStretchProcessor.h
  modules/yup_dsp/stretching/yup_TimeStretchTimeDomainBackend.h
  modules/yup_events/native/yup_Messaging_emscripten.cpp
  tests/yup_audio_basics/module.cpp
  tests/yup_audio_basics/yup_MPEInstrument.cpp
  tests/yup_audio_basics/yup_MPESynthesiser.cpp
  tests/yup_audio_basics/yup_MidiKeyboardState.cpp
  tests/yup_audio_basics/yup_Synthesiser.cpp
  tests/yup_audio_devices/yup_AudioDeviceManager.cpp
  tests/yup_core/yup_ListenerList.cpp
  tests/yup_dsp/yup_Resampler.cpp
  tests/yup_dsp/yup_TimeStretchProcessor.cpp
  tests/yup_events/yup_MessageManager.cpp
Due: yup_core, yup_audio_basics, yup_audio_devices, YUP Core, YUP Audio Basics, YUP Audio Devices

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
