Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

More tweaks
  CHANGELOG.md
  examples/graphics/source/examples/audio/SynthPanels.h
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  modules/yup_gui/widgets/yup_Slider.h
Due: yup_gui, YUP GUI

Fix demos
  examples/graphics/source/examples/Widgets.h
  tests/yup_dsp_jit/yup_YdspBenchmarkTests.cpp
  tests/yup_gui/yup_TabBar.cpp
Due: none

Updated website themes demo and images
  docs/_static/images/yup_themes.jpg
  docs/_static/images/yup_widgets.jpg
  docs/_static/images/yup_widgets.png
  website/src/showcase.html
Due: none

Tab component (#208)
  CHANGELOG.md
  docs/ui/component-styling.md
  docs/ui/index.md
  docs/ui/tabs.md
  docs/ui/tree-view.md
  examples/graphics/source/examples/AI.h
  examples/graphics/source/examples/Themes.h
  examples/graphics/source/examples/TreeView.h
  examples/graphics/source/examples/Widgets.h
  examples/graphics/source/examples/audio/SynthPanels.h
  modules/yup_graphics/fonts/yup_Font.cpp
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_ListBox.cpp
  modules/yup_gui/widgets/yup_Slider.h
  modules/yup_gui/widgets/yup_TabBar.cpp
  modules/yup_gui/widgets/yup_TabBar.h
  modules/yup_gui/widgets/yup_TabButton.cpp
  modules/yup_gui/widgets/yup_TabButton.h
  modules/yup_gui/widgets/yup_TabComponent.cpp
  modules/yup_gui/widgets/yup_TabComponent.h
  modules/yup_gui/widgets/yup_TreeView.cpp
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  python/tests/test_yup_gui/test_TabBar.py
  tests/yup_dsp_jit/yup_YdspBenchmarkTests.cpp
  tests/yup_graphics/yup_Font.cpp
  tests/yup_gui/module.cpp
  tests/yup_gui/yup_ListBox.cpp
  tests/yup_gui/yup_TabBar.cpp
  tests/yup_gui/yup_TabButton.cpp
  tests/yup_gui/yup_TabComponent.cpp
  tests/yup_gui/yup_ThemeVersion1.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Fix issue with badge
  README.md
Due: none

Fixed website
  website/src/404.html
  website/src/index.html
  website/src/partials/header.html
Due: none

Improved spectrogram
  CHANGELOG.md
  docs/ui/component-styling.md
  examples/graphics/source/examples/SpectrumAnalyzer.h
  examples/graphics/source/main.cpp
  modules/yup_audio_gui/displays/yup_SpectrogramComponentShader.frag
  modules/yup_audio_gui/displays/yup_SpectrogramComponentShader.inc
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  tests/yup_audio_gui/yup_SpectrumAnalyzerComponent.cpp
Due: yup_gui, YUP GUI

More spectrum analyzer fixes
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.cpp
Due: none

More tweaks to spectrum analyzer
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.cpp
Due: none

Fix file chooser
  CHANGELOG.md
  docs/ui/file-chooser.md
  docs/ui/index.md
  modules/yup_gui/native/yup_FileChooser_wasm.cpp
Due: none

Fix create stroke polygon
  CHANGELOG.md
  docs/graphics/primitives.md
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
  modules/yup_graphics/yup_graphics.h
  modules/yup_gui/widgets/yup_TreeView.cpp
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  tests/yup_graphics/yup_Path.cpp
  tests/yup_gui/yup_DragAndDropManager.cpp
  thirdparty/libclipper2/libclipper2.cpp
  thirdparty/libclipper2/libclipper2.h
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Improved spectrum analyzer (#209)
  CHANGELOG.md
  docs/ui/component-styling.md
  docs/ui/file-chooser.md
  docs/ui/index.md
  examples/graphics/source/examples/SpectrumAnalyzer.h
  examples/graphics/source/main.cpp
  modules/yup_audio_gui/displays/yup_SpectrogramComponentShader.frag
  modules/yup_audio_gui/displays/yup_SpectrogramComponentShader.inc
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.h
  modules/yup_gui/native/yup_FileChooser_wasm.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  tests/yup_audio_gui/yup_SpectrumAnalyzerComponent.cpp
Due: yup_gui, YUP GUI

Allow shaders to be cooked in folders (#207)
  CHANGELOG.md
  cmake/yup_shader_bundler.cmake
  docs/graphics/rhi/offline-shaders.md
  examples/graphics/CMakeLists.txt
  justfile
Due: none

Improved WGSL transpiler
  CHANGELOG.md
  docs/graphics/rhi/index.md
  docs/graphics/rhi/offline-shaders.md
  docs/graphics/rhi/pipelines.md
  docs/graphics/rhi/wgsl-shaders.md
  modules/yup_shading/shading/yup_ShaderTranspiler.cpp
  modules/yup_shading/shading/yup_WgslTranspiler.cpp
  modules/yup_shading/shading/yup_WgslTranspiler.h
  modules/yup_shading/wgsl/yup_GlslAst.h
  modules/yup_shading/wgsl/yup_GlslParser.cpp
  modules/yup_shading/wgsl/yup_WgslAstUtils.h
  modules/yup_shading/wgsl/yup_WgslBuiltins.cpp
  modules/yup_shading/wgsl/yup_WgslBuiltins.h
  modules/yup_shading/wgsl/yup_WgslEmitter.cpp
  modules/yup_shading/wgsl/yup_WgslEmitter.h
  modules/yup_shading/wgsl/yup_WgslHostLayout.cpp
  modules/yup_shading/wgsl/yup_WgslHostLayout.h
  modules/yup_shading/wgsl/yup_WgslLowering.cpp
  modules/yup_shading/wgsl/yup_WgslLowering.h
  modules/yup_shading/wgsl/yup_WgslStatementLowering.cpp
  modules/yup_shading/wgsl/yup_WgslStatementLowering.h
  modules/yup_shading/wgsl/yup_WgslTypeLegalizer.cpp
  modules/yup_shading/wgsl/yup_WgslTypeUtils.h
  modules/yup_shading/yup_shading.cpp
  modules/yup_shading/yup_shading.h
  tests/data/wgsl/compute.comp
  tests/data/wgsl/control.frag
  tests/data/wgsl/ctors.frag
  tests/data/wgsl/dual.frag
  tests/data/wgsl/layout.comp
  tests/data/wgsl/names.vert
  tests/data/wgsl/outparams.frag
  tests/data/wgsl/spec.comp
  tests/yup_shading/yup_WgslTranspiler.cpp
Due: none

Fix stationary pointer on emscripten
  CHANGELOG.md
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

More tests and fixes
  modules/yup_shading/wgsl/yup_GlslAst.h
  modules/yup_shading/wgsl/yup_GlslParser.cpp
  modules/yup_shading/wgsl/yup_WgslAstUtils.h
  modules/yup_shading/wgsl/yup_WgslBuiltins.cpp
  modules/yup_shading/wgsl/yup_WgslEmitter.cpp
  modules/yup_shading/wgsl/yup_WgslHostLayout.cpp
  modules/yup_shading/wgsl/yup_WgslLowering.cpp
  modules/yup_shading/wgsl/yup_WgslStatementLowering.cpp
  modules/yup_shading/wgsl/yup_WgslTypeLegalizer.cpp
  tests/data/wgsl/review.comp
  tests/data/wgsl/review.frag
  tests/yup_shading/yup_WgslTranspiler.cpp
Due: none

More fixes
  CHANGELOG.md
  cmake/platforms/emscripten/shell.html
  docs/graphics/rhi/wgsl-shaders.md
  tests/yup_shading/yup_WgslTranspiler.cpp
Due: none

Fix stack exhaustion on nesting
  modules/yup_shading/wgsl/yup_GlslParser.cpp
  tests/yup_shading/yup_WgslTranspiler.cpp
Due: none

More path work
  AGENTS.md
  CHANGELOG.md
  examples/graphics/source/examples/Paths.h
  examples/graphics/source/examples/paths/PathCanvas.h
  examples/graphics/source/examples/paths/PathDocument.h
  examples/graphics/source/examples/paths/PathInspector.h
  examples/graphics/source/examples/paths/PathSvgExport.h
Due: none

Improved blur export
  examples/graphics/source/examples/paths/PathSvgExport.h
Due: none

Fix create stroke polygon (#210)
  AGENTS.md
  CHANGELOG.md
  docs/graphics/primitives.md
  examples/graphics/source/examples/Paths.h
  examples/graphics/source/examples/paths/PathCanvas.h
  examples/graphics/source/examples/paths/PathDocument.h
  examples/graphics/source/examples/paths/PathInspector.h
  examples/graphics/source/examples/paths/PathSvgExport.h
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
  modules/yup_graphics/yup_graphics.h
  modules/yup_gui/widgets/yup_TreeView.cpp
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  tests/yup_graphics/yup_Path.cpp
  tests/yup_gui/yup_DragAndDropManager.cpp
  thirdparty/libclipper2/libclipper2.cpp
  thirdparty/libclipper2/libclipper2.h
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

More fixes
  modules/yup_shading/wgsl/yup_GlslParser.cpp
  modules/yup_shading/wgsl/yup_WgslBuiltins.cpp
  modules/yup_shading/wgsl/yup_WgslEmitter.cpp
  modules/yup_shading/wgsl/yup_WgslStatementLowering.cpp
  modules/yup_shading/wgsl/yup_WgslTypeLegalizer.cpp
  modules/yup_shading/wgsl/yup_WgslTypeUtils.h
  modules/yup_shading/yup_shading.cpp
  tests/data/wgsl/blocks.frag
  tests/data/wgsl/blocks.vert
  tests/data/wgsl/builtins.comp
  tests/data/wgsl/statements.frag
  tests/data/wgsl/textures.frag
  tests/yup_shading/yup_WgslTranspiler.cpp
Due: none

Fix recursions failing on CI
  docs/graphics/rhi/wgsl-shaders.md
  modules/yup_shading/wgsl/yup_GlslParser.cpp
  tests/yup_shading/yup_WgslTranspiler.cpp
Due: none

Fix demo in atomic mode
  modules/yup_graphics/native/yup_GraphicsContext_webgpu.cpp
Due: none

More fixes to path drawing
  CHANGELOG.md
  docs/graphics/graphics-class.md
  docs/graphics/primitives.md
  examples/graphics/source/examples/VariableFonts.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  tests/yup_graphics/yup_Path.cpp
Due: yup_graphics, YUP Graphics

Fixes for address and thread sanitizers
  CHANGELOG.md
  modules/yup_events/messages/yup_MessageManager.cpp
  modules/yup_shading/wgsl/yup_GlslParser.cpp
  tests/yup_core/yup_ChildProcess.cpp
Due: yup_events, YUP Events

Fix more use after free in metal
  CHANGELOG.md
  modules/yup_rhi/native/yup_GpuDevice_metal.cpp
Due: none

Fix reports from sanitizers (#212)
  CHANGELOG.md
  modules/yup_events/messages/yup_MessageManager.cpp
  modules/yup_rhi/native/yup_GpuDevice_metal.cpp
  modules/yup_shading/wgsl/yup_GlslParser.cpp
  tests/yup_core/yup_ChildProcess.cpp
Due: yup_events, YUP Events

Split MPC
  examples/graphics/data/gltf/mpc.glb
Due: none

More nice work
  CHANGELOG.md
  docs/3d/index.md
  examples/graphics/data/gltf/mpc.glb
  examples/graphics/source/examples/Scene3D.h
  examples/graphics/source/examples/scene3d/MpcFaceplate.h
  examples/graphics/source/examples/scene3d/NpcLogo.h
  examples/graphics/source/examples/scene3d/StudioEnvironment.h
  modules/yup_3d/nodes/yup_LightNode.h
  modules/yup_3d/rendering/yup_SceneRenderer.cpp
  modules/yup_3d/rendering/yup_SceneRenderer.h
  modules/yup_3d/rendering/yup_SceneRendererShader.inc
  modules/yup_3d/resources/yup_EnvironmentMap.cpp
  modules/yup_3d/resources/yup_EnvironmentMap.h
  modules/yup_3d/scene/yup_Scene.h
  modules/yup_3d/shaders/yup_SceneBackgroundShader.frag
  modules/yup_3d/shaders/yup_SceneBackgroundShader.inc
  modules/yup_3d/shaders/yup_SceneBackgroundShader.vert
  modules/yup_3d/shaders/yup_SceneRendererShader.frag
  modules/yup_3d/shaders/yup_SceneRendererShader.inc
  modules/yup_3d/shaders/yup_SceneRendererShader.vert
  modules/yup_3d/shaders/yup_SceneShadowShader.frag
  modules/yup_3d/shaders/yup_SceneShadowShader.inc
  modules/yup_3d/shaders/yup_SceneShadowShader.vert
  modules/yup_3d/yup_3d.cpp
  modules/yup_3d/yup_3d.h
  tests/yup_3d/yup_EnvironmentMap.cpp
  tests/yup_3d/yup_GltfModel.cpp
  tests/yup_3d/yup_Scene.cpp
  tests/yup_3d/yup_SceneRenderer.cpp
Due: none

More work
  examples/graphics/source/examples/Scene3D.h
  examples/graphics/source/examples/scene3d/MpcFaceplate.h
Due: none

Update README with new screenshot examples
  README.md
Due: none

Update screenshot format in README
  README.md
Due: none

Change prism synth screenshot from PNG to JPG
  README.md
Due: none

Remove DeepWiki badge from README
  README.md
Due: none

Update example links and images in README
  README.md
Due: none

New recipe
  justfile
Due: none

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
