Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Faster animations
  CHANGELOG.md
  modules/yup_animation/model/yup_AnimationLayer.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.h
  tests/yup_animation/yup_AnimationRenderer.cpp
Due: none

Fix deletion
  examples/graphics/source/examples/DragAndDropDemo.h
Due: none

Fixes
  examples/graphics/source/examples/DragAndDropDemo.h
  modules/yup_gui/native/yup_WindowingUtilities_sdl.cpp
Due: none

Fix more issues
  .github/workflows/build_android.yml
  CHANGELOG.md
  docs/ui/component-drag-and-drop.md
  docs/ui/index.md
  examples/graphics/source/examples/DragAndDropDemo.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/dragdrop/yup_DragAndDropManager.cpp
  modules/yup_gui/dragdrop/yup_NativeDragAndDrop.cpp
  modules/yup_gui/dragdrop/yup_NativeDragAndDrop.h
  modules/yup_gui/native/yup_NativeDragAndDrop_mac.mm
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
  tests/yup_gui.cpp
  tests/yup_gui/yup_ComponentNative.cpp
  tests/yup_gui/yup_DragAndDropManager.cpp
  tests/yup_gui/yup_ListBox.cpp
Due: yup_gui, YUP GUI

Drag and drop on mac works
  examples/graphics/source/examples/DragAndDropDemo.h
  modules/yup_gui/native/yup_NativeDragAndDrop_mac.mm
Due: none

Replace yup logo
  examples/graphics/data/logo.png
Due: none

More work
  CHANGELOG.md
  docs/ui/component-drag-and-drop.md
  examples/graphics/source/examples/DragAndDropDemo.h
  modules/yup_gui/dragdrop/yup_DragAndDropManager.cpp
  modules/yup_gui/dragdrop/yup_NativeDragAndDrop.h
  modules/yup_gui/native/yup_NativeDragAndDrop_mac.mm
Due: yup_gui, YUP GUI

Windows work
  modules/yup_gui/dragdrop/yup_NativeDragAndDrop.cpp
  modules/yup_gui/native/yup_NativeDragAndDrop_windows.cpp
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
Due: yup_gui, YUP GUI

More stuff
  modules/yup_gui/dragdrop/yup_DragAndDropManager.cpp
  modules/yup_gui/dragdrop/yup_DragAndDropManager.h
  modules/yup_gui/dragdrop/yup_NativeDragAndDrop.cpp
  modules/yup_gui/dragdrop/yup_NativeDragAndDrop.h
  modules/yup_gui/native/yup_NativeDragAndDrop_mac.mm
  modules/yup_gui/native/yup_NativeDragAndDrop_windows.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
Due: yup_gui, YUP GUI

Changes
  examples/graphics/source/examples/DragAndDropDemo.h
Due: none

Native drag and drop linux
  modules/yup_gui/dragdrop/yup_NativeDragAndDrop.cpp
  modules/yup_gui/native/yup_NativeDragAndDrop_linux.cpp
  modules/yup_gui/yup_gui.cpp
Due: yup_gui, YUP GUI

Fix linux
  modules/yup_gui/native/yup_NativeDragAndDrop_linux.cpp
Due: none

Fix linux
  modules/yup_gui/yup_gui.h
Due: yup_gui, YUP GUI

Fix warnings
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
Due: none

Utility on mac
  modules/yup_gui/dragdrop/yup_DragImageComponent.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: yup_gui, YUP GUI

Don't use popup on mac but use it on linux ?
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

Fix mac, win and linux
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

Some window tests
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

Remove cruft
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

More tests
  tests/yup_gui.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_ComponentNative.cpp
  tests/yup_gui/yup_DragAndDropSource.cpp
  tests/yup_gui/yup_DragImageComponent.cpp
Due: none

Fix tests
  tests/yup_gui/yup_ComponentNative.cpp
Due: none

Fix test
  modules/yup_gui/component/yup_Component.cpp
  tests/yup_gui/yup_ComponentNative.cpp
Due: yup_gui, YUP GUI

More nice rendering improvements
  CHANGELOG.md
  modules/yup_core/native/yup_Threads_apple.mm
  modules/yup_core/threads/yup_WaitableTimer.cpp
  modules/yup_core/threads/yup_WaitableTimer.h
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
Due: yup_core, yup_gui, YUP Core, YUP GUI

More coverage
  tests/yup_gui/yup_ComponentNative.cpp
  tests/yup_gui/yup_Desktop.cpp
  tests/yup_gui/yup_DragAndDropData.cpp
  tests/yup_gui/yup_DragAndDropManager.cpp
  tests/yup_gui/yup_DragAndDropTarget.cpp
  tests/yup_gui/yup_MouseEvent.cpp
Due: none

More precise timing
  CHANGELOG.md
  modules/yup_core/threads/yup_WaitableTimer.cpp
  modules/yup_core/threads/yup_WaitableTimer.h
  modules/yup_core/yup_core.cpp
Due: yup_core, YUP Core

Allow setting desired framerate
  CHANGELOG.md
  modules/yup_gui/component/yup_ComponentNative.cpp
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  tests/yup_gui/yup_ComponentNative.cpp
Due: yup_gui, YUP GUI

Fix background rendering
  examples/graphics/source/examples/ConvolutionDemo.h
  examples/graphics/source/examples/CrossoverDemo.h
Due: none

More tests and fixes
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_DragAndDropManager.cpp
  tests/yup_gui/yup_DragImageComponent.cpp
  tests/yup_gui/yup_ListBox.cpp
Due: none

More nice stuff
  CHANGELOG.md
  examples/graphics/source/examples/ConvolutionDemo.h
  examples/graphics/source/examples/CrossoverDemo.h
  modules/yup_gui/native/yup_WindowingUtilities_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  tests/yup_gui/yup_Component.cpp
Due: none

More nice stuff
  CHANGELOG.md
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.cpp
  modules/yup_events/timers/yup_Timer.cpp
  modules/yup_events/timers/yup_Timer.h
  modules/yup_python/bindings/yup_YupEvents_bindings.cpp
  tests/yup_audio_gui/yup_SpectrumAnalyzerComponent.cpp
  tests/yup_events/yup_Timer.cpp
  tests/yup_gui/yup_ComponentNative.cpp
Due: yup_events, YUP Events

Fix android
  .github/workflows/build_android.yml
Due: none

Fix justfile
  justfile
Due: none

Fix mouse capture
  CHANGELOG.md
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/dragdrop/yup_DragAndDropManager.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_ComponentNative.cpp
Due: yup_gui, YUP GUI

Fix polling
  modules/yup_gui/native/yup_Windowing_sdl.h
Due: none

Fix mouse capture (#186)
  CHANGELOG.md
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/dragdrop/yup_DragAndDropManager.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_ComponentNative.cpp
Due: yup_gui, YUP GUI

More nice stuff
  CHANGELOG.md
  docs/ui/component-basics.md
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
  tests/mocks/yup_gui.h
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_ComponentNative.cpp
Due: yup_gui, YUP GUI

More demos
  CHANGELOG.md
  examples/graphics/source/examples/Widgets.h
Due: none

More fixes
  tests/yup_gui/yup_Component.cpp
Due: none

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
