Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

Add support for sqlite3 (#94)
  modules/yup_core/database/yup_SqliteDatabase.cpp
  modules/yup_core/database/yup_SqliteDatabase.h
  modules/yup_core/yup_core.cpp
  modules/yup_core/yup_core.h
  tests/CMakeLists.txt
  tests/yup_core.cpp
  tests/yup_core/yup_SqliteDatabase.cpp
  thirdparty/sqlite3_library/sqlite3_library.c
  thirdparty/sqlite3_library/sqlite3_library.h
Due: yup_core, YUP Core

Update guides for agents
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

Fix keyboard focus handling
  docs/images/yup_component_profiler.png
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/profiling/yup_PaintProfileSample.h
  modules/yup_gui/profiling/yup_PaintProfileStats.cpp
  modules/yup_gui/profiling/yup_PaintProfileStats.h
  modules/yup_gui/profiling/yup_PaintProfiler.cpp
  modules/yup_gui/profiling/yup_PaintProfiler.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_PaintProfileStats.cpp
Due: yup_gui, YUP GUI

Component profiling
  docs/Profiling Component Paint.md
  docs/images/yup_component_profiler.png
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/PaintProfilerDemo.h
  examples/graphics/source/main.cpp
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/profiling/yup_PaintProfileSample.h
  modules/yup_gui/profiling/yup_PaintProfileStats.cpp
  modules/yup_gui/profiling/yup_PaintProfileStats.h
  modules/yup_gui/profiling/yup_PaintProfiler.cpp
  modules/yup_gui/profiling/yup_PaintProfiler.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_PaintProfileStats.cpp
Due: yup_gui, YUP GUI

Fix compilation
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/profiling/yup_PaintProfiler.cpp
Due: yup_gui, YUP GUI

More fixes
  modules/yup_gui/profiling/yup_PaintProfiler.cpp
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
Due: yup_gui, YUP GUI

More tests
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/profiling/yup_PaintProfileSample.h
  tests/CMakeLists.txt
  tests/yup_gui.cpp
  tests/yup_gui/yup_PaintProfiler.cpp
Due: yup_gui, YUP GUI

Improve readme
  README.md
Due: none

Cosmetics
  README.md
Due: none

Bump tables
  README.md
Due: none

More fixes
  README.md
Due: none

Fix profile tests
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  tests/yup_gui/yup_PaintProfiler.cpp
Due: yup_gui, YUP GUI

Fix sliders
  examples/audiograph/source/AudioGraphApp.h
  examples/audiograph/source/nodes/NodeRegistry.h
  examples/graphics/source/examples/Audio.h
  examples/graphics/source/examples/AudioFileDemo.h
  examples/graphics/source/examples/FilterDemo.h
  examples/graphics/source/examples/SliderDemo.h
  examples/graphics/source/examples/SpectrumAnalyzer.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_Slider.h
Due: yup_gui, YUP GUI

Subgraph support
  examples/audiograph/source/AudioGraphApp.h
  examples/audiograph/source/main.cpp
  examples/audiograph/source/nodes/GraphEndpointNodeViews.h
  examples/audiograph/source/nodes/GraphInputNodeView.h
  examples/audiograph/source/nodes/GraphOutputNodeView.h
  examples/audiograph/source/nodes/NodeRegistry.h
  examples/audiograph/source/nodes/SoundCardInputNodeView.h
  examples/audiograph/source/nodes/SoundCardOutputNodeView.h
  examples/audiograph/source/nodes/SubgraphNode.h
  examples/audiograph/source/ui/AudioGraphEditorPanel.h
  examples/audiograph/source/ui/SubgraphEditorWindow.h
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.h
  tests/yup_audio_graph/yup_AudioGraphProcessor.cpp
Due: none

Split the audio graph to a model
  examples/audiograph/source/AudioGraphApp.h
  examples/audiograph/source/nodes/LatencyNode.h
  examples/audiograph/source/nodes/NodeRegistry.h
  examples/audiograph/source/nodes/NodeViewHelpers.h
  examples/audiograph/source/nodes/SubgraphNode.h
  examples/audiograph/source/ui/AudioGraphEditorPanel.h
  modules/yup_audio_graph/graph/yup_AudioGraphModel.cpp
  modules/yup_audio_graph/graph/yup_AudioGraphModel.h
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.h
  modules/yup_audio_graph/yup_audio_graph.cpp
  modules/yup_audio_graph/yup_audio_graph.h
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.cpp
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.h
  modules/yup_audio_gui/graph/yup_AudioGraphNodeView.h
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_AUv2.mm
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_CLAP.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.h
  modules/yup_audio_processors/yup_audio_processors.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  tests/yup_audio_graph.cpp
  tests/yup_audio_graph/yup_AudioGraphProcessor.cpp
  tests/yup_audio_gui/yup_AudioGraphComponent.cpp
Due: yup_audio_processors, yup_gui, YUP Audio Processors, YUP GUI

Fixes to the graph model
  modules/yup_audio_graph/graph/yup_AudioGraphModel.cpp
  modules/yup_audio_graph/graph/yup_AudioGraphModel.h
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.h
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.h
  tests/yup_audio_graph/yup_AudioGraphProcessor.cpp
  tests/yup_audio_gui/yup_AudioGraphComponent.cpp
Due: yup_audio_processors, YUP Audio Processors

Fix audio thumbnail data races
  modules/yup_audio_gui/waveform/yup_AudioThumbnail.h
  tests/yup_audio_gui/yup_AudioThumbnail.cpp
Due: none

Fix buffering audio source data race in tests
  tests/yup_audio_basics/yup_BufferingAudioSource.cpp
Due: none

Fix data race in URL on macos
  modules/yup_core/native/yup_BasicNativeHeaders.h
  modules/yup_core/native/yup_Network_apple.mm
Due: none

Undo support
  examples/audiograph/source/AudioGraphApp.h
  examples/audiograph/source/nodes/SoundCardInputNodeView.h
  examples/audiograph/source/nodes/SoundCardOutputNodeView.h
  modules/yup_audio_graph/graph/yup_AudioGraphModel.cpp
  modules/yup_audio_graph/graph/yup_AudioGraphModel.h
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.cpp
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.h
  tests/yup_audio_gui/yup_AudioGraphComponent.cpp
Due: none

Nice refactorings
  examples/audiograph/source/AudioGraphApp.h
  examples/audiograph/source/ui/AudioGraphEditorPanel.h
  modules/yup_audio_graph/graph/yup_AudioGraphModel.cpp
Due: none

Support creationData in xml
  modules/yup_audio_graph/graph/yup_AudioGraphModel.cpp
Due: none

More audio graph cleanups
  examples/audiograph/source/AudioGraphApp.cpp
  examples/audiograph/source/AudioGraphApp.h
  examples/audiograph/source/main.cpp
  examples/audiograph/source/ui/AudioGraphEditorPanel.h
Due: none

Initial AI module
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/AI.h
  examples/graphics/source/main.cpp
  modules/yup_ai/embedding/yup_EmbeddingModel.cpp
  modules/yup_ai/embedding/yup_EmbeddingModel.h
  modules/yup_ai/llm/yup_LLMClient.cpp
  modules/yup_ai/llm/yup_LLMClient.h
  modules/yup_ai/llm/yup_LLMHttpClient.cpp
  modules/yup_ai/llm/yup_LLMHttpClient.h
  modules/yup_ai/llm/yup_LLMMessage.cpp
  modules/yup_ai/llm/yup_LLMMessage.h
  modules/yup_ai/llm/yup_LLMResponse.cpp
  modules/yup_ai/llm/yup_LLMResponse.h
  modules/yup_ai/llm/yup_LLMTool.cpp
  modules/yup_ai/llm/yup_LLMTool.h
  modules/yup_ai/llm/yup_LLMToolRegistry.cpp
  modules/yup_ai/llm/yup_LLMToolRegistry.h
  modules/yup_ai/yup_ai.cpp
  modules/yup_ai/yup_ai.h
  modules/yup_python/bindings/yup_YupAi_bindings.cpp
  modules/yup_python/bindings/yup_YupAi_bindings.h
  modules/yup_python/modules/yup_YupMain_module.cpp
  modules/yup_python/yup_python_ai.cpp
  tests/CMakeLists.txt
  tests/data/ai/.gitkeep
  tests/yup_ai.cpp
  tests/yup_ai/yup_LLMTypes.cpp
Due: none

More error handling
  modules/yup_ai/llm/yup_LLMClient.cpp
  modules/yup_ai/llm/yup_LLMHttpClient.cpp
  modules/yup_ai/llm/yup_LLMResponse.cpp
  modules/yup_ai/llm/yup_LLMResponse.h
  modules/yup_python/bindings/yup_YupAi_bindings.cpp
  tests/yup_ai/yup_LLMTypes.cpp
Due: none

More MCP goodness
  examples/graphics/source/examples/AI.h
  modules/yup_ai/llm/yup_LLMHttpClient.cpp
  modules/yup_ai/llm/yup_LLMMessage.cpp
  modules/yup_ai/llm/yup_LLMMessage.h
  modules/yup_ai/llm/yup_LLMResponse.cpp
  modules/yup_ai/llm/yup_LLMResponse.h
  modules/yup_ai/mcp/yup_MCPClient.cpp
  modules/yup_ai/mcp/yup_MCPClient.h
  modules/yup_ai/mcp/yup_MCPServer.cpp
  modules/yup_ai/mcp/yup_MCPServer.h
  modules/yup_ai/mcp/yup_MCPTransport.h
  modules/yup_ai/mcp/yup_MCPTypes.cpp
  modules/yup_ai/mcp/yup_MCPTypes.h
  modules/yup_ai/yup_ai.cpp
  modules/yup_ai/yup_ai.h
  modules/yup_python/bindings/yup_YupAi_bindings.cpp
  tests/yup_ai.cpp
  tests/yup_ai/yup_LLMTypes.cpp
  tests/yup_ai/yup_MCPTypes.cpp
Due: none

More mcp stuff
  modules/yup_ai/mcp/yup_MCPServer.cpp
  modules/yup_python/bindings/yup_YupAi_bindings.cpp
  python/tests/test_yup_ai/__init__.py
  python/tests/test_yup_ai/test_MCPServer.py
  python/tests/test_yup_ai/test_MCPTransport.py
  python/tests/test_yup_ai/test_MCPTypes.py
  tests/yup_ai/yup_MCPTypes.cpp
Due: none

Fix text editing capabilities
  modules/yup_core/misc/yup_ResultValue.h
  modules/yup_graphics/fonts/yup_StyledText.cpp
  modules/yup_graphics/fonts/yup_StyledText.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/keyboard/yup_TextInputTarget.cpp
  modules/yup_gui/keyboard/yup_TextInputTarget.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/native/yup_Windowing_sdl2.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_TextEditor.cpp
  modules/yup_gui/widgets/yup_TextEditor.h
  tests/yup_core/yup_ResultValue.cpp
  tests/yup_gui/yup_TextEditor.cpp
Due: yup_core, yup_graphics, yup_gui, YUP Core, YUP Graphics, YUP GUI

Fix architecture of the profiler
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/PaintProfilerDemo.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/component/yup_ComponentListener.h
  modules/yup_gui/component/yup_ComponentPaintMetrics.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/profiling/yup_PaintProfileSample.h
  modules/yup_gui/profiling/yup_PaintProfiler.cpp
  modules/yup_gui/profiling/yup_PaintProfiler.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  tests/CMakeLists.txt
  tests/yup_gui/yup_PaintProfiler.cpp
Due: yup_gui, YUP GUI

More component tests
  tests/yup_gui/yup_Component.cpp
Due: none

More tests
  modules/yup_graphics/fonts/yup_StyledText.cpp
  modules/yup_gui/widgets/yup_TextEditor.cpp
  tests/yup_graphics/yup_StyledText.cpp
  tests/yup_gui/yup_TextEditor.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Fix issue
  modules/yup_graphics/fonts/yup_StyledText.cpp
Due: yup_graphics, YUP Graphics

Fix text editing capabilities (#96)
  modules/yup_core/misc/yup_ResultValue.h
  modules/yup_graphics/fonts/yup_StyledText.cpp
  modules/yup_graphics/fonts/yup_StyledText.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/keyboard/yup_TextInputTarget.cpp
  modules/yup_gui/keyboard/yup_TextInputTarget.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/native/yup_Windowing_sdl2.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_TextEditor.cpp
  modules/yup_gui/widgets/yup_TextEditor.h
  tests/yup_core/yup_ResultValue.cpp
  tests/yup_graphics/yup_StyledText.cpp
  tests/yup_gui/yup_TextEditor.cpp
Due: yup_core, yup_graphics, yup_gui, YUP Core, YUP Graphics, YUP GUI

Oversampler and Resampler
  modules/yup_dsp/resampling/yup_CircularBuffer.h
  modules/yup_dsp/resampling/yup_Oversampler.h
  modules/yup_dsp/resampling/yup_Resampler.h
  modules/yup_dsp/resampling/yup_SincTable.h
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp.cpp
  tests/yup_dsp/yup_CircularBuffer.cpp
  tests/yup_dsp/yup_Oversampler.cpp
  tests/yup_dsp/yup_Resampler.cpp
  tests/yup_dsp/yup_SincTable.cpp
Due: none

Fixes
  modules/yup_dsp/resampling/yup_Oversampler.h
  modules/yup_dsp/resampling/yup_SincTable.h
  tests/yup_dsp/yup_CircularBuffer.cpp
  tests/yup_dsp/yup_SincTable.cpp
Due: none

More fixes
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
Due: none

Fix python dependencies
  modules/yup_python/bindings/yup_YupAi_bindings.h
  modules/yup_python/modules/yup_YupMain_module.cpp
  modules/yup_python/yup_python_ai.cpp
  modules/yup_python/yup_python_audio_basics.cpp
  modules/yup_python/yup_python_data_model.cpp
  modules/yup_python/yup_python_events.cpp
  modules/yup_python/yup_python_graphics.cpp
  modules/yup_python/yup_python_gui.cpp
  python/CMakeLists.txt
Due: none

Improved SVG rendering
  examples/graphics/source/examples/Svg.h
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_gui/yup_gui.h
  tests/yup_graphics/yup_Drawable.cpp
  tests/yup_graphics/yup_Path.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Fix issues
  modules/yup_audio_graph/graph/yup_AudioGraphModel.cpp
  tests/yup_audio_graph/yup_AudioGraphProcessor.cpp
Due: none

Added Oversampling and Resampling to the Spectrum analyzer
  examples/graphics/source/examples/SpectrumAnalyzer.h
Due: none
