Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

More plugin host fixes
  modules/yup_audio_plugin_host/host/yup_AudioPluginScanner.cpp
  tests/yup_audio_plugin_host.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginDescription.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginInstance.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginScanner.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginState.cpp
Due: none

Fix audio processor
  modules/yup_audio_plugin_host/host/yup_AudioPluginScanner.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.h
  tests/CMakeLists.txt
  tests/yup_audio_plugin_host/yup_AudioPluginInstance.cpp
Due: yup_audio_processors, YUP Audio Processors

Cleanup compiler support
  modules/yup_core/system/yup_CompilerSupport.h
Due: yup_core, YUP Core

Audio graph
  examples/graphics/source/examples/AudioGraphDemo.h
  examples/graphics/source/examples/PluginHost.h
  examples/graphics/source/main.cpp
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.h
  modules/yup_audio_graph/yup_audio_graph.cpp
  modules/yup_audio_graph/yup_audio_graph.h
  modules/yup_audio_graph/yup_audio_graph.mm
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.cpp
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.h
  modules/yup_audio_gui/graph/yup_AudioGraphNodeView.cpp
  modules/yup_audio_gui/graph/yup_AudioGraphNodeView.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  tests/CMakeLists.txt
  tests/yup_audio_graph.cpp
  tests/yup_audio_graph/yup_AudioGraphProcessor.cpp
Due: yup_gui, YUP GUI

Update readme
  README.md
  docs/images/yup_audio_graph.png
  docs/images/yup_audio_host.png
  docs/images/yup_audio_waveform.png
Due: none

Fix native renderer resize
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
Due: none

Improved node graph
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.cpp
  modules/yup_audio_gui/graph/yup_AudioGraphNodeView.cpp
Due: none

Fix slider bars in demo
  examples/graphics/source/examples/AudioFileDemo.h
Due: none

More fixes
  cmake/yup_standalone.cmake
  examples/graphics/CMakeLists.txt
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.cpp
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.h
  modules/yup_audio_gui/graph/yup_AudioGraphNodeView.cpp
  modules/yup_audio_gui/graph/yup_AudioGraphNodeView.h
  modules/yup_audio_processors/yup_audio_processors.cpp
  modules/yup_audio_processors/yup_audio_processors.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  tests/CMakeLists.txt
Due: yup_audio_processors, yup_gui, YUP Audio Processors, YUP GUI

More fixes
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  tests/yup_audio_gui.cpp
  tests/yup_audio_gui/yup_AudioGraphComponent.cpp
Due: none

Remove invalid min c++ standard
  modules/yup_audio_plugin_host/yup_audio_plugin_host.h
Due: none

Removed deprectaed macros mess in XmlElement
  modules/yup_core/xml/yup_XmlElement.h
Due: yup_core, YUP Core

Fix agents
  AGENTS.md
  CLAUDE.md
Due: none

More fixes
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.cpp
  tests/yup_audio_graph/yup_AudioGraphProcessor.cpp
  tests/yup_audio_gui/yup_AudioGraphComponent.cpp
Due: none

Split graph in smaller chunks
  modules/yup_audio_graph/graph/yup_AudioGraphAllocationStats.h
  modules/yup_audio_graph/graph/yup_AudioGraphConnection.h
  modules/yup_audio_graph/graph/yup_AudioGraphEndpoint.h
  modules/yup_audio_graph/graph/yup_AudioGraphNodeID.h
  modules/yup_audio_graph/graph/yup_AudioGraphNodeProperties.h
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.h
  modules/yup_audio_graph/yup_audio_graph.h
  modules/yup_core/memory/yup_MemoryBlock.cpp
  tests/yup_audio_graph/yup_AudioGraphProcessor.cpp
Due: yup_core, YUP Core

More fixes
  examples/graphics/source/examples/PluginHost.h
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_AUv2.mm
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_CLAP.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.h
  modules/yup_audio_processors/yup_audio_processors.cpp
  modules/yup_audio_processors/yup_audio_processors.h
  modules/yup_core/memory/yup_MemoryBlock.cpp
  modules/yup_core/misc/yup_ResultValue.h
  modules/yup_core/system/yup_CompilerSupport.h
Due: yup_core, yup_audio_processors, YUP Core, YUP Audio Processors

More tests
  tests/yup_audio_plugin_host/yup_AudioPluginInstance.cpp
Due: none

Improved audiograph and added separate app
  AGENTS.md
  CLAUDE.md
  CMakeLists.txt
  examples/audiograph/CMakeLists.txt
  examples/audiograph/source/AudioGraphApp.h
  examples/audiograph/source/main.cpp
  examples/audiograph/source/nodes/GainNode.h
  examples/audiograph/source/nodes/LowPassFilterNode.h
  examples/audiograph/source/nodes/NodeRegistry.h
  examples/audiograph/source/nodes/NodeViewHelpers.h
  examples/audiograph/source/nodes/OscillatorNode.h
  examples/audiograph/source/nodes/PluginNodeView.h
  examples/audiograph/source/ui/PluginEditorWindow.h
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/AudioGraphDemo.h
  examples/graphics/source/examples/PluginHost.h
  examples/graphics/source/main.cpp
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.h
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.cpp
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.h
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_AUv2.mm
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_CLAP.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.cpp
  modules/yup_core/misc/yup_ResultValue.h
  modules/yup_core/system/yup_TargetPlatform.h
  modules/yup_data_model/tree/yup_DataTree.cpp
  modules/yup_dsp/stretching/yup_TimeStretchProcessor.cpp
  modules/yup_graphics/imaging/yup_Image.cpp
  tests/yup_audio_graph/yup_AudioGraphProcessor.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginScanner.cpp
  tests/yup_core/yup_ResultValue.cpp
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

Fix mouse handling
  examples/audiograph/source/AudioGraphApp.h
  examples/audiograph/source/main.cpp
  examples/audiograph/source/nodes/NodeRegistry.h
  examples/audiograph/source/ui/PluginEditorWindow.h
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.cpp
  modules/yup_gui/menus/yup_PopupMenu.cpp
  modules/yup_gui/native/yup_WindowingUtilities_sdl2.cpp
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
Due: yup_gui, YUP GUI

Fix issues
  examples/audiograph/source/AudioGraphApp.h
  modules/yup_audio_gui/graph/yup_AudioGraphComponent.cpp
  modules/yup_gui/component/yup_ComponentNative.cpp
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/menus/yup_PopupMenu.cpp
  modules/yup_gui/menus/yup_PopupMenu.h
  modules/yup_gui/native/yup_WindowingHelpers.h
  modules/yup_gui/native/yup_WindowingUtilities_sdl2.cpp
  modules/yup_gui/native/yup_Windowing_linux.cpp
  modules/yup_gui/native/yup_Windowing_mac.mm
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/native/yup_Windowing_windows.cpp
Due: yup_gui, YUP GUI

More tweaks
  README.md
  examples/audiograph/CMakeLists.txt
  examples/audiograph/source/AudioGraphApp.h
  examples/audiograph/source/main.cpp
  examples/audiograph/source/nodes/NodeRegistry.h
  examples/audiograph/source/nodes/SamplePlayerNode.h
  examples/audiograph/source/ui/PluginEditorWindow.h
  modules/yup_audio_gui/waveform/yup_AudioThumbnail.cpp
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_gui/native/yup_FileChooser_mac.mm
  modules/yup_gui/yup_gui.h
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Disable denormals tests in wasm
  tests/yup_audio_graph/yup_AudioGraphProcessor.cpp
Due: none

Fix windows
  tests/yup_audio_basics/yup_AudioDataConverters.cpp
Due: none

More theme work
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/themes/yup_ApplicationTheme.cpp
  modules/yup_gui/themes/yup_ApplicationTheme.h
  tests/yup_gui.cpp
  tests/yup_gui/yup_ApplicationTheme.cpp
Due: yup_gui, YUP GUI

Missing inclusion of <concepts>
  modules/yup_core/system/yup_StandardHeader.h
Due: yup_core, YUP Core

Fix NDK issues
  modules/yup_core/misc/yup_ResultValue.h
Due: yup_core, YUP Core

More windows fixes
  tests/yup_audio_basics/yup_AudioDataConverters.cpp
Due: none

Typo error
  modules/yup_core/system/yup_TargetPlatform.h
  tests/yup_audio_basics/yup_AudioDataConverters.cpp
Due: yup_core, YUP Core

Enable SSE on windows x64
  modules/yup_simd/yup_simd.h
Due: none

Fix hosting vst and clap on mac
  cmake/yup_dependencies.cmake
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
  modules/yup_audio_plugin_host/host/yup_AudioPluginDescription.h
  modules/yup_audio_plugin_host/host/yup_AudioPluginFormat.h
  modules/yup_audio_plugin_host/host/yup_AudioPluginHostContext.h
  modules/yup_audio_plugin_host/host/yup_AudioPluginInstance.cpp
  modules/yup_audio_plugin_host/host/yup_AudioPluginInstance.h
  modules/yup_audio_plugin_host/host/yup_AudioPluginScanner.cpp
  modules/yup_audio_plugin_host/host/yup_AudioPluginScanner.h
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_AUv2.h
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_AUv2.mm
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_CLAP.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_CLAP.h
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.h
  modules/yup_audio_plugin_host/yup_audio_plugin_host.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.h
  modules/yup_dsp/windowing/yup_WindowFunctions.h
  tests/yup_audio_graph/yup_AudioGraphProcessor.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginDescription.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginInstance.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginScanner.cpp
Due: yup_audio_processors, YUP Audio Processors

Initial support for sqlite3
  modules/yup_core/database/yup_SqliteDatabase.cpp
  modules/yup_core/database/yup_SqliteDatabase.h
  modules/yup_core/yup_core.cpp
  modules/yup_core/yup_core.h
  tests/CMakeLists.txt
  tests/yup_core/yup_SqliteDatabase.cpp
  thirdparty/sqlite3_library/sqlite3_library.c
  thirdparty/sqlite3_library/sqlite3_library.h
Due: yup_core, YUP Core

Adjust image widths in README for audio examples
  README.md
Due: none

Fix image
  README.md
  backdrop.jpg
  logo.png
Due: none

Fix zip file time (#92)
  modules/yup_core/zip/yup_ZipFile.cpp
Due: yup_core, YUP Core

Enable tests
  tests/yup_core.cpp
Due: none

More audio graph testing
  examples/audiograph/source/AudioGraphApp.h
  examples/audiograph/source/main.cpp
  examples/audiograph/source/nodes/LatencyNode.h
  examples/audiograph/source/nodes/NodeRegistry.h
  examples/audiograph/source/nodes/SamplePlayerNode.h
Due: none

Fix tests on windows
  tests/yup_core/yup_SqliteDatabase.cpp
Due: none

Change license from BSD to Public Domain
  thirdparty/sqlite3_library/sqlite3_library.h
Due: none
