Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

Added dsp to the documentation
  CHANGELOG.md
  docs/audio/index.md
  docs/conf.py
  docs/dsp/convolution-and-delay.md
  docs/dsp/dynamics.md
  docs/dsp/filter-design.md
  docs/dsp/filters.md
  docs/dsp/frequency.md
  docs/dsp/index.md
  docs/dsp/math.md
  docs/dsp/onsets.md
  docs/dsp/resampling.md
  docs/dsp/time-stretching.md
  docs/index.md
Due: none

Fix rhi changes
  modules/yup_python/bindings/yup_YupRhi_bindings.cpp
Due: none

Fix warnings and failures
  python/tests/test_yup_graphics/test_Rhi.py
  tests/yup_rhi/yup_GpuPipelineMocked.cpp
Due: none

Improved python bindings
  CHANGELOG.md
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  modules/yup_python/bindings/yup_YupRhi_bindings.cpp
  modules/yup_python/bindings/yup_YupRhi_bindings.h
  modules/yup_python/yup_python.h
  modules/yup_python/yup_python_rhi.cpp
  python/tests/test_yup_graphics/test_Rhi.py
Due: none

Add streaming (real-time) onset detection API
  CHANGELOG.md
  modules/yup_dsp/onsets/yup_OnsetDetectionFunction.h
  modules/yup_dsp/onsets/yup_OnsetDetector.cpp
  modules/yup_dsp/onsets/yup_OnsetDetector.h
  modules/yup_dsp/onsets/yup_OnsetPeakPicker.cpp
  modules/yup_dsp/onsets/yup_OnsetPeakPicker.h
  modules/yup_dsp/onsets/yup_Spectrogram.cpp
  modules/yup_dsp/onsets/yup_Spectrogram.h
  modules/yup_dsp/onsets/yup_SuperFluxODF.cpp
  modules/yup_dsp/onsets/yup_SuperFluxODF.h
  tests/yup_dsp/yup_OnsetDetector.cpp
Due: none

Standalone wrapper: feed MIDI input and open default audio input device
  CHANGELOG.md
  cmake/platforms/mac/ApplicationInfo.plist
  modules/yup_audio_plugin_client/standalone/yup_audio_plugin_client_Standalone.cpp
Due: none

MidiKeyboardComponent: fix and complete computer-keyboard input
  CHANGELOG.md
  modules/yup_audio_gui/keyboard/yup_MidiKeyboardComponent.cpp
  modules/yup_audio_gui/keyboard/yup_MidiKeyboardComponent.h
Due: none

AudioViewComponent: reset view range and zoom when the source changes
  CHANGELOG.md
  modules/yup_audio_gui/displays/yup_AudioViewComponent.cpp
Due: none

Code editor support
  CHANGELOG.md
  docs/graphics/fonts.md
  docs/ui/code-editor.md
  docs/ui/index.md
  examples/graphics/source/examples/CodeEditor.h
  examples/graphics/source/examples/GpuAudioProcessingDemo.h
  examples/graphics/source/examples/Python.h
  examples/graphics/source/examples/Svg.h
  examples/graphics/source/main.cpp
  modules/yup_graphics/fonts/yup_Font.cpp
  modules/yup_graphics/fonts/yup_Font.h
  modules/yup_graphics/fonts/yup_StyledText.cpp
  modules/yup_graphics/fonts/yup_StyledText.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  modules/yup_gui/code/yup_CodeDocument.cpp
  modules/yup_gui/code/yup_CodeDocument.h
  modules/yup_gui/code/yup_CodeEditor.cpp
  modules/yup_gui/code/yup_CodeEditor.h
  modules/yup_gui/code/yup_CodeTokeniser.cpp
  modules/yup_gui/code/yup_CodeTokeniser.h
  modules/yup_gui/code/yup_SyntaxDefinition.cpp
  modules/yup_gui/code/yup_SyntaxDefinition.h
  modules/yup_gui/themes/theme_v1/JetBrainsMonoFont.inc
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1_Resources.cpp
  modules/yup_gui/themes/yup_ApplicationTheme.cpp
  modules/yup_gui/themes/yup_ApplicationTheme.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  tests/yup_graphics/yup_Font.cpp
  tests/yup_graphics/yup_StyledText.cpp
  tests/yup_gui/yup_ApplicationTheme.cpp
  tests/yup_gui/yup_CodeDocument.cpp
  tests/yup_gui/yup_CodeEditor.cpp
  tests/yup_gui/yup_CodeTokeniser.cpp
  tests/yup_gui/yup_SyntaxDefinition.cpp
  tests/yup_gui/yup_TextEditor.cpp
  tools/embed_font.py
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

More testing
  modules/yup_data_model/undo/yup_UndoManager.cpp
  modules/yup_gui/code/yup_SyntaxDefinition.h
  tests/yup_data_model/yup_UndoManager.cpp
  tests/yup_gui.cpp
  tests/yup_gui/yup_CodeDocument.cpp
  tests/yup_gui/yup_SyntaxDefinition.cpp
Due: yup_gui, YUP GUI

Layout support
  CHANGELOG.md
  examples/graphics/source/examples/Layout.h
  examples/graphics/source/main.cpp
  modules/yup_gui/layout/yup_FlexBox.cpp
  modules/yup_gui/layout/yup_FlexBox.h
  modules/yup_gui/layout/yup_FlexItem.cpp
  modules/yup_gui/layout/yup_FlexItem.h
  modules/yup_gui/layout/yup_Grid.cpp
  modules/yup_gui/layout/yup_Grid.h
  modules/yup_gui/layout/yup_GridItem.cpp
  modules/yup_gui/layout/yup_GridItem.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  tests/yup_gui.cpp
  tests/yup_gui/yup_FlexBox.cpp
  tests/yup_gui/yup_Grid.cpp
Due: yup_gui, YUP GUI

YAML support
  CHANGELOG.md
  docs/core/data-interchange.md
  modules/yup_core/javascript/yup_JSON.cpp
  modules/yup_core/text/yup_CharacterFunctions.cpp
  modules/yup_core/text/yup_CharacterFunctions.h
  modules/yup_core/yaml/yup_YAML.cpp
  modules/yup_core/yaml/yup_YAML.h
  modules/yup_core/yup_core.cpp
  modules/yup_core/yup_core.h
  tests/yup_core.cpp
  tests/yup_core/yup_YAML.cpp
Due: yup_core, YUP Core

Speed up svg parsing and rendering
  modules/yup_core/containers/yup_HashMap.h
  modules/yup_core/misc/yup_HashGenerator.h
  modules/yup_core/text/yup_String.cpp
  modules/yup_core/text/yup_StringRef.h
  modules/yup_core/yup_core.h
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/svg/yup_SVGCssParser.cpp
  modules/yup_graphics/svg/yup_SVGCssParser.h
  modules/yup_graphics/svg/yup_SVGCssRule.h
  modules/yup_graphics/svg/yup_SVGParser.cpp
  modules/yup_graphics/svg/yup_SVGParser.h
  tests/yup_graphics/yup_SVGDocument.cpp
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

More tests
  modules/yup_core/javascript/yup_JSON.cpp
  tests/yup_core/yup_JSON.cpp
  tests/yup_core/yup_YAML.cpp
Due: yup_core, YUP Core

Fixed docs
  docs/core/data-interchange.md
Due: none

YAML support (#168)
  CHANGELOG.md
  docs/core/data-interchange.md
  modules/yup_core/javascript/yup_JSON.cpp
  modules/yup_core/text/yup_CharacterFunctions.cpp
  modules/yup_core/text/yup_CharacterFunctions.h
  modules/yup_core/yaml/yup_YAML.cpp
  modules/yup_core/yaml/yup_YAML.h
  modules/yup_core/yup_core.cpp
  modules/yup_core/yup_core.h
  tests/yup_core.cpp
  tests/yup_core/yup_JSON.cpp
  tests/yup_core/yup_YAML.cpp
Due: yup_core, YUP Core

Support for schemes
  CHANGELOG.md
  docs/ui/code-editor.md
  examples/graphics/source/examples/CodeEditor.h
  modules/yup_gui/code/yup_CodeEditor.cpp
  modules/yup_gui/code/yup_CodeEditor.h
  modules/yup_gui/code/yup_CodeEditorScheme.cpp
  modules/yup_gui/code/yup_CodeEditorScheme.h
  modules/yup_gui/code/yup_CodeTokeniser.h
  modules/yup_gui/code/yup_SyntaxDefinition.cpp
  modules/yup_gui/code/yup_SyntaxDefinition.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  tests/yup_gui/yup_CodeEditor.cpp
  tests/yup_gui/yup_CodeEditorScheme.cpp
  tests/yup_gui/yup_SyntaxDefinition.cpp
  tests/yup_rhi/yup_GpuPipelineMocked.cpp
Due: yup_gui, YUP GUI

Improved spectrogram
  CHANGELOG.md
  examples/graphics/source/examples/SpectrumAnalyzer.h
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.h
  modules/yup_audio_gui/displays/yup_SpectrogramComponentShader.frag
  modules/yup_audio_gui/displays/yup_SpectrogramComponentShader.inc
  modules/yup_audio_gui/displays/yup_SpectrogramComponentShader.vert
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.cpp
  tests/yup_audio_gui/yup_SpectrogramComponent.cpp
Due: none

Improved rendering threads
  CHANGELOG.md
  docs/multithreading/index.md
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  tests/yup_gui/yup_ComponentNative.cpp
Due: yup_graphics, YUP Graphics

More tests
  tests/yup_gui/yup_CodeEditor.cpp
  tests/yup_gui/yup_CodeEditorScheme.cpp
  tests/yup_gui/yup_CodeTokeniser.cpp
  tests/yup_gui/yup_SyntaxDefinition.cpp
Due: none

Fix tests
  tests/yup_gui/yup_CodeEditor.cpp
Due: none

More fixes
  modules/yup_rhi/context/yup_GpuDevice.cpp
  modules/yup_rhi/native/yup_GpuComputePipeline_d3d.cpp
  modules/yup_rhi/native/yup_GpuDevice_d3d.cpp
  modules/yup_rhi/rhi/yup_GpuBuffer.h
  modules/yup_rhi/yup_rhi.cpp
Due: none

More work on windows
  modules/yup_core/threads/yup_WaitableTimer.cpp
  modules/yup_core/threads/yup_WaitableTimer.h
  modules/yup_core/yup_core.cpp
  modules/yup_core/yup_core.h
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_rhi/native/yup_GpuDevice_d3d.cpp
Due: yup_core, YUP Core

Fix other than windows
  modules/yup_core/threads/yup_WaitableTimer.cpp
  modules/yup_core/threads/yup_WaitableTimer.h
Due: yup_core, YUP Core

More fixes on mac
  CHANGELOG.md
  modules/yup_core/threads/yup_WaitableTimer.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: yup_core, YUP Core

More GL improvements
  examples/graphics/source/examples/OffscreenRenderDemo.h
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  modules/yup_rhi/context/yup_GpuDevice.h
  modules/yup_rhi/native/yup_GpuDevice_d3d.cpp
  modules/yup_rhi/native/yup_GpuDevice_dawn.cpp
  modules/yup_rhi/native/yup_GpuDevice_metal.cpp
  modules/yup_rhi/native/yup_GpuDevice_opengl.cpp
  modules/yup_rhi/native/yup_GpuDevice_webgpu.cpp
  modules/yup_rhi/rhi/yup_GpuBuffer.cpp
  thirdparty/rive_renderer/rive_renderer_windows.cpp
  thirdparty/rive_renderer/source/ore/gl/ore_context_gl.cpp
  tools/rive_update_manifest.json
Due: yup_gui, YUP GUI

More tweaks
  examples/graphics/source/main.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

Fix issue
  modules/yup_rhi/native/yup_GpuDevice_opengl.cpp
Due: none

Overhaul main
  examples/graphics/source/main.cpp
Due: none

More tweaks
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  modules/yup_rhi/context/yup_GpuDevice.h
  modules/yup_rhi/native/yup_GpuComputePass_opengl.cpp
  modules/yup_rhi/native/yup_GpuComputePipeline_opengl.cpp
  modules/yup_rhi/native/yup_GpuDevice_opengl.cpp
  modules/yup_rhi/rhi/yup_GpuBuffer.cpp
  modules/yup_rhi/rhi/yup_GpuComputePipeline.cpp
  tests/yup_rhi/yup_GpuComputePass.cpp
  thirdparty/rive_renderer/rive_renderer.h
Due: none

Fix emscripten
  CHANGELOG.md
  docs/graphics/rhi/compute-shaders.md
  examples/graphics/source/examples/GpuAudioProcessingDemo.h
  examples/graphics/source/main.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  modules/yup_rhi/native/yup_GpuDevice_opengl.cpp
Due: none

Improve performance
  examples/graphics/source/main.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

More fixes
  CHANGELOG.md
Due: none

Reuse the same command buffer in the SpinningCube
  examples/graphics/source/examples/SpinningCubeDemo.h
Due: none

Fix rectangle
  modules/yup_graphics/primitives/yup_Rectangle.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: yup_graphics, YUP Graphics

Cosmetics
  modules/yup_rhi/context/yup_GpuDevice.cpp
  modules/yup_rhi/context/yup_GpuDevice.h
  modules/yup_rhi/rhi/yup_GpuBuffer.cpp
  modules/yup_rhi/rhi/yup_GpuComputePass.cpp
  modules/yup_rhi/rhi/yup_GpuComputePipeline.cpp
  modules/yup_rhi/rhi/yup_GpuFrame.cpp
  modules/yup_rhi/rhi/yup_GpuPipeline.cpp
  modules/yup_rhi/rhi/yup_GpuRenderPass.cpp
  modules/yup_rhi/rhi/yup_GpuTarget.cpp
Due: none

Fix crash
  examples/graphics/source/examples/AudioFileDemo.h
  modules/yup_dsp/onsets/yup_FilterBank.cpp
Due: none

CancelToken
  CHANGELOG.md
  docs/multithreading/cancellation.md
  docs/multithreading/index.md
  modules/yup_core/threads/yup_CancelToken.cpp
  modules/yup_core/threads/yup_CancelToken.h
  modules/yup_core/threads/yup_CancelTokenSource.cpp
  modules/yup_core/threads/yup_CancelTokenSource.h
  modules/yup_core/yup_core.cpp
  modules/yup_core/yup_core.h
  tests/yup_core.cpp
  tests/yup_core/yup_CancelToken.cpp
  tests/yup_core/yup_CancelTokenSource.cpp
Due: yup_core, YUP Core
