Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

More cleanups
  modules/yup_graphics/rhi/yup_GpuBuffer.h
  modules/yup_graphics/rhi/yup_GpuProgram.cpp
  modules/yup_graphics/rhi/yup_GpuProgram.h
Due: yup_graphics, YUP Graphics

More cleanups
  modules/yup_shading/shading/yup_ShaderBundle.cpp
  modules/yup_shading/shading/yup_ShaderBundle.md
Due: none

More cleanups
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
Due: yup_graphics, YUP Graphics

More cleanups
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.h
Due: yup_graphics, YUP Graphics

QOL improvements (#128)
  AGENTS.md
  CLAUDE.md
  cmake/plugins/yup_plugin_vst3.cmake
  cmake/yup_dependencies.cmake
  modules/yup_gui/component/yup_Component.cpp
  tests/CMakeLists.txt
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_PaintProfiler.cpp
Due: yup_gui, YUP GUI

Improved RHI
  CHANGELOG.md
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_core/containers/yup_TypeErasedObject.h
  modules/yup_core/memory/yup_Memory.h
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/rhi/yup_GpuBuffer.cpp
  modules/yup_graphics/rhi/yup_GpuBuffer.h
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.h
  modules/yup_graphics/rhi/yup_GpuFrame.cpp
  modules/yup_graphics/rhi/yup_GpuFrame.h
  modules/yup_graphics/rhi/yup_GpuPipeline.cpp
  modules/yup_graphics/rhi/yup_GpuPipeline.h
  modules/yup_graphics/rhi/yup_GpuPipelineCache.cpp
  modules/yup_graphics/rhi/yup_GpuPipelineCache.h
  modules/yup_graphics/rhi/yup_GpuRenderPass.cpp
  modules/yup_graphics/rhi/yup_GpuRenderPass.h
  modules/yup_graphics/rhi/yup_GpuTexture.h
  modules/yup_graphics/rhi/yup_ShaderBindingMap.h
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  tests/yup_core/yup_Memory.cpp
  tests/yup_core/yup_TypeErasedObject.cpp
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_GpuCanvas.cpp
  tests/yup_graphics/yup_GpuPipeline.cpp
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

Improved storage
  CHANGELOG.md
  modules/yup_core/containers/yup_TypeErasedObject.h
  modules/yup_graphics/rhi/yup_GpuBuffer.cpp
  modules/yup_graphics/rhi/yup_GpuBuffer.h
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
  modules/yup_graphics/rhi/yup_GpuFrame.cpp
  modules/yup_graphics/rhi/yup_GpuFrame.h
  modules/yup_graphics/rhi/yup_GpuPipeline.h
  modules/yup_graphics/rhi/yup_GpuProgram.cpp
  modules/yup_graphics/rhi/yup_GpuRenderPass.cpp
  modules/yup_graphics/rhi/yup_GpuRenderPass.h
  tests/yup_core/yup_TypeErasedObject.cpp
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

Fix windows
  modules/yup_graphics/rhi/yup_GpuRenderPass.cpp
Due: yup_graphics, YUP Graphics

Fix changelog
  CHANGELOG.md
Due: none

Forgot a size
  modules/yup_graphics/rhi/yup_GpuFrame.cpp
Due: yup_graphics, YUP Graphics

More refactors
  CHANGELOG.md
  examples/graphics/source/examples/SpinningCubeDemo.h
Due: none

More shader bundler
  CHANGELOG.md
  cmake/tools/shader_bundler/CMakeLists.txt
  cmake/tools/shader_bundler/source/main.cpp
  cmake/yup.cmake
  cmake/yup_shader_bundler.cmake
  examples/graphics/CMakeLists.txt
  examples/graphics/data/shaders/cube.frag
  examples/graphics/data/shaders/cube.vert
  examples/graphics/source/examples/SpinningCubeDemo.h
Due: none

More improvements
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.h
Due: yup_graphics, YUP Graphics

Add only selected modules to bring down compilation time and remove toolchain
  cmake/tools/shader_bundler/CMakeLists.txt
  cmake/yup_shader_bundler.cmake
Due: none

Fix issue on android (curl)
  modules/yup_core/yup_core.cpp
  modules/yup_core/yup_core.h
Due: yup_core, YUP Core

Speed up compilation
  cmake/yup_shader_bundler.cmake
Due: none

Fix issue with jobs
  cmake/yup_shader_bundler.cmake
Due: none

Damn
  cmake/yup_shader_bundler.cmake
Due: none

Fix tools
  tools/bump_version.py
  tools/print_uncovered_lines.py
  tools/rive_update.py
  tools/serve.py
Due: none

More tests
  modules/yup_graphics/graphics/yup_Graphics.h
  tests/mocks/rive_gpu.h
  tests/mocks/rive_ore.h
  tests/mocks/yup_audio_basics.h
  tests/mocks/yup_audio_devices.h
  tests/mocks/yup_audio_processors.h
  tests/mocks/yup_core.h
  tests/mocks/yup_events.h
  tests/mocks/yup_graphics.h
  tests/mocks/yup_gui.h
  tests/yup_audio_basics.cpp
  tests/yup_audio_basics/yup_BufferingAudioSource.cpp
  tests/yup_audio_basics/yup_ChannelRemappingAudioSource.cpp
  tests/yup_audio_devices.cpp
  tests/yup_audio_processors.cpp
  tests/yup_core.cpp
  tests/yup_core/yup_TypeErasedObject.cpp
  tests/yup_events.cpp
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_GpuPipeline.cpp
  tests/yup_graphics/yup_GpuPipelineMocked.cpp
  tests/yup_graphics/yup_Graphics.cpp
  tests/yup_graphics/yup_Image.cpp
  tests/yup_gui.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_Desktop.cpp
Due: yup_graphics, YUP Graphics

Fix issues
  modules/yup_graphics/rhi/yup_GpuBuffer.cpp
Due: yup_graphics, YUP Graphics

Fix issue
  tests/mocks/rive_ore.h
Due: none

More coverage
  tests/mocks/yup_graphics.h
  tests/yup_graphics/yup_GpuPipelineMocked.cpp
Due: none

Test GpuPipeline compilation from shader
  tests/yup_graphics/yup_GpuPipelineMocked.cpp
Due: none

Add inspection caps
  cmake/tools/shader_bundler/source/main.cpp
Due: none

Fix shading transpilation to GLES
  CHANGELOG.md
  cmake/tools/shader_bundler/.gitignore
  cmake/tools/shader_bundler/source/main.cpp
  justfile
  modules/yup_graphics/rhi/yup_GpuPipeline.cpp
  modules/yup_graphics/rhi/yup_GpuPipeline.h
  modules/yup_graphics/rhi/yup_GpuProgram.cpp
  modules/yup_graphics/rhi/yup_ShaderBindingMap.cpp
  modules/yup_graphics/rhi/yup_ShaderBindingMap.h
  modules/yup_shading/shading/yup_ShaderBundle.h
  modules/yup_shading/shading/yup_ShaderTranspiler.cpp
  modules/yup_shading/shading/yup_ShaderTypes.h
Due: yup_graphics, YUP Graphics

Fix WEBGL2
  CHANGELOG.md
  cmake/yup_standalone.cmake
  justfile
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
Due: none

Fix flipY on WEBGL
  cmake/tools/shader_bundler/source/main.cpp
  examples/graphics/data/shaders/cube.frag
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_graphics/rhi/yup_GpuRenderPass.cpp
  modules/yup_shading/shading/yup_ShaderBundle.h
  modules/yup_shading/shading/yup_ShaderTranspiler.cpp
Due: yup_graphics, YUP Graphics

Fix canvas and Y flip
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.h
  modules/yup_graphics/rhi/yup_GpuRenderPass.cpp
  modules/yup_graphics/rhi/yup_GpuTexture.h
Due: yup_graphics, YUP Graphics

Fix shading on WEBGL
  cmake/tools/shader_bundler/source/main.cpp
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_shading/shading/yup_ShaderBundle.cpp
  modules/yup_shading/shading/yup_ShaderBundle.h
  modules/yup_shading/shading/yup_ShaderBundle.md
  modules/yup_shading/shading/yup_ShaderBundleCompiler.cpp
Due: none

Improve testing
  cmake/yup_embed_binary.cmake
  tests/yup_shading/yup_ShaderBundle.cpp
Due: none

Fix justfile
  justfile
Due: none

Fix coverage
  .github/workflows/coverage.yml
Due: none

Shader Bundler for offline shader transpilation (#130)
  .github/workflows/coverage.yml
  CHANGELOG.md
  cmake/tools/shader_bundler/.gitignore
  cmake/tools/shader_bundler/CMakeLists.txt
  cmake/tools/shader_bundler/source/main.cpp
  cmake/yup.cmake
  cmake/yup_embed_binary.cmake
  cmake/yup_shader_bundler.cmake
  cmake/yup_standalone.cmake
  examples/graphics/CMakeLists.txt
  examples/graphics/data/shaders/cube.frag
  examples/graphics/data/shaders/cube.vert
  examples/graphics/source/examples/SpinningCubeDemo.h
  justfile
  modules/yup_core/yup_core.cpp
  modules/yup_core/yup_core.h
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.h
  modules/yup_graphics/rhi/yup_GpuPipeline.cpp
  modules/yup_graphics/rhi/yup_GpuPipeline.h
  modules/yup_graphics/rhi/yup_GpuProgram.cpp
  modules/yup_graphics/rhi/yup_GpuRenderPass.cpp
  modules/yup_graphics/rhi/yup_GpuTexture.h
  modules/yup_graphics/rhi/yup_ShaderBindingMap.cpp
  modules/yup_graphics/rhi/yup_ShaderBindingMap.h
  modules/yup_shading/shading/yup_ShaderBundle.cpp
  modules/yup_shading/shading/yup_ShaderBundle.h
  modules/yup_shading/shading/yup_ShaderBundle.md
  modules/yup_shading/shading/yup_ShaderBundleCompiler.cpp
  modules/yup_shading/shading/yup_ShaderTranspiler.cpp
  modules/yup_shading/shading/yup_ShaderTypes.h
  tests/yup_shading/yup_ShaderBundle.cpp
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

RHI Image
  docs/images/yup_rhi_cube.jpg
Due: none

Modify image styles and add SpinningCubeDemo
  README.md
Due: none

Update image sizes for demo examples in README
  README.md
Due: none

Bump changelog
  CHANGELOG.md
Due: none
