Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Cleanups for CI
  modules/yup_data_model/tree/yup_DataTree.cpp
  modules/yup_data_model/tree/yup_DataTree.h
Due: none

Updates to FFT
  modules/yup_core/maths/yup_MathsFunctions.h
  modules/yup_dsp/frequency/yup_FFTProcessor.cpp
  modules/yup_dsp/frequency/yup_FFTProcessor.h
Due: yup_core, YUP Core

Initial work on the convolution
  examples/graphics/data/ir_e112_g12_dyn_us_6v6.wav
  examples/graphics/source/examples/ConvolutionDemo.h
  examples/graphics/source/main.cpp
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/convolution/yup_PartitionedConvolver.h
  modules/yup_dsp/yup_dsp.cpp
  modules/yup_dsp/yup_dsp.h
Due: none

More work
  examples/graphics/source/examples/ConvolutionDemo.h
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/convolution/yup_PartitionedConvolver.h
Due: none

Fix typo
  modules/yup_dsp/frequency/yup_FFTProcessor.cpp
Due: none

Improved convolver
  modules/yup_audio_basics/yup_audio_basics.h
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/convolution/yup_PartitionedConvolver.h
  modules/yup_dsp/yup_dsp.cpp
Due: yup_audio_basics, YUP Audio Basics

Formatting
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/convolution/yup_PartitionedConvolver.h
Due: none

More tweaks
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
Due: none

More work on Convolution
  examples/graphics/source/examples/ConvolutionDemo.h
  modules/yup_audio_basics/yup_audio_basics.h
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/yup_dsp.cpp
Due: yup_audio_basics, YUP Audio Basics

Remove unused variable
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
Due: none

Less copying
  examples/graphics/source/examples/ConvolutionDemo.h
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
Due: none

Some tests
  tests/yup_dsp/yup_PartitionedConvolver.cpp
Due: none

Fix tests
  tests/yup_dsp/yup_PartitionedConvolver.cpp
Due: none

Include fixes
  modules/yup_audio_basics/yup_audio_basics.cpp
  modules/yup_audio_basics/yup_audio_basics.h
  modules/yup_core/system/yup_PlatformDefs.h
  modules/yup_dsp/frequency/yup_FFTProcessor.cpp
  modules/yup_dsp/yup_dsp.cpp
  modules/yup_dsp/yup_dsp.h
Due: yup_core, yup_audio_basics, YUP Core, YUP Audio Basics

Make things faster
  .github/workflows/build_android.yml
  .github/workflows/build_ios.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_wasm.yml
  .github/workflows/build_windows.yml
  .github/workflows/coverage.yml
  .github/workflows/python_linux.yml
  .github/workflows/python_macos.yml
  .github/workflows/python_windows.yml
Due: none

Missing include
  modules/yup_audio_basics/yup_audio_basics.cpp
Due: yup_audio_basics, YUP Audio Basics

Missing divide methods in float vector operations
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.h
Due: yup_audio_basics, YUP Audio Basics

More tests
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.h
  tests/yup_audio_basics/yup_FloatVectorOperations.cpp
Due: yup_audio_basics, YUP Audio Basics

More comments
  tests/yup_audio_basics/yup_FloatVectorOperations.cpp
Due: none

Restored fixed to floatconversions
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.h
Due: yup_audio_basics, YUP Audio Basics

More work on FloatVectorOperations
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.h
  tests/yup_audio_basics/yup_FloatVectorOperations.cpp
Due: yup_audio_basics, YUP Audio Basics

Code formatting
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
Due: yup_audio_basics, YUP Audio Basics

Add conversions to and from float and double
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.h
Due: yup_audio_basics, YUP Audio Basics

Unset device open
  modules/yup_audio_devices/native/yup_OpenSL_android.cpp
Due: none

More tests
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  tests/yup_audio_basics/yup_FloatVectorOperations.cpp
Due: yup_audio_basics, YUP Audio Basics

More fixes
  modules/yup_core/text/yup_String.h
  tests/yup_core/yup_String.cpp
Due: yup_core, YUP Core

Fix warning
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
Due: none

Fix SSE3 > SSE2
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
Due: none

More work
  modules/yup_data_model/tree/yup_DataTree.cpp
  modules/yup_data_model/tree/yup_DataTree.h
  tests/yup_data_model/yup_DataTree.cpp
Due: none

Simplify code
  modules/yup_data_model/tree/yup_DataTree.cpp
Due: none

Code formatting
  modules/yup_data_model/tree/yup_DataTree.cpp
Due: none

More work in the right direction
  modules/yup_data_model/tree/yup_DataTree.cpp
  modules/yup_data_model/tree/yup_DataTree.h
  tests/yup_data_model/yup_DataTree.cpp
  tests/yup_data_model/yup_DataTreeObjectList.cpp
Due: none

Fix tests
  docs/tutorials/DataTree Tutorial.md
  modules/yup_data_model/tree/yup_AtomicCachedValue.h
  modules/yup_data_model/tree/yup_CachedValue.h
  modules/yup_data_model/tree/yup_DataTree.cpp
  modules/yup_data_model/tree/yup_DataTree.h
  modules/yup_data_model/tree/yup_DataTreeSchema.cpp
  tests/yup_data_model/yup_CachedValue.cpp
  tests/yup_data_model/yup_DataTree.cpp
  tests/yup_data_model/yup_DataTreeObjectList.cpp
  tests/yup_data_model/yup_DataTreeQuery.cpp
  tests/yup_data_model/yup_DataTreeSchema.cpp
Due: none

Allow compiling on C++23
  modules/yup_core/containers/yup_FixedSizeFunction.h
  modules/yup_core/threads/yup_CriticalSection.h
Due: yup_core, YUP Core

More fixes
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
  tests/yup_audio_devices/yup_AudioDeviceManager.cpp
Due: none

More fixes
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
Due: none

Fix issues
  modules/yup_audio_basics/midi/yup_MidiFile.cpp
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
  modules/yup_events/timers/yup_Timer.cpp
  modules/yup_events/timers/yup_Timer.h
  tests/yup_audio_basics/yup_MidiFile.cpp
Due: yup_events, yup_audio_basics, YUP Events, YUP Audio Basics

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
