Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Improved resampler
  CHANGELOG.md
  docs/dsp/resampling.md
  docs/dsp/time-stretching.md
  modules/yup_dsp/resampling/yup_Resampler.h
  modules/yup_dsp/resampling/yup_SincTable.h
  modules/yup_dsp/stretching/yup_TimeStretchTimeDomainBackend.h
  tests/yup_dsp/yup_Resampler.cpp
  tests/yup_dsp/yup_SincTable.cpp
  tests/yup_dsp/yup_TimeStretchProcessor.cpp
Due: none

Improve audio correctness (#198)
  CHANGELOG.md
  docs/audio/index.md
  docs/dsp/resampling.md
  docs/dsp/time-stretching.md
  examples/graphics/source/examples/Audio.h
  examples/graphics/source/examples/AudioFile.h
  examples/graphics/source/examples/Convolution.h
  examples/graphics/source/examples/Crossover.h
  examples/graphics/source/examples/Filter.h
  examples/graphics/source/examples/GpuAudioProcessing.h
  examples/graphics/source/examples/SpectrumAnalyzer.h
  examples/graphics/source/examples/YdspSynths.h
  modules/yup_audio_basics/midi/yup_MidiKeyboardState.cpp
  modules/yup_audio_basics/mpe/yup_MPEInstrument.cpp
  modules/yup_audio_basics/mpe/yup_MPESynthesiser.cpp
  modules/yup_audio_basics/sources/yup_MemoryAudioSource.h
  modules/yup_audio_basics/synthesisers/yup_Synthesiser.cpp
  modules/yup_audio_basics/yup_audio_basics.h
  modules/yup_audio_devices/audio_io/yup_AudioDeviceManager.cpp
  modules/yup_audio_devices/native/yup_AudioWorklet_emscripten.cpp
  modules/yup_core/containers/yup_ListenerList.h
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/resampling/yup_Resampler.h
  modules/yup_dsp/resampling/yup_SincTable.h
  modules/yup_dsp/stretching/yup_TimeStretchProcessor.h
  modules/yup_dsp/stretching/yup_TimeStretchTimeDomainBackend.h
  modules/yup_events/native/yup_Messaging_emscripten.cpp
  tests/yup_audio_basics/module.cpp
  tests/yup_audio_basics/yup_MPEInstrument.cpp
  tests/yup_audio_basics/yup_MPESynthesiser.cpp
  tests/yup_audio_basics/yup_MidiKeyboardState.cpp
  tests/yup_audio_basics/yup_Synthesiser.cpp
  tests/yup_audio_devices/yup_AudioDeviceManager.cpp
  tests/yup_core/yup_ListenerList.cpp
  tests/yup_dsp/yup_Resampler.cpp
  tests/yup_dsp/yup_SincTable.cpp
  tests/yup_dsp/yup_TimeStretchProcessor.cpp
  tests/yup_events/yup_MessageManager.cpp
Due: yup_core, yup_audio_basics, yup_audio_devices, YUP Core, YUP Audio Basics, YUP Audio Devices

More simpler updates
  website/README.md
  website/src/404.html
  website/src/compare.html
  website/src/get-started.html
  website/src/index.html
  website/src/main.js
  website/src/modules.html
  website/src/partials/footer.html
  website/src/partials/header.html
  website/src/showcase.html
  website/src/style.css
Due: none

Improve index
  website/src/index.html
Due: none

Give YUP Objective-C classes per-plugin names in Apple plugins
  CHANGELOG.md
  cmake/resources/objc-symbols-patch.h.in
  cmake/yup_sdl.cmake
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.mm
Due: none

Improved docs and search
  website/src/partials/header.html
Due: none

Website redesign (#200)
  website/README.md
  website/package-lock.json
  website/package.json
  website/src/404.html
  website/src/compare.html
  website/src/get-started.html
  website/src/index.html
  website/src/main.js
  website/src/modules.html
  website/src/partials/footer.html
  website/src/partials/header.html
  website/src/showcase.html
  website/src/style.css
Due: none

Give YUP Objective-C classes per-plugin names in Apple plugins (#201)
  CHANGELOG.md
  cmake/resources/objc-symbols-patch.h.in
  cmake/yup_sdl.cmake
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.mm
Due: none

Added licenses to thirdparty we ship the code
  thirdparty/asmjit_library/LICENSE
  thirdparty/bungee_library/LICENSE
  thirdparty/glad/LICENSE
  thirdparty/glslang/LICENSE
  thirdparty/harfbuzz/LICENSE
  thirdparty/libgif/LICENSE
  thirdparty/libhydrogen/LICENSE
  thirdparty/libjpeg/LICENSE
  thirdparty/libogg/LICENSE
  thirdparty/libpng/LICENSE
  thirdparty/libtiff/LICENSE
  thirdparty/libwebp/LICENSE
  thirdparty/luau/LICENSE
  thirdparty/oboe_library/LICENSE
  thirdparty/rive/LICENSE
  thirdparty/rive_decoders/LICENSE
  thirdparty/sheenbidi_library/LICENSE
  thirdparty/sleef_library/LICENSE
  thirdparty/spirv_cross/LICENSE
  thirdparty/spirv_cross/spirv_cross.h
  thirdparty/spirv_tools/LICENSE
  thirdparty/spirv_tools/spirv_tools.h
  thirdparty/yoga_library/LICENSE
  thirdparty/yoga_library/yoga_library.h
  thirdparty/zlib/LICENSE
  thirdparty/zlib/src/README
Due: none

Never recompile licensing
  .github/workflows/build_android.yml
  .github/workflows/build_ios.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_wasm.yml
  .github/workflows/build_windows.yml
  .github/workflows/coverage.yml
  .github/workflows/python_linux.yml
  .github/workflows/python_macos.yml
  .github/workflows/python_windows.yml
Due: none

Added licenses to thirdparty we ship the code (#202)
  .github/workflows/build_android.yml
  .github/workflows/build_ios.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_wasm.yml
  .github/workflows/build_windows.yml
  .github/workflows/coverage.yml
  .github/workflows/python_linux.yml
  .github/workflows/python_macos.yml
  .github/workflows/python_windows.yml
  thirdparty/asmjit_library/LICENSE
  thirdparty/bungee_library/LICENSE
  thirdparty/glad/LICENSE
  thirdparty/glslang/LICENSE
  thirdparty/harfbuzz/LICENSE
  thirdparty/libgif/LICENSE
  thirdparty/libhydrogen/LICENSE
  thirdparty/libjpeg/LICENSE
  thirdparty/libogg/LICENSE
  thirdparty/libpng/LICENSE
  thirdparty/libtiff/LICENSE
  thirdparty/libwebp/LICENSE
  thirdparty/luau/LICENSE
  thirdparty/oboe_library/LICENSE
  thirdparty/rive/LICENSE
  thirdparty/rive_decoders/LICENSE
  thirdparty/sheenbidi_library/LICENSE
  thirdparty/sleef_library/LICENSE
  thirdparty/spirv_cross/LICENSE
  thirdparty/spirv_cross/spirv_cross.h
  thirdparty/spirv_tools/LICENSE
  thirdparty/spirv_tools/spirv_tools.h
  thirdparty/yoga_library/LICENSE
  thirdparty/yoga_library/yoga_library.h
  thirdparty/zlib/LICENSE
  thirdparty/zlib/src/README
Due: none

Fix data tree
  AGENTS.md
  CHANGELOG.md
  docs/data/datatree.md
  justfile
  modules/yup_data_model/tree/yup_DataTree.cpp
  modules/yup_data_model/tree/yup_DataTree.h
  modules/yup_python/bindings/yup_YupDataModel_bindings.cpp
  modules/yup_python/bindings/yup_YupDataModel_bindings.h
  python/tests/test_yup_data_model/test_DataTree.py
  tests/yup_data_model/yup_DataTree.cpp
Due: none

ListBox improvements
  CHANGELOG.md
  docs/ui/component-drag-and-drop.md
  docs/ui/component-styling.md
  docs/ui/index.md
  docs/ui/list-box.md
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/DragAndDrop.h
  examples/graphics/source/examples/ListBox.h
  examples/graphics/source/main.cpp
  modules/yup_audio_gui/device_manager/yup_ChannelSection.cpp
  modules/yup_audio_gui/device_manager/yup_ChannelSection.h
  modules/yup_audio_gui/device_manager/yup_MidiSection.cpp
  modules/yup_audio_gui/device_manager/yup_MidiSection.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/dragdrop/yup_DragAndDropManager.cpp
  modules/yup_gui/dragdrop/yup_DragAndDropManager.h
  modules/yup_gui/dragdrop/yup_DragAndDropSource.cpp
  modules/yup_gui/dragdrop/yup_DragAndDropSource.h
  modules/yup_gui/mouse/yup_KineticScroller.cpp
  modules/yup_gui/mouse/yup_KineticScroller.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_ListBox.cpp
  modules/yup_gui/widgets/yup_ListBox.h
  modules/yup_gui/widgets/yup_ListBoxItem.cpp
  modules/yup_gui/widgets/yup_ListBoxItem.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
  python/tests/test_yup_gui/test_ListBox.py
  tests/yup_gui/module.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_DragAndDropManager.cpp
  tests/yup_gui/yup_DragAndDropSource.cpp
  tests/yup_gui/yup_KineticScroller.cpp
  tests/yup_gui/yup_ListBox.cpp
  tests/yup_gui/yup_ListBoxItem.cpp
Due: yup_gui, YUP GUI

Removed snapping
  CHANGELOG.md
  docs/ui/index.md
  docs/ui/list-box.md
  examples/graphics/source/examples/ListBox.h
  modules/yup_gui/mouse/yup_KineticScroller.cpp
  modules/yup_gui/mouse/yup_KineticScroller.h
  modules/yup_gui/widgets/yup_ListBox.cpp
  modules/yup_gui/widgets/yup_ListBox.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  python/tests/test_yup_gui/test_ListBox.py
  tests/yup_gui/yup_ListBox.cpp
Due: yup_gui, YUP GUI

Add goatcounter
  website/vite.config.js
Due: none

Contrib and CoC
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
Due: none

More fixes
  modules/yup_gui/widgets/yup_ListBox.cpp
  modules/yup_gui/widgets/yup_ListBox.h
  tests/yup_gui/yup_ComponentEffect.cpp
  tests/yup_gui/yup_ListBox.cpp
Due: yup_gui, YUP GUI

Fix data tree (#203)
  AGENTS.md
  CHANGELOG.md
  docs/data/datatree.md
  justfile
  modules/yup_data_model/tree/yup_DataTree.cpp
  modules/yup_data_model/tree/yup_DataTree.h
  modules/yup_python/bindings/yup_YupDataModel_bindings.cpp
  modules/yup_python/bindings/yup_YupDataModel_bindings.h
  python/tests/test_yup_data_model/test_DataTree.py
  tests/yup_data_model/yup_DataTree.cpp
Due: none

Fix typo
  website/vite.config.js
Due: none

Remove outline
  docs/ui/component-styling.md
  docs/ui/list-box.md
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_ListBox.cpp
  modules/yup_gui/widgets/yup_ListBox.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  python/tests/test_yup_gui/test_ListBox.py
Due: yup_gui, YUP GUI

Tree view
  CHANGELOG.md
  docs/ui/component-styling.md
  docs/ui/index.md
  docs/ui/tree-view.md
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/TreeView.h
  examples/graphics/source/main.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_DataTreeViewItem.cpp
  modules/yup_gui/widgets/yup_DataTreeViewItem.h
  modules/yup_gui/widgets/yup_ListBox.h
  modules/yup_gui/widgets/yup_TreeView.cpp
  modules/yup_gui/widgets/yup_TreeView.h
  modules/yup_gui/widgets/yup_TreeViewItem.cpp
  modules/yup_gui/widgets/yup_TreeViewItem.h
  modules/yup_gui/widgets/yup_TreeViewRow.cpp
  modules/yup_gui/widgets/yup_TreeViewRow.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
  python/tests/test_yup_gui/test_TreeView.py
  tests/yup_gui/module.cpp
  tests/yup_gui/yup_DataTreeViewItem.cpp
  tests/yup_gui/yup_TreeView.cpp
  tests/yup_gui/yup_TreeViewItem.cpp
Due: yup_gui, YUP GUI

Improved trees
  CHANGELOG.md
  docs/ui/tree-view.md
  examples/graphics/source/examples/TreeView.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_TreeViewItem.cpp
  modules/yup_gui/widgets/yup_TreeViewItem.h
  modules/yup_gui/widgets/yup_TreeViewRow.cpp
  modules/yup_gui/widgets/yup_TreeViewRow.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
  python/tests/test_yup_gui/test_TreeView.py
  tests/yup_gui/yup_TreeView.cpp
  tests/yup_gui/yup_TreeViewItem.cpp
Due: yup_gui, YUP GUI

Tree updates
  CHANGELOG.md
  docs/ui/component-styling.md
  docs/ui/tree-view.md
  examples/graphics/source/examples/TreeView.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_TreeView.cpp
  modules/yup_gui/widgets/yup_TreeView.h
  modules/yup_gui/widgets/yup_TreeViewItem.cpp
  modules/yup_gui/widgets/yup_TreeViewItem.h
  modules/yup_gui/widgets/yup_TreeViewRow.cpp
  modules/yup_gui/widgets/yup_TreeViewRow.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
  python/tests/test_yup_gui/test_TreeView.py
  tests/yup_gui/yup_TreeView.cpp
  tests/yup_gui/yup_TreeViewItem.cpp
Due: yup_gui, YUP GUI

Hover in listbox
  CHANGELOG.md
  docs/ui/list-box.md
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_ListBox.cpp
  modules/yup_gui/widgets/yup_ListBox.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  python/tests/test_yup_gui/test_ListBox.py
  tests/yup_gui/yup_ListBox.cpp
Due: yup_gui, YUP GUI

Fix non opaque icons in tree rows
  docs/ui/tree-view.md
  examples/graphics/source/examples/TreeView.h
  modules/yup_gui/widgets/yup_TreeViewItem.h
Due: yup_gui, YUP GUI

Improved listbox (#204)
  CHANGELOG.md
  docs/ui/component-drag-and-drop.md
  docs/ui/component-styling.md
  docs/ui/index.md
  docs/ui/list-box.md
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/DragAndDrop.h
  examples/graphics/source/examples/ListBox.h
  examples/graphics/source/main.cpp
  modules/yup_audio_gui/device_manager/yup_ChannelSection.cpp
  modules/yup_audio_gui/device_manager/yup_ChannelSection.h
  modules/yup_audio_gui/device_manager/yup_MidiSection.cpp
  modules/yup_audio_gui/device_manager/yup_MidiSection.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/dragdrop/yup_DragAndDropManager.cpp
  modules/yup_gui/dragdrop/yup_DragAndDropManager.h
  modules/yup_gui/dragdrop/yup_DragAndDropSource.cpp
  modules/yup_gui/dragdrop/yup_DragAndDropSource.h
  modules/yup_gui/mouse/yup_KineticScroller.cpp
  modules/yup_gui/mouse/yup_KineticScroller.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_ListBox.cpp
  modules/yup_gui/widgets/yup_ListBox.h
  modules/yup_gui/widgets/yup_ListBoxItem.cpp
  modules/yup_gui/widgets/yup_ListBoxItem.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
  python/tests/test_yup_gui/test_ListBox.py
  tests/yup_gui/module.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_ComponentEffect.cpp
  tests/yup_gui/yup_DragAndDropManager.cpp
  tests/yup_gui/yup_DragAndDropSource.cpp
  tests/yup_gui/yup_KineticScroller.cpp
  tests/yup_gui/yup_ListBox.cpp
  tests/yup_gui/yup_ListBoxItem.cpp
Due: yup_gui, YUP GUI

Fix duplicated code
  modules/yup_gui/widgets/yup_ListBox.h
Due: yup_gui, YUP GUI

More tweaks
  modules/yup_gui/widgets/yup_ListBox.h
Due: yup_gui, YUP GUI

Enable WebGPU on web by default
  CHANGELOG.md
  cmake/yup_standalone.cmake
  docs/build-system/cmake-api.md
  docs/graphics/rhi/pipelines.md
  modules/yup_shading/wgsl/yup_WgslEmitter.cpp
  modules/yup_shading/wgsl/yup_WgslLowering.cpp
  modules/yup_shading/wgsl/yup_WgslTypeLegalizer.cpp
  modules/yup_shading/wgsl/yup_WgslTypeLegalizer.h
  modules/yup_shading/yup_shading.cpp
  modules/yup_shading/yup_shading.h
  tests/yup_shading/yup_WgslTranspiler.cpp
  thirdparty/rive/rive.h
Due: none

Fixed drag and drop
  CHANGELOG.md
  docs/ui/component-drag-and-drop.md
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/desktop/yup_Desktop.cpp
  modules/yup_gui/dragdrop/yup_DragAndDropManager.cpp
  modules/yup_gui/dragdrop/yup_DragAndDropSource.cpp
  modules/yup_gui/dragdrop/yup_DragAndDropSource.h
  modules/yup_gui/dragdrop/yup_DragImageComponent.cpp
  modules/yup_gui/dragdrop/yup_DragImageComponent.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_DragAndDropManager.cpp
  tests/yup_gui/yup_DragImageComponent.cpp
Due: yup_gui, YUP GUI

Enable vsync by default in graphics demo
  examples/graphics/source/examples/SpinningCube.h
  examples/graphics/source/main.cpp
Due: none

Fix clipboard
  CHANGELOG.md
  modules/yup_gui/clipboard/yup_SystemClipboard.cpp
  modules/yup_gui/clipboard/yup_SystemClipboard.h
  modules/yup_gui/native/yup_Initialisation_sdl.cpp
  modules/yup_gui/native/yup_SystemClipboard_emscripten.cpp
  modules/yup_gui/yup_gui.cpp
Due: yup_gui, YUP GUI

More wrk on emscripten
  CHANGELOG.md
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

Allow shaders to be cooked in folders
  CHANGELOG.md
  cmake/yup_shader_bundler.cmake
  docs/graphics/rhi/offline-shaders.md
  examples/graphics/CMakeLists.txt
  justfile
Due: none

More work on Tabbing
  CHANGELOG.md
  docs/ui/component-styling.md
  docs/ui/index.md
  docs/ui/tabs.md
  docs/ui/tree-view.md
  examples/graphics/source/examples/AI.h
  examples/graphics/source/examples/Themes.h
  examples/graphics/source/examples/TreeView.h
  examples/graphics/source/examples/Widgets.h
  modules/yup_graphics/fonts/yup_Font.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_ListBox.cpp
  modules/yup_gui/widgets/yup_TabBar.cpp
  modules/yup_gui/widgets/yup_TabBar.h
  modules/yup_gui/widgets/yup_TabButton.cpp
  modules/yup_gui/widgets/yup_TabButton.h
  modules/yup_gui/widgets/yup_TabComponent.cpp
  modules/yup_gui/widgets/yup_TabComponent.h
  modules/yup_gui/widgets/yup_TreeView.cpp
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  python/tests/test_yup_gui/test_TabBar.py
  tests/yup_graphics/yup_Font.cpp
  tests/yup_gui/module.cpp
  tests/yup_gui/yup_ListBox.cpp
  tests/yup_gui/yup_TabBar.cpp
  tests/yup_gui/yup_TabButton.cpp
  tests/yup_gui/yup_TabComponent.cpp
  tests/yup_gui/yup_ThemeVersion1.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

More work
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
Due: yup_gui, YUP GUI

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
