Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Fix d3d
  thirdparty/rive/source/renderer/generated/shaders/d3d/color_ramp.vert.h
  thirdparty/rive/source/renderer/generated/shaders/d3d/render_atlas.vert.h
  thirdparty/rive/source/renderer/generated/shaders/d3d/render_atlas_fill.frag.h
  thirdparty/rive/source/renderer/generated/shaders/d3d/render_atlas_stroke.frag.h
  thirdparty/rive/source/renderer/generated/shaders/d3d/root.sig.h
  thirdparty/rive/source/renderer/generated/shaders/d3d/tessellate.frag.h
  thirdparty/rive/source/renderer/generated/shaders/d3d/tessellate.vert.h
Due: none

Fix hlsl from being compiled on windows
  CHANGELOG.md
  cmake/yup_modules.cmake
  docs/build-system/module-format.md
  thirdparty/rive/rive.h
Due: none

Try to fix bigger gpu frame
  modules/yup_rhi/rhi/yup_GpuFrame.h
Due: none

Fix issue
  thirdparty/yoga_library/upstream/yoga/Yoga.h
  tools/rive_update_manifest.json
Due: none

Input integration
  CHANGELOG.md
  docs/ui/artboard.md
  modules/yup_gui/artboard/yup_Artboard.cpp
  modules/yup_gui/artboard/yup_Artboard.h
  tests/data/rive/artboard-input.riv
  tests/data/rive/artboard-input/.gitignore
  tests/data/rive/artboard-input/build/.gitkeep
  tests/data/rive/artboard-input/rive.yaml
  tests/data/rive/artboard-input/scene.rml
  tests/yup_gui/yup_Artboard.cpp
  thirdparty/rive/rive.h
Due: yup_gui, YUP GUI

Input work
  docs/ui/artboard.md
  examples/graphics/source/examples/Artboard.h
  tests/data/rive/artboard-input.riv
  tests/data/rive/artboard-input/scene.rml
  tests/yup_gui/yup_Artboard.cpp
Due: none

Integrate viewbinding for images and fonts
  CHANGELOG.md
  docs/ui/artboard.md
  examples/graphics/source/examples/Artboard.h
  modules/yup_graphics/imaging/yup_Image.cpp
  modules/yup_graphics/imaging/yup_Image.h
  modules/yup_gui/artboard/yup_Artboard.cpp
  modules/yup_gui/artboard/yup_Artboard.h
  modules/yup_gui/artboard/yup_ArtboardFile.cpp
  modules/yup_gui/artboard/yup_ArtboardFile.h
  modules/yup_gui/artboard/yup_ArtboardViewModelInstance.cpp
  modules/yup_gui/artboard/yup_ArtboardViewModelInstance.h
  modules/yup_gui/yup_gui.cpp
  tests/data/rive/viewmodel-globals.riv
  tests/data/rive/viewmodel-globals/.gitignore
  tests/data/rive/viewmodel-globals/build/.gitkeep
  tests/data/rive/viewmodel-globals/rive.yaml
  tests/data/rive/viewmodel-globals/scene.rml
  tests/yup_gui/yup_Artboard.cpp
  tests/yup_gui/yup_ArtboardFile.cpp
  tests/yup_gui/yup_ArtboardViewModelInstance.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

More graphics support
  CHANGELOG.md
  docs/graphics/drawing.md
  docs/graphics/graphics-class.md
  examples/graphics/source/examples/Paths.h
  examples/graphics/source/examples/paths/PathCanvas.h
  examples/graphics/source/examples/paths/PathDocument.h
  examples/graphics/source/examples/paths/PathInspector.h
  examples/graphics/source/examples/paths/PathSvgExport.h
  modules/yup_graphics/graphics/yup_Color.cpp
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/graphics/yup_ImageSampling.h
  modules/yup_graphics/graphics/yup_LayerMaskMode.h
  modules/yup_graphics/graphics/yup_StrokePosition.h
  modules/yup_graphics/graphics/yup_StrokeType.h
  modules/yup_graphics/svg/yup_SVGParser.cpp
  modules/yup_graphics/yup_graphics.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  python/tests/test_yup_graphics/test_PaintFeatures.py
  tests/yup_graphics/yup_Color.cpp
  tests/yup_graphics/yup_Graphics.cpp
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
  tests/yup_graphics/yup_SVGParser.cpp
  tests/yup_graphics/yup_StrokeType.cpp
Due: yup_graphics, YUP Graphics

Image mesh support
  CHANGELOG.md
  docs/graphics/graphics-class.md
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/ImageMesh.h
  examples/graphics/source/main.cpp
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/graphics/yup_ImageMesh.cpp
  modules/yup_graphics/graphics/yup_ImageMesh.h
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  python/tests/test_yup_graphics/test_PaintFeatures.py
  tests/yup_graphics/yup_Graphics.cpp
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
  tests/yup_graphics/yup_ImageMesh.cpp
Due: yup_graphics, YUP Graphics

Fix artboards with scripting and multithreading
  CHANGELOG.md
  docs/ui/artboard.md
  modules/yup_graphics/context/yup_GraphicsContext.cpp
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_graphics/native/yup_GraphicsContext_webgpu.cpp
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_gui/artboard/yup_Artboard.cpp
  modules/yup_gui/artboard/yup_Artboard.h
  modules/yup_gui/artboard/yup_ArtboardFile.cpp
  modules/yup_gui/artboard/yup_ArtboardFile.h
  modules/yup_gui/artboard/yup_ArtboardViewModelInstance.cpp
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  modules/yup_rhi/native/yup_GpuDevice_metal.cpp
  tests/yup_graphics/yup_GraphicsContext.cpp
  tests/yup_gui/yup_ArtboardFile.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Fix artboard
  modules/yup_gui/artboard/yup_ArtboardFile.cpp
  tests/yup_graphics/module.cpp
Due: yup_gui, YUP GUI

More work on artboards with lua code and dynamic shaders
  CHANGELOG.md
  cmake/platforms/emscripten/shell.html
  docs/graphics/rhi/concepts.md
  docs/graphics/rhi/targets.md
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupRhi_bindings.cpp
  modules/yup_rhi/context/yup_GpuDevice.h
  modules/yup_rhi/native/yup_GpuDevice_webgpu.cpp
  modules/yup_rhi/rhi/yup_GpuTypes.cpp
  modules/yup_rhi/rhi/yup_GpuTypes.h
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
  tests/yup_graphics/yup_StyledText.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_ComponentNative.cpp
  tests/yup_rhi/yup_GpuFrameDescriptor.cpp
Due: yup_gui, YUP GUI

Emojis support
  CHANGELOG.md
  docs/graphics/fonts.md
  examples/graphics/CMakeLists.txt
  examples/graphics/data/animation.gif
  examples/graphics/data/fonts/Twemoji.ttf
  examples/graphics/data/fonts/Wavefont.ttf
  examples/graphics/source/examples/Emoji.h
  examples/graphics/source/examples/Svg.h
  examples/graphics/source/main.cpp
  justfile
  modules/yup_graphics/fonts/yup_Font.cpp
  modules/yup_graphics/fonts/yup_Font.h
  modules/yup_graphics/fonts/yup_StyledText.cpp
  modules/yup_graphics/fonts/yup_StyledText.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/yup_graphics.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  tests/data/fonts/YupColrTest.ttf
  tests/yup_graphics/yup_Font.cpp
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
  tests/yup_graphics/yup_StyledText.cpp
  thirdparty/rive/source/text/font_hb.cpp
  tools/rive_update_manifest.json
  tools/sample_process.py
Due: yup_graphics, YUP Graphics

Cache glyphs
  CHANGELOG.md
  docs/graphics/fonts.md
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/Emoji.h
  examples/graphics/source/examples/LayoutFonts.h
  examples/graphics/source/main.cpp
  modules/yup_graphics/fonts/yup_Font.cpp
  modules/yup_graphics/fonts/yup_Font.h
  modules/yup_graphics/fonts/yup_StyledText.cpp
  modules/yup_graphics/fonts/yup_StyledText.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  tests/data/fonts/YupColrTest.ttf
  tests/yup_graphics/yup_Font.cpp
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
  tests/yup_graphics/yup_StyledText.cpp
Due: yup_graphics, YUP Graphics

Fix stuff on android
  CHANGELOG.md
  docs/graphics/rhi/compute-shaders.md
  examples/graphics/source/examples/GpuAudioProcessing.h
  modules/yup_core/native/yup_JNIHelpers_android.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_rhi/context/yup_GpuDevice.h
  modules/yup_rhi/native/yup_GpuDevice_opengl.cpp
  modules/yup_rhi/native/yup_GpuDevice_vulkan.cpp
  tests/yup_gui/yup_ComponentNative.cpp
  tests/yup_rhi/yup_GpuDevice.cpp
Due: none

Fix vulkan library
  modules/yup_rhi/native/yup_GpuDevice_vulkan.cpp
Due: none

More fixes to compute passes, also on metal and d3d
  CHANGELOG.md
  docs/graphics/index.md
  docs/graphics/rhi/compute-shaders.md
  docs/graphics/rhi/index.md
  modules/yup_graphics/native/update_shader.sh
  modules/yup_graphics/native/yup_GraphicsContext_vulkan.cpp
  modules/yup_graphics/native/yup_PresentShader_vulkan.frag
  modules/yup_graphics/native/yup_PresentShader_vulkan.vert
  modules/yup_graphics/native/yup_PresentShader_vulkan_frag.h
  modules/yup_graphics/native/yup_PresentShader_vulkan_vert.h
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_python/bindings/yup_YupRhi_bindings.cpp
  modules/yup_rhi/context/yup_GpuDevice.h
  modules/yup_rhi/native/yup_GpuComputePass_metal.cpp
  modules/yup_rhi/native/yup_GpuComputePass_vulkan.cpp
  modules/yup_rhi/native/yup_GpuComputePipeline_vulkan.cpp
  modules/yup_rhi/native/yup_GpuDevice_vulkan.cpp
  modules/yup_rhi/native/yup_VulkanDevice.cpp
  modules/yup_rhi/native/yup_VulkanDevice.h
  modules/yup_rhi/rhi/yup_GpuBuffer.cpp
  modules/yup_rhi/rhi/yup_GpuComputePass.cpp
  modules/yup_rhi/rhi/yup_GpuComputePass.h
  modules/yup_rhi/rhi/yup_GpuFrame.cpp
  modules/yup_rhi/rhi/yup_GpuFrame.h
  modules/yup_rhi/rhi/yup_GpuRenderPass.cpp
  tests/yup_gui/yup_ComponentNative.cpp
  tests/yup_rhi/yup_GpuComputePass.cpp
  tests/yup_rhi/yup_GpuDevice.cpp
  tests/yup_rhi/yup_GpuPipelineMocked.cpp
  thirdparty/rive/include/rive/renderer/ore/ore_context_metal.hpp
  tools/rive_update_manifest.json
Due: yup_graphics, YUP Graphics

Add yup_3d to coverage
  codecov.yml
Due: none

Fixed website
  README.md
  website/src/compare.html
  website/src/index.html
Due: none

Fix performance issue
  examples/graphics/source/examples/audio/SynthPanels.h
Due: none

Fix performance issue (#219)
  examples/graphics/source/examples/audio/SynthPanels.h
Due: none

Test a change in the 3d module
  modules/yup_3d/yup_3d.h
Due: none

Improved smart ci
  .github/actions/smart_ci/action.yml
  .github/smart_ci_config.json
  .github/tools/smart_ci.py
  .github/workflows/build_android.yml
  .github/workflows/build_ios.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_macos_smart.yml
  .github/workflows/build_wasm.yml
  .github/workflows/build_windows.yml
  CHANGELOG.md
  thirdparty/glslang/glslang.h
Due: none

Fix issue on ios
  modules/yup_audio_devices/native/yup_Audio_ios.cpp
Due: none

Improved smart ci
  .github/tools/smart_ci.py
  modules/yup_3d/yup_3d.h
Due: none

Updated CI workflow
  .github/actions/smart_ci/action.yml
  .github/smart_ci_config.json
  .github/tools/smart_ci.py
  .github/workflows/build_android.yml
  .github/workflows/build_ios.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_wasm.yml
  .github/workflows/build_windows.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: none

Fix issue
  .github/workflows/build_android.yml
  .github/workflows/build_ios.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_wasm.yml
  .github/workflows/build_windows.yml
Due: none

Fix stuff
  .github/actions/smart_ci/action.yml
  .github/workflows/build_android.yml
  .github/workflows/ci.yml
Due: none

Smart CI (#216)
  .github/actions/smart_ci/action.yml
  .github/smart_ci_config.json
  .github/tools/smart_ci.py
  .github/workflows/build_android.yml
  .github/workflows/build_ios.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_wasm.yml
  .github/workflows/build_windows.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  cmake/yup_modules.cmake
  docs/build-system/cmake-api.md
  docs/build-system/module-format.md
  modules/yup_audio_devices/native/yup_Audio_ios.cpp
  modules/yup_rhi/yup_rhi.h
  modules/yup_simd/yup_simd.h
  tests/CMakeLists.txt
  thirdparty/glslang/glslang.h
Due: none

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
