Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

Try to make linux watchdog working
  modules/yup_core/native/yup_Watchdog_linux.h
Due: none

Fix linux
  modules/yup_core/native/yup_Watchdog_linux.h
Due: none

Use fcntl
  modules/yup_core/native/yup_Watchdog_linux.h
Due: none

Fix linux again
  modules/yup_core/native/yup_Watchdog_linux.h
  tests/yup_core/yup_Watchdog.cpp
Due: none

Improve CI (#81)
  .github/workflows/build_android.yml
  .github/workflows/build_ios.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_wasm.yml
  .github/workflows/build_windows.yml
  .github/workflows/coverage.yml
  cmake/platforms/yup_android.cmake
  cmake/platforms/yup_emscripten.cmake
  cmake/platforms/yup_ios.cmake
  cmake/platforms/yup_linux.cmake
  cmake/platforms/yup_mac.cmake
  cmake/platforms/yup_uwp.cmake
  cmake/platforms/yup_windows.cmake
  cmake/yup.cmake
  cmake/yup_modules.cmake
  cmake/yup_platforms.cmake
  cmake/yup_standalone.cmake
  modules/yup_core/native/yup_Files_linux.cpp
  modules/yup_core/native/yup_Files_wasm.cpp
  modules/yup_core/native/yup_Watchdog_linux.h
  modules/yup_core/native/yup_Watchdog_windows.h
  modules/yup_core/native/yup_WebAssemblyHelpers_wasm.h
  modules/yup_core/yup_core.cpp
  modules/yup_graphics/graphics/yup_Color.cpp
  tests/yup_audio_basics/yup_Decibels.cpp
  tests/yup_audio_basics/yup_FloatVectorOperations.cpp
  tests/yup_audio_devices/yup_AudioDeviceManager.cpp
  tests/yup_core/yup_ChildProcess.cpp
  tests/yup_core/yup_DynamicLibrary.cpp
  tests/yup_core/yup_File.cpp
  tests/yup_core/yup_InterProcessLock.cpp
  tests/yup_core/yup_MemoryMappedFile.cpp
  tests/yup_core/yup_Process.cpp
  tests/yup_core/yup_SystemStats.cpp
  tests/yup_core/yup_Thread.cpp
  tests/yup_core/yup_Time.cpp
  tests/yup_core/yup_URL.cpp
  tests/yup_core/yup_Watchdog.cpp
  tests/yup_graphics/yup_Color.cpp
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

More fixes
  cmake/yup_generate_java_header.cmake
  cmake/yup_python.cmake
  tests/yup_core/yup_File.cpp
  tests/yup_core/yup_Process.cpp
  tests/yup_data_model/yup_DataTree.cpp
Due: none

Fix DataTrees
  modules/yup_data_model/tree/yup_DataTree.cpp
  modules/yup_data_model/tree/yup_DataTree.h
  tests/yup_data_model/yup_DataTree.cpp
Due: none

Restore test
  tests/yup_data_model/yup_DataTree.cpp
Due: none

Added data model python bindings
  modules/yup_python/bindings/yup_YupDataModel_bindings.cpp
  modules/yup_python/bindings/yup_YupDataModel_bindings.h
  modules/yup_python/modules/yup_YupMain_module.cpp
  modules/yup_python/yup_python_data_model.cpp
  python/tests/test_yup_data_model/__init__.py
  python/tests/test_yup_data_model/test_DataTree.py
  python/tests/test_yup_data_model/test_Integration.py
  python/tests/test_yup_data_model/test_UndoManager.py
Due: none

Get rid of seanmiddleditch/gha-setup-ninja
  .github/workflows/build_android.yml
  .github/workflows/build_ios.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_wasm.yml
  .github/workflows/coverage.yml
Due: none

More testing
  modules/yup_python/bindings/yup_YupDataModel_bindings.cpp
  python/tests/test_yup_data_model/test_DataTree.py
  python/tests/test_yup_data_model/test_Integration.py
  python/tests/test_yup_data_model/test_UndoManager.py
Due: none

Publish more bindings
  modules/yup_python/bindings/yup_YupAudioBasics_bindings.cpp
  modules/yup_python/bindings/yup_YupAudioBasics_bindings.h
  modules/yup_python/modules/yup_YupMain_module.cpp
  modules/yup_python/yup_python_audio_basics.cpp
  python/tests/test_yup_audio_basics/__init__.py
  python/tests/test_yup_audio_basics/test_ADSR.py
  python/tests/test_yup_audio_basics/test_AudioBuffer.py
  python/tests/test_yup_audio_basics/test_AudioChannelSet.py
  python/tests/test_yup_audio_basics/test_AudioPlayHead.py
  python/tests/test_yup_audio_basics/test_Decibels.py
  python/tests/test_yup_audio_basics/test_IIRFilter.py
  python/tests/test_yup_audio_basics/test_Reverb.py
  python/tests/test_yup_audio_basics/test_SmoothedValue.py
Due: none

Fixing stuff
  modules/yup_python/bindings/yup_YupCore_bindings.cpp
  modules/yup_python/bindings/yup_YupDataModel_bindings.cpp
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  python/tests/test_yup_data_model/test_UndoManager.py
Due: none

More audio bindings tests
  modules/yup_audio_basics/synthesisers/yup_Synthesiser.cpp
  modules/yup_audio_basics/synthesisers/yup_Synthesiser.h
  modules/yup_python/bindings/yup_YupAudioBasics_bindings.cpp
  modules/yup_python/bindings/yup_YupAudioBasics_bindings.h
  python/tests/test_yup_audio_basics/test_AudioSource.py
  python/tests/test_yup_audio_basics/test_MidiBuffer.py
  python/tests/test_yup_audio_basics/test_Synthesiser.py
  tests/yup_audio_basics/yup_Synthesiser.cpp
Due: yup_audio_basics, YUP Audio Basics

Fix gradients in svg
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
Due: yup_graphics, YUP Graphics

Remove
  modules/yup_graphics/drawables/yup_Drawable.cpp
Due: yup_graphics, YUP Graphics

More tests
  modules/yup_graphics/primitives/yup_AffineTransform.h
  tests/yup_graphics/yup_AffineTransform.cpp
Due: yup_graphics, YUP Graphics

More svgs
  examples/graphics/data/svg/atom.svg
  examples/graphics/data/svg/basura.svg
  examples/graphics/data/svg/beacon.svg
  examples/graphics/data/svg/betterplace.svg
  examples/graphics/data/svg/bozo.svg
  examples/graphics/data/svg/bzr.svg
  examples/graphics/data/svg/bzrfeed.svg
  examples/graphics/data/svg/ca.svg
  examples/graphics/data/svg/car.svg
  examples/graphics/data/svg/cartman.svg
  examples/graphics/data/svg/caution.svg
  examples/graphics/data/svg/cc.svg
  examples/graphics/data/svg/ch.svg
  examples/graphics/data/svg/circles1.svg
  examples/graphics/data/svg/clippath.svg
  examples/graphics/data/svg/feed.svg
  examples/graphics/data/svg/gallardo.svg
  examples/graphics/data/svg/ie-lock.svg
Due: none

Fix issue
  tests/yup_graphics/yup_AffineTransform.cpp
Due: none

Fix SVG transformations
  modules/yup_graphics/drawables/yup_Drawable.cpp
Due: yup_graphics, YUP Graphics

More fixes
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/graphics/yup_Color.cpp
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
Due: yup_graphics, YUP Graphics

Add tests
  tests/yup_graphics/yup_Color.cpp
  tests/yup_graphics/yup_Path.cpp
Due: none

More svgs to test
  examples/graphics/data/svg/ielock.svg
  examples/graphics/data/svg/ietf.svg
  examples/graphics/data/svg/intertwingly.svg
  examples/graphics/data/svg/lineargradient1.svg
  examples/graphics/data/svg/lineargradient2.svg
  examples/graphics/data/svg/lineargradient3.svg
  examples/graphics/data/svg/lineargradient4.svg
  examples/graphics/data/svg/mozilla.svg
  examples/graphics/data/svg/ny1.svg
  examples/graphics/data/svg/php.svg
  examples/graphics/data/svg/preserveAspectRatio.svg
  examples/graphics/data/svg/python.svg
  examples/graphics/data/svg/radialgradient1.svg
  examples/graphics/data/svg/radialgradient2.svg
  examples/graphics/data/svg/rg1024_eggs.svg
  examples/graphics/data/svg/rg1024_green_grapes.svg
  examples/graphics/data/svg/rg1024_metal_effect.svg
  examples/graphics/data/svg/scimitar.svg
  examples/graphics/data/svg/tommek_Car.svg
Due: none

Update readme
  README.md
  docs/images/yup_svg_lambo.png
  docs/images/yup_svg_tiger.png
  docs/images/yup_svg_yellow_car.png
Due: none

Remove comment
  modules/yup_graphics/drawables/yup_Drawable.cpp
Due: yup_graphics, YUP Graphics

Adjust image widths in README examples
  README.md
Due: none

More work on midi 2
  modules/yup_audio_devices/midi_io/yup_MidiDevices.h
  modules/yup_audio_devices/native/yup_Bela_linux.cpp
  modules/yup_audio_devices/native/yup_CoreMidi_apple.mm
  modules/yup_audio_devices/native/yup_Midi_linux.cpp
  modules/yup_audio_devices/native/yup_Midi_wasm.cpp
Due: yup_audio_devices, YUP Audio Devices

More midi 2.0 work
  modules/yup_audio_basics/midi/ump/yup_UMP.h
  modules/yup_audio_basics/midi/ump/yup_UMPCapabilityInquiry.h
  modules/yup_audio_basics/midi/ump/yup_UMPChannelVoice.h
  modules/yup_audio_basics/midi/ump/yup_UMPDataMessages.h
  modules/yup_audio_basics/midi/ump/yup_UMPExtendedDataMessages.h
  modules/yup_audio_basics/midi/ump/yup_UMPFlexDataMessages.h
  modules/yup_audio_basics/midi/ump/yup_UMPJitterReductionTimestamps.cpp
  modules/yup_audio_basics/midi/ump/yup_UMPJitterReductionTimestamps.h
  modules/yup_audio_basics/midi/ump/yup_UMPManufacturer.h
  modules/yup_audio_basics/midi/ump/yup_UMPMessages.h
  modules/yup_audio_basics/midi/ump/yup_UMPMidi1ByteStream.cpp
  modules/yup_audio_basics/midi/ump/yup_UMPMidi1ByteStream.h
  modules/yup_audio_basics/midi/ump/yup_UMPStreamMessages.h
  modules/yup_audio_basics/midi/ump/yup_UMPSysEx.h
  modules/yup_audio_basics/midi/ump/yup_UMPSysEx7.cpp
  modules/yup_audio_basics/midi/ump/yup_UMPSysEx7.h
  modules/yup_audio_basics/midi/ump/yup_UMPSysExCollectors.h
  modules/yup_audio_basics/midi/ump/yup_UMPTypes.h
  modules/yup_audio_basics/midi/ump/yup_UMPUniversalPacket.h
  modules/yup_audio_basics/midi/ump/yup_UMPUniversalSysEx.h
  modules/yup_audio_basics/yup_audio_basics.cpp
Due: yup_audio_basics, YUP Audio Basics

Fixes to allow compiling
  modules/yup_audio_basics/midi/ump/yup_UMP.h
  modules/yup_audio_basics/midi/ump/yup_UMPCapabilityInquiry.h
  modules/yup_audio_basics/midi/ump/yup_UMPMidi1ByteStream.cpp
  modules/yup_audio_basics/midi/ump/yup_UMPUniversalSysEx.h
  modules/yup_audio_basics/yup_audio_basics.cpp
Due: yup_audio_basics, YUP Audio Basics

More tests fixes
  modules/yup_audio_basics/midi/ump/yup_UMPChannelVoice.h
  modules/yup_audio_basics/midi/ump/yup_UMPDataMessages.h
  modules/yup_audio_basics/midi/ump/yup_UMPExtendedDataMessages.h
  modules/yup_audio_basics/midi/ump/yup_UMPFlexDataMessages.h
  modules/yup_audio_basics/midi/ump/yup_UMPMessages.h
  modules/yup_audio_basics/midi/ump/yup_UMPMidi1ByteStream.cpp
  modules/yup_audio_basics/midi/ump/yup_UMPMidi1ByteStream.h
  modules/yup_audio_basics/midi/ump/yup_UMPStreamMessages.h
  modules/yup_audio_basics/midi/ump/yup_UMPSysExCollectors.h
  modules/yup_audio_basics/midi/ump/yup_UMPUniversalPacket.h
Due: yup_audio_basics, YUP Audio Basics

More midi2 work
  modules/yup_audio_basics/midi/ump/yup_UMPUniversalPacket.h
  tests/yup_audio_basics/yup_UMPCapabilityInquiry.cpp
  tests/yup_audio_basics/yup_UMPChannelVoice.cpp
  tests/yup_audio_basics/yup_UMPDataMessages.cpp
  tests/yup_audio_basics/yup_UMPExtendedDataMessages.cpp
  tests/yup_audio_basics/yup_UMPFlexDataMessages.cpp
  tests/yup_audio_basics/yup_UMPJitterReductionTimestamps.cpp
  tests/yup_audio_basics/yup_UMPMessages.cpp
  tests/yup_audio_basics/yup_UMPMidi1ByteStream.cpp
  tests/yup_audio_basics/yup_UMPMidi1ChannelVoiceMessage.cpp
  tests/yup_audio_basics/yup_UMPMidi2ChannelVoiceMessage.cpp
  tests/yup_audio_basics/yup_UMPStreamMessages.cpp
  tests/yup_audio_basics/yup_UMPSysExCollectors.cpp
  tests/yup_audio_basics/yup_UMPTypes.cpp
  tests/yup_audio_basics/yup_UMPUniversalPacket.cpp
  tests/yup_audio_basics/yup_UMPUniversalSysEx.cpp
Due: yup_audio_basics, YUP Audio Basics

Fix tests
  modules/yup_audio_basics/midi/ump/yup_UMPMidi1ToBytestreamTranslator.h
  modules/yup_audio_basics/yup_audio_basics.h
  tests/yup_audio_basics/yup_UMPChannelVoice.cpp
Due: yup_audio_basics, YUP Audio Basics

Fix tests
  modules/yup_audio_basics/midi/ump/yup_UMP.h
  modules/yup_audio_basics/midi/ump/yup_UMPMidi1ToBytestreamTranslator.h
  modules/yup_audio_basics/yup_audio_basics.h
Due: yup_audio_basics, YUP Audio Basics

Fix tests
  modules/yup_audio_basics/midi/ump/yup_UMPTypes.h
Due: yup_audio_basics, YUP Audio Basics

More missing tests
  tests/yup_audio_basics/yup_UMPJitterReductionTimestamps.cpp
  tests/yup_audio_basics/yup_UMPKeyboardState.cpp
  tests/yup_audio_basics/yup_UMPPacketBuffer.cpp
  tests/yup_audio_devices/yup_UMPPacketCollector.cpp
Due: none

More tests for UMP
  tests/yup_audio_basics/yup_UMPChannelVoice.cpp
  tests/yup_audio_basics/yup_UMPJitterReductionTimestamps.cpp
  tests/yup_audio_basics/yup_UMPKeyboardState.cpp
  tests/yup_audio_basics/yup_UMPMidi1ByteStream.cpp
  tests/yup_audio_basics/yup_UMPPacketBuffer.cpp
  tests/yup_audio_devices/yup_UMPPacketCollector.cpp
Due: none
