Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Make pending stop an atomic
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
Due: none

Move code and reduce size
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
  modules/yup_core/native/yup_CFHelpers_apple.h
Due: none

Fix deprecated usage
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
Due: none

Fix issues
  tests/yup_audio_gui/yup_AudioDeviceManagerPanel.cpp
Due: none

Fix AudioDeviceManager destructor: clear enabledMidiInputs before lock is destroyed (#115)
  modules/yup_audio_devices/audio_io/yup_AudioDeviceManager.cpp
Due: yup_audio_devices, YUP Audio Devices

Fix combobox popup menu (#114)
  modules/yup_gui/widgets/yup_ComboBox.cpp
  modules/yup_gui/widgets/yup_ComboBox.h
  modules/yup_gui/widgets/yup_Label.cpp
  tests/yup_gui/yup_ComboBox.cpp
Due: yup_gui, YUP GUI

Fix documentation
  docs/tutorials/DataTree Tutorial.md
Due: none

Fix include
  modules/yup_dsp/yup_dsp.cpp
Due: none

Fix resampler
  modules/yup_dsp/resampling/yup_Resampler.h
Due: none

Onset detector class
  .gitignore
  examples/graphics/source/examples/AudioFileDemo.h
  modules/yup_dsp/onsets/yup_FilterBank.cpp
  modules/yup_dsp/onsets/yup_FilterBank.h
  modules/yup_dsp/onsets/yup_OnsetDetectionFunction.cpp
  modules/yup_dsp/onsets/yup_OnsetDetectionFunction.h
  modules/yup_dsp/onsets/yup_OnsetDetector.cpp
  modules/yup_dsp/onsets/yup_OnsetDetector.h
  modules/yup_dsp/onsets/yup_OnsetPeakPicker.cpp
  modules/yup_dsp/onsets/yup_OnsetPeakPicker.h
  modules/yup_dsp/onsets/yup_Spectrogram.cpp
  modules/yup_dsp/onsets/yup_Spectrogram.h
  modules/yup_dsp/yup_dsp.cpp
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp.cpp
  tests/yup_dsp/yup_OnsetDetector.cpp
Due: none

More restructure
  modules/yup_dsp/onsets/yup_ComplexFluxODF.cpp
  modules/yup_dsp/onsets/yup_ComplexFluxODF.h
  modules/yup_dsp/onsets/yup_OnsetDetectionFunction.h
  modules/yup_dsp/onsets/yup_SuperFluxODF.cpp
  modules/yup_dsp/onsets/yup_SuperFluxODF.h
  modules/yup_dsp/yup_dsp.cpp
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp/yup_OnsetDetector.cpp
Due: none

More test fixes
  modules/yup_dsp/onsets/yup_ComplexFluxODF.cpp
  modules/yup_dsp/onsets/yup_ComplexFluxODF.h
  modules/yup_dsp/onsets/yup_OnsetDetectionFunction.h
  modules/yup_dsp/onsets/yup_OnsetDetector.cpp
  modules/yup_dsp/onsets/yup_OnsetPeakPicker.cpp
  modules/yup_dsp/onsets/yup_SuperFluxODF.cpp
  modules/yup_dsp/onsets/yup_SuperFluxODF.h
  tests/yup_dsp/yup_OnsetDetector.cpp
Due: none

Remove cacheprovider from tests
  tests/yup_python/yup_ScriptPython.cpp
Due: none

Fix error
  tests/yup_dsp/yup_OnsetDetector.cpp
Due: none

More errors
  examples/graphics/source/examples/AudioFileDemo.h
Due: none

More fixes
  tests/yup_dsp/yup_OnsetDetector.cpp
Due: none

Fix tests
  tests/yup_dsp/yup_OnsetDetector.cpp
Due: none

Fix issue
  tests/yup_dsp/yup_OnsetDetector.cpp
Due: none

Fix scrollbars
  examples/graphics/source/examples/ScrollBarDemo.h
Due: none

Improved onset peak picker
  modules/yup_dsp/onsets/yup_OnsetPeakPicker.cpp
  modules/yup_dsp/onsets/yup_OnsetPeakPicker.h
  modules/yup_gui/yup_gui.h
  tests/yup_dsp/yup_OnsetDetector.cpp
Due: yup_gui, YUP GUI

Onset detector (#117)
  .gitignore
  examples/graphics/source/examples/AudioFileDemo.h
  examples/graphics/source/examples/ScrollBarDemo.h
  modules/yup_dsp/onsets/yup_ComplexFluxODF.cpp
  modules/yup_dsp/onsets/yup_ComplexFluxODF.h
  modules/yup_dsp/onsets/yup_FilterBank.cpp
  modules/yup_dsp/onsets/yup_FilterBank.h
  modules/yup_dsp/onsets/yup_OnsetDetectionFunction.h
  modules/yup_dsp/onsets/yup_OnsetDetector.cpp
  modules/yup_dsp/onsets/yup_OnsetDetector.h
  modules/yup_dsp/onsets/yup_OnsetPeakPicker.cpp
  modules/yup_dsp/onsets/yup_OnsetPeakPicker.h
  modules/yup_dsp/onsets/yup_Spectrogram.cpp
  modules/yup_dsp/onsets/yup_Spectrogram.h
  modules/yup_dsp/onsets/yup_SuperFluxODF.cpp
  modules/yup_dsp/onsets/yup_SuperFluxODF.h
  modules/yup_dsp/yup_dsp.cpp
  modules/yup_dsp/yup_dsp.h
  modules/yup_gui/yup_gui.h
  tests/yup_dsp.cpp
  tests/yup_dsp/yup_OnsetDetector.cpp
  tests/yup_python/yup_ScriptPython.cpp
Due: yup_gui, YUP GUI

More blend modes and path clipping
  examples/graphics/data/svg/blend.svg
  examples/graphics/data/svg/mozilla2.svg
  examples/graphics/source/examples/Svg.h
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/svg/yup_SVGClipPath.h
  modules/yup_graphics/svg/yup_SVGFilter.h
  modules/yup_graphics/svg/yup_SVGParser.cpp
  modules/yup_graphics/svg/yup_SVGParser.h
  tests/yup_graphics/yup_Drawable.cpp
  tests/yup_graphics/yup_SVGDocument.cpp
Due: yup_graphics, YUP Graphics

More nice stuff
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/svg/yup_SVGCssParser.cpp
  modules/yup_graphics/svg/yup_SVGDocument.cpp
  tests/yup_graphics/yup_SVGDocument.cpp
Due: yup_graphics, YUP Graphics

Add support for ENTITY in xml
  modules/yup_core/xml/yup_XmlDocument.cpp
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/svg/yup_SVGElement.h
  modules/yup_graphics/svg/yup_SVGParser.cpp
  tests/yup_core/yup_XmlDocument.cpp
  tests/yup_graphics/yup_SVGDocument.cpp
  tests/yup_graphics/yup_SVGParser.cpp
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

More support for aspect ratio
  examples/graphics/source/examples/Svg.h
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/svg/yup_SVGDocument.h
  modules/yup_graphics/svg/yup_SVGParser.cpp
  tests/yup_graphics/yup_SVGParser.cpp
Due: yup_graphics, YUP Graphics

More svg support
  examples/graphics/data/svg/patch.svg
  examples/graphics/data/svg/patternfill.svg
  examples/graphics/data/svg/scion.svg
  examples/graphics/data/svg/shapes-polygon.svg
  examples/graphics/data/svg/shapes-polyline.svg
  examples/graphics/data/svg/ufo.svg
  modules/yup_graphics/svg/yup_SVGParser.cpp
  tests/yup_graphics/yup_SVGParser.cpp
Due: yup_graphics, YUP Graphics

More tweaks
  modules/yup_graphics/svg/yup_SVGParser.cpp
  tests/yup_graphics/yup_SVGParser.cpp
Due: yup_graphics, YUP Graphics

More support for features
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/svg/yup_SVGCssParser.cpp
  modules/yup_graphics/svg/yup_SVGElement.h
  modules/yup_graphics/svg/yup_SVGParser.cpp
  tests/yup_graphics/yup_SVGDocument.cpp
Due: yup_graphics, YUP Graphics

Fix svg compliancy
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/svg/yup_SVGElement.h
  modules/yup_graphics/svg/yup_SVGParser.cpp
  tests/yup_graphics/yup_SVGDocument.cpp
Due: yup_graphics, YUP Graphics

Enable rive canvas
  thirdparty/rive/rive.h
Due: none

Fix tests
  tests/yup_graphics/yup_SVGDocument.cpp
Due: none

Fix SVG stroke-dash
  modules/yup_graphics/svg/yup_SVGParser.cpp
Due: yup_graphics, YUP Graphics

Improved svg support (#118)
  examples/graphics/data/svg/blend.svg
  examples/graphics/data/svg/mozilla2.svg
  examples/graphics/data/svg/patch.svg
  examples/graphics/data/svg/patternfill.svg
  examples/graphics/data/svg/scion.svg
  examples/graphics/data/svg/shapes-polygon.svg
  examples/graphics/data/svg/shapes-polyline.svg
  examples/graphics/data/svg/ufo.svg
  examples/graphics/source/examples/Svg.h
  modules/yup_core/xml/yup_XmlDocument.cpp
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/svg/yup_SVGClipPath.h
  modules/yup_graphics/svg/yup_SVGCssParser.cpp
  modules/yup_graphics/svg/yup_SVGDocument.cpp
  modules/yup_graphics/svg/yup_SVGDocument.h
  modules/yup_graphics/svg/yup_SVGElement.h
  modules/yup_graphics/svg/yup_SVGFilter.h
  modules/yup_graphics/svg/yup_SVGParser.cpp
  modules/yup_graphics/svg/yup_SVGParser.h
  tests/yup_core/yup_XmlDocument.cpp
  tests/yup_graphics/yup_Drawable.cpp
  tests/yup_graphics/yup_SVGDocument.cpp
  tests/yup_graphics/yup_SVGParser.cpp
  thirdparty/rive/rive.h
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

Initial support for offscreen rendering
  examples/graphics/source/examples/OffscreenRenderDemo.h
  examples/graphics/source/main.cpp
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/imaging/yup_Image.cpp
  modules/yup_graphics/imaging/yup_Image.h
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_dawn.cpp
  modules/yup_graphics/native/yup_GraphicsContext_headless.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_graphics/yup_graphics.h
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/native/yup_Windowing_sdl2.h
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
  thirdparty/rive_renderer/include/rive/renderer/metal/render_context_metal_impl.h
  thirdparty/rive_renderer/source/metal/render_context_metal_impl.mm
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Add support for libjpeg
  modules/yup_graphics/formats/yup_JpegImageFormat.cpp
  modules/yup_graphics/formats/yup_JpegImageFormat.h
  modules/yup_graphics/imaging/yup_ImageFormatManager.cpp
  modules/yup_graphics/imaging/yup_ImageFormatManager.h
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  tests/CMakeLists.txt
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_JpegImageFormat.cpp
  tests/yup_graphics/yup_WebPImageFormat.cpp
  thirdparty/libjpeg/libjpeg.c
  thirdparty/libjpeg/libjpeg.h
Due: yup_graphics, YUP Graphics

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
