Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

More stuff
  cmake/plugins/yup_plugin_aax.cmake
  cmake/plugins/yup_plugin_args.cmake
  cmake/plugins/yup_plugin_lv2.cmake
  cmake/yup_audio_plugin.cmake
  modules/yup_audio_plugin_client/lv2/yup_audio_plugin_client_LV2.cpp
Due: none

Improved lv2 format
  cmake/plugins/yup_plugin_lv2.cmake
  cmake/yup_audio_plugin.cmake
  docs/CMake API.md
Due: none

Fix issue with plugins copy
  cmake/plugins/yup_plugin_aax.cmake
  cmake/plugins/yup_plugin_au.cmake
  cmake/plugins/yup_plugin_lv2.cmake
  cmake/yup_audio_plugin.cmake
  examples/plugin/CMakeLists.txt
Due: none

Fix stuff
  cmake/plugins/yup_plugin_lv2.cmake
  cmake/yup_audio_plugin.cmake
  docs/Building Plugins.md
  examples/plugin/source/ExamplePlugin.cpp
  modules/yup_audio_plugin_client/tools/yup_lv2_ttl_generator.cpp
Due: none

More fixes
  cmake/plugins/yup_plugin_aax.cmake
  cmake/plugins/yup_plugin_args.cmake
  cmake/plugins/yup_plugin_au.cmake
  cmake/plugins/yup_plugin_auv3.cmake
  cmake/plugins/yup_plugin_clap.cmake
  cmake/plugins/yup_plugin_lv2.cmake
  cmake/plugins/yup_plugin_standalone.cmake
  cmake/plugins/yup_plugin_vst3.cmake
  cmake/yup_audio_plugin.cmake
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
  modules/yup_audio_plugin_client/common/yup_AudioPluginEntryPoint.h
  modules/yup_audio_plugin_client/lv2/yup_audio_plugin_client_LV2.cpp
Due: none

Fix LV2
  cmake/plugins/yup_plugin_lv2.cmake
Due: none

Allow disabling embedded fonts
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/yup_gui.h
Due: yup_gui, YUP GUI

More system stuff
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1_Resources.cpp
  modules/yup_gui/yup_gui.h
Due: yup_gui, YUP GUI

Fix reverse logic
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
Due: yup_gui, YUP GUI

MAke faster font loading
  modules/yup_graphics/fonts/yup_Font.cpp
  modules/yup_graphics/fonts/yup_Font.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  tests/yup_graphics/yup_Font.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Revert logging
  modules/yup_gui/yup_gui.h
Due: yup_gui, YUP GUI

Updated CHANGELOG
  CHANGELOG.md
Due: none

Bump to version 2.0.0
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  examples/app/CMakeLists.txt
  examples/audiograph/CMakeLists.txt
  examples/console/CMakeLists.txt
  examples/graphics/CMakeLists.txt
  examples/plugin/CMakeLists.txt
  modules/yup_animation/yup_animation.h
  modules/yup_audio_basics/yup_audio_basics.h
  modules/yup_audio_devices/yup_audio_devices.h
  modules/yup_audio_formats/yup_audio_formats.h
  modules/yup_audio_graph/yup_audio_graph.h
  modules/yup_audio_gui/yup_audio_gui.h
  modules/yup_audio_plugin_client/yup_audio_plugin_client.h
  modules/yup_audio_plugin_host/yup_audio_plugin_host.h
  modules/yup_audio_processors/yup_audio_processors.h
  modules/yup_core/system/yup_StandardHeader.h
  modules/yup_core/yup_core.h
  modules/yup_data_model/yup_data_model.h
  modules/yup_dsp/yup_dsp.h
  modules/yup_events/yup_events.h
  modules/yup_graphics/yup_graphics.h
  modules/yup_gui/yup_gui.h
  modules/yup_python/yup_python.h
  modules/yup_simd/yup_simd.h
  tests/CMakeLists.txt
Due: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Stripping symbols from release binaries
  cmake/plugins/yup_plugin_args.cmake
  cmake/yup_standalone.cmake
Due: none

Include ORE
  thirdparty/rive/rive.cpp
  thirdparty/rive/rive.h
  thirdparty/rive_renderer/rive_renderer.cpp
  thirdparty/rive_renderer/rive_renderer.h
  thirdparty/rive_renderer/rive_renderer_android.cpp
  thirdparty/rive_renderer/rive_renderer_apple.mm
  thirdparty/rive_renderer/rive_renderer_emscripten.cpp
  thirdparty/rive_renderer/rive_renderer_linux.cpp
  thirdparty/rive_renderer/rive_renderer_windows.cpp
Due: none

Fix function name
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
Due: yup_graphics, YUP Graphics

Agents update
  AGENTS.md
  CLAUDE.md
Due: none

Component attachedToNative
  modules/yup_gui/component/yup_Component.cpp
  tests/yup_gui/yup_Component.cpp
Due: yup_gui, YUP GUI

Added spirv_cross
  modules/yup_graphics/yup_graphics.h
  thirdparty/spirv_cross/spirv_cross.cpp
  thirdparty/spirv_cross/spirv_cross.h
  thirdparty/spirv_cross/upstream/include/spirv_cross/barrier.hpp
  thirdparty/spirv_cross/upstream/include/spirv_cross/external_interface.h
  thirdparty/spirv_cross/upstream/include/spirv_cross/image.hpp
  thirdparty/spirv_cross/upstream/include/spirv_cross/internal_interface.hpp
  thirdparty/spirv_cross/upstream/include/spirv_cross/sampler.hpp
  thirdparty/spirv_cross/upstream/include/spirv_cross/thread_group.hpp
  thirdparty/spirv_cross/upstream/main.cpp
  thirdparty/spirv_cross/upstream/spirv.h
  thirdparty/spirv_cross/upstream/spirv.hpp
  thirdparty/spirv_cross/upstream/spirv_cfg.cpp
  thirdparty/spirv_cross/upstream/spirv_cfg.hpp
  thirdparty/spirv_cross/upstream/spirv_common.hpp
  thirdparty/spirv_cross/upstream/spirv_cpp.cpp
  thirdparty/spirv_cross/upstream/spirv_cpp.hpp
  thirdparty/spirv_cross/upstream/spirv_cross.cpp
  thirdparty/spirv_cross/upstream/spirv_cross.hpp
  thirdparty/spirv_cross/upstream/spirv_cross_c.cpp
  thirdparty/spirv_cross/upstream/spirv_cross_c.h
  thirdparty/spirv_cross/upstream/spirv_cross_containers.hpp
  thirdparty/spirv_cross/upstream/spirv_cross_error_handling.hpp
  thirdparty/spirv_cross/upstream/spirv_cross_parsed_ir.cpp
  thirdparty/spirv_cross/upstream/spirv_cross_parsed_ir.hpp
  thirdparty/spirv_cross/upstream/spirv_cross_util.cpp
  thirdparty/spirv_cross/upstream/spirv_cross_util.hpp
  thirdparty/spirv_cross/upstream/spirv_glsl.cpp
  thirdparty/spirv_cross/upstream/spirv_glsl.hpp
  thirdparty/spirv_cross/upstream/spirv_hlsl.cpp
  thirdparty/spirv_cross/upstream/spirv_hlsl.hpp
  thirdparty/spirv_cross/upstream/spirv_msl.cpp
  thirdparty/spirv_cross/upstream/spirv_msl.hpp
  thirdparty/spirv_cross/upstream/spirv_parser.cpp
  thirdparty/spirv_cross/upstream/spirv_parser.hpp
  thirdparty/spirv_cross/upstream/spirv_reflect.cpp
  thirdparty/spirv_cross/upstream/spirv_reflect.hpp
Due: yup_graphics, YUP Graphics

Fix
  modules/yup_graphics/yup_graphics.h
Due: yup_graphics, YUP Graphics

More work
  examples/graphics/CMakeLists.txt
  tests/CMakeLists.txt
  thirdparty/glslang/glslang.h
  thirdparty/spirv_cross/upstream/spirv_parser.cpp
Due: none

Fix issue with windows
  thirdparty/glslang/glslang_tab.cpp
Due: none

Shader compiler
  modules/yup_graphics/shading/yup_ShaderCache.cpp
  modules/yup_graphics/shading/yup_ShaderCache.h
  modules/yup_graphics/shading/yup_ShaderTranspiler.cpp
  modules/yup_graphics/shading/yup_ShaderTranspiler.h
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_ShaderCache.cpp
  tests/yup_graphics/yup_ShaderTranspiler.cpp
Due: yup_graphics, YUP Graphics

Fix windows compilation
  thirdparty/glslang/glslang_tab.cpp
Due: none

Avoid window issues
  thirdparty/glslang/glslang_tab.cpp
Due: none

Fix compilation on windows
  thirdparty/glslang/glslang.cpp
  thirdparty/glslang/glslang_hlsl.cpp
  thirdparty/glslang/glslang_spirv.cpp
  thirdparty/glslang/glslang_tab.cpp
Due: none

Fix issues
  thirdparty/glslang/glslang_plat.cpp
Due: none

Tests failing
  tests/yup_graphics/yup_ShaderTranspiler.cpp
Due: none

More tests
  modules/yup_graphics/shading/yup_ShaderTranspiler.cpp
  tests/yup_graphics/yup_ShaderTranspiler.cpp
Due: yup_graphics, YUP Graphics

More valid tests
  tests/yup_graphics/yup_ShaderTranspiler.cpp
  thirdparty/libpng/libpng.c
  thirdparty/rive_decoders/rive_decoders.cpp
Due: none

Fix issues
  modules/yup_graphics/shading/yup_ShaderTranspiler.cpp
  modules/yup_graphics/shading/yup_ShaderTranspiler.h
  tests/yup_graphics/yup_ShaderTranspiler.cpp
Due: yup_graphics, YUP Graphics

More goodies in transpilation
  modules/yup_graphics/shading/yup_ShaderTranspiler.cpp
  modules/yup_graphics/shading/yup_ShaderTranspiler.h
  tests/yup_graphics/yup_ShaderTranspiler.cpp
Due: yup_graphics, YUP Graphics

Fix bumping
  tools/rive_update.py
  tools/rive_update_manifest.json
Due: none

Fix manifest
  tools/rive_update_manifest.json
Due: none

Fix issues
  tools/rive_update_manifest.json
Due: none
