Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

More tweakings
  modules/yup_events/timers/yup_Timer.cpp
  tests/CMakeLists.txt
  tests/yup_events/yup_MessageManager.cpp
  tests/yup_events/yup_Timer.cpp
Due: yup_events, YUP Events

Fix spurious assertion
  modules/yup_data_model/undo/yup_UndoManager.h
Due: none

Disable test to see if it passes on linux
  tests/yup_events/yup_MessageManager.cpp
Due: none

Code formatting
  modules/yup_data_model/undo/yup_UndoManager.h
Due: none

Improve output
  tests/main.cpp
  tests/yup_events/yup_MessageManager.cpp
Due: none

Some more testing
  modules/yup_events/native/yup_Messaging_linux.cpp
  tests/yup_events/yup_Timer.cpp
Due: none

Fix issue in Timer test
  tests/yup_events/yup_Timer.cpp
Due: none

Disable Timer tests failing on linux
  tests/yup_events/yup_Timer.cpp
Due: none

Tests for WebInputStream
  tests/yup_core/yup_WebInputStream.cpp
Due: none

Avoid linux warning
  modules/yup_python/yup_python.h
Due: none

Fix warnings on linux
  modules/yup_python/bindings/yup_YupCore_bindings.h
  modules/yup_python/scripting/yup_ScriptUtilities.h
  modules/yup_python/yup_python.h
Due: none

More work on webInputStream testing
  tests/yup_core/yup_WebInputStream.cpp
Due: none

Code formatting
  modules/yup_python/bindings/yup_YupCore_bindings.h
  modules/yup_python/scripting/yup_ScriptUtilities.h
Due: none

More warning fixes
  modules/yup_gui/widgets/yup_Slider.h
Due: yup_gui, YUP GUI

More fixes
  modules/yup_audio_devices/yup_audio_devices.cpp
  modules/yup_data_model/undo/yup_UndoManager.h
  modules/yup_data_model/yup_data_model.cpp
Due: yup_audio_devices, YUP Audio Devices

Fix issues
  modules/yup_python/bindings/yup_YupCore_bindings.h
  modules/yup_python/bindings/yup_YupEvents_bindings.h
  modules/yup_python/scripting/yup_ScriptUtilities.h
Due: none

Code formatting
  modules/yup_data_model/undo/yup_UndoManager.h
  modules/yup_gui/widgets/yup_Slider.h
  modules/yup_python/bindings/yup_YupCore_bindings.h
  modules/yup_python/bindings/yup_YupEvents_bindings.h
  modules/yup_python/scripting/yup_ScriptUtilities.h
Due: yup_gui, YUP GUI

More tweaks
  modules/yup_audio_gui/yup_audio_gui.cpp
Due: none

Check whitelist, revert formatting ?
  .github/workflows/clang_format.yml_
  modules/yup_data_model/undo/yup_UndoManager.h
  modules/yup_gui/widgets/yup_Slider.h
  modules/yup_python/bindings/yup_YupCore_bindings.h
  modules/yup_python/bindings/yup_YupEvents_bindings.h
  modules/yup_python/scripting/yup_ScriptUtilities.h
Due: yup_gui, YUP GUI

Updates to StringPairArray
  modules/yup_core/text/yup_StringPairArray.cpp
  modules/yup_core/text/yup_StringPairArray.h
  tests/yup_core/yup_StringPairArray.cpp
Due: yup_core, YUP Core

Try more platforms
  tests/yup_core/yup_WebInputStream.cpp
Due: none

Assorted set of thread sanitizer fixes and tests (#76)
  .github/workflows/clang_format.yml_
  modules/yup_audio_basics/midi/yup_MidiFile.cpp
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
  modules/yup_audio_devices/yup_audio_devices.cpp
  modules/yup_audio_gui/yup_audio_gui.cpp
  modules/yup_core/containers/yup_FixedSizeFunction.h
  modules/yup_core/text/yup_StringPairArray.cpp
  modules/yup_core/text/yup_StringPairArray.h
  modules/yup_core/threads/yup_CriticalSection.h
  modules/yup_data_model/undo/yup_UndoManager.h
  modules/yup_data_model/yup_data_model.cpp
  modules/yup_events/native/yup_Messaging_linux.cpp
  modules/yup_events/timers/yup_Timer.cpp
  modules/yup_events/timers/yup_Timer.h
  modules/yup_gui/widgets/yup_Slider.h
  modules/yup_python/bindings/yup_YupCore_bindings.h
  modules/yup_python/bindings/yup_YupEvents_bindings.h
  tests/CMakeLists.txt
  tests/main.cpp
  tests/yup_audio_basics/yup_MidiFile.cpp
  tests/yup_audio_devices/yup_AudioDeviceManager.cpp
  tests/yup_core/yup_StringPairArray.cpp
  tests/yup_core/yup_WebInputStream.cpp
  tests/yup_events/yup_MessageManager.cpp
  tests/yup_events/yup_Timer.cpp
Due: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP GUI

Adjust image widths in README.md
  README.md
Due: none

Adjust image widths in README examples
  README.md
Due: none

Still delay running
  tests/main.cpp
Due: none

More work
  examples/graphics/source/examples/ConvolutionDemo.h
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/convolution/yup_PartitionedConvolver.h
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp/yup_PartitionedConvolver.cpp
Due: none

Moved the DirectFIR outside of the PartitionedConvolution
  examples/graphics/source/examples/ConvolutionDemo.h
  examples/graphics/source/main.cpp
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/convolution/yup_PartitionedConvolver.h
  modules/yup_dsp/filters/yup_DirectFIR.cpp
  modules/yup_dsp/filters/yup_DirectFIR.h
  modules/yup_dsp/yup_dsp.cpp
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp/yup_DirectFIR.cpp
  tests/yup_dsp/yup_PartitionedConvolver.cpp
Due: none

FIR Implementation
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/designers/yup_FilterDesigner.cpp
  modules/yup_dsp/designers/yup_FilterDesigner.h
  modules/yup_dsp/filters/yup_DirectFIR.cpp
  modules/yup_dsp/filters/yup_DirectFIR.h
  modules/yup_dsp/utilities/yup_DspMath.cpp
  modules/yup_dsp/utilities/yup_DspMath.h
  modules/yup_dsp/yup_dsp.cpp
  tests/yup_dsp/yup_DirectFIR.cpp
  tests/yup_dsp/yup_FilterDesigner.cpp
Due: none

Remove validations
  tests/yup_dsp/yup_FilterDesigner.cpp
Due: none

Export FIR coefficients for analysis
  tests/yup_dsp/yup_FilterDesigner.cpp
Due: none

Fix issues in FIR filter
  modules/yup_dsp/filters/yup_DirectFIR.h
  tests/yup_dsp/yup_DirectFIR.cpp
Due: none

More FIR specializations
  examples/graphics/source/examples/FilterDemo.h
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/designers/yup_FilterDesigner.cpp
  modules/yup_dsp/designers/yup_FilterDesigner.h
  modules/yup_dsp/filters/yup_DirectFIR.h
  modules/yup_dsp/windowing/yup_WindowFunctions.h
  tests/yup_dsp/yup_DirectFIR.cpp
  tests/yup_dsp/yup_FilterDesigner.cpp
Due: none

Partitioned Convolution and FIR Filtering (#75)
  .github/workflows/build_android.yml
  .github/workflows/build_ios.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_wasm.yml
  .github/workflows/build_windows.yml
  .github/workflows/coverage.yml
  .github/workflows/python_linux.yml
  .github/workflows/python_macos.yml
  .github/workflows/python_windows.yml
  examples/graphics/data/ir_e112_g12_dyn_us_6v6.wav
  examples/graphics/source/examples/ConvolutionDemo.h
  examples/graphics/source/examples/FilterDemo.h
  examples/graphics/source/main.cpp
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.h
  modules/yup_audio_basics/yup_audio_basics.cpp
  modules/yup_audio_basics/yup_audio_basics.h
  modules/yup_audio_devices/native/yup_OpenSL_android.cpp
  modules/yup_core/maths/yup_MathsFunctions.h
  modules/yup_core/system/yup_PlatformDefs.h
  modules/yup_core/text/yup_String.h
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/convolution/yup_PartitionedConvolver.h
  modules/yup_dsp/designers/yup_FilterDesigner.cpp
  modules/yup_dsp/designers/yup_FilterDesigner.h
  modules/yup_dsp/filters/yup_DirectFIR.h
  modules/yup_dsp/frequency/yup_FFTProcessor.cpp
  modules/yup_dsp/frequency/yup_FFTProcessor.h
  modules/yup_dsp/utilities/yup_DspMath.cpp
  modules/yup_dsp/utilities/yup_DspMath.h
  modules/yup_dsp/windowing/yup_WindowFunctions.h
  modules/yup_dsp/yup_dsp.cpp
  modules/yup_dsp/yup_dsp.h
  tests/main.cpp
  tests/yup_audio_basics/yup_FloatVectorOperations.cpp
  tests/yup_core/yup_String.cpp
  tests/yup_dsp/yup_DirectFIR.cpp
  tests/yup_dsp/yup_FilterDesigner.cpp
  tests/yup_dsp/yup_PartitionedConvolver.cpp
Due: yup_core, yup_audio_basics, YUP Core, YUP Audio Basics

Update image widths in demo section of README
  README.md
Due: none

Fix issue with memory output stream
  modules/yup_core/streams/yup_MemoryOutputStream.cpp
Due: yup_core, YUP Core

Fix OutputStream
  modules/yup_core/streams/yup_OutputStream.cpp
Due: yup_core, YUP Core

Fix createStringFromData
  modules/yup_core/text/yup_String.cpp
Due: yup_core, YUP Core

More tweaks
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_core/system/yup_SystemStats.cpp
  modules/yup_core/system/yup_TargetPlatform.h
  modules/yup_python/bindings/yup_YupCore_bindings.h
  python/CMakeLists.txt
Due: yup_core, yup_audio_basics, YUP Core, YUP Audio Basics
