Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

More tweaks
  tools/rive_update.py
  tools/rive_update_manifest.json
Due: none

More manifest fixes
  tools/rive_update_manifest.json
Due: none

Disable opengl on mac
  thirdparty/rive_renderer/rive_renderer_apple.mm
Due: none

Fixes
  thirdparty/rive_renderer/rive_renderer_android.cpp
  thirdparty/rive_renderer/rive_renderer_emscripten.cpp
  thirdparty/rive_renderer/rive_renderer_linux.cpp
  thirdparty/rive_renderer/rive_renderer_windows.cpp
Due: none

Fix includes in hlsl
  thirdparty/rive_renderer/source/shaders/d3d/color_ramp.hlsl
  thirdparty/rive_renderer/source/shaders/d3d/render_atlas.hlsl
  thirdparty/rive_renderer/source/shaders/d3d/tessellate.hlsl
Due: none

Fix compilation issues
  thirdparty/libpng/libpng.c
  thirdparty/rive_renderer/rive_renderer_windows.cpp
Due: none

Revert old hlsl
  thirdparty/rive_renderer/source/shaders/d3d/color_ramp.hlsl
  thirdparty/rive_renderer/source/shaders/d3d/render_atlas.hlsl
  thirdparty/rive_renderer/source/shaders/d3d/tessellate.hlsl
Due: none

More stuff
  thirdparty/rive_renderer/source/generated/shaders/d3d/color_ramp.vert.h
  thirdparty/rive_renderer/source/generated/shaders/d3d/render_atlas.vert.h
  thirdparty/rive_renderer/source/generated/shaders/d3d/tessellate.vert.h
Due: none

Remove stuff
  thirdparty/rive_renderer/source/shaders/d3d/color_ramp.hlsl
  thirdparty/rive_renderer/source/shaders/d3d/render_atlas.hlsl
  thirdparty/rive_renderer/source/shaders/d3d/root.sig
  thirdparty/rive_renderer/source/shaders/d3d/tessellate.hlsl
Due: none

Fix UBSAN and ASAN
  modules/yup_dsp/resampling/yup_Oversampler.h
  modules/yup_graphics/formats/yup_PngImageFormat.cpp
  thirdparty/rive/include/rive/simple_array.hpp
Due: yup_graphics, YUP Graphics

Fixed changelog
  CHANGELOG.md
Due: none

Do not close vst3sdk docs
  cmake/plugins/yup_plugin_vst3.cmake
  cmake/yup_dependencies.cmake
Due: none

More graphics work
  examples/graphics/CMakeLists.txt
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  modules/yup_shading/shading/yup_ShaderCache.cpp
  modules/yup_shading/shading/yup_ShaderCache.h
  modules/yup_shading/shading/yup_ShaderTranspiler.cpp
  modules/yup_shading/shading/yup_ShaderTranspiler.h
  modules/yup_shading/yup_shading.cpp
  modules/yup_shading/yup_shading.h
  modules/yup_shading/yup_shading.mm
  tests/CMakeLists.txt
  tests/yup_graphics.cpp
  tests/yup_shading.cpp
  tests/yup_shading/yup_ShaderCache.cpp
  tests/yup_shading/yup_ShaderTranspiler.cpp
Due: yup_graphics, YUP Graphics

More graphics context goodies
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_dawn.cpp
  modules/yup_graphics/native/yup_GraphicsContext_headless.cpp
  modules/yup_graphics/native/yup_GraphicsContext_impl.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
Due: yup_graphics, YUP Graphics

Enable rive toBlob for ORE
  thirdparty/rive_renderer/include/rive/renderer/ore/ore_binding_map.hpp
  thirdparty/rive_renderer/source/ore/ore_binding_map.cpp
Due: none

Missing cleanups
  modules/yup_shading/shading/yup_ShaderCache.cpp
  modules/yup_shading/shading/yup_ShaderTranspiler.cpp
  modules/yup_shading/yup_shading.cpp
Due: none

More graphics goodies
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_graphics/yup_graphics.cpp
Due: yup_graphics, YUP Graphics

Fix context
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/native/yup_GraphicsContext_impl.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_gui/native/yup_WindowingUtilities_sdl2.cpp
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
Due: yup_graphics, YUP Graphics

More shader bundle work
  CHANGELOG.md
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/SpinningCubeDemo.h
  examples/graphics/source/main.cpp
  modules/yup_core/misc/yup_ResultValue.h
  modules/yup_core/serialisation/yup_BinaryArchive.h
  modules/yup_core/yup_core.h
  modules/yup_graphics/yup_graphics.h
  modules/yup_shading/shading/yup_ShaderBundle.cpp
  modules/yup_shading/shading/yup_ShaderBundle.h
  modules/yup_shading/shading/yup_ShaderBundleCompiler.cpp
  modules/yup_shading/shading/yup_ShaderBundleCompiler.h
  modules/yup_shading/shading/yup_ShaderTranspiler.h
  modules/yup_shading/shading/yup_ShaderTypes.h
  modules/yup_shading/yup_shading.cpp
  modules/yup_shading/yup_shading.h
  tests/CMakeLists.txt
  tests/yup_shading.cpp
  tests/yup_shading/yup_ShaderBundle.cpp
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

Remove spinning cube
  examples/graphics/source/examples/SpinningCubeDemo.h
  examples/graphics/source/main.cpp
Due: none

More stuff
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/native/yup_GraphicsContext_dawn.cpp
  modules/yup_graphics/native/yup_GraphicsContext_impl.cpp
  modules/yup_shading/shading/yup_ShaderTranspiler.cpp
  modules/yup_shading/shading/yup_ShaderTranspiler.h
  thirdparty/glslang/upstream/glslang/CMakeLists.txt
  thirdparty/glslang/upstream/glslang/updateGrammar
  thirdparty/rive_renderer/rive_renderer.h
Due: yup_graphics, YUP Graphics

Improved GFX rendering
  CHANGELOG.md
  examples/graphics/source/examples/SpinningCubeDemo.h
  examples/graphics/source/main.cpp
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/imaging/yup_Image.cpp
  modules/yup_graphics/imaging/yup_Image.h
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.h
  modules/yup_graphics/rhi/yup_GpuProgram.cpp
  modules/yup_graphics/rhi/yup_GpuProgram.h
  modules/yup_graphics/rhi/yup_Texture.cpp
  modules/yup_graphics/rhi/yup_Texture.h
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_GpuCanvas.cpp
Due: yup_graphics, YUP Graphics

Fix issue with undeterministic tests
  modules/yup_shading/shading/yup_ShaderCache.cpp
  modules/yup_shading/shading/yup_ShaderCache.h
Due: none

More work on GPU
  CHANGELOG.md
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_core/containers/yup_TypeErasedObject.h
  modules/yup_core/yup_core.h
  modules/yup_graphics/rhi/yup_GpuBuffer.cpp
  modules/yup_graphics/rhi/yup_GpuBuffer.h
  modules/yup_graphics/rhi/yup_GpuProgram.cpp
  modules/yup_graphics/rhi/yup_GpuProgram.h
  modules/yup_graphics/rhi/yup_ShaderBindingMap.cpp
  modules/yup_graphics/rhi/yup_ShaderBindingMap.h
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_GpuProgram.cpp
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

Fix stuff
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_graphics/rhi/yup_GpuProgram.cpp
  modules/yup_graphics/rhi/yup_GpuProgram.h
Due: yup_graphics, YUP Graphics

Compile also blur shader
  CHANGELOG.md
  examples/graphics/source/examples/SpinningCubeDemo.h
Due: none

Fix issue with D3D sampled texture
  modules/yup_graphics/rhi/yup_GpuProgram.cpp
Due: yup_graphics, YUP Graphics

Changelog
  CHANGELOG.md
Due: none

Fix issues
  CHANGELOG.md
  modules/yup_shading/shading/yup_ShaderTranspiler.cpp
Due: none

More work
  CHANGELOG.md
  examples/graphics/source/examples/OffscreenRenderDemo.h
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.cpp
  modules/yup_graphics/graphics/yup_ColorGradient.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/imaging/yup_Image.cpp
  modules/yup_graphics/imaging/yup_Image.h
  modules/yup_graphics/rhi/yup_GpuBuffer.cpp
  modules/yup_graphics/rhi/yup_GpuBuffer.h
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.h
  modules/yup_graphics/rhi/yup_GpuProgram.cpp
  modules/yup_graphics/rhi/yup_GpuProgram.h
  modules/yup_graphics/rhi/yup_GpuTexture.cpp
  modules/yup_graphics/rhi/yup_GpuTexture.h
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  python/tests/utilities.py
  tests/yup_graphics/yup_GpuCanvas.cpp
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
  tests/yup_graphics/yup_Image.cpp
Due: yup_graphics, YUP Graphics

More tweaks
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
Due: none

Fix issue
  modules/yup_core/system/yup_StandardHeader.h
  modules/yup_graphics/rhi/yup_GpuProgram.h
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

Fix issue on gcc
  modules/yup_graphics/rhi/yup_GpuProgram.h
Due: yup_graphics, YUP Graphics

Fix annoying warnings in tests
  tests/CMakeLists.txt
Due: none

Fix compilation
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_PaintProfiler.cpp
Due: none

Fix warnings
  tests/CMakeLists.txt
Due: none

More fixes
  CHANGELOG.md
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_graphics/rhi/yup_GpuProgram.cpp
  modules/yup_graphics/rhi/yup_GpuProgram.h
  tests/yup_graphics/yup_GpuProgram.cpp
Due: yup_graphics, YUP Graphics
