Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

Midi 2.0 and UMP support for linux using ALSA sequencer and rawmidi
  modules/yup_audio_devices/native/yup_Midi_linux.cpp
Due: none

Fix tests
  tests/yup_audio_basics/yup_UMPJitterReductionTimestamps.cpp
  tests/yup_audio_basics/yup_UMPMidi1ByteStream.cpp
Due: none

More fixes
  modules/yup_audio_devices/native/yup_Midi_linux.cpp
  modules/yup_audio_devices/yup_audio_devices.cpp
  thirdparty/rive/rive.cpp
Due: yup_audio_devices, YUP Audio Devices

Fix includes
  modules/yup_audio_devices/yup_audio_devices.h
Due: yup_audio_devices, YUP Audio Devices

Unity style tests
  modules/yup_audio_devices/yup_audio_devices.cpp
  tests/CMakeLists.txt
  tests/yup_audio_basics.cpp
  tests/yup_audio_basics/yup_MixerAudioSource.cpp
  tests/yup_audio_basics/yup_ResamplingAudioSource.cpp
  tests/yup_audio_basics/yup_ReverbAudioSource.cpp
  tests/yup_audio_devices.cpp
  tests/yup_audio_formats.cpp
  tests/yup_core.cpp
  tests/yup_core.mm
  tests/yup_core/yup_SpinLock.cpp
  tests/yup_core/yup_StringPairArray.cpp
  tests/yup_data_model.cpp
  tests/yup_dsp.cpp
  tests/yup_events.cpp
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_Color.cpp
  tests/yup_graphics/yup_Size.cpp
  tests/yup_gui.cpp
  tests/yup_gui/yup_PopupMenu.cpp
  tests/yup_gui/yup_TextButton.cpp
  tests/yup_gui/yup_TextEditor.cpp
  tests/yup_gui/yup_ToggleButton.cpp
  tests/yup_python.cpp
Due: yup_audio_devices, YUP Audio Devices

Fix spurious failure
  tests/yup_core/yup_Uuid.cpp
Due: none

Unity style tests (#85)
  modules/yup_audio_devices/yup_audio_devices.cpp
  tests/CMakeLists.txt
  tests/yup_audio_basics.cpp
  tests/yup_audio_basics/yup_MixerAudioSource.cpp
  tests/yup_audio_basics/yup_ResamplingAudioSource.cpp
  tests/yup_audio_basics/yup_ReverbAudioSource.cpp
  tests/yup_audio_devices.cpp
  tests/yup_audio_formats.cpp
  tests/yup_core.cpp
  tests/yup_core.mm
  tests/yup_core/yup_SpinLock.cpp
  tests/yup_core/yup_StringPairArray.cpp
  tests/yup_core/yup_Uuid.cpp
  tests/yup_data_model.cpp
  tests/yup_dsp.cpp
  tests/yup_events.cpp
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_Color.cpp
  tests/yup_graphics/yup_Size.cpp
  tests/yup_gui.cpp
  tests/yup_gui/yup_PopupMenu.cpp
  tests/yup_gui/yup_TextButton.cpp
  tests/yup_gui/yup_TextEditor.cpp
  tests/yup_gui/yup_ToggleButton.cpp
  tests/yup_python.cpp
Due: yup_audio_devices, YUP Audio Devices

Fix warnings
  examples/graphics/source/examples/Widgets.h
  modules/yup_audio_devices/native/yup_CoreMidi_apple.mm
  modules/yup_audio_devices/yup_audio_devices.cpp
  thirdparty/pffft_library/pffft_library_double.c
Due: yup_audio_devices, YUP Audio Devices

Fix warnings in tests
  modules/yup_audio_devices/yup_audio_devices.cpp
  modules/yup_python/scripting/yup_ScriptUtilities.h
  tests/yup_audio_basics/yup_AudioPlayHead.cpp
  tests/yup_audio_basics/yup_BufferingAudioSource.cpp
  tests/yup_audio_basics/yup_ChannelRemappingAudioSource.cpp
  tests/yup_audio_basics/yup_MidiKeyboardState.cpp
  tests/yup_audio_basics/yup_ResamplingAudioSource.cpp
  tests/yup_audio_basics/yup_ReverbAudioSource.cpp
  tests/yup_audio_basics/yup_Synthesiser.cpp
  tests/yup_core/yup_ListenerList.cpp
  tests/yup_gui/yup_Component.cpp
Due: yup_audio_devices, YUP Audio Devices

Fix more warnings
  tests/yup_audio_basics.cpp
  tests/yup_core.cpp
  tests/yup_gui.cpp
Due: none

More warning disable
  modules/yup_python/yup_python.h
  tests/yup_audio_basics.cpp
  tests/yup_core.cpp
  tests/yup_gui.cpp
  thirdparty/harfbuzz/harfbuzz.h
Due: none

Fix warning
  cmake/yup_utilities.cmake
Due: none

Opus audio format
  CMakeLists.txt
  cmake/yup_modules.cmake
  examples/graphics/CMakeLists.txt
  modules/yup_audio_formats/common/yup_AudioFormatManager.cpp
  modules/yup_audio_formats/formats/yup_OpusAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_OpusAudioFormat.h
  modules/yup_audio_formats/yup_audio_formats.cpp
  modules/yup_audio_formats/yup_audio_formats.h
  thirdparty/opus_library/opus_library.c
  thirdparty/opus_library/opus_library.h
  thirdparty/opus_library/opus_library_celt.c
  thirdparty/opus_library/opus_library_silk.c
Due: none

Move pffft to upstream fetch
  cmake/yup_modules.cmake
  thirdparty/pffft_library/pffft_library.c
  thirdparty/pffft_library/pffft_library.h
  thirdparty/pffft_library/pffft_library_double.c
  thirdparty/pffft_library/upstream/LICENSE.txt
  thirdparty/pffft_library/upstream/README.md
  thirdparty/pffft_library/upstream/fmv.h
  thirdparty/pffft_library/upstream/pffastconv.c
  thirdparty/pffft_library/upstream/pffastconv.h
  thirdparty/pffft_library/upstream/pffft.c
  thirdparty/pffft_library/upstream/pffft.h
  thirdparty/pffft_library/upstream/pffft.hpp
  thirdparty/pffft_library/upstream/pffft_common.c
  thirdparty/pffft_library/upstream/pffft_double.c
  thirdparty/pffft_library/upstream/pffft_double.h
  thirdparty/pffft_library/upstream/pffft_priv_impl.h
  thirdparty/pffft_library/upstream/simd/pf_altivec_float.h
  thirdparty/pffft_library/upstream/simd/pf_avx_double.h
  thirdparty/pffft_library/upstream/simd/pf_double.h
  thirdparty/pffft_library/upstream/simd/pf_float.h
  thirdparty/pffft_library/upstream/simd/pf_neon_double.h
  thirdparty/pffft_library/upstream/simd/pf_neon_double_from_avx.h
  thirdparty/pffft_library/upstream/simd/pf_neon_float.h
  thirdparty/pffft_library/upstream/simd/pf_scalar_double.h
  thirdparty/pffft_library/upstream/simd/pf_scalar_float.h
  thirdparty/pffft_library/upstream/simd/pf_sse1_float.h
  thirdparty/pffft_library/upstream/simd/pf_sse2_double.h
  thirdparty/pffft_library/upstream/sse2neon.h
Due: none

dr_libs use upstream
  thirdparty/dr_libs/dr_libs.cpp
  thirdparty/dr_libs/dr_libs.h
  thirdparty/dr_libs/upstream/dr_flac.h
  thirdparty/dr_libs/upstream/dr_mp3.h
  thirdparty/dr_libs/upstream/dr_wav.h
Due: none

Add some opus files
  tests/data/sounds/M1F1-float32-vbr.opus
  tests/data/sounds/M1F1-float32.opus
  tests/data/sounds/M1F1-int16-vbr.opus
  tests/data/sounds/M1F1-int16.opus
  tests/data/sounds/M1F1-int24-vbr.opus
  tests/data/sounds/M1F1-int24.opus
  tests/data/sounds/M1F1-uint8-vbr.opus
  tests/data/sounds/M1F1-uint8.opus
Due: none

Some opus tests
  tests/CMakeLists.txt
  tests/yup_audio_formats.cpp
  tests/yup_audio_formats/yup_AudioFormatTools.h
  tests/yup_audio_formats/yup_OpusAudioFormat.cpp
  tests/yup_audio_formats/yup_WaveAudioFormat.cpp
Due: none

More tests
  examples/graphics/data/break_boomblastic_92bpm.opus
  examples/graphics/source/examples/CrossoverDemo.h
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.h
  modules/yup_audio_formats/formats/yup_OpusAudioFormat.cpp
  tests/yup_audio_basics/yup_FloatVectorOperations.cpp
  tests/yup_audio_formats.cpp
  tests/yup_audio_formats/yup_OpusAudioFormat.cpp
Due: yup_audio_basics, YUP Audio Basics

Fix path on android
  cmake/yup_modules.cmake
Due: none

Fix compilation
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
Due: yup_audio_basics, YUP Audio Basics

Cosmetics
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_audio_formats/formats/yup_OpusAudioFormat.cpp
Due: yup_audio_basics, YUP Audio Basics

Fix builds
  cmake/yup_modules.cmake
  cmake/yup_utilities.cmake
  tests/yup_audio_formats/yup_OpusAudioFormat.cpp
Due: none

Add and fix mp3 audio format
  cmake/yup_utilities.cmake
  examples/graphics/data/break_boomblastic_92bpm.mp3
  modules/yup_audio_formats/formats/yup_Mp3AudioFormat.cpp
  modules/yup_audio_formats/formats/yup_Mp3AudioFormat.h
  modules/yup_audio_formats/formats/yup_OpusAudioFormat.h
  modules/yup_audio_formats/yup_audio_formats.cpp
  modules/yup_audio_formats/yup_audio_formats.h
  tests/data/sounds/M1F1-int16.mp3
  tests/data/sounds/M1F1-int24.mp3
  tests/data/sounds/M1F1-uint8.mp3
  tests/yup_audio_formats.cpp
  tests/yup_audio_formats/yup_Mp3AudioFormat.cpp
Due: none

Fix failures
  modules/yup_core/maths/yup_BigInteger.cpp
  tests/yup_audio_formats/yup_OpusAudioFormat.cpp
Due: yup_core, YUP Core

Added flac and fixed more stuff
  cmake/yup_modules.cmake
  examples/graphics/CMakeLists.txt
  examples/graphics/data/break_boomblastic_92bpm.flac
  examples/graphics/source/examples/ConvolutionDemo.h
  examples/graphics/source/examples/CrossoverDemo.h
  modules/yup_audio_formats/common/yup_AudioFormatManager.cpp
  modules/yup_audio_formats/formats/yup_FlacAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_FlacAudioFormat.h
  modules/yup_audio_formats/yup_audio_formats.cpp
  modules/yup_audio_formats/yup_audio_formats.h
  modules/yup_core/maths/yup_BigInteger.cpp
  tests/CMakeLists.txt
  tests/yup_audio_formats.cpp
  thirdparty/dr_libs/dr_libs.h
  thirdparty/flac_library/flac_include_post.h
  thirdparty/flac_library/flac_include_pre.h
  thirdparty/flac_library/flac_library.h
  thirdparty/flac_library/flac_library_1.c
  thirdparty/flac_library/flac_library_2.c
Due: yup_core, YUP Core

Reenable test for opus
  tests/yup_audio_formats/yup_OpusAudioFormat.cpp
  thirdparty/opus_library/opus_library.c
  thirdparty/opus_library/opus_library.h
  thirdparty/opus_library/opus_library_celt.c
  thirdparty/opus_library/opus_library_silk.c
Due: none

Fix flac encoding and decoding
  modules/yup_audio_formats/formats/yup_FlacAudioFormat.cpp
  tests/data/sounds/M1F1-int16.flac
  tests/data/sounds/M1F1-int24.flac
  tests/data/sounds/M1F1-int32.flac
  tests/data/sounds/M1F1-uint8.flac
  tests/yup_audio_formats.cpp
  tests/yup_audio_formats/yup_FlacAudioFormat.cpp
Due: none

Improved readme
  README.md
Due: none

Fix tests
  tests/yup_audio_formats/yup_FlacAudioFormat.cpp
Due: none

Reduce warnings
  modules/yup_audio_formats/formats/yup_FlacAudioFormat.cpp
  thirdparty/flac_library/flac_library_1.c
  thirdparty/pffft_library/pffft_library_double.c
Due: none

More blind fixes
  cmake/yup_utilities.cmake
  docs/YUP Module Format.md
  thirdparty/flac_library/flac_include_pre.h
  thirdparty/flac_library/flac_library_1.c
  thirdparty/flac_library/flac_library_2.c
Due: none

Disable warnings
  thirdparty/flac_library/flac_include_pre.h
Due: none

Fix more warnings
  examples/graphics/source/examples/Widgets.h
Due: none

Fix linux
  thirdparty/flac_library/flac_library_1.c
  thirdparty/flac_library/flac_library_2.c
Due: none

Fix windows
  thirdparty/flac_library/flac_library_2.c
Due: none

More tweaks
  examples/graphics/source/examples/VariableFonts.h
  thirdparty/flac_library/flac_include_pre.h
  thirdparty/flac_library/flac_library.h
Due: none

Skip defines in includes
  thirdparty/flac_library/flac_include_pre.h
  thirdparty/flac_library/flac_library.h
Due: none

More warning fixes
  modules/yup_audio_devices/native/yup_CoreMidi_apple.mm
  modules/yup_python/bindings/yup_YupCore_bindings.h
  modules/yup_python/scripting/yup_ScriptUtilities.h
  thirdparty/flac_library/flac_library_1.c
  thirdparty/harfbuzz/harfbuzz.cpp
  thirdparty/opus_library/opus_library.h
  thirdparty/rive/include/rive/math/vec2d.hpp
  thirdparty/rive/rive.cpp
  thirdparty/rive_renderer/rive_renderer.cpp
Due: none

More warnings removal
  README.md
  examples/graphics/source/examples/VariableFonts.h
Due: none
