Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Try swizzling
  modules/yup_rhi/native/yup_GpuDevice_opengl.cpp
Due: none

Fix GL
  modules/yup_rhi/native/yup_GpuDevice_opengl.cpp
  modules/yup_rhi/yup_rhi.h
  modules/yup_simd/buffers/yup_ColorVectorOperations.cpp
  modules/yup_simd/buffers/yup_ColorVectorOperations.h
  modules/yup_simd/yup_simd.h
  tests/yup_simd/yup_ColorVectorOperations.cpp
Due: none

Fix intrinsics missing
  modules/yup_simd/buffers/yup_ColorVectorOperations.cpp
  modules/yup_simd/yup_simd.h
Due: none

More simd streamline
  modules/yup_graphics/imaging/yup_ImagePixelData.cpp
  modules/yup_rhi/native/yup_GpuDevice_opengl.cpp
  modules/yup_simd/buffers/yup_AffineTransformOperations.cpp
  modules/yup_simd/buffers/yup_ColorVectorOperations.cpp
  modules/yup_simd/buffers/yup_ColorVectorOperations.h
  modules/yup_simd/types/yup_SIMDRegister.h
  modules/yup_simd/types/yup_Vec.h
  modules/yup_simd/yup_simd.h
  tests/yup_graphics/yup_Image.cpp
  tests/yup_simd/yup_ColorVectorOperations.cpp
  tests/yup_simd/yup_SIMDRegister.cpp
Due: yup_graphics, YUP Graphics

Fix color
  modules/yup_rhi/native/yup_GpuDevice_opengl.cpp
  modules/yup_simd/yup_simd.h
  tests/yup_rhi/native/yup_GpuDevice_linux.cpp
Due: none

Add the stacktrace on crash
  docs/index.md
  modules/yup_rhi/native/yup_GpuDevice_opengl.cpp
  tests/main.cpp
Due: none

More coverage
  tests/yup_simd/yup_ColorVectorOperations.cpp
Due: none

More fixes
  tests/main.cpp
  tests/yup_gui/yup_PopupMenu.cpp
Due: none

More fixes
  modules/yup_gui/native/yup_Initialisation_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

Fix tests
  tests/yup_simd/yup_ColorVectorOperations.cpp
Due: none

More fixes
  tests/yup_simd/yup_ColorVectorOperations.cpp
Due: none

Fix issue in D3D refactor
  CHANGELOG.md
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_webgpu.cpp
  modules/yup_rhi/native/yup_GpuDevice_d3d.cpp
Due: none

More testing
  examples/graphics/source/examples/GpuAudioProcessingDemo.h
  modules/yup_audio_devices/yup_audio_devices.h
  tests/yup_graphics/yup_GraphicsContext.cpp
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
  tests/yup_graphics/yup_ImageFormatMetadataExtended.cpp
  tests/yup_rhi/native/yup_GpuDevice_linux.cpp
  tests/yup_rhi/yup_GpuComputePass.cpp
  tests/yup_rhi/yup_GpuDevice.cpp
  thirdparty/rive_renderer/rive_renderer.h
Due: yup_audio_devices, YUP Audio Devices

More fixes
  tests/yup_rhi/native/yup_GpuDevice_linux.cpp
  tests/yup_rhi/yup_GpuComputePass.cpp
Due: none

Fix tests
  tests/yup_rhi/native/yup_GpuDevice_linux.cpp
Due: none

Remove failing tests
  tests/yup_rhi/native/yup_GpuDevice_linux.cpp
Due: none

More RHI fixes
  CHANGELOG.md
  modules/yup_animation/renderer/yup_AnimationRenderResources.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.h
  modules/yup_graphics/primitives/yup_AffineTransform.h
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.h
  modules/yup_rhi/context/yup_GpuDevice.h
  modules/yup_rhi/context/yup_RenderableTarget.h
  modules/yup_rhi/native/yup_GpuDevice_d3d.cpp
  modules/yup_rhi/native/yup_GpuDevice_metal.cpp
  modules/yup_rhi/native/yup_GpuDevice_opengl.cpp
  modules/yup_rhi/native/yup_GpuDevice_webgpu.cpp
  modules/yup_rhi/rhi/yup_GpuFrame.cpp
  modules/yup_rhi/rhi/yup_GpuFrame.h
  modules/yup_rhi/rhi/yup_GpuTarget.h
  tests/yup_graphics/yup_AffineTransform.cpp
Due: yup_graphics, YUP Graphics

More work
  CHANGELOG.md
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.h
  modules/yup_rhi/native/yup_GpuDevice_opengl.cpp
  modules/yup_rhi/rhi/yup_GpuFrame.cpp
  modules/yup_rhi/rhi/yup_GpuFrame.h
  tests/yup_animation/yup_AnimationRenderer.cpp
  tests/yup_rhi/native/yup_GpuDevice_linux.cpp
  tests/yup_rhi/yup_GpuPipelineMocked.cpp
Due: yup_graphics, YUP Graphics

Clear comments
  modules/yup_rhi/rhi/yup_GpuFrame.cpp
Due: none

Fix constexpr
  modules/yup_graphics/primitives/yup_AffineTransform.h
Due: yup_graphics, YUP Graphics

Fix stuff
  modules/yup_graphics/primitives/yup_AffineTransform.h
Due: yup_graphics, YUP Graphics

More work
  examples/graphics/source/examples/ComputeParticlesDemo.h
  modules/yup_rhi/native/yup_GpuComputePass_webgpu.cpp
  modules/yup_rhi/native/yup_GpuComputePipeline_webgpu.cpp
  modules/yup_rhi/native/yup_GpuDevice_webgpu.cpp
  modules/yup_shading/wgsl/yup_GlslParser.cpp
  modules/yup_shading/wgsl/yup_WgslEmitter.cpp
  modules/yup_shading/wgsl/yup_WgslLowering.cpp
Due: none

Fixes
  modules/yup_rhi/native/yup_GpuDevice_webgpu.cpp
Due: none

Fix wgsl lowering
  modules/yup_shading/wgsl/yup_WgslLowering.cpp
Due: none

Improved math functions
  modules/yup_core/maths/yup_MathsFunctions.h
  modules/yup_graphics/primitives/yup_AffineTransform.h
  tests/yup_core/yup_MathFunctions.cpp
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

Fix component effects
  CHANGELOG.md
  examples/graphics/source/examples/ComponentEffectsDemo.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_shading/wgsl/yup_GlslParser.cpp
  tests/yup_shading/yup_WgslTranspiler.cpp
Due: yup_gui, YUP GUI

More nice stuff
  CHANGELOG.md
  modules/yup_rhi/context/yup_GpuDevice.cpp
  modules/yup_rhi/context/yup_GpuDevice.h
  modules/yup_rhi/rhi/yup_GpuFrame.cpp
  modules/yup_rhi/rhi/yup_GpuPipeline.cpp
  modules/yup_rhi/rhi/yup_GpuRenderPass.cpp
  tests/mocks/rive_ore.h
  tests/yup_rhi/yup_GpuPipelineMocked.cpp
Due: none

More optimisations
  modules/yup_rhi/context/yup_GpuDevice.cpp
  modules/yup_rhi/context/yup_GpuDevice.h
  modules/yup_rhi/native/yup_GpuComputePass_d3d.cpp
  modules/yup_rhi/native/yup_GpuDevice_d3d.cpp
  modules/yup_rhi/native/yup_GpuDevice_dawn.cpp
  modules/yup_rhi/native/yup_GpuDevice_headless.cpp
  modules/yup_rhi/native/yup_GpuDevice_metal.cpp
  modules/yup_rhi/native/yup_GpuDevice_opengl.cpp
  modules/yup_rhi/native/yup_GpuDevice_webgpu.cpp
  modules/yup_rhi/rhi/yup_GpuBuffer.cpp
  tests/mocks/yup_rhi.h
  tests/yup_gui/yup_ComponentEffect.cpp
  tests/yup_shading/yup_WgslTranspiler.cpp
Due: none

More changes for WebGPU
  CHANGELOG.md
  examples/graphics/source/examples/ComputeParticlesDemo.h
  modules/yup_rhi/context/yup_GpuDevice.h
  modules/yup_rhi/native/yup_GpuDevice_d3d.cpp
  modules/yup_rhi/native/yup_GpuDevice_webgpu.cpp
  modules/yup_rhi/rhi/yup_GpuBuffer.cpp
  tests/yup_rhi/yup_GpuDevice.cpp
Due: none

Increase coverage
  tests/yup_shading/yup_WgslTranspiler.cpp
Due: none

More tests
  modules/yup_shading/wgsl/yup_GlslParser.cpp
  tests/yup_shading/yup_WgslTranspiler.cpp
Due: none

Fix plugin_client builds on desktop only
  tests/CMakeLists.txt
Due: none

Fix tests
  tests/yup_gui/yup_PopupMenu.cpp
Due: none

Added discord badge
  README.md
Due: none

Change Discord badge style to plastic
  README.md
Due: none

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
