Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

test: add a cross-platform GPU harness and backend parity tests
  CHANGELOG.md
  tests/helpers/yup_GpuTestDevice.h
  tests/helpers/yup_PixelCompare.h
  tests/yup_rhi.cpp
  tests/yup_rhi/yup_GpuParity.cpp
Due: none

ci(linux): fail rather than skip when the GPU is missing, and keep pixel diffs
  .github/workflows/build_linux.yml
  CHANGELOG.md
  tests/helpers/yup_GpuTestDevice.h
  tests/yup_rhi/yup_GpuParity.cpp
Due: none

test: add drawing parity tests over an offscreen GpuCanvas
  CHANGELOG.md
  tests/helpers/yup_GpuTestDevice.h
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_GraphicsParity.cpp
Due: none

test: add component tree parity over Component::snapshotToImage
  CHANGELOG.md
  tests/helpers/yup_GpuTestDevice.h
  tests/helpers/yup_PixelCompare.h
  tests/yup_gui.cpp
  tests/yup_gui/yup_ComponentParity.cpp
Due: none

test: cover clip, clip restore and translation in drawing parity
  CHANGELOG.md
  tests/yup_graphics/yup_GraphicsParity.cpp
Due: none

test: add presentation parity for the GL window path
  CHANGELOG.md
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_WindowPresentParity.cpp
Due: none

Toast notifications
  docs/core/index.md
  docs/core/toast-notifications.md
  modules/yup_core/files/yup_MimeTypes.cpp
  modules/yup_core/files/yup_MimeTypes.h
  modules/yup_core/files/yup_common_MimeTypes.cpp
  modules/yup_core/files/yup_common_MimeTypes.h
  modules/yup_core/misc/yup_RuntimePermissions.h
  modules/yup_core/misc/yup_ToastNotification.cpp
  modules/yup_core/misc/yup_ToastNotification.h
  modules/yup_core/native/yup_AndroidDocument_android.cpp
  modules/yup_core/native/yup_RuntimePermissions_android.cpp
  modules/yup_core/native/yup_Threads_android.cpp
  modules/yup_core/native/yup_ToastNotification_android.cpp
  modules/yup_core/native/yup_ToastNotification_apple.mm
  modules/yup_core/native/yup_ToastNotification_linux.cpp
  modules/yup_core/native/yup_ToastNotification_wasm.cpp
  modules/yup_core/native/yup_ToastNotification_windows.cpp
  modules/yup_core/yup_core.cpp
  modules/yup_core/yup_core.h
  modules/yup_events/native/yup_Messaging_android.cpp
  tests/yup_core.cpp
  tests/yup_core/yup_ToastNotification.cpp
Due: yup_core, YUP Core

Fix comments
  modules/yup_core/threads/yup_CancelToken.h
Due: yup_core, YUP Core

Fix changelog
  CHANGELOG.md
Due: none

Fix docs
  docs/multithreading/cancellation.md
Due: none

Move toast to events
  CHANGELOG.md
  docs/core/index.md
  docs/ui/index.md
  docs/ui/toast-notifications.md
  examples/graphics/source/examples/ToastNotificationDemo.h
  examples/graphics/source/main.cpp
  modules/yup_core/yup_core.cpp
  modules/yup_core/yup_core.h
  modules/yup_events/native/yup_ToastNotification_android.cpp
  modules/yup_events/native/yup_ToastNotification_apple.mm
  modules/yup_events/native/yup_ToastNotification_linux.cpp
  modules/yup_events/native/yup_ToastNotification_wasm.cpp
  modules/yup_events/native/yup_ToastNotification_windows.cpp
  modules/yup_events/notifications/yup_ToastNotification.cpp
  modules/yup_events/notifications/yup_ToastNotification.h
  modules/yup_events/yup_events.cpp
  modules/yup_events/yup_events.h
  tests/yup_core.cpp
  tests/yup_events.cpp
  tests/yup_events/yup_ToastNotification.cpp
Due: yup_core, yup_events, YUP Core, YUP Events

Bump permissions
  docs/ui/toast-notifications.md
  examples/graphics/source/examples/ToastNotificationDemo.h
  modules/yup_events/native/yup_ToastNotification_android.cpp
  modules/yup_events/native/yup_ToastNotification_apple.mm
  modules/yup_events/native/yup_ToastNotification_linux.cpp
  modules/yup_events/native/yup_ToastNotification_wasm.cpp
  modules/yup_events/native/yup_ToastNotification_windows.cpp
  modules/yup_events/notifications/yup_ToastNotification.cpp
  modules/yup_events/notifications/yup_ToastNotification.h
  tests/yup_events/yup_ToastNotification.cpp
Due: yup_events, YUP Events

fix(test): include the GL header the presentation tests actually need
  tests/yup_graphics/yup_WindowPresentParity.cpp
Due: none

test: make the presentation tests actually reproduce the fault
  tests/yup_graphics/yup_WindowPresentParity.cpp
Due: none

test: reproduce the clip through a feathered fill, drop what did not work
  tests/yup_graphics/yup_WindowPresentParity.cpp
Due: none

Fix wasm notifications
  modules/yup_events/native/yup_ToastNotification_apple.mm
  modules/yup_events/native/yup_ToastNotification_wasm.cpp
Due: none

Fixes
  modules/yup_events/native/yup_ToastNotification_windows.cpp
Due: none

More win fixes
  modules/yup_events/native/yup_ToastNotification_windows.cpp
  modules/yup_events/notifications/yup_ToastNotification.cpp
  modules/yup_events/notifications/yup_ToastNotification.h
Due: yup_events, YUP Events

feat(example): write a PNG of the window from inside the process
  examples/graphics/source/main.cpp
Due: none

More windows fixes
  CHANGELOG.md
  examples/graphics/source/examples/ToastNotificationDemo.h
  modules/yup_events/native/yup_ToastNotification_windows.cpp
Due: none

More tweaks
  CHANGELOG.md
  modules/yup_events/native/yup_ToastNotification_windows.cpp
Due: none

CancelToken and CancelSource (#175)
  CHANGELOG.md
  docs/multithreading/cancellation.md
  docs/multithreading/index.md
  modules/yup_core/threads/yup_CancelToken.cpp
  modules/yup_core/threads/yup_CancelToken.h
  modules/yup_core/threads/yup_CancelTokenSource.cpp
  modules/yup_core/threads/yup_CancelTokenSource.h
  modules/yup_core/yup_core.cpp
  modules/yup_core/yup_core.h
  tests/yup_core.cpp
  tests/yup_core/yup_CancelToken.cpp
  tests/yup_core/yup_CancelTokenSource.cpp
Due: yup_core, YUP Core

Speed up svg parsing and rendering (#170)
  modules/yup_core/containers/yup_HashMap.h
  modules/yup_core/misc/yup_HashGenerator.h
  modules/yup_core/text/yup_String.cpp
  modules/yup_core/text/yup_StringRef.h
  modules/yup_core/yup_core.h
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/svg/yup_SVGCssParser.cpp
  modules/yup_graphics/svg/yup_SVGCssParser.h
  modules/yup_graphics/svg/yup_SVGCssRule.h
  modules/yup_graphics/svg/yup_SVGParser.cpp
  modules/yup_graphics/svg/yup_SVGParser.h
  tests/yup_graphics/yup_SVGDocument.cpp
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

More windows cleanups
  docs/ui/toast-notifications.md
  modules/yup_events/native/yup_ToastNotification_windows.cpp
  modules/yup_events/yup_events.cpp
Due: yup_events, YUP Events

More cosmetics
  modules/yup_events/native/yup_ToastNotification_windows.cpp
Due: none

Typo
  modules/yup_events/yup_events.cpp
Due: yup_events, YUP Events

Support for reading bundle files
  CHANGELOG.md
  cmake/yup.cmake
  cmake/yup_bundle_resources.cmake
  cmake/yup_standalone.cmake
  docs/build-system/cmake-api.md
  docs/core/files-and-streams.md
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/Artboard.h
  examples/graphics/source/examples/LottieDemo.h
  examples/graphics/source/examples/SpinningCubeDemo.h
  examples/graphics/source/main.cpp
  modules/yup_core/files/yup_File.h
  modules/yup_core/files/yup_FileInputStream.cpp
  modules/yup_core/files/yup_FileInputStream.h
  modules/yup_core/native/yup_Files_android.cpp
  modules/yup_core/native/yup_Files_apple.mm
  modules/yup_core/native/yup_Files_linux.cpp
  modules/yup_core/native/yup_Files_wasm.cpp
  modules/yup_core/native/yup_Files_windows.cpp
  modules/yup_core/native/yup_JNIHelpers_android.h
  modules/yup_core/native/yup_SharedCode_posix.h
  modules/yup_core/yup_core.h
  modules/yup_python/bindings/yup_YupCore_bindings.cpp
  tests/yup_core/yup_File.cpp
Due: yup_core, YUP Core

Fix folder in justfile
  justfile
Due: none

Support for reading bundle files on android/apple (#178)
  CHANGELOG.md
  cmake/yup.cmake
  cmake/yup_bundle_resources.cmake
  cmake/yup_standalone.cmake
  docs/build-system/cmake-api.md
  docs/core/files-and-streams.md
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/Artboard.h
  examples/graphics/source/examples/LottieDemo.h
  examples/graphics/source/examples/SpinningCubeDemo.h
  examples/graphics/source/main.cpp
  justfile
  modules/yup_core/files/yup_File.h
  modules/yup_core/files/yup_FileInputStream.cpp
  modules/yup_core/files/yup_FileInputStream.h
  modules/yup_core/native/yup_Files_android.cpp
  modules/yup_core/native/yup_Files_apple.mm
  modules/yup_core/native/yup_Files_linux.cpp
  modules/yup_core/native/yup_Files_wasm.cpp
  modules/yup_core/native/yup_Files_windows.cpp
  modules/yup_core/native/yup_JNIHelpers_android.h
  modules/yup_core/native/yup_SharedCode_posix.h
  modules/yup_core/yup_core.h
  modules/yup_python/bindings/yup_YupCore_bindings.cpp
  tests/yup_core/yup_File.cpp
Due: yup_core, YUP Core

Fix example
  examples/graphics/source/main.cpp
Due: none

Fix it
  examples/graphics/source/main.cpp
Due: none

Fix android
  modules/yup_events/native/yup_ToastNotification_android.cpp
Due: none

Fix issues
  cmake/yup_bundle_resources.cmake
  examples/graphics/CMakeLists.txt
  tests/yup_dsp_jit/yup_YdspAsmJitCodegenTests.cpp
  tests/yup_dsp_jit/yup_YdspGraphTests.cpp
Due: none

Export wasmMemory
  cmake/yup_standalone.cmake
Due: none

Fix input event connections in tests
  tests/yup_dsp_jit/yup_YdspAsmJitCodegenTests.cpp
  tests/yup_dsp_jit/yup_YdspFusionTests.cpp
  tests/yup_dsp_jit/yup_YdspGraphTests.cpp
  tests/yup_dsp_jit/yup_YdspOptimizerTests.cpp
  tests/yup_dsp_jit/yup_YdspSemanticAnalyzerTests.cpp
  tests/yup_dsp_jit/yup_YdspSubgraphTests.cpp
  tests/yup_dsp_jit/yup_YdspTestPatches.h
Due: none

Missing test
  tests/yup_dsp_jit/yup_YdspWasmBackendTests.cpp
Due: none

Touch events
  CHANGELOG.md
  docs/ui/component-basics.md
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/mouse/yup_MouseEvent.cpp
  modules/yup_gui/mouse/yup_MouseEvent.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_MouseEvent.cpp
Due: yup_gui, YUP GUI

Enable catchsegv
  .github/workflows/build_linux.yml
  .github/workflows/coverage.yml
Due: none

Fix catchsegv
  .github/workflows/build_linux.yml
  .github/workflows/coverage.yml
Due: none
