Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

Add more options to shader bundler
  CHANGELOG.md
  cmake/tools/shader_bundler/source/main.cpp
  cmake/yup_shader_bundler.cmake
  modules/yup_graphics/rhi/yup_GpuPipeline.cpp
  modules/yup_shading/shading/yup_ShaderTranspiler.cpp
  modules/yup_shading/shading/yup_ShaderTranspiler.h
  modules/yup_shading/yup_shading.cpp
  tests/yup_shading/yup_ShaderBundle.cpp
  tests/yup_shading/yup_ShaderCache.cpp
  tests/yup_shading/yup_ShaderTranspiler.cpp
Due: yup_graphics, YUP Graphics

Rename eigen to eigen_library
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
  modules/yup_simd/types/yup_EigenAdapters.h
  modules/yup_simd/yup_simd.h
  thirdparty/bungee_library/bungee_library.h
  thirdparty/eigen_library/eigen_library.h
Due: none

Add more options to shader bundler (#131)
  CHANGELOG.md
  cmake/tools/shader_bundler/source/main.cpp
  cmake/yup_shader_bundler.cmake
  modules/yup_graphics/rhi/yup_GpuPipeline.cpp
  modules/yup_shading/shading/yup_ShaderTranspiler.cpp
  modules/yup_shading/shading/yup_ShaderTranspiler.h
  modules/yup_shading/yup_shading.cpp
  tests/yup_shading/yup_ShaderBundle.cpp
  tests/yup_shading/yup_ShaderCache.cpp
  tests/yup_shading/yup_ShaderTranspiler.cpp
Due: yup_graphics, YUP Graphics

Rename eigen to eigen_library (#132)
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
  modules/yup_simd/types/yup_EigenAdapters.h
  modules/yup_simd/yup_simd.h
  thirdparty/bungee_library/bungee_library.h
  thirdparty/eigen_library/eigen_library.h
Due: none

Improved nested transparency layers
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/context/yup_OffscreenTarget.h
  modules/yup_graphics/imaging/yup_Image.cpp
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_graphics/yup_graphics.h
Due: yup_graphics, YUP Graphics

Improve lottie performance by caching static shapes
  modules/yup_animation/core/yup_AnimationEasing.cpp
  modules/yup_animation/core/yup_AnimationEasing.h
  modules/yup_animation/core/yup_AnimationTransform.cpp
  modules/yup_animation/core/yup_AnimationTransform.h
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/model/yup_AnimationPaint.cpp
  modules/yup_animation/model/yup_AnimationPaint.h
  modules/yup_animation/model/yup_AnimationShape.cpp
  modules/yup_animation/model/yup_AnimationShape.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.h
Due: none

Fix compilation
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/rhi/yup_GpuCanvas.h
Due: yup_graphics, YUP Graphics

More fixes
  CHANGELOG.md
  modules/yup_animation/core/yup_AnimationTransform.cpp
  modules/yup_animation/model/yup_AnimationGroup.cpp
  modules/yup_animation/model/yup_AnimationGroup.h
  modules/yup_animation/model/yup_AnimationLayer.cpp
  modules/yup_animation/model/yup_AnimationLayer.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.h
  tests/yup_animation/yup_AnimationTransform.cpp
Due: none

Allow background selection
  examples/graphics/source/examples/LottieDemo.h
Due: none

Fix Fitting and Justification for lottie
  CHANGELOG.md
  examples/graphics/source/examples/LottieDemo.h
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_animation/animation/yup_Animation.cpp
  modules/yup_animation/animation/yup_Animation.h
  modules/yup_animation/animation/yup_AnimationPlayer.cpp
  modules/yup_animation/animation/yup_AnimationPlayer.h
  modules/yup_animation/renderer/yup_AnimationFrameExporter.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.h
  tests/yup_animation/yup_AnimationRenderer.cpp
Due: none

Added drag and drop support
  CHANGELOG.md
  examples/graphics/source/examples/LottieDemo.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/component/yup_DragAndDropData.cpp
  modules/yup_gui/component/yup_DragAndDropData.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/native/yup_Windowing_sdl2.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  tests/yup_gui.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_DragAndDropData.cpp
Due: yup_gui, YUP GUI

Fixes to Lottie
  CHANGELOG.md
  modules/yup_animation/core/yup_AnimationProperty.h
  modules/yup_animation/core/yup_AnimationTransform.cpp
  modules/yup_animation/core/yup_AnimationTransform.h
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/io/yup_LottieReader.h
  modules/yup_animation/io/yup_LottieWriter.cpp
  modules/yup_animation/io/yup_LottieWriter.h
  modules/yup_animation/model/yup_AnimationGroup.cpp
  modules/yup_animation/model/yup_AnimationGroup.h
  modules/yup_animation/model/yup_AnimationModifier.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
Due: none

Fix lottie animations
  CHANGELOG.md
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/model/yup_AnimationShape.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
Due: none

Fix Path addRoundedRect
  modules/yup_graphics/primitives/yup_Path.cpp
  tests/yup_graphics/yup_Path.cpp
Due: yup_graphics, YUP Graphics

Fix Path addRoundedRect
  CHANGELOG.md
  modules/yup_graphics/primitives/yup_Path.cpp
  tests/yup_graphics/yup_Path.cpp
Due: yup_graphics, YUP Graphics

Fix matte
  CHANGELOG.md
  modules/yup_animation/animation/yup_Animation.cpp
  modules/yup_animation/animation/yup_Animation.h
  modules/yup_animation/animation/yup_AnimationPlayer.cpp
  modules/yup_animation/animation/yup_AnimationPlayer.h
  modules/yup_animation/renderer/yup_AnimationFrameExporter.cpp
  modules/yup_animation/renderer/yup_AnimationFrameExporter.h
  modules/yup_animation/renderer/yup_AnimationRenderResources.cpp
  modules/yup_animation/renderer/yup_AnimationRenderResources.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.h
  modules/yup_animation/yup_animation.cpp
  modules/yup_animation/yup_animation.h
  tests/yup_animation/yup_AnimationFrameExporter.cpp
  tests/yup_animation/yup_AnimationRenderer.cpp
Due: none

Add support for drag and drop spining cube
  examples/graphics/source/examples/SpinningCubeDemo.h
Due: none

Fix tests
  tests/yup_gui/yup_Component.cpp
Due: none

Fix issues
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  tests/mocks/yup_graphics.h
Due: yup_graphics, YUP Graphics

offscreen context pool
  modules/yup_animation/renderer/yup_AnimationRenderResources.cpp
  modules/yup_animation/renderer/yup_AnimationRenderResources.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/context/yup_OffscreenTarget.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
Due: yup_graphics, YUP Graphics

Fix changelog
  CHANGELOG.md
Due: none

External files and text drag and drop support in YUP Components (#134)
  CHANGELOG.md
  examples/graphics/source/examples/LottieDemo.h
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/component/yup_DragAndDropData.cpp
  modules/yup_gui/component/yup_DragAndDropData.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/native/yup_Windowing_sdl2.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  tests/yup_gui.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_DragAndDropData.cpp
Due: yup_gui, YUP GUI

Tests
  tests/yup_animation.cpp
  tests/yup_animation/yup_AnimationRenderResources.cpp
  tests/yup_animation/yup_AnimationRenderer.cpp
  tests/yup_graphics/yup_GpuCanvas.cpp
Due: none

Improved design
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_graphics/context/yup_GraphicsContext.cpp
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/context/yup_OffscreenTarget.h
  modules/yup_graphics/context/yup_RenderableTarget.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_dawn.cpp
  modules/yup_graphics/native/yup_GraphicsContext_headless.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.h
  modules/yup_graphics/rhi/yup_GpuFrame.h
  modules/yup_graphics/rhi/yup_GpuRenderPass.h
  modules/yup_graphics/rhi/yup_GpuTarget.cpp
  modules/yup_graphics/rhi/yup_GpuTarget.h
  modules/yup_graphics/rhi/yup_GpuTexture.h
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  tests/mocks/yup_graphics.h
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_GpuTarget.cpp
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
Due: yup_graphics, YUP Graphics

Docs updates
  .readthedocs.yaml
  README.md
  docs/_static/.gitkeep
  docs/audio/index.md
  docs/build-system/building-plugins.md
  docs/build-system/building-standalone.md
  docs/build-system/cmake-api.md
  docs/build-system/index.md
  docs/build-system/module-format.md
  docs/conf.py
  docs/core/index.md
  docs/data/datatree-tutorial.md
  docs/data/index.md
  docs/getting-started/index.md
  docs/graphics/index.md
  docs/graphics/rhi/buffers-and-textures.md
  docs/graphics/rhi/concepts.md
  docs/graphics/rhi/frames-and-passes.md
  docs/graphics/rhi/index.md
  docs/graphics/rhi/pipelines.md
  docs/graphics/rhi/spinning-cube.md
  docs/graphics/rhi/targets.md
  docs/index.md
  docs/multithreading/index.md
  docs/requirements.txt
  docs/scripting/index.md
  docs/ui/index.md
  docs/ui/profiling-component-paint.md
Due: none

Docs updates (#136)
  .readthedocs.yaml
  README.md
  docs/_static/.gitkeep
  docs/audio/index.md
  docs/build-system/building-plugins.md
  docs/build-system/building-standalone.md
  docs/build-system/cmake-api.md
  docs/build-system/index.md
  docs/build-system/module-format.md
  docs/conf.py
  docs/core/index.md
  docs/data/datatree-tutorial.md
  docs/data/index.md
  docs/getting-started/index.md
  docs/graphics/index.md
  docs/graphics/rhi/buffers-and-textures.md
  docs/graphics/rhi/concepts.md
  docs/graphics/rhi/frames-and-passes.md
  docs/graphics/rhi/index.md
  docs/graphics/rhi/pipelines.md
  docs/graphics/rhi/spinning-cube.md
  docs/graphics/rhi/targets.md
  docs/index.md
  docs/multithreading/index.md
  docs/requirements.txt
  docs/scripting/index.md
  docs/ui/index.md
  docs/ui/profiling-component-paint.md
Due: none

More docs
  docs/_static/logo-dark.png
  docs/_static/logo-light.png
  docs/conf.py
  docs/graphics/drawing.md
  docs/graphics/fonts.md
  docs/graphics/graphics-class.md
  docs/graphics/images.md
  docs/graphics/index.md
  docs/graphics/primitives.md
  docs/graphics/rhi/pipelines.md
  docs/graphics/rhi/spinning-cube.md
  docs/graphics/svg.md
Due: none

Try with mermaid
  docs/conf.py
  docs/graphics/rhi/concepts.md
  docs/requirements.txt
Due: none

Fix mermaid
  docs/conf.py
  docs/index.md
  docs/modules.md
Due: none

We miss mermaid css
  docs/_static/mermaid.css
  docs/conf.py
Due: none

Context pool (#135)
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_animation/renderer/yup_AnimationRenderResources.cpp
  modules/yup_animation/renderer/yup_AnimationRenderResources.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_graphics/context/yup_GraphicsContext.cpp
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/context/yup_OffscreenTarget.h
  modules/yup_graphics/context/yup_RenderableTarget.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_dawn.cpp
  modules/yup_graphics/native/yup_GraphicsContext_headless.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.h
  modules/yup_graphics/rhi/yup_GpuFrame.h
  modules/yup_graphics/rhi/yup_GpuRenderPass.h
  modules/yup_graphics/rhi/yup_GpuTarget.cpp
  modules/yup_graphics/rhi/yup_GpuTarget.h
  modules/yup_graphics/rhi/yup_GpuTexture.h
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  tests/mocks/yup_graphics.h
  tests/yup_animation.cpp
  tests/yup_animation/yup_AnimationRenderResources.cpp
  tests/yup_animation/yup_AnimationRenderer.cpp
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_GpuCanvas.cpp
  tests/yup_graphics/yup_GpuTarget.cpp
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
Due: yup_graphics, YUP Graphics

More lottie fixes
  modules/yup_animation/core/yup_AnimationTransform.cpp
  modules/yup_animation/core/yup_AnimationTransform.h
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/io/yup_LottieWriter.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  tests/data/lottie/bell.json
  tests/yup_animation/yup_AnimationTransform.cpp
  tests/yup_animation/yup_LottieReader.cpp
  tests/yup_animation/yup_LottieWriter.cpp
Due: none

Fix config
  docs/_static/mermaid.css
  docs/conf.py
Due: none

Fix mermaid
  docs/conf.py
  docs/graphics/rhi/concepts.md
Due: none

Add deepwiki and readthedocs badges
  README.md
Due: none

Improved links
  docs/index.md
Due: none

More fixes to css
  docs/_static/mermaid.css
  docs/conf.py
Due: none

Docs on yup core
  docs/build-system/building-standalone.md
  docs/core/containers.md
  docs/core/data-interchange.md
  docs/core/files-and-streams.md
  docs/core/index.md
  docs/core/maths.md
  docs/core/memory.md
  docs/core/networking.md
  docs/core/results-and-errors.md
  docs/core/serialisation.md
  docs/core/strings-and-text.md
  docs/core/system-and-app.md
  docs/core/time.md
Due: none
