Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

More tests
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.h
  tests/yup_audio_gui.cpp
  tests/yup_audio_gui/yup_SpectrogramComponent.cpp
Due: none

Fixes for filters
  modules/yup_dsp/filters/yup_CombFilter.h
Due: none

Add more tests
  tests/yup_dsp/yup_AnalogFilters.cpp
Due: none

Reworked filters
  modules/yup_dsp/base/yup_AnalogPoles.h
  modules/yup_dsp/base/yup_AnalogSaturator.h
  modules/yup_dsp/designers/yup_FilterDesigner.cpp
  modules/yup_dsp/designers/yup_FilterDesigner.h
  modules/yup_dsp/filters/yup_AnalogFilters.h
  modules/yup_dsp/filters/yup_ButterworthFilter.h
  modules/yup_dsp/filters/yup_DirectFIR.h
  modules/yup_dsp/filters/yup_LinkwitzRileyFilter.h
  modules/yup_dsp/utilities/yup_DspMath.h
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp/yup_FilterDesigner.cpp
  tests/yup_dsp/yup_LinkwitzRileyFilter.cpp
Due: none

Fix python tests relative paths
  python/tests/__init__.py
  python/tests/conftest.py
  python/tests/test_yup_core/__init__.py
  python/tests/test_yup_core/test_File.py
  python/tests/test_yup_core/test_FileFilter.py
  python/tests/test_yup_core/test_FileOutputStream.py
  python/tests/test_yup_core/test_JSON.py
  python/tests/test_yup_core/test_TemporaryFile.py
  python/tests/test_yup_core/test_XmlElement.py
  python/tests/test_yup_core/test_ZipFile.py
  python/tests/test_yup_events/__init__.py
  python/tests/test_yup_graphics/__init__.py
  python/tests/utilities.py
Due: none

Fix include issue
  modules/yup_dsp/yup_dsp.h
Due: none

VA Filters (#103)
  examples/graphics/source/examples/FilterDemo.h
  modules/yup_dsp/base/yup_AnalogFilterCoefficients.h
  modules/yup_dsp/base/yup_AnalogPoles.h
  modules/yup_dsp/base/yup_AnalogSaturator.h
  modules/yup_dsp/designers/yup_AnalogFilterDesigner.cpp
  modules/yup_dsp/designers/yup_AnalogFilterDesigner.h
  modules/yup_dsp/designers/yup_FilterDesigner.cpp
  modules/yup_dsp/designers/yup_FilterDesigner.h
  modules/yup_dsp/filters/yup_AnalogFilters.h
  modules/yup_dsp/filters/yup_ButterworthFilter.h
  modules/yup_dsp/filters/yup_CombFilter.h
  modules/yup_dsp/filters/yup_DirectFIR.h
  modules/yup_dsp/filters/yup_LinkwitzRileyFilter.h
  modules/yup_dsp/utilities/yup_DspMath.h
  modules/yup_dsp/yup_dsp.cpp
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp.cpp
  tests/yup_dsp/yup_AnalogFilters.cpp
  tests/yup_dsp/yup_CombFilter.cpp
  tests/yup_dsp/yup_FilterDesigner.cpp
  tests/yup_dsp/yup_LinkwitzRileyFilter.cpp
Due: none

Fix python tests relative paths (#105)
  python/tests/__init__.py
  python/tests/conftest.py
  python/tests/test_yup_core/__init__.py
  python/tests/test_yup_core/test_File.py
  python/tests/test_yup_core/test_FileFilter.py
  python/tests/test_yup_core/test_FileOutputStream.py
  python/tests/test_yup_core/test_JSON.py
  python/tests/test_yup_core/test_TemporaryFile.py
  python/tests/test_yup_core/test_XmlElement.py
  python/tests/test_yup_core/test_ZipFile.py
  python/tests/test_yup_events/__init__.py
  python/tests/test_yup_graphics/__init__.py
  python/tests/utilities.py
Due: none

More image tests
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_Image.cpp
Due: none

Spectrogram Component (#102)
  AGENTS.md
  CLAUDE.md
  examples/graphics/source/examples/SpectrumAnalyzer.h
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.h
  modules/yup_audio_gui/yup_audio_gui.cpp
  modules/yup_audio_gui/yup_audio_gui.h
  modules/yup_graphics/graphics/yup_Color.h
  modules/yup_graphics/graphics/yup_ColorGradient.h
  modules/yup_graphics/imaging/yup_Image.cpp
  modules/yup_graphics/imaging/yup_Image.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  tests/yup_audio_gui.cpp
  tests/yup_audio_gui/yup_SpectrogramComponent.cpp
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_Color.cpp
  tests/yup_graphics/yup_ColorGradient.cpp
  tests/yup_graphics/yup_Image.cpp
Due: yup_graphics, YUP Graphics

More nice stuff
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.mm
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
  modules/yup_audio_plugin_client/vst3/yup_audio_plugin_client_VST3.cpp
  modules/yup_audio_processors/processors/yup_AudioParameter.cpp
  modules/yup_audio_processors/processors/yup_AudioParameter.h
  modules/yup_audio_processors/processors/yup_AudioParameterBuilder.cpp
  modules/yup_audio_processors/processors/yup_AudioParameterBuilder.h
  modules/yup_audio_processors/processors/yup_AudioProcessor.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.h
  tests/yup_audio_processors.cpp
  tests/yup_audio_processors/yup_AudioParameter.cpp
Due: yup_audio_processors, YUP Audio Processors

Automatic handle latency changes in AudioGraph
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.h
  tests/yup_audio_graph/yup_AudioGraphProcessor.cpp
Due: none

Fix plugin hosts
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.mm
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_AUv2.mm
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_CLAP.cpp
  modules/yup_audio_plugin_host/yup_audio_plugin_host.cpp
Due: none

Fix file chooser leak
  modules/yup_gui/dialogs/yup_FileChooser.cpp
  modules/yup_gui/dialogs/yup_FileChooser.h
  modules/yup_gui/native/yup_FileChooser_android.cpp
  modules/yup_gui/native/yup_FileChooser_mac.mm
Due: yup_gui, YUP GUI

Fix potential misuse
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
Due: none

Make desktop delete at shutdown
  modules/yup_gui/desktop/yup_Desktop.h
Due: yup_gui, YUP GUI

Added debug macro
  modules/yup_core/system/yup_PlatformDefs.h
Due: yup_core, YUP Core

More fixes
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/yup_gui.h
Due: yup_gui, YUP GUI

Fix logging
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_AUv2.mm
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_CLAP.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.cpp
  modules/yup_audio_plugin_host/yup_audio_plugin_host.h
Due: none

Fix window handling in plugins
  cmake/yup_audio_plugin.cmake
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.mm
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
  modules/yup_audio_plugin_client/common/yup_AudioPluginUtilities.h
  modules/yup_audio_plugin_client/standalone/yup_audio_plugin_client_Standalone.cpp
  modules/yup_audio_plugin_client/vst3/yup_audio_plugin_client_VST3.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.cpp
Due: yup_audio_processors, YUP Audio Processors

Fix mouse motion
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
Due: none

More fixes
  cmake/yup_audio_plugin.cmake
  examples/plugin/CMakeLists.txt
  modules/yup_audio_plugin_client/vst3/yup_audio_plugin_client_VST3.cpp
  modules/yup_audio_plugin_client/yup_audio_plugin_client.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
Due: none

More plugin work
  cmake/yup_audio_plugin.cmake
  examples/plugin/source/ExamplePlugin.cpp
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.cpp
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.mm
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
  modules/yup_audio_plugin_client/standalone/yup_audio_plugin_client_Standalone.cpp
  modules/yup_audio_plugin_client/vst3/yup_audio_plugin_client_VST3.cpp
  modules/yup_audio_plugin_client/yup_audio_plugin_client.h
  modules/yup_audio_plugin_host/yup_audio_plugin_host.h
  modules/yup_core/system/yup_PlatformDefs.h
  modules/yup_events/timers/yup_Timer.cpp
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
Due: yup_core, yup_events, YUP Core, YUP Events

More stuff
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.cpp
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
  modules/yup_audio_plugin_client/vst3/yup_audio_plugin_client_VST3.cpp
  modules/yup_events/messages/yup_Initialisation.h
  modules/yup_events/messages/yup_MessageManager.cpp
  modules/yup_gui/application/yup_Application.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
Due: yup_events, yup_gui, YUP Events, YUP GUI

Fix issue with AU resizing
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.cpp
Due: none

More playhead work
  examples/audiograph/source/nodes/SubgraphNode.h
  modules/yup_audio_basics/audio_play_head/yup_AudioPlayHead.h
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.cpp
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
  modules/yup_audio_plugin_client/vst3/yup_audio_plugin_client_VST3.cpp
  modules/yup_audio_plugin_host/host/yup_AudioPluginHostContext.h
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_AUv2.mm
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_CLAP.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessContext.h
  modules/yup_audio_processors/processors/yup_AudioProcessor.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.h
  modules/yup_audio_processors/processors/yup_ParameterChangeBuffer.h
  tests/yup_audio_processors.cpp
  tests/yup_audio_processors/yup_AudioProcessContext.cpp
Due: yup_audio_basics, yup_audio_processors, YUP Audio Basics, YUP Audio Processors

Button cleanup
  modules/yup_gui/buttons/yup_Button.h
  modules/yup_gui/buttons/yup_SwitchButton.h
  modules/yup_gui/buttons/yup_TextButton.h
  modules/yup_gui/buttons/yup_ToggleButton.h
Due: yup_gui, YUP GUI

Reduce coverage on untestable parts
  .github/workflows/coverage.yml
Due: none

More unit tests
  tests/yup_audio_processors.cpp
  tests/yup_audio_processors/yup_ParameterChangeBuffer.cpp
  tests/yup_gui/yup_ApplicationTheme.cpp
Due: none

More fixes
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
  modules/yup_audio_plugin_client/common/yup_AudioPluginUtilities.h
  modules/yup_audio_plugin_client/vst3/yup_audio_plugin_client_VST3.cpp
Due: none

Initial checkin of yup_simd
  cmake/platforms/yup_emscripten.cmake
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/metering/yup_LevelProcessor.cpp
  modules/yup_dsp/utilities/yup_DspMath.cpp
  modules/yup_graphics/graphics/yup_Color.h
  modules/yup_graphics/imaging/yup_Image.cpp
  modules/yup_graphics/primitives/yup_AffineTransform.h
  modules/yup_graphics/yup_graphics.h
  modules/yup_simd/buffers/yup_AffineTransformOperations.cpp
  modules/yup_simd/buffers/yup_AffineTransformOperations.h
  modules/yup_simd/buffers/yup_ColorVectorOperations.cpp
  modules/yup_simd/buffers/yup_ColorVectorOperations.h
  modules/yup_simd/buffers/yup_ComplexVectorOperations.cpp
  modules/yup_simd/buffers/yup_ComplexVectorOperations.h
  modules/yup_simd/buffers/yup_FloatVectorOperations.cpp
  modules/yup_simd/buffers/yup_FloatVectorOperations.h
  modules/yup_simd/types/yup_EigenAdapters.h
  modules/yup_simd/types/yup_SIMDRegister.h
  modules/yup_simd/types/yup_Vec.h
  modules/yup_simd/yup_simd.cpp
  modules/yup_simd/yup_simd.h
  tests/yup_graphics/yup_Image.cpp
  tests/yup_simd/yup_AffineTransformOperations.cpp
  tests/yup_simd/yup_ColorVectorOperations.cpp
  tests/yup_simd/yup_ComplexVectorOperations.cpp
  tests/yup_simd/yup_FloatVectorOperations.cpp
  tests/yup_simd/yup_SIMDRegister.cpp
  thirdparty/xsimd/xsimd.h
Due: yup_graphics, YUP Graphics

More tweaks
  examples/graphics/source/examples/SpectrumAnalyzer.h
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.h
  tests/yup_audio_gui/yup_SpectrumAnalyzerComponent.cpp
Due: none

Fix VST3 and AU validators
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.cpp
  modules/yup_audio_plugin_client/vst3/yup_audio_plugin_client_VST3.cpp
Due: none

Finally all working
  CMakeLists.txt
  cmake/yup.cmake
  cmake/yup_audio_plugin.cmake
  cmake/yup_codesign.cmake
  cmake/yup_pluginval.cmake
  examples/plugin/source/ExamplePlugin.cpp
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
Due: none

Fix plugin building on CI
  cmake/yup_audio_plugin.cmake
  examples/plugin/source/ExampleEditor.cpp
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
Due: none

More fixes
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  modules/yup_core/threads/yup_WaitableEvent.cpp
Due: yup_core, YUP Core

Fix graph processor
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
Due: none

Fix CLAP parameters handling
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
Due: none

More work around parameters and plugins
  examples/plugin/source/ExamplePlugin.cpp
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.cpp
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
  modules/yup_audio_plugin_client/vst3/yup_audio_plugin_client_VST3.cpp
  modules/yup_audio_processors/processors/yup_AudioParameter.cpp
  modules/yup_audio_processors/processors/yup_AudioParameter.h
  modules/yup_audio_processors/processors/yup_AudioParameterBuilder.cpp
  modules/yup_audio_processors/processors/yup_AudioParameterBuilder.h
  modules/yup_audio_processors/processors/yup_AudioProcessor.h
  tests/yup_audio_processors/yup_AudioParameter.cpp
Due: yup_audio_processors, YUP Audio Processors

More fixes
  cmake/platforms/mac/ApplicationInfo.plist
  cmake/platforms/mac/AudioPluginInfo.plist.in
  cmake/platforms/mac/AudioUnitInfo.plist.in
  cmake/yup_audio_plugin.cmake
  cmake/yup_standalone.cmake
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.cpp
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
  modules/yup_audio_plugin_client/common/yup_AudioPluginUtilities.h
  modules/yup_audio_plugin_client/vst3/yup_audio_plugin_client_VST3.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_CLAP.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.cpp
  modules/yup_audio_plugin_host/yup_audio_plugin_host.cpp
Due: none

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
