Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

Dummy video driver
  .github/workflows/coverage.yml
  cmake/yup_dependencies.cmake
Due: none

Fix testing
  CHANGELOG.md
  tests/yup_gui.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_SystemClipboard.cpp
Due: none

PRefer sampled texture on GLES
  CHANGELOG.md
  modules/yup_graphics/rhi/yup_GpuTexture.cpp
Due: yup_graphics, YUP Graphics

More tweaks
  CHANGELOG.md
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/Artboard.h
  examples/graphics/source/examples/LottieDemo.h
  examples/graphics/source/examples/SpinningCubeDemo.h
  examples/graphics/source/main.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

Fix image rendering
  CHANGELOG.md
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/yup_graphics.cpp
Due: yup_graphics, YUP Graphics

More android tweaks
  CHANGELOG.md
  cmake/yup_dependencies.cmake
  cmake/yup_standalone.cmake
  justfile
  modules/yup_gui/yup_gui.cpp
Due: yup_gui, YUP GUI

Fix android
  .github/workflows/build_android.yml
  CHANGELOG.md
  README.md
  cmake/platforms/android/app/build.gradle.kts.in
  cmake/platforms/android/gradle/libs.versions.toml.in
  cmake/platforms/android/gradle/wrapper/gradle-wrapper.properties.in
  cmake/platforms/ios/ApplicationInfo.plist
  cmake/platforms/ios/LaunchScreen.storyboard
  cmake/platforms/yup_android.cmake
  examples/graphics/source/main.cpp
  modules/yup_events/messages/yup_Initialisation.h
Due: yup_events, YUP Events

Stabilize flaky `TimeSliceThread` quick-client scheduling test on macOS CI (#139)
  tests/yup_core/yup_TimeSliceThread.cpp
Due: none

wasm: increase yup_tests memory defaults to fix pthread OOM in CI (#140)
  CHANGELOG.md
  cmake/yup_standalone.cmake
  docs/build-system/cmake-api.md
  tests/CMakeLists.txt
Due: none

Fix tests
  CHANGELOG.md
  cmake/yup_standalone.cmake
  docs/build-system/cmake-api.md
  tests/CMakeLists.txt
  tests/yup_core/yup_TimeSliceThread.cpp
Due: none

Fix dpi handling
  CHANGELOG.md
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

Remove dpiScale from GraphicsContext and pass it in onSizeChanged
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_dawn.cpp
  modules/yup_graphics/native/yup_GraphicsContext_headless.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  tests/mocks/yup_graphics.h
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
Due: yup_graphics, YUP Graphics

More fixes to screen bounds
  CHANGELOG.md
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  modules/yup_gui/windowing/yup_DocumentWindow.cpp
Due: yup_gui, YUP GUI

Added safe area handling
  CHANGELOG.md
  examples/graphics/source/main.cpp
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  tests/mocks/yup_gui.h
  tests/yup_gui/yup_Component.cpp
Due: yup_gui, YUP GUI

Clear screens on recollection
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

More tweaks
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_dawn.cpp
  modules/yup_graphics/native/yup_GraphicsContext_headless.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_gui/native/yup_Desktop_sdl.cpp
  modules/yup_gui/native/yup_Initialisation_sdl.cpp
  modules/yup_gui/yup_gui.cpp
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
  yup_Windowing_sdl.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

cleanup
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

More fixes
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: yup_gui, YUP GUI

Fix issue with hidpi
  CHANGELOG.md
  modules/yup_gui/native/yup_Desktop_sdl.cpp
  modules/yup_gui/native/yup_WindowingUtilities_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
Due: none

Avoid recursion
  modules/yup_gui/native/yup_WindowingUtilities_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

Fix issues
  tests/mocks/yup_graphics.h
Due: none

Updated manifest
  tools/rive_update_manifest.json
Due: none

More tests
  tests/yup_gui/yup_Component.cpp
Due: none

Separate build folder
  CHANGELOG.md
  justfile
Due: none

Separate build folder (#144)
  CHANGELOG.md
  justfile
Due: none

Improved HiDPI support and SafeArea on mobile (#143)
  CHANGELOG.md
  examples/graphics/source/main.cpp
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_dawn.cpp
  modules/yup_graphics/native/yup_GraphicsContext_headless.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/native/yup_Desktop_sdl.cpp
  modules/yup_gui/native/yup_Initialisation_sdl.cpp
  modules/yup_gui/native/yup_WindowingUtilities_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  modules/yup_gui/yup_gui.cpp
  tests/mocks/yup_graphics.h
  tests/mocks/yup_gui.h
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
  tests/yup_gui/yup_Component.cpp
  yup_Windowing_sdl.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

More work
  CHANGELOG.md
  cmake/platforms/emscripten/shell.html
  modules/yup_graphics/context/yup_GraphicsContext.cpp
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/native/yup_GraphicsContext_webgpu.cpp
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_gui/native/yup_WindowingUtilities_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  modules/yup_gui/yup_gui.h
  thirdparty/rive_renderer/rive_renderer_emscripten.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Make it work
  .github/workflows/coverage.yml
  CHANGELOG.md
  CMakeLists.txt
  cmake/yup_standalone.cmake
  modules/yup_graphics/native/yup_GraphicsContext_webgpu.cpp
Due: none

Updated changelog
  CHANGELOG.md
Due: none

Add one more option
  CMakeLists.txt
Due: none

Remove leftover
  yup_Windowing_sdl.cpp
Due: none

Implement WGSL transpilation
  CHANGELOG.md
  README.md
  cmake/tools/shader_bundler/source/main.cpp
  docs/graphics/rhi/offline-shaders.md
  docs/graphics/rhi/pipelines.md
  docs/modules.md
  modules/yup_shading/shading/yup_ShaderBundleCompiler.cpp
  modules/yup_shading/shading/yup_ShaderCache.cpp
  modules/yup_shading/shading/yup_ShaderTranspiler.cpp
  modules/yup_shading/shading/yup_ShaderTypes.h
  modules/yup_shading/shading/yup_WgslTranspiler.cpp
  modules/yup_shading/shading/yup_WgslTranspiler.h
  modules/yup_shading/wgsl/yup_GlslAst.h
  modules/yup_shading/wgsl/yup_GlslParser.cpp
  modules/yup_shading/wgsl/yup_GlslParser.h
  modules/yup_shading/wgsl/yup_WgslEmitter.cpp
  modules/yup_shading/wgsl/yup_WgslEmitter.h
  modules/yup_shading/wgsl/yup_WgslLowering.cpp
  modules/yup_shading/wgsl/yup_WgslLowering.h
  modules/yup_shading/yup_shading.cpp
  modules/yup_shading/yup_shading.h
  tests/yup_shading.cpp
  tests/yup_shading/yup_WgslTranspiler.cpp
  thirdparty/rive_renderer/include/rive/renderer/ore/ore_context_wgpu.hpp
  thirdparty/rive_renderer/source/ore/wgpu/ore_context_wgpu.cpp
  tools/rive_update_manifest.json
Due: none

More updates
  CHANGELOG.md
  CMakeLists.txt
  README.md
  cmake/yup_standalone.cmake
  docs/build-system/building-standalone.md
  docs/build-system/cmake-api.md
  docs/build-system/module-format.md
  docs/core/data-interchange.md
  docs/core/networking.md
  docs/core/serialisation.md
  docs/core/system-and-app.md
  docs/core/xml.md
  docs/data/cached-value.md
  docs/data/datatree.md
  docs/data/index.md
  docs/data/object-list.md
  docs/data/query.md
  docs/data/schema.md
  docs/data/transactions.md
  docs/graphics/index.md
  docs/graphics/rhi/offline-shaders.md
  docs/graphics/rhi/pipelines.md
  docs/modules.md
  tests/yup_shading/yup_WgslTranspiler.cpp
Due: none

Fix tests
  tests/yup_shading/yup_WgslTranspiler.cpp
Due: none

More cleanups
  cmake/yup_utilities.cmake
  tests/yup_audio_gui/yup_AudioGraphComponent.cpp
  tests/yup_gui/yup_SystemClipboard.cpp
Due: none

More coverage
  tests/yup_shading/yup_WgslTranspiler.cpp
Due: none
