Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

More work on SVG
  examples/graphics/data/svg/mozilla2.svg
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
Due: yup_graphics, YUP Graphics

Oversampler and Resampler (#97)
  examples/graphics/source/examples/SpectrumAnalyzer.h
  modules/yup_dsp/resampling/yup_CircularBuffer.h
  modules/yup_dsp/resampling/yup_Oversampler.h
  modules/yup_dsp/resampling/yup_Resampler.h
  modules/yup_dsp/resampling/yup_SincTable.h
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp.cpp
  tests/yup_dsp/yup_CircularBuffer.cpp
  tests/yup_dsp/yup_Oversampler.cpp
  tests/yup_dsp/yup_Resampler.cpp
  tests/yup_dsp/yup_SincTable.cpp
Due: none

More fixes
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
  tests/yup_graphics/yup_Drawable.cpp
  tests/yup_graphics/yup_Path.cpp
Due: yup_graphics, YUP Graphics

A new parser
  examples/graphics/source/examples/Svg.h
  modules/yup_core/containers/yup_HashMap.h
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/svg/yup_SVGClipPath.h
  modules/yup_graphics/svg/yup_SVGCssParser.cpp
  modules/yup_graphics/svg/yup_SVGCssParser.h
  modules/yup_graphics/svg/yup_SVGCssRule.h
  modules/yup_graphics/svg/yup_SVGDocument.cpp
  modules/yup_graphics/svg/yup_SVGDocument.h
  modules/yup_graphics/svg/yup_SVGElement.h
  modules/yup_graphics/svg/yup_SVGFilter.h
  modules/yup_graphics/svg/yup_SVGGradient.h
  modules/yup_graphics/svg/yup_SVGParser.cpp
  modules/yup_graphics/svg/yup_SVGParser.h
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

More cleanups
  examples/graphics/source/examples/Svg.h
  modules/yup_gui/artboard/yup_Artboard.cpp
  modules/yup_gui/mouse/yup_MouseEvent.cpp
  modules/yup_gui/mouse/yup_MouseEvent.h
Due: yup_gui, YUP GUI

Fix font rendering
  examples/graphics/source/examples/Svg.h
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/svg/yup_SVGCssParser.cpp
  modules/yup_graphics/svg/yup_SVGDocument.h
  modules/yup_graphics/svg/yup_SVGElement.h
  modules/yup_graphics/svg/yup_SVGParser.cpp
Due: yup_graphics, YUP Graphics

Fix
  modules/yup_graphics/drawables/yup_Drawable.cpp
Due: yup_graphics, YUP Graphics

Fix WASM builds
  modules/yup_core/native/yup_Network_wasm.cpp
  modules/yup_core/yup_core.cpp
Due: yup_core, YUP Core

Support SVG 1.1
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/svg/yup_SVGCssParser.cpp
  modules/yup_graphics/svg/yup_SVGDocument.h
  modules/yup_graphics/svg/yup_SVGElement.h
  modules/yup_graphics/svg/yup_SVGMarker.h
  modules/yup_graphics/svg/yup_SVGMask.h
  modules/yup_graphics/svg/yup_SVGParser.cpp
  modules/yup_graphics/svg/yup_SVGParser.h
  modules/yup_graphics/svg/yup_SVGPattern.h
  modules/yup_graphics/yup_graphics.h
  tests/yup_graphics/yup_Drawable.cpp
  tests/yup_graphics/yup_SVGDocument.cpp
  tests/yup_graphics/yup_SVGParser.cpp
Due: yup_graphics, YUP Graphics

More tweaks
  modules/yup_core/files/yup_File.h
  modules/yup_core/files/yup_FileSearchPath.cpp
  modules/yup_core/network/yup_URL.cpp
  tests/yup_graphics/yup_Drawable.cpp
Due: yup_core, YUP Core

Component profiling (#95)
  docs/Profiling Component Paint.md
  docs/images/yup_component_profiler.png
  examples/graphics/source/examples/PaintProfilerDemo.h
  examples/graphics/source/main.cpp
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/component/yup_ComponentListener.h
  modules/yup_gui/component/yup_ComponentPaintMetrics.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/profiling/yup_PaintProfileSample.h
  modules/yup_gui/profiling/yup_PaintProfileStats.cpp
  modules/yup_gui/profiling/yup_PaintProfileStats.h
  modules/yup_gui/profiling/yup_PaintProfiler.cpp
  modules/yup_gui/profiling/yup_PaintProfiler.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  tests/yup_gui.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_PaintProfileStats.cpp
  tests/yup_gui/yup_PaintProfiler.cpp
Due: yup_gui, YUP GUI

Fix wasm audio
  cmake/yup_standalone.cmake
  examples/graphics/CMakeLists.txt
  modules/yup_audio_devices/native/yup_AudioWorklet_emscripten.cpp
Due: none

Fix tests
  tests/yup_graphics/yup_Drawable.cpp
  tests/yup_graphics/yup_SVGParser.cpp
Due: none

More support
  examples/graphics/data/svg/pulpitrock.svg
  examples/graphics/source/examples/Svg.h
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/svg/yup_SVGParser.cpp
  tests/yup_graphics/yup_SVGParser.cpp
Due: yup_graphics, YUP Graphics

Fix tests
  modules/yup_core/native/yup_Files_windows.cpp
Due: none

Make File constructor explicit
  modules/yup_core/native/yup_Files_android.cpp
  modules/yup_core/native/yup_Files_apple.mm
  modules/yup_core/native/yup_Files_wasm.cpp
Due: none

Fix tests
  modules/yup_core/native/yup_Files_apple.mm
Due: none

Fix typo
  modules/yup_core/native/yup_Files_apple.mm
Due: none

Fix network issues on wasm
  modules/yup_core/native/yup_Network_wasm.cpp
  modules/yup_core/yup_core.cpp
Due: yup_core, YUP Core

Fix tests
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/svg/yup_SVGCssParser.cpp
  modules/yup_graphics/svg/yup_SVGParser.cpp
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_Drawable.cpp
  tests/yup_graphics/yup_SVGDocument.cpp
  tests/yup_graphics/yup_SVGParser.cpp
Due: yup_graphics, YUP Graphics

Fix tests
  modules/yup_audio_basics/sources/yup_BufferingAudioSource.cpp
  modules/yup_audio_basics/sources/yup_BufferingAudioSource.h
  tests/yup_audio_basics/yup_BufferingAudioSource.cpp
Due: yup_audio_basics, YUP Audio Basics

Spectrogram Component
  AGENTS.md
  CLAUDE.md
  examples/graphics/source/examples/SpectrumAnalyzer.h
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.h
  modules/yup_audio_gui/yup_audio_gui.cpp
  modules/yup_audio_gui/yup_audio_gui.h
  modules/yup_graphics/graphics/yup_Color.h
  modules/yup_graphics/graphics/yup_ColorGradient.h
  modules/yup_graphics/imaging/yup_Image.cpp
  modules/yup_graphics/imaging/yup_Image.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  tests/yup_graphics/yup_Color.cpp
  tests/yup_graphics/yup_ColorGradient.cpp
  tests/yup_graphics/yup_Image.cpp
Due: yup_graphics, YUP Graphics

More plugin and processor work
  cmake/platforms/mac/AUInfo.plist
  cmake/yup_audio_plugin.cmake
  cmake/yup_dependencies.cmake
  cmake/yup_modules.cmake
  cmake/yup_standalone.cmake
  examples/audiograph/source/AudioGraphApp.cpp
  examples/audiograph/source/nodes/GainNode.h
  examples/audiograph/source/nodes/LatencyNode.h
  examples/audiograph/source/nodes/LowPassFilterNode.h
  examples/audiograph/source/nodes/OscillatorNode.h
  examples/audiograph/source/nodes/SamplePlayerNode.h
  examples/audiograph/source/nodes/SubgraphNode.h
  examples/plugin/CMakeLists.txt
  examples/plugin/source/ExamplePlugin.cpp
  examples/plugin/source/ExamplePlugin.h
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.h
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.mm
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
  modules/yup_audio_plugin_client/standalone/yup_audio_plugin_client_Standalone.cpp
  modules/yup_audio_plugin_client/vst3/yup_audio_plugin_client_VST3.cpp
  modules/yup_audio_plugin_host/host/yup_AudioPluginInstance.cpp
  modules/yup_audio_plugin_host/host/yup_AudioPluginInstance.h
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_AUv2.mm
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_CLAP.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.cpp
  modules/yup_audio_processors/processors/yup_AudioParameterHandle.h
  modules/yup_audio_processors/processors/yup_AudioProcessContext.h
  modules/yup_audio_processors/processors/yup_AudioProcessor.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.h
  modules/yup_audio_processors/processors/yup_ParameterChangeBuffer.h
  modules/yup_audio_processors/yup_audio_processors.h
  tests/yup_audio_graph/yup_AudioGraphProcessor.cpp
  tests/yup_audio_gui/yup_AudioGraphComponent.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginInstance.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginState.cpp
Due: yup_audio_processors, YUP Audio Processors

More plugin fixes
  cmake/yup_audio_plugin.cmake
  modules/yup_audio_plugin_client/vst3/yup_audio_plugin_client_VST3.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.cpp
  modules/yup_audio_processors/processors/yup_AudioParameter.cpp
  modules/yup_audio_processors/processors/yup_AudioParameter.h
  modules/yup_gui/widgets/yup_Slider.cpp
Due: yup_audio_processors, yup_gui, YUP Audio Processors, YUP GUI

Fix AudioGraph plugins
  examples/audiograph/source/AudioGraphApp.cpp
  examples/audiograph/source/nodes/PluginNodeView.h
  examples/audiograph/source/nodes/SoundCardInputNodeView.h
  examples/audiograph/source/nodes/SoundCardOutputNodeView.h
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.cpp
  modules/yup_audio_processors/processors/yup_ParameterChangeBuffer.h
Due: yup_audio_processors, YUP Audio Processors

Midi handling
  examples/audiograph/source/AudioGraphApp.h
Due: none

Midi fixes
  examples/audiograph/source/AudioGraphApp.cpp
  examples/audiograph/source/AudioGraphApp.h
Due: none

More popup menu fixes
  modules/yup_gui/menus/yup_PopupMenu.cpp
  modules/yup_gui/menus/yup_PopupMenu.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  tests/yup_gui/yup_PopupMenu.cpp
Due: yup_gui, YUP GUI

More errors
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/component/yup_ComponentNative.cpp
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/menus/yup_PopupMenu.cpp
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/native/yup_Windowing_sdl2.h
  modules/yup_gui/yup_gui.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  tests/yup_gui/yup_Component.cpp
Due: yup_gui, YUP GUI

More work on theming
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/themes/yup_ApplicationTheme.cpp
  modules/yup_gui/themes/yup_ApplicationTheme.h
  modules/yup_gui/widgets/yup_Label.cpp
  modules/yup_gui/widgets/yup_Label.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  tests/yup_gui/yup_ApplicationTheme.cpp
  tests/yup_gui/yup_Component.cpp
Due: yup_gui, YUP GUI

Disable temporarily theming test
  tests/yup_gui/yup_Component.cpp
Due: none

Analog filters
  examples/graphics/source/examples/FilterDemo.h
  modules/yup_dsp/base/yup_AnalogFilterCoefficients.h
  modules/yup_dsp/designers/yup_AnalogFilterDesigner.cpp
  modules/yup_dsp/designers/yup_AnalogFilterDesigner.h
  modules/yup_dsp/filters/yup_AnalogFilters.h
  modules/yup_dsp/filters/yup_CombFilter.h
  modules/yup_dsp/yup_dsp.cpp
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp.cpp
  tests/yup_dsp/yup_AnalogFilters.cpp
  tests/yup_dsp/yup_CombFilter.cpp
Due: none

Fix Comb filter
  examples/graphics/source/examples/FilterDemo.h
  modules/yup_dsp/filters/yup_CombFilter.h
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp/yup_CombFilter.cpp
Due: none

Time domain stretching
  modules/yup_dsp/stretching/yup_TimeStretchProcessor.cpp
  modules/yup_dsp/stretching/yup_TimeStretchProcessor.h
  tests/yup_dsp.cpp
  tests/yup_dsp/yup_TimeStretchProcessor.cpp
Due: none

More timestretching improvements
  examples/graphics/source/examples/AudioFileDemo.h
  modules/yup_dsp/stretching/yup_TimeStretchBungeeBackend.h
  modules/yup_dsp/stretching/yup_TimeStretchProcessor.cpp
  modules/yup_dsp/stretching/yup_TimeStretchProcessor.h
  modules/yup_dsp/stretching/yup_TimeStretchProcessorEngine.h
  modules/yup_dsp/stretching/yup_TimeStretchTimeDomainBackend.h
  modules/yup_dsp/windowing/yup_WindowFunctions.h
  modules/yup_dsp/yup_dsp.cpp
  tests/yup_dsp/yup_TimeStretchProcessor.cpp
Due: none

Fix issue in tests
  tests/yup_dsp/yup_AnalogFilters.cpp
  tests/yup_dsp/yup_CombFilter.cpp
Due: none

Time domain stretching (#104)
  examples/graphics/source/examples/AudioFileDemo.h
  modules/yup_dsp/stretching/yup_TimeStretchBungeeBackend.h
  modules/yup_dsp/stretching/yup_TimeStretchProcessor.cpp
  modules/yup_dsp/stretching/yup_TimeStretchProcessor.h
  modules/yup_dsp/stretching/yup_TimeStretchProcessorEngine.h
  modules/yup_dsp/stretching/yup_TimeStretchTimeDomainBackend.h
  modules/yup_dsp/windowing/yup_WindowFunctions.h
  modules/yup_dsp/yup_dsp.cpp
  tests/yup_dsp.cpp
  tests/yup_dsp/yup_TimeStretchProcessor.cpp
Due: none

Add support for client providers
  examples/graphics/source/examples/AI.h
  modules/yup_ai/llm/yup_LLMClient.cpp
  modules/yup_ai/llm/yup_LLMClient.h
  modules/yup_ai/llm/yup_LLMClientFactory.cpp
  modules/yup_ai/llm/yup_LLMClientFactory.h
  modules/yup_ai/llm/yup_LLMHttpClient.cpp
  modules/yup_ai/llm/yup_LLMHttpClient.h
  modules/yup_ai/llm/yup_LLMSchema.h
  modules/yup_ai/providers/yup_LLMAnthropicClient.cpp
  modules/yup_ai/providers/yup_LLMAnthropicClient.h
  modules/yup_ai/providers/yup_LLMGeminiClient.cpp
  modules/yup_ai/providers/yup_LLMGeminiClient.h
  modules/yup_ai/providers/yup_LLMOpenAIChatClient.cpp
  modules/yup_ai/providers/yup_LLMOpenAIChatClient.h
  modules/yup_ai/providers/yup_LLMOpenAIResponsesClient.cpp
  modules/yup_ai/providers/yup_LLMOpenAIResponsesClient.h
  modules/yup_ai/yup_ai.cpp
  modules/yup_ai/yup_ai.h
  modules/yup_python/bindings/yup_YupAi_bindings.cpp
  tests/yup_ai/yup_LLMProviders.cpp
  tests/yup_ai/yup_LLMTypes.cpp
Due: none
