Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Added support for font icons in themes
  modules/yup_gui/themes/theme_v1/FontAwesome7Font.inc
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1_Icons.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1_Resources.cpp
  modules/yup_gui/themes/yup_ApplicationTheme.cpp
  modules/yup_gui/themes/yup_ApplicationTheme.h
  modules/yup_gui/yup_gui.h
Due: yup_gui, YUP GUI

More work
  examples/graphics/source/examples/ScrollBarDemo.h
  examples/graphics/source/examples/Svg.h
  examples/graphics/source/main.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/desktop/yup_Desktop.cpp
  modules/yup_gui/desktop/yup_Desktop.h
  modules/yup_gui/keyboard/yup_KeyModifiers.h
  modules/yup_gui/keyboard/yup_KeyPress.h
  modules/yup_gui/mouse/yup_MouseEvent.h
  modules/yup_gui/mouse/yup_MouseListener.h
  modules/yup_gui/mouse/yup_MouseWheelData.h
  modules/yup_gui/widgets/yup_ListBox.cpp
  modules/yup_gui/widgets/yup_ListBox.h
  modules/yup_gui/widgets/yup_ListBoxItem.cpp
  modules/yup_gui/widgets/yup_ListBoxItem.h
  modules/yup_gui/widgets/yup_ScrollBar.cpp
  modules/yup_gui/widgets/yup_ScrollBar.h
  modules/yup_gui/yup_gui.cpp
  tests/yup_core/yup_WebInputStream.cpp
  tests/yup_gui/ListBox.cpp
  tests/yup_gui/ScrollBar.cpp
Due: yup_gui, YUP GUI

The global mouse listener solution doesn't work
  modules/yup_gui/widgets/yup_ScrollBar.cpp
Due: yup_gui, YUP GUI

More work
  examples/graphics/source/examples/ScrollBarDemo.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
Due: yup_gui, YUP GUI

Update license year
  AGENTS.md
  CLAUDE.md
Due: none

Comment assert for now
  modules/yup_gui/desktop/yup_Desktop.cpp
Due: yup_gui, YUP GUI

Added bungee
  thirdparty/bungee/bungee.cpp
  thirdparty/bungee/bungee.h
  thirdparty/bungee/upstream/bungee/Bungee.h
  thirdparty/bungee/upstream/bungee/CommandLine.h
  thirdparty/bungee/upstream/bungee/Modes.h
  thirdparty/bungee/upstream/bungee/Push.h
  thirdparty/bungee/upstream/bungee/Stream.h
  thirdparty/bungee/upstream/src/Assert.cpp
  thirdparty/bungee/upstream/src/Assert.h
  thirdparty/bungee/upstream/src/Dispatch.h
  thirdparty/bungee/upstream/src/Fourier.cpp
  thirdparty/bungee/upstream/src/Fourier.h
  thirdparty/bungee/upstream/src/Grain.cpp
  thirdparty/bungee/upstream/src/Grain.h
  thirdparty/bungee/upstream/src/Grains.cpp
  thirdparty/bungee/upstream/src/Grains.h
  thirdparty/bungee/upstream/src/Input.cpp
  thirdparty/bungee/upstream/src/Input.h
  thirdparty/bungee/upstream/src/Instrumentation.cpp
  thirdparty/bungee/upstream/src/Instrumentation.h
  thirdparty/bungee/upstream/src/Modes.h
  thirdparty/bungee/upstream/src/Output.cpp
  thirdparty/bungee/upstream/src/Output.h
  thirdparty/bungee/upstream/src/Partials.cpp
  thirdparty/bungee/upstream/src/Partials.h
  thirdparty/bungee/upstream/src/Phase.h
  thirdparty/bungee/upstream/src/Resample.h
  thirdparty/bungee/upstream/src/Stretch.cpp
  thirdparty/bungee/upstream/src/Stretch.h
  thirdparty/bungee/upstream/src/Stretcher.cpp
  thirdparty/bungee/upstream/src/Stretcher.h
  thirdparty/bungee/upstream/src/Synthesis.cpp
  thirdparty/bungee/upstream/src/Synthesis.h
  thirdparty/bungee/upstream/src/Timing.cpp
  thirdparty/bungee/upstream/src/Timing.h
  thirdparty/bungee/upstream/src/Window.cpp
  thirdparty/bungee/upstream/src/Window.h
  thirdparty/bungee/upstream/src/log2.h
  thirdparty/bungee/upstream/src/version.cpp
Due: none

Windows fixes
  cmake/yup_modules.cmake
  cmake/yup_python.cmake
  cmake/yup_standalone.cmake
  examples/graphics/source/examples/Audio.h
  examples/graphics/source/examples/ConvolutionDemo.h
  examples/graphics/source/examples/CrossoverDemo.h
  justfile
  modules/yup_audio_formats/formats/yup_WaveAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_WindowsMediaAudioFormat.cpp
  thirdparty/harfbuzz/harfbuzz.cpp
Due: none

More work on windows
  examples/graphics/source/examples/Audio.h
  modules/yup_gui/native/yup_FileChooser_windows.cpp
Due: none

Try more stuff
  examples/graphics/CMakeLists.txt
  thirdparty/rive/rive.h
Due: none

Fix first display on windows
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/native/yup_Windowing_sdl2.h
Due: none

Fix memory leak in yoga
  thirdparty/rive/rive.h
  thirdparty/yoga_library/upstream/yoga/Yoga.cpp
  thirdparty/yoga_library/yoga_library.h
Due: none

Added editor config
  .editorconfig
Due: none

Added progress bar
  examples/graphics/source/examples/FilterDemo.h
  examples/graphics/source/examples/Widgets.h
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_ProgressBar.cpp
  modules/yup_gui/widgets/yup_ProgressBar.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
  tests/yup_graphics/yup_Path.cpp
  tests/yup_gui/ProgressBar.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

AudioThumbnail
  examples/graphics/source/examples/AudioFileDemo.h
  modules/yup_audio_gui/displays/yup_AudioThumbnail.cpp
  modules/yup_audio_gui/displays/yup_AudioThumbnail.h
  modules/yup_audio_gui/displays/yup_AudioViewComponent.cpp
  modules/yup_audio_gui/displays/yup_AudioViewComponent.h
  modules/yup_audio_gui/yup_audio_gui.cpp
  modules/yup_audio_gui/yup_audio_gui.h
Due: none

More work
  examples/graphics/source/examples/AudioFileDemo.h
  modules/yup_audio_gui/displays/yup_AudioThumbnail.cpp
  modules/yup_audio_gui/displays/yup_AudioThumbnail.h
  modules/yup_audio_gui/displays/yup_AudioViewComponent.cpp
  modules/yup_audio_gui/displays/yup_AudioViewComponent.h
  modules/yup_audio_gui/waveform/yup_AudioPeakProfile.cpp
  modules/yup_audio_gui/waveform/yup_AudioPeakProfile.h
  modules/yup_audio_gui/waveform/yup_AudioPeakProfileCache.cpp
  modules/yup_audio_gui/waveform/yup_AudioPeakProfileCache.h
  modules/yup_audio_gui/waveform/yup_AudioThumbnail.cpp
  modules/yup_audio_gui/waveform/yup_AudioThumbnail.h
  modules/yup_audio_gui/yup_audio_gui.cpp
  modules/yup_audio_gui/yup_audio_gui.h
  modules/yup_gui/widgets/yup_ListBox.cpp
  modules/yup_gui/widgets/yup_ProgressBar.cpp
  tests/yup_audio_gui.cpp
  tests/yup_audio_gui/yup_AudioPeakProfile.cpp
  tests/yup_audio_gui/yup_AudioPeakProfileCache.cpp
  tests/yup_audio_gui/yup_AudioThumbnail.cpp
  tests/yup_graphics/yup_Path.cpp
  tests/yup_gui/yup_ListBox.cpp
  tests/yup_gui/yup_ProgressBar.cpp
  tests/yup_gui/yup_ScrollBar.cpp
Due: yup_gui, YUP GUI

Fix macros for warnings
  thirdparty/harfbuzz/harfbuzz.cpp
  thirdparty/hmp3_library/hmp3_library_1.c
  thirdparty/hmp3_library/hmp3_library_1.cpp
  thirdparty/hmp3_library/hmp3_library_2.c
  thirdparty/hmp3_library/hmp3_library_2.cpp
  thirdparty/hmp3_library/hmp3_library_3.c
  thirdparty/hmp3_library/hmp3_library_3.cpp
  thirdparty/hmp3_library/hmp3_library_4.c
  thirdparty/libogg/libogg.c
  thirdparty/libvorbis/libvorbis_include_post.h
  thirdparty/libvorbis/libvorbis_include_pre.h
  thirdparty/opus_library/opus_library.c
  thirdparty/opus_library/opus_library_celt.c
  thirdparty/pffft_library/pffft_library.c
  thirdparty/pffft_library/pffft_library_double.c
  thirdparty/rive_renderer/rive_renderer.cpp
  thirdparty/sheenbidi_library/sheenbidi_library.c
  thirdparty/zlib/zlib.c
Due: none

More work
  tests/yup_core/yup_ListenerList.cpp
  tests/yup_gui/yup_ProgressBar.cpp
Due: none

More Desktop coverage
  modules/yup_gui/desktop/yup_Desktop.cpp
  modules/yup_gui/desktop/yup_Desktop.h
  tests/yup_gui.cpp
  tests/yup_gui/yup_Desktop.cpp
  thirdparty/hmp3_library/hmp3_library_3.c
Due: yup_gui, YUP GUI

More coverage
  tests/main.cpp
  tests/yup_audio_gui/yup_AudioPeakProfile.cpp
  tests/yup_audio_gui/yup_AudioPeakProfileCache.cpp
  tests/yup_audio_gui/yup_AudioThumbnail.cpp
  tests/yup_gui/yup_Desktop.cpp
  tests/yup_gui/yup_ListBox.cpp
  tests/yup_gui/yup_ListBoxItem.cpp
  tests/yup_gui/yup_ProgressBar.cpp
  tests/yup_gui/yup_ScrollBar.cpp
Due: none

More coverage
  modules/yup_audio_basics/yup_audio_basics.cpp
  modules/yup_dsp/yup_dsp.cpp
  modules/yup_simd/yup_simd.cpp
  modules/yup_simd/yup_simd.h
  tests/yup_audio_gui.cpp
  tests/yup_audio_gui/yup_AudioViewComponent.cpp
  tests/yup_audio_gui/yup_CartesianPlane.cpp
  tests/yup_audio_gui/yup_SpectrumAnalyzerComponent.cpp
Due: yup_audio_basics, YUP Audio Basics

Fix includes
  modules/yup_simd/yup_simd.cpp
  modules/yup_simd/yup_simd.h
Due: none

More testing
  tests/yup_audio_gui/yup_AudioPeakProfile.cpp
Due: none

More metering goodness
  examples/graphics/source/examples/AudioFileDemo.h
  modules/yup_audio_gui/metering/yup_KMeterComponent.cpp
  modules/yup_audio_gui/metering/yup_KMeterComponent.h
  modules/yup_audio_gui/waveform/yup_AudioPeakProfileCache.cpp
  modules/yup_audio_gui/yup_audio_gui.cpp
  modules/yup_audio_gui/yup_audio_gui.h
  modules/yup_dsp/metering/yup_KMeterState.cpp
  modules/yup_dsp/metering/yup_KMeterState.h
  modules/yup_dsp/metering/yup_LevelProcessor.cpp
  modules/yup_dsp/metering/yup_LevelProcessor.h
  modules/yup_dsp/metering/yup_LoudnessFilter.cpp
  modules/yup_dsp/metering/yup_LoudnessFilter.h
  modules/yup_dsp/yup_dsp.cpp
  modules/yup_dsp/yup_dsp.h
  modules/yup_graphics/graphics/yup_Color.h
  modules/yup_gui/buttons/yup_TextButton.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  tests/yup_audio_gui/KMeterComponent.cpp
  tests/yup_audio_gui/yup_AudioPeakProfileCache.cpp
  tests/yup_audio_gui/yup_AudioThumbnail.cpp
  tests/yup_dsp.cpp
  tests/yup_dsp/yup_KMeterState.cpp
  tests/yup_dsp/yup_LevelProcessor.cpp
  tests/yup_dsp/yup_LoudnessFilter.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Try to fix CI
  modules/yup_audio_gui/waveform/yup_AudioPeakProfileCache.cpp
Due: none

Fix deadlock on linux messaging
  modules/yup_events/native/yup_Messaging_linux.cpp
Due: none

Add timeout to jobs that could hang
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_windows.yml
  .github/workflows/coverage.yml
Due: none

More linux fixes
  modules/yup_events/messages/yup_MessageManager.cpp
  modules/yup_events/native/yup_Messaging_linux.cpp
Due: yup_events, YUP Events

More coverage
  modules/yup_gui/buttons/yup_TextButton.cpp
  modules/yup_gui/buttons/yup_TextButton.h
  tests/yup_audio_gui.cpp
  tests/yup_audio_gui/yup_KMeterComponent.cpp
  tests/yup_gui.cpp
  tests/yup_gui/yup_ThemeVersion1.cpp
Due: yup_gui, YUP GUI

Fix compilation on windows and android
  thirdparty/bungee_library/upstream/bungee/Stream.h
  thirdparty/bungee_library/upstream/src/Phase.h
Due: none

Fix includes
  thirdparty/bungee_library/upstream/bungee/Stream.h
Due: none

Fix bungee
  thirdparty/bungee_library/upstream/bungee/Stream.h
Due: none

More fixes
  thirdparty/hmp3_library/hmp3_library_1.c
  thirdparty/hmp3_library/hmp3_library_2.c
  thirdparty/hmp3_library/hmp3_library_3.c
Due: none

Fix windows build
  thirdparty/bungee_library/upstream/src/Assert.cpp
Due: none

Get rid of std::numbers
  thirdparty/bungee_library/upstream/src/Grain.h
  thirdparty/bungee_library/upstream/src/Input.cpp
  thirdparty/bungee_library/upstream/src/Stretcher.cpp
Due: none

Fix build on windows
  thirdparty/bungee_library/upstream/src/Resample.h
Due: none

Fix issue on missing methods on older android NDKs
  .github/workflows/build_android.yml
  thirdparty/bungee_library/upstream/src/log2.h
Due: none

Try to blindly fix issues
  thirdparty/bungee_library/bungee_library.cpp
Due: none

Fix linux ?
  thirdparty/bungee_library/upstream/bungee/Stream.h
Due: none

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
