Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Fix audio thumbnail generation
  modules/yup_audio_gui/waveform/yup_AudioPeakProfileCache.cpp
  modules/yup_audio_gui/waveform/yup_AudioThumbnail.cpp
Due: none

Initial commit of the TimeStretchProcessor
  examples/graphics/source/examples/AudioFileDemo.h
  modules/yup_dsp/stretching/yup_TimeStretchProcessor.cpp
  modules/yup_dsp/stretching/yup_TimeStretchProcessor.h
  modules/yup_dsp/yup_dsp.cpp
  modules/yup_dsp/yup_dsp.h
Due: none

Add tests for the timestretching
  tests/CMakeLists.txt
  tests/yup_dsp.cpp
  tests/yup_dsp/yup_TimeStretchProcessor.cpp
Due: none

Fix wasm
  tests/yup_dsp/yup_TimeStretchProcessor.cpp
Due: none

Fix memory
  tests/yup_dsp/yup_TimeStretchProcessor.cpp
Due: none

Fix tests
  modules/yup_audio_gui/waveform/yup_AudioPeakProfileCache.cpp
  modules/yup_audio_gui/waveform/yup_AudioThumbnail.cpp
  modules/yup_graphics/native/yup_GraphicsContext_headless.cpp
  tests/yup_dsp/yup_TimeStretchProcessor.cpp
Due: none

Improved KMeter
  modules/yup_dsp/metering/yup_KMeterState.cpp
  modules/yup_dsp/metering/yup_KMeterState.h
  modules/yup_dsp/metering/yup_LoudnessFilter.h
Due: none

Fix undefined behaviour in Bungee
  thirdparty/bungee_library/upstream/src/Stretch.h
Due: none

Avoid spurious failures
  python/tools/ArchivePythonStdlib.py
Due: none

Some convenience methods
  cmake/yup_standalone.cmake
  standalone/app/.gitignore
  standalone/app/CMakeLists.txt
Due: none

Fix yup_simd module metadata
  modules/yup_simd/yup_simd.cpp
  modules/yup_simd/yup_simd.h
Due: none

More removals
  .gitignore
  justfile
  standalone/app/.gitignore
  standalone/app/CMakeLists.txt
  standalone/app/main.cpp
Due: none

Fixes to include paths
  cmake/yup_standalone.cmake
Due: none

More fixes
  cmake/platforms/yup_android.cmake
  cmake/yup.cmake
  cmake/yup_standalone.cmake
  cmake/yup_utilities.cmake
Due: none

Fix android
  cmake/platforms/yup_android.cmake
  cmake/yup_standalone.cmake
Due: none

Fix android again
  cmake/platforms/yup_android.cmake
Due: none

Improved stuff
  LICENSE
  cmake/platforms/ios/Info.plist
  cmake/platforms/yup_ios.cmake
Due: none

Fix cmake
  cmake/platforms/yup_emscripten.cmake
  cmake/platforms/yup_ios.cmake
  cmake/platforms/yup_linux.cmake
  cmake/platforms/yup_mac.cmake
  cmake/platforms/yup_uwp.cmake
  cmake/platforms/yup_windows.cmake
Due: none

Fix text input target
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/keyboard/yup_TextInputTarget.cpp
  modules/yup_gui/keyboard/yup_TextInputTarget.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/native/yup_Windowing_sdl2.h
  modules/yup_gui/widgets/yup_TextEditor.cpp
  modules/yup_gui/widgets/yup_TextEditor.h
  modules/yup_gui/yup_gui.cpp
  modules/yup_gui/yup_gui.h
Due: yup_gui, YUP GUI

Fixes
  cmake/yup_standalone.cmake
Due: none

Updated readme
  README.md
  logo.png
Due: none

Updated logo
  logo.png
Due: none

Bump tools
  justfile
  tools/rive_update_manifest.json
  tools/update_rive.py
  tools/update_rive.sh
Due: none

Enable ARC
  AGENTS.md
  CLAUDE.md
  cmake/toolchains/ios.cmake
  cmake/yup_audio_plugin.cmake
  cmake/yup_modules.cmake
  cmake/yup_standalone.cmake
  modules/yup_audio_basics/utilities/yup_AudioWorkgroup.cpp
  modules/yup_audio_devices/native/yup_Audio_ios.cpp
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
  modules/yup_audio_plugin_client/yup_audio_plugin_client.h
  modules/yup_audio_processors/yup_audio_processors.h
  modules/yup_core/native/yup_Files_apple.mm
  modules/yup_core/native/yup_Network_apple.mm
  modules/yup_core/native/yup_ObjCHelpers_apple.h
  modules/yup_core/native/yup_SystemStats_apple.mm
  modules/yup_core/native/yup_Watchdog_mac.h
  modules/yup_core/network/yup_URL.cpp
  modules/yup_data_model/yup_data_model.h
  modules/yup_events/native/yup_MessageManager_mac.mm
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/yup_graphics.h
  modules/yup_gui/native/yup_WindowingUtilities_sdl2.cpp
  modules/yup_gui/native/yup_Windowing_ios.mm
  modules/yup_gui/native/yup_Windowing_mac.mm
  modules/yup_gui/yup_gui.h
  thirdparty/rive_decoders/rive_decoders.h
  thirdparty/rive_renderer/rive_renderer.h
Due: yup_core, yup_audio_basics, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Audio Basics, YUP Audio Processors, YUP Graphics, YUP GUI

Fix glad
  .gitignore
  thirdparty/glad/glad.c
  thirdparty/glad/glad.h
  thirdparty/glad/include/EGL/eglplatform.h
  thirdparty/glad/include/KHR/khrplatform.h
  thirdparty/glad/include/glad.h
  thirdparty/glad/include/glad/egl.h
  thirdparty/glad/include/glad/gles2.h
  thirdparty/glad/include/glad_custom.h
  thirdparty/glad/source/egl.c
  thirdparty/glad/source/glad.c
  thirdparty/glad/source/glad_custom.c
  thirdparty/glad/source/gles2.c
  thirdparty/rive_renderer/source/generated/shaders/d3d/color_ramp.frag.h
  thirdparty/rive_renderer/source/generated/shaders/d3d/color_ramp.vert.h
  thirdparty/rive_renderer/source/generated/shaders/d3d/render_atlas.vert.h
  thirdparty/rive_renderer/source/generated/shaders/d3d/render_atlas_fill.frag.h
  thirdparty/rive_renderer/source/generated/shaders/d3d/render_atlas_stroke.frag.h
  thirdparty/rive_renderer/source/generated/shaders/d3d/root.sig.h
  thirdparty/rive_renderer/source/generated/shaders/d3d/tessellate.frag.h
  thirdparty/rive_renderer/source/generated/shaders/d3d/tessellate.vert.h
  thirdparty/rive_vendor_versions.json
  tools/rive_update.py
  tools/rive_update_manifest.json
Due: none

More fixes
  modules/yup_graphics/native/yup_GraphicsContext_gl.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  thirdparty/rive_renderer/rive_renderer_emscripten.cpp
Due: none

More fixes
  thirdparty/rive_renderer/rive_renderer_apple.mm
  thirdparty/rive_renderer/rive_renderer_linux.cpp
  thirdparty/rive_renderer/rive_renderer_windows.cpp
Due: none

Fixes
  modules/yup_audio_devices/native/yup_Audio_ios.cpp
  modules/yup_events/messages/yup_Initialisation.h
Due: yup_events, YUP Events

More ios fixes around ARC
  modules/yup_core/network/yup_URL.cpp
Due: yup_core, YUP Core

Fix ios
  modules/yup_gui/native/yup_Windowing_ios.mm
Due: none

Bump actions
  .github/workflows/build_android.yml
  .github/workflows/build_ios.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_wasm.yml
  .github/workflows/build_windows.yml
  .github/workflows/clang_format.yml_
  .github/workflows/coverage.yml
  .github/workflows/python_linux.yml
  .github/workflows/python_macos.yml
  .github/workflows/python_windows.yml
Due: none

Enable ARC by default (#91)
  .github/workflows/build_android.yml
  .github/workflows/build_ios.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_wasm.yml
  .github/workflows/build_windows.yml
  .github/workflows/clang_format.yml_
  .github/workflows/coverage.yml
  .github/workflows/python_linux.yml
  .github/workflows/python_macos.yml
  .github/workflows/python_windows.yml
  AGENTS.md
  CLAUDE.md
  cmake/toolchains/ios.cmake
  cmake/yup_audio_plugin.cmake
  cmake/yup_modules.cmake
  cmake/yup_standalone.cmake
  modules/yup_audio_basics/utilities/yup_AudioWorkgroup.cpp
  modules/yup_audio_devices/native/yup_Audio_ios.cpp
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
  modules/yup_audio_plugin_client/yup_audio_plugin_client.h
  modules/yup_audio_processors/yup_audio_processors.h
  modules/yup_core/native/yup_Files_apple.mm
  modules/yup_core/native/yup_Network_apple.mm
  modules/yup_core/native/yup_ObjCHelpers_apple.h
  modules/yup_core/native/yup_SystemStats_apple.mm
  modules/yup_core/native/yup_Watchdog_mac.h
  modules/yup_core/network/yup_URL.cpp
  modules/yup_data_model/yup_data_model.h
  modules/yup_events/messages/yup_Initialisation.h
  modules/yup_events/native/yup_MessageManager_mac.mm
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/yup_graphics.h
  modules/yup_gui/native/yup_WindowingUtilities_sdl2.cpp
  modules/yup_gui/native/yup_Windowing_ios.mm
  modules/yup_gui/native/yup_Windowing_mac.mm
  modules/yup_gui/yup_gui.h
  thirdparty/rive_decoders/rive_decoders.h
  thirdparty/rive_renderer/rive_renderer.h
Due: yup_core, yup_events, yup_audio_basics, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Processors, YUP Graphics, YUP GUI

Fix zip file time
  modules/yup_core/zip/yup_ZipFile.cpp
Due: yup_core, YUP Core

Initial support for audio plugin hosting
  cmake/yup_audio_plugin.cmake
  cmake/yup_dependencies.cmake
  cmake/yup_modules.cmake
  cmake/yup_standalone.cmake
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/PluginHost.h
  examples/graphics/source/main.cpp
  modules/yup_audio_plugin_host/host/yup_AudioPluginDescription.h
  modules/yup_audio_plugin_host/host/yup_AudioPluginFormat.h
  modules/yup_audio_plugin_host/host/yup_AudioPluginFormatType.h
  modules/yup_audio_plugin_host/host/yup_AudioPluginHostContext.h
  modules/yup_audio_plugin_host/host/yup_AudioPluginInstance.cpp
  modules/yup_audio_plugin_host/host/yup_AudioPluginInstance.h
  modules/yup_audio_plugin_host/host/yup_AudioPluginScanner.cpp
  modules/yup_audio_plugin_host/host/yup_AudioPluginScanner.h
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_AUv2.h
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_AUv2.mm
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_CLAP.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_CLAP.h
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.h
  modules/yup_audio_plugin_host/yup_audio_plugin_host.cpp
  modules/yup_audio_plugin_host/yup_audio_plugin_host.h
  modules/yup_audio_plugin_host/yup_audio_plugin_host.mm
  modules/yup_core/misc/yup_ResultValue.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/yup_gui.h
  tests/CMakeLists.txt
  tests/yup_audio_plugin_host.cpp
  tests/yup_audio_plugin_host/AudioPluginDescription.cpp
  tests/yup_audio_plugin_host/AudioPluginInstance.cpp
  tests/yup_audio_plugin_host/AudioPluginScanner.cpp
  tests/yup_audio_plugin_host/AudioPluginState.cpp
Due: yup_core, yup_gui, YUP Core, YUP GUI

Fix audio allocations
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_AUv2.mm
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_CLAP.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.cpp
Due: none

Fixes to AU
  modules/yup_audio_plugin_host/host/yup_AudioPluginScanner.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_AUv2.mm
Due: none

Listbox fixes
  modules/yup_gui/widgets/yup_ListBox.cpp
Due: yup_gui, YUP GUI

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
