Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Add top language and commit activity badges
  README.md
Due: none

Tuning Map (#183)
  CHANGELOG.md
  modules/yup_audio_basics/midi/yup_TuningMap.cpp
  modules/yup_audio_basics/midi/yup_TuningMap.h
  modules/yup_audio_basics/yup_audio_basics.cpp
  modules/yup_audio_basics/yup_audio_basics.h
  tests/yup_audio_basics.cpp
  tests/yup_audio_basics/yup_TuningMap.cpp
Due: yup_audio_basics, YUP Audio Basics

More rive fixes
  CHANGELOG.md
  docs/ui/artboard.md
  docs/ui/index.md
  examples/graphics/data/alien.rev
  examples/graphics/data/arcade_controls.rev
  examples/graphics/data/audio_sampler.rev
  examples/graphics/data/car_interface.rev
  examples/graphics/data/seasynth.rev
  examples/graphics/data/toymachine_3.rev
  examples/graphics/data/ui_elements.rev
  examples/graphics/source/examples/Artboard.h
  examples/graphics/source/examples/LottieDemo.h
  examples/graphics/source/examples/SpinningCubeDemo.h
  modules/yup_gui/artboard/yup_Artboard.cpp
  modules/yup_gui/artboard/yup_Artboard.h
  modules/yup_gui/artboard/yup_ArtboardFile.cpp
  modules/yup_gui/artboard/yup_ArtboardFile.h
  modules/yup_gui/artboard/yup_ArtboardNode.h
  modules/yup_gui/artboard/yup_ArtboardViewModel.cpp
  modules/yup_gui/artboard/yup_ArtboardViewModel.h
  modules/yup_gui/artboard/yup_ArtboardViewModelInstance.cpp
  modules/yup_gui/artboard/yup_ArtboardViewModelInstance.h
  tests/data/rive/layout-ui.riv
  tests/yup_gui.cpp
  tests/yup_gui/yup_Artboard.cpp
  tests/yup_gui/yup_ArtboardFile.cpp
  tests/yup_gui/yup_ArtboardNode.cpp
  tests/yup_gui/yup_ArtboardViewModelInstance.cpp
Due: yup_gui, YUP GUI

Fix python bindings
  CHANGELOG.md
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupRhi_bindings.cpp
  python/demos/layout_flexgrid.py
Due: none

More tweaks
  CHANGELOG.md
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
  modules/yup_python/bindings/yup_YupRhi_bindings.cpp
  python/demos/gpu_canvas.py
  python/demos/gpu_cube.py
  python/demos/gpu_triangle.py
  python/demos/hotreload_main.py
  python/demos/pil_image.py
  python/demos/probe_demo.py
  python/demos/probe_minimal.py
  python/demos/staging/audio_device.py
  python/demos/staging/audio_player.py
  python/demos/staging/audio_player_waveform.py
  python/demos/staging/emojis_component.py
  python/demos/staging/emojis_font_component.py
  python/demos/staging/gpu_effects.py
  python/demos/staging/layout_flexgrid.py
  python/demos/staging/layout_rectangles.py
  python/demos/staging/matplotlib_integration.py
  python/demos/staging/numpy_audio.py
  python/demos/staging/opencv_integration.py
  python/demos/staging/opencv_video.py
  python/demos/staging/wavetable_oscillator.py
  python/demos/staging/wavetable_oscillator_numpy.py
  python/demos/toggle_buttons.py
  python/tests/test_yup_graphics/test_Justification.py
  python/tests/test_yup_graphics/test_Rhi.py
  python/tests/test_yup_gui/test_ApplicationTheme.py
Due: none

More tweaks
  CHANGELOG.md
  docs/graphics/rhi/targets.md
  modules/yup_audio_gui/displays/yup_CartesianPlane.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
  modules/yup_python/utilities/yup_PythonInterop.h
  python/demos/gpu_effects.py
  python/demos/layout_flexgrid.py
Due: yup_gui, YUP GUI

More tweaks to demos
  CHANGELOG.md
  python/demos/layout_flexgrid.py
  python/demos/layout_rectangles.py
  python/demos/pil_image.py
  python/demos/staging/layout_rectangles.py
Due: none

More test fixes
  CHANGELOG.md
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.mm
  tests/yup_audio_plugin_client/yup_TestAudioBufferList.h
  tests/yup_audio_plugin_client/yup_TestPluginProcessor.h
  tests/yup_audio_plugin_client_au.mm
  tests/yup_audio_plugin_client_auv3.mm
  tests/yup_rhi/yup_GpuTexture.cpp
Due: none

Cube fixes
  python/demos/gpu_cube.py
Due: none

More tweaks to Gpu bindings
  CHANGELOG.md
  docs/graphics/rhi/pipelines.md
  docs/graphics/rhi/targets.md
  docs/scripting/python-rhi.md
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/rhi/yup_GpuCanvas.cpp
  modules/yup_graphics/rhi/yup_GpuCanvas.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  modules/yup_python/bindings/yup_YupRhi_bindings.cpp
  modules/yup_rhi/context/yup_GpuDevice.h
  modules/yup_rhi/native/yup_GpuDevice_d3d.cpp
  modules/yup_rhi/native/yup_GpuDevice_dawn.cpp
  modules/yup_rhi/native/yup_GpuDevice_headless.cpp
  modules/yup_rhi/native/yup_GpuDevice_metal.cpp
  modules/yup_rhi/native/yup_GpuDevice_opengl.cpp
  modules/yup_rhi/native/yup_GpuDevice_webgpu.cpp
  modules/yup_rhi/rhi/yup_GpuComputePipeline.h
  modules/yup_rhi/rhi/yup_GpuTypes.cpp
  modules/yup_rhi/rhi/yup_GpuTypes.h
  modules/yup_rhi/yup_rhi.cpp
  python/tests/test_yup_graphics/test_Rhi.py
  tests/mocks/yup_rhi.h
  tests/yup_rhi/yup_GpuDevice.cpp
  tests/yup_rhi/yup_GpuPipeline.cpp
Due: yup_graphics, YUP Graphics

Fix tests
  tests/yup_rhi/yup_GpuDevice.cpp
Due: none

Disable failing tests on linux for now
  tests/yup_rhi/yup_GpuTexture.cpp
Due: none

Try to fix TypeErasedObject
  CHANGELOG.md
  modules/yup_core/containers/yup_TypeErasedObject.h
  tests/yup_core/yup_TypeErasedObject.cpp
  tests/yup_rhi/yup_GpuTexture.cpp
Due: yup_core, YUP Core

Fix tests
  python/tests/test_yup_gui/test_DragAndDropData.py
Due: none

More tweaks to python bindings
  CHANGELOG.md
  modules/yup_python/bindings/yup_YupAudioBasics_bindings.cpp
  modules/yup_python/bindings/yup_YupAudioDevices_bindings.cpp
  modules/yup_python/bindings/yup_YupAudioFormats_bindings.cpp
  modules/yup_python/bindings/yup_YupEvents_bindings.cpp
  modules/yup_python/bindings/yup_YupEvents_bindings.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
  python/demos/animated_component.py
  python/demos/audio_device.py
  python/demos/audio_player.py
  python/demos/audio_player_waveform.py
  python/demos/data/NotoColorEmoji.ttf
  python/demos/drawables.py
  python/demos/hotreload_component.py
  python/demos/hotreload_main.py
  python/demos/layout_flexgrid.py
  python/demos/layout_rectangles.py
  python/demos/matplotlib_integration.py
  python/demos/numpy_audio.py
  python/demos/opencv_integration.py
  python/demos/opencv_video.py
  python/demos/pil_image.py
  python/demos/probe_demo.py
  python/demos/slider_decibels.py
  python/demos/slider_values.py
  python/demos/staging/emojis_component.py
  python/demos/staging/emojis_font_component.py
  python/demos/staging/matplotlib_integration.py
  python/demos/toggle_buttons.py
  python/demos/wavetable_oscillator.py
  python/demos/wavetable_oscillator_numpy.py
  python/tests/test_yup_audio_basics/test_AudioBuffer.py
  python/tests/test_yup_audio_basics/test_AudioSource.py
  python/tests/test_yup_audio_devices/test_AudioFormatReaderSource.py
  python/tests/test_yup_audio_devices/test_AudioIODeviceType.py
  python/tests/test_yup_audio_devices/test_AudioSourcePlayer.py
  python/tests/test_yup_graphics/test_Point.py
  python/tests/test_yup_gui/test_MultipleInheritance.py
Due: none

Fix issue
  python/tests/test_yup_gui/test_MultipleInheritance.py
Due: none

Disable tests in embedded interpreter
  python/tests/test_yup_gui/test_MultipleInheritance.py
Due: none

Improve FFTProcessor
  CHANGELOG.md
  docs/dsp/frequency.md
  examples/audiograph/source/nodes/AnalyzerNodes.h
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.h
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.h
  modules/yup_audio_processors/spectral/yup_SpectralBridge.cpp
  modules/yup_audio_processors/spectral/yup_SpectralBridge.h
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/frequency/yup_FFTProcessor.cpp
  modules/yup_dsp/frequency/yup_FFTProcessor.h
  modules/yup_dsp/frequency/yup_OouraFFT8g.h
  modules/yup_dsp/frequency/yup_OouraFFT8g_double.cpp
  modules/yup_dsp/frequency/yup_OouraFFT8g_float.cpp
  modules/yup_dsp/onsets/yup_Spectrogram.h
  modules/yup_dsp/yup_dsp.cpp
  tests/yup_dsp/yup_FFTProcessor.cpp
  tests/yup_dsp/yup_NoiseGenerators.cpp
Due: yup_audio_processors, YUP Audio Processors

More spectrum improvement
  CHANGELOG.md
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.h
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.h
  modules/yup_audio_gui/displays/yup_SpectrumBinMapping.cpp
  modules/yup_audio_gui/displays/yup_SpectrumBinMapping.h
  modules/yup_audio_gui/yup_audio_gui.cpp
  modules/yup_audio_gui/yup_audio_gui.h
  tests/yup_audio_gui/yup_SpectrumAnalyzerComponent.cpp
  tests/yup_audio_gui/yup_SpectrumBinMapping.cpp
Due: none

More spectrogram fixes
  CHANGELOG.md
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.h
  tests/yup_audio_gui/yup_SpectrogramComponent.cpp
Due: none

Fix aligned buffer in PFFFT
  CHANGELOG.md
  modules/yup_dsp/frequency/yup_FFTProcessor.cpp
  tests/yup_dsp/yup_FFTProcessor.cpp
Due: none

Fix double precision ooura
  CHANGELOG.md
  modules/yup_dsp/frequency/yup_OouraFFT8g_double.cpp
Due: none

Fix overlay paint debugging
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
Due: yup_gui, YUP GUI

Fix macos window focus
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

Fix spectrogram
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

Improved repaint mechanism
  CHANGELOG.md
  docs/ui/component-basics.md
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/component/yup_ComponentNative.cpp
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_ComponentEffect.cpp
Due: yup_gui, YUP GUI

More coverage
  tests/yup_gui/yup_Artboard.cpp
  tests/yup_gui/yup_ArtboardNode.cpp
  tests/yup_gui/yup_ArtboardViewModel.cpp
  tests/yup_gui/yup_ArtboardViewModelInstance.cpp
Due: none

Improved spectrogram by using the RHI (#174)
  CHANGELOG.md
  docs/dsp/frequency.md
  docs/ui/component-basics.md
  examples/audiograph/source/nodes/AnalyzerNodes.h
  examples/graphics/source/examples/SpectrumAnalyzer.h
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrogramComponent.h
  modules/yup_audio_gui/displays/yup_SpectrogramComponentShader.frag
  modules/yup_audio_gui/displays/yup_SpectrogramComponentShader.inc
  modules/yup_audio_gui/displays/yup_SpectrogramComponentShader.vert
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.h
  modules/yup_audio_gui/displays/yup_SpectrumBinMapping.cpp
  modules/yup_audio_gui/displays/yup_SpectrumBinMapping.h
  modules/yup_audio_gui/yup_audio_gui.cpp
  modules/yup_audio_gui/yup_audio_gui.h
  modules/yup_audio_processors/spectral/yup_SpectralBridge.cpp
  modules/yup_audio_processors/spectral/yup_SpectralBridge.h
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/frequency/yup_FFTProcessor.cpp
  modules/yup_dsp/frequency/yup_FFTProcessor.h
  modules/yup_dsp/frequency/yup_OouraFFT8g.h
  modules/yup_dsp/frequency/yup_OouraFFT8g_double.cpp
  modules/yup_dsp/frequency/yup_OouraFFT8g_float.cpp
  modules/yup_dsp/frequency/yup_SpectrumAnalyzerState.cpp
  modules/yup_dsp/onsets/yup_Spectrogram.h
  modules/yup_dsp/yup_dsp.cpp
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  modules/yup_gui/component/yup_ComponentNative.cpp
  modules/yup_gui/component/yup_ComponentNative.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
  modules/yup_gui/native/yup_Windowing_sdl.h
  tests/yup_audio_gui/yup_SpectrogramComponent.cpp
  tests/yup_audio_gui/yup_SpectrumAnalyzerComponent.cpp
  tests/yup_audio_gui/yup_SpectrumBinMapping.cpp
  tests/yup_dsp/yup_FFTProcessor.cpp
  tests/yup_dsp/yup_NoiseGenerators.cpp
  tests/yup_gui/yup_Component.cpp
  tests/yup_gui/yup_ComponentEffect.cpp
Due: yup_audio_processors, yup_gui, YUP Audio Processors, YUP GUI

Fix rive
  thirdparty/rive/source/assets/script_asset.cpp
  tools/rive_update_manifest.json
Due: none

More work
  CHANGELOG.md
  tests/CMakeLists.txt
  tests/data/rive/viewmodel-lab.riv
  tests/data/rive/viewmodel-lab/.gitignore
  tests/data/rive/viewmodel-lab/assets/check.png
  tests/data/rive/viewmodel-lab/assets/cross.png
  tests/data/rive/viewmodel-lab/assets/karla.ttf
  tests/data/rive/viewmodel-lab/build/.gitkeep
  tests/data/rive/viewmodel-lab/count_plus_one.luau
  tests/data/rive/viewmodel-lab/rive.yaml
  tests/data/rive/viewmodel-lab/scene.rml
  tests/data/rive/viewmodel-lab/toggle_enabled.luau
  tests/yup_gui/yup_ArtboardViewModel.cpp
  tests/yup_gui/yup_ArtboardViewModelInstance.cpp
  thirdparty/luau/luau.h
  thirdparty/rive/rive.h
Due: none

Fixes
  modules/yup_rhi/yup_rhi.h
Due: none

More fixes
  CHANGELOG.md
  examples/graphics/source/examples/Artboard.h
  modules/yup_gui/native/yup_Windowing_sdl.cpp
Due: none

More optimisations
  modules/yup_rhi/native/yup_GpuComputePass_opengl.cpp
  modules/yup_rhi/native/yup_GpuComputePipeline_opengl.cpp
  modules/yup_rhi/rhi/yup_GpuComputePass.cpp
  modules/yup_rhi/rhi/yup_GpuComputePipeline.cpp
  modules/yup_rhi/yup_rhi.cpp
  modules/yup_rhi/yup_rhi.h
  thirdparty/rive/rive.h
Due: none

Update rive
  CHANGELOG.md
  justfile
  thirdparty/rive/rive_renderer.cpp
  tools/rive_update.py
  tools/rive_update_manifest.json
Due: none

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
