Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

Core audio format
  modules/yup_audio_formats/common/yup_AudioFormatManager.cpp
  modules/yup_audio_formats/formats/yup_AppleCoreAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_AppleCoreAudioFormat.h
  modules/yup_audio_formats/formats/yup_FlacAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_Mp3AudioFormat.cpp
  modules/yup_audio_formats/formats/yup_WaveAudioFormat.cpp
  modules/yup_audio_formats/yup_audio_formats.cpp
  modules/yup_audio_formats/yup_audio_formats.h
  tests/yup_audio_formats.cpp
  tests/yup_audio_formats/yup_AppleCoreAudioFormat.cpp
Due: none

More warning fixes
  examples/graphics/source/examples/SpectrumAnalyzer.h
Due: none

Windows media foundation support
  modules/yup_audio_formats/common/yup_AudioFormatManager.cpp
  modules/yup_audio_formats/formats/yup_AppleCoreAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_WindowsMediaAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_WindowsMediaAudioFormat.h
  modules/yup_audio_formats/yup_audio_formats.cpp
  modules/yup_audio_formats/yup_audio_formats.h
  tests/CMakeLists.txt
Due: none

Fix tests
  tests/yup_audio_formats/yup_AppleCoreAudioFormat.cpp
Due: none

Fix WMF
  modules/yup_audio_formats/formats/yup_AppleCoreAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_WindowsMediaAudioFormat.cpp
  modules/yup_audio_formats/yup_audio_formats.cpp
Due: none

More windows fixes
  AGENTS.md
  README.md
  examples/graphics/source/examples/FilterDemo.h
  modules/yup_audio_formats/formats/yup_WindowsMediaAudioFormat.cpp
Due: none

More work on audio formats
  README.md
  docs/images/yup_audio_scope.png
  examples/graphics/source/examples/AudioFileDemo.h
  examples/graphics/source/examples/FilterDemo.h
  examples/graphics/source/main.cpp
  modules/yup_audio_formats/formats/yup_AppleCoreAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_OpusAudioFormat.cpp
  thirdparty/opus_library/opus_library.h
Due: none

Added support for writing mp3s on platforms that doesn't support it natively
  cmake/yup_modules.cmake
  examples/graphics/CMakeLists.txt
  modules/yup_audio_formats/formats/yup_Mp3AudioFormat.cpp
  modules/yup_audio_formats/formats/yup_Mp3AudioFormat.h
  modules/yup_audio_formats/yup_audio_formats.cpp
  tests/CMakeLists.txt
  thirdparty/hmp3_library/hmp3_library.h
  thirdparty/hmp3_library/hmp3_library_1.c
  thirdparty/hmp3_library/hmp3_library_1.cpp
  thirdparty/hmp3_library/hmp3_library_2.c
  thirdparty/hmp3_library/hmp3_library_2.cpp
  thirdparty/hmp3_library/hmp3_library_3.c
  thirdparty/hmp3_library/hmp3_library_3.cpp
  thirdparty/hmp3_library/hmp3_library_4.c
Due: none

HSLuv and spectral mixing
  modules/yup_graphics/graphics/yup_Color.cpp
  modules/yup_graphics/graphics/yup_Color.h
  tests/yup_graphics/yup_Color.cpp
Due: yup_graphics, YUP Graphics

Warning fixes
  thirdparty/opus_library/opus_library_celt.c
Due: none

More gradient functionality
  modules/yup_graphics/graphics/yup_ColorGradient.h
  tests/yup_graphics/yup_ColorGradient.cpp
Due: yup_graphics, YUP Graphics

Color lab !
  README.md
  docs/images/yup_color_picker.png
  docs/images/yup_gradient_editor.png
  examples/graphics/source/examples/ColorLab.h
  examples/graphics/source/main.cpp
  modules/yup_graphics/graphics/yup_ColorGradient.h
Due: yup_graphics, YUP Graphics

More tweaks
  README.md
  docs/images/yup_audio_scope.png
Due: none

Improve stop handling
  examples/graphics/source/examples/ColorLab.h
Due: none

Fix error
  examples/graphics/source/examples/ColorLab.h
Due: none

Improved Color blending
  examples/graphics/source/examples/ColorLab.h
  modules/yup_graphics/graphics/yup_Color.cpp
  modules/yup_graphics/graphics/yup_Color.h
  modules/yup_graphics/graphics/yup_ColorGradient.h
  modules/yup_graphics/yup_graphics.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  tests/yup_graphics/yup_Color.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

More goodies in Color
  modules/yup_graphics/graphics/yup_Color.cpp
  modules/yup_graphics/graphics/yup_Color.h
  modules/yup_graphics/graphics/yup_ColorGradient.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  tests/yup_graphics/yup_Color.cpp
Due: yup_graphics, YUP Graphics

Fix spaceship operator clang format wrong rule
  .clang-format
  modules/yup_graphics/graphics/yup_Color.h
Due: yup_graphics, YUP Graphics

Reduce size of font
  modules/yup_gui/themes/theme_v1/RobotoFlexFont.inc
Due: yup_gui, YUP GUI

Fix implicit include not working in some platforms
  modules/yup_graphics/yup_graphics.h
Due: yup_graphics, YUP Graphics

Improved artboard viewTransform
  examples/graphics/source/examples/Artboard.h
  modules/yup_gui/artboard/yup_Artboard.cpp
  modules/yup_gui/artboard/yup_Artboard.h
Due: yup_gui, YUP GUI

Fix tests
  tests/yup_graphics/yup_Color.cpp
  tests/yup_graphics/yup_ColorGradient.cpp
Due: none

Improved color management (#87)
  .clang-format
  README.md
  docs/images/yup_audio_scope.png
  docs/images/yup_color_picker.png
  docs/images/yup_gradient_editor.png
  examples/graphics/source/examples/Artboard.h
  examples/graphics/source/examples/ColorLab.h
  examples/graphics/source/main.cpp
  modules/yup_graphics/graphics/yup_Color.cpp
  modules/yup_graphics/graphics/yup_Color.h
  modules/yup_graphics/graphics/yup_ColorGradient.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/yup_graphics.h
  modules/yup_gui/artboard/yup_Artboard.cpp
  modules/yup_gui/artboard/yup_Artboard.h
  modules/yup_gui/themes/theme_v1/RobotoFlexFont.inc
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  tests/yup_graphics/yup_Color.cpp
  tests/yup_graphics/yup_ColorGradient.cpp
  thirdparty/opus_library/opus_library_celt.c
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Improved submodules
  cmake/yup_modules.cmake
  cmake/yup_utilities.cmake
  examples/graphics/CMakeLists.txt
  modules/yup_audio_formats/common/yup_AudioFormatManager.cpp
  modules/yup_audio_formats/common/yup_AudioFormatManager.h
  thirdparty/dr_libs/dr_libs.h
  thirdparty/flac_library/flac_library.h
  thirdparty/flac_library/flac_library_1.c
  thirdparty/flac_library/flac_library_2.c
  thirdparty/flac_library/flac_library_3.c
  thirdparty/hmp3_library/hmp3_library.h
  thirdparty/hmp3_library/hmp3_library_1.c
  thirdparty/hmp3_library/hmp3_library_1.cpp
  thirdparty/hmp3_library/hmp3_library_2.c
  thirdparty/hmp3_library/hmp3_library_2.cpp
  thirdparty/hmp3_library/hmp3_library_3.c
  thirdparty/hmp3_library/hmp3_library_3.cpp
  thirdparty/libogg/libogg.c
  thirdparty/libogg/libogg.h
  thirdparty/libvorbis/libvorbis.h
  thirdparty/libvorbis/libvorbis_1.c
  thirdparty/libvorbis/libvorbis_2.c
  thirdparty/libvorbis/libvorbis_include_post.h
  thirdparty/libvorbis/libvorbis_include_pre.h
  thirdparty/opus_library/opus_library.c
  thirdparty/opus_library/opus_library.h
  thirdparty/opus_library/opus_library_celt.c
  thirdparty/opus_library/opus_library_silk.c
  thirdparty/pffft_library/pffft_library.c
  thirdparty/pffft_library/pffft_library.h
  thirdparty/pffft_library/pffft_library_double.c
Due: none

Ogg vorbis support
  examples/graphics/source/examples/AudioFileDemo.h
  modules/yup_audio_formats/common/yup_AudioFormatManager.cpp
  modules/yup_audio_formats/common/yup_AudioFormatManager.h
  modules/yup_audio_formats/format/yup_AudioFormat.cpp
  modules/yup_audio_formats/format/yup_AudioFormat.h
  modules/yup_audio_formats/formats/yup_AppleCoreAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_AppleCoreAudioFormat.h
  modules/yup_audio_formats/formats/yup_FlacAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_FlacAudioFormat.h
  modules/yup_audio_formats/formats/yup_Mp3AudioFormat.cpp
  modules/yup_audio_formats/formats/yup_Mp3AudioFormat.h
  modules/yup_audio_formats/formats/yup_OggVorbisAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_OggVorbisAudioFormat.h
  modules/yup_audio_formats/formats/yup_OpusAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_OpusAudioFormat.h
  modules/yup_audio_formats/formats/yup_WaveAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_WaveAudioFormat.h
  modules/yup_audio_formats/formats/yup_WindowsMediaAudioFormat.cpp
  modules/yup_audio_formats/yup_audio_formats.cpp
  modules/yup_audio_formats/yup_audio_formats.h
  tests/yup_audio_formats/yup_AppleCoreAudioFormat.cpp
  tests/yup_audio_formats/yup_FlacAudioFormat.cpp
  tests/yup_audio_formats/yup_Mp3AudioFormat.cpp
  tests/yup_audio_formats/yup_OpusAudioFormat.cpp
  tests/yup_audio_formats/yup_WaveAudioFormat.cpp
Due: none

Fix mp3 length
  modules/yup_audio_formats/formats/yup_Mp3AudioFormat.cpp
Due: none

Fix paths
  cmake/yup_modules.cmake
  modules/yup_audio_formats/formats/yup_Mp3AudioFormat.cpp
  modules/yup_audio_formats/formats/yup_WindowsMediaAudioFormat.cpp
  thirdparty/libogg/ogg/config_types.h
Due: none

More tweaks
  cmake/yup_modules.cmake
  cmake/yup_utilities.cmake
Due: none

Fix README
  README.md
Due: none

Updated .gitignore
  .gitignore
Due: none

Fix issue with sheenbidi
  thirdparty/sheenbidi/sheenbidi.c
Due: none

Introduce Eigen
  thirdparty/eigen/eigen.h
Due: none

More warning fixes
  thirdparty/harfbuzz/harfbuzz.cpp
Due: none

Ignore files
  .gitignore
Due: none

The new yup simd module
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.h
  modules/yup_audio_basics/yup_audio_basics.cpp
  modules/yup_audio_basics/yup_audio_basics.h
  modules/yup_audio_formats/yup_audio_formats.h
  modules/yup_dsp/yup_dsp.h
  modules/yup_simd/buffers/yup_FloatVectorOperations.cpp
  modules/yup_simd/buffers/yup_FloatVectorOperations.h
  modules/yup_simd/yup_simd.cpp
  modules/yup_simd/yup_simd.h
  modules/yup_simd/yup_simd.mm
  tests/yup_audio_basics.cpp
  tests/yup_audio_formats.cpp
  tests/yup_core.cpp
  tests/yup_core.mm
  tests/yup_data_model.cpp
  tests/yup_dsp.cpp
  tests/yup_events.cpp
  tests/yup_graphics.cpp
  tests/yup_gui.cpp
  tests/yup_python.cpp
  tests/yup_simd.cpp
  tests/yup_simd/yup_FloatVectorOperations.cpp
Due: yup_audio_basics, YUP Audio Basics

More functions in rectangle
  modules/yup_graphics/primitives/yup_Rectangle.h
  tests/yup_graphics/yup_Rectangle.cpp
Due: yup_graphics, YUP Graphics

Fixes to tests
  tests/yup_graphics/yup_Rectangle.cpp
Due: none
