Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

Improved
  modules/yup_dsp/filters/yup_ButterworthFilter.h
Due: none

Butterworth filter
  modules/yup_dsp/designers/yup_FilterDesigner.cpp
  modules/yup_dsp/filters/yup_ButterworthFilter.h
  tests/yup_dsp/yup_ButterworthFilter.cpp
Due: none

Code formatting
  modules/yup_dsp/designers/yup_FilterDesigner.cpp
  modules/yup_dsp/filters/yup_ButterworthFilter.h
Due: none

More tests
  tests/yup_core/yup_MathFunctions.cpp
Due: none

Work on linkwitz riley
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.cpp
  modules/yup_dsp/base/yup_FilterBase.h
  modules/yup_dsp/designers/yup_FilterDesigner.cpp
  modules/yup_dsp/designers/yup_FilterDesigner.h
  modules/yup_dsp/filters/yup_LinkwitzRileyFilter.h
  modules/yup_dsp/windowing/yup_WindowFunctions.h
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp/yup_LinkwitzRileyFilter.cpp
Due: none

Fix Linkwitz riley
  tests/yup_dsp/yup_LinkwitzRileyFilter.cpp
Due: none

Added RecursiveSpinLock
  modules/yup_core/threads/yup_RecursiveSpinLock.cpp
  modules/yup_core/threads/yup_RecursiveSpinLock.h
  modules/yup_core/threads/yup_SpinLock.cpp
  modules/yup_core/threads/yup_SpinLock.h
  modules/yup_core/threads/yup_Thread.cpp
  modules/yup_core/yup_core.cpp
  modules/yup_core/yup_core.h
  tests/yup_core/yup_RecursiveSpinLock.cpp
  tests/yup_core/yup_SpinLock.cpp
Due: yup_core, YUP Core

Improvement
  modules/yup_audio_basics/buffers/yup_AudioSampleBuffer.h
  modules/yup_core/memory/yup_Memory.h
Due: yup_core, yup_audio_basics, YUP Core, YUP Audio Basics

Fix
  modules/yup_core/yup_core.h
Due: yup_core, YUP Core

Fix tests
  modules/yup_dsp/designers/yup_FilterDesigner.cpp
  modules/yup_dsp/dynamics/yup_SoftClipper.h
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp/yup_SoftClipper.cpp
Due: none

More tests
  examples/graphics/source/examples/CrossoverDemo.h
  examples/graphics/source/examples/FilterDemo.h
  examples/graphics/source/main.cpp
  modules/yup_dsp/filters/yup_LinkwitzRileyFilter.h
  modules/yup_dsp/noise/yup_WhiteNoise.h
  modules/yup_dsp/yup_dsp.h
  modules/yup_gui/widgets/yup_ComboBox.h
  modules/yup_gui/widgets/yup_Label.h
Due: yup_gui, YUP GUI

More fixes
  examples/graphics/source/examples/CrossoverDemo.h
Due: none

More work
  cmake/yup_modules.cmake
  examples/graphics/CMakeLists.txt
  examples/graphics/data/break_boomblastic_92bpm.wav
  examples/graphics/source/examples/CrossoverDemo.h
  modules/yup_audio_formats/common/yup_AudioFormatManager.cpp
  modules/yup_audio_formats/common/yup_AudioFormatManager.h
  modules/yup_audio_formats/format/yup_AudioFormat.cpp
  modules/yup_audio_formats/format/yup_AudioFormat.h
  modules/yup_audio_formats/format/yup_AudioFormatReader.cpp
  modules/yup_audio_formats/format/yup_AudioFormatReader.h
  modules/yup_audio_formats/format/yup_AudioFormatWriter.cpp
  modules/yup_audio_formats/format/yup_AudioFormatWriter.h
  modules/yup_audio_formats/formats/yup_WaveAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_WaveAudioFormat.h
  modules/yup_audio_formats/yup_audio_formats.cpp
  modules/yup_audio_formats/yup_audio_formats.h
  modules/yup_audio_formats/yup_audio_formats.mm
  modules/yup_dsp/noise/yup_PinkNoise.h
  modules/yup_dsp/yup_dsp.h
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/fonts/yup_StyledText.cpp
  modules/yup_graphics/fonts/yup_StyledText.h
  modules/yup_gui/widgets/yup_Label.cpp
  modules/yup_gui/widgets/yup_Label.h
  tests/yup_dsp/yup_LinkwitzRileyFilter.cpp
  tests/yup_dsp/yup_NoiseGenerators.cpp
  thirdparty/dr_libs/dr_libs.cpp
  thirdparty/dr_libs/dr_libs.h
  thirdparty/dr_libs/upstream/dr_flac.h
  thirdparty/dr_libs/upstream/dr_mp3.h
  thirdparty/dr_libs/upstream/dr_wav.h
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

Fix it
  modules/yup_dsp/filters/yup_LinkwitzRileyFilter.h
  tests/yup_dsp/yup_LinkwitzRileyFilter.cpp
Due: none

Code formatting
  examples/graphics/source/examples/CrossoverDemo.h
  modules/yup_audio_formats/common/yup_AudioFormatManager.cpp
  modules/yup_audio_formats/format/yup_AudioFormat.h
  modules/yup_audio_formats/format/yup_AudioFormatReader.cpp
  modules/yup_audio_formats/format/yup_AudioFormatReader.h
  modules/yup_audio_formats/format/yup_AudioFormatWriter.cpp
  modules/yup_audio_formats/format/yup_AudioFormatWriter.h
  modules/yup_audio_formats/formats/yup_WaveAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_WaveAudioFormat.h
  modules/yup_core/memory/yup_Memory.h
  modules/yup_dsp/dynamics/yup_SoftClipper.h
Due: yup_core, YUP Core

Avoid stack overflow in emscripten
  tests/yup_core/yup_RecursiveSpinLock.cpp
Due: none

Fix biquad and svf tests
  tests/yup_dsp/yup_BiquadCascade.cpp
  tests/yup_dsp/yup_StateVariableFilter.cpp
Due: none

Fix midi in wasm
  modules/yup_audio_devices/native/yup_Midi_wasm.cpp
Due: none

Cosmetics
  tests/yup_audio_basics/yup_ADSR.cpp
Due: none

More testing
  modules/yup_audio_basics/buffers/yup_AudioDataConverters.cpp
  modules/yup_audio_basics/buffers/yup_AudioDataConverters.h
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.h
  modules/yup_audio_basics/yup_audio_basics.cpp
  modules/yup_audio_formats/common/yup_AudioFormatManager.h
  modules/yup_audio_formats/format/yup_AudioFormat.h
  modules/yup_audio_formats/format/yup_AudioFormatReader.cpp
  modules/yup_audio_formats/format/yup_AudioFormatReader.h
  modules/yup_audio_formats/format/yup_AudioFormatWriter.cpp
  modules/yup_audio_formats/format/yup_AudioFormatWriter.h
  modules/yup_audio_formats/formats/yup_WaveAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_WaveAudioFormat.h
  tests/CMakeLists.txt
  tests/data/sounds/M1F1-Alaw-AFsp.wav
  tests/data/sounds/M1F1-AlawWE-AFsp.wav
  tests/data/sounds/M1F1-float32-AFsp.wav
  tests/data/sounds/M1F1-float32WE-AFsp.wav
  tests/data/sounds/M1F1-float64-AFsp.wav
  tests/data/sounds/M1F1-float64WE-AFsp.wav
  tests/data/sounds/M1F1-int16-AFsp.wav
  tests/data/sounds/M1F1-int16WE-AFsp.wav
  tests/data/sounds/M1F1-int24-AFsp.wav
  tests/data/sounds/M1F1-int24WE-AFsp.wav
  tests/data/sounds/M1F1-int32-AFsp.wav
  tests/data/sounds/M1F1-int32WE-AFsp.wav
  tests/data/sounds/M1F1-mulaw-AFsp.wav
  tests/data/sounds/M1F1-mulawWE-AFsp.wav
  tests/data/sounds/M1F1-uint8-AFsp.wav
  tests/data/sounds/M1F1-uint8WE-AFsp.wav
  tests/data/sounds/addf8-Alaw-GW.wav
  tests/data/sounds/addf8-GSM-GW.wav
  tests/data/sounds/addf8-mulaw-GW.wav
  tests/yup_audio_basics/yup_AudioDataConverters.cpp
  tests/yup_audio_formats/yup_AudioFormatManager.cpp
  tests/yup_audio_formats/yup_WaveAudioFormat.cpp
Due: yup_audio_basics, YUP Audio Basics

Remove STDIO from dr_libs
  thirdparty/dr_libs/dr_libs.h
Due: none

More test fixes
  modules/yup_audio_formats/format/yup_AudioFormatReader.cpp
  modules/yup_audio_formats/format/yup_AudioFormatReader.h
  modules/yup_audio_formats/formats/yup_WaveAudioFormat.cpp
  tests/yup_audio_formats/yup_WaveAudioFormat.cpp
Due: none

More tweaks
  modules/yup_audio_formats/common/yup_AudioFormatManager.h
  modules/yup_audio_formats/format/yup_AudioFormat.h
  modules/yup_audio_formats/format/yup_AudioFormatReader.cpp
  modules/yup_audio_formats/format/yup_AudioFormatReader.h
  modules/yup_audio_formats/format/yup_AudioFormatWriter.cpp
  modules/yup_audio_formats/format/yup_AudioFormatWriter.h
  modules/yup_audio_formats/formats/yup_WaveAudioFormat.cpp
  modules/yup_audio_formats/formats/yup_WaveAudioFormat.h
Due: none

Code formatting
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_audio_formats/formats/yup_WaveAudioFormat.cpp
Due: yup_audio_basics, YUP Audio Basics

More tweaks
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.h
  tests/yup_audio_basics/yup_FloatVectorOperations.cpp
Due: yup_audio_basics, YUP Audio Basics

Code formatting
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.h
Due: yup_audio_basics, YUP Audio Basics

More fixes for sse
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
Due: yup_audio_basics, YUP Audio Basics

Fix
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
Due: yup_audio_basics, YUP Audio Basics

Fix windows tests not reporting failures
  .github/workflows/build_windows.yml
Due: none

Remove not needed convertFixedToFloat and convertFloatToFixed
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.cpp
  modules/yup_audio_basics/buffers/yup_FloatVectorOperations.h
  tests/yup_audio_basics/yup_FloatVectorOperations.cpp
Due: yup_audio_basics, YUP Audio Basics

Remove problematic parts in python detection and add prints
  modules/yup_python/scripting/yup_ScriptEngine.cpp
  python/tools/ArchivePythonStdlib.py
Due: none

Remove FFT output to console in tests
  tests/yup_dsp/yup_FFTProcessor.cpp
Due: none

Remove type error in python archive tool
  python/tools/ArchivePythonStdlib.py
Due: none

Code formatting
  modules/yup_python/scripting/yup_ScriptEngine.cpp
Due: none

Add verbose to the python make archive
  cmake/yup_python.cmake
  python/tools/ArchivePythonStdlib.py
Due: none

More testing
  cmake/yup_python.cmake
Due: none

Output full python path in output
  cmake/yup_python.cmake
Due: none

Print more python folder
  cmake/yup_python.cmake
Due: none

Again need more visibility
  cmake/yup_python.cmake
Due: none

Make windows python work
  cmake/yup_python.cmake
  modules/yup_python/scripting/yup_ScriptEngine.cpp
  python/tools/ArchivePythonStdlib.py
Due: none
