Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        informational: true
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        informational: true
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/**/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

More fun with gifs
  examples/graphics/CMakeLists.txt
  examples/graphics/data/animation.gif
  examples/graphics/source/examples/Images.h
  examples/graphics/source/main.cpp
  modules/yup_graphics/formats/yup_GifImageFormat.cpp
  tests/data/images/file_example.gif
  tests/data/images/file_example.jpg
  tests/data/images/file_example.png
  tests/data/images/file_example.webp
  tests/yup_graphics/yup_GifImageFormat.cpp
  tests/yup_graphics/yup_ImageFormatTools.h
Due: yup_graphics, YUP Graphics

Fix image tests
  modules/yup_graphics/formats/yup_PngImageFormat.cpp
  modules/yup_graphics/imaging/yup_ImageFormatWriter.cpp
  tests/data/images/animation.gif
  tests/data/images/magenta.bmp
  tests/data/images/magenta.gif
  tests/data/images/magenta.jpg
  tests/data/images/magenta.ppm
  tests/data/images/magenta.webp
  tests/data/images/test_gray.pgm
  tests/data/images/test_rgb.bmp
  tests/data/images/test_rgb.jpg
  tests/data/images/test_rgb.ppm
  tests/data/images/test_rgba.gif
  tests/data/images/test_rgba.png
  tests/data/images/test_rgba.webp
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_GifImageFormat.cpp
  tests/yup_graphics/yup_ImageDataFiles.cpp
  tests/yup_graphics/yup_ImageFormatTools.h
Due: yup_graphics, YUP Graphics

More lottie fixes
  modules/yup_animation/core/yup_AnimationProperty.h
  modules/yup_animation/core/yup_AnimationTransform.cpp
  modules/yup_animation/core/yup_AnimationTransform.h
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/io/yup_LottieReader.h
  modules/yup_animation/io/yup_LottieWriter.cpp
  modules/yup_animation/io/yup_LottieWriter.h
  modules/yup_animation/model/yup_AnimationGroup.cpp
  modules/yup_animation/model/yup_AnimationGroup.h
  modules/yup_animation/model/yup_AnimationLayer.cpp
  modules/yup_animation/model/yup_AnimationLayer.h
  modules/yup_animation/model/yup_AnimationModifier.cpp
  modules/yup_animation/model/yup_AnimationModifier.h
  modules/yup_animation/model/yup_AnimationPaint.cpp
  modules/yup_animation/model/yup_AnimationPaint.h
  modules/yup_animation/model/yup_AnimationPathData.cpp
  modules/yup_animation/model/yup_AnimationPathData.h
  modules/yup_animation/model/yup_AnimationShape.cpp
  modules/yup_animation/model/yup_AnimationShape.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.h
  modules/yup_animation/yup_animation.cpp
  modules/yup_animation/yup_animation.h
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
  tests/yup_animation/yup_AnimationPlayer.cpp
  tests/yup_animation/yup_AnimationProperty.cpp
  tests/yup_animation/yup_AnimationTransform.cpp
  tests/yup_animation/yup_LottieRoundtrip.cpp
  tests/yup_graphics/yup_Path.cpp
Due: yup_graphics, YUP Graphics

More lottie support
  modules/yup_animation/core/yup_AnimationTransform.cpp
  modules/yup_animation/core/yup_AnimationTransform.h
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/io/yup_LottieReader.h
  modules/yup_animation/io/yup_LottieWriter.cpp
  modules/yup_animation/model/yup_AnimationComposition.cpp
  modules/yup_animation/model/yup_AnimationComposition.h
  modules/yup_animation/model/yup_AnimationKeyPath.cpp
  modules/yup_animation/model/yup_AnimationKeyPath.h
  modules/yup_animation/model/yup_AnimationLayer.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/yup_animation.cpp
  modules/yup_animation/yup_animation.h
Due: none

Fixes to matte
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.h
Due: none

Fix more unsupported features
  modules/yup_animation/core/yup_AnimationProperty.h
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/io/yup_LottieReader.h
  modules/yup_animation/model/yup_AnimationModifier.h
  modules/yup_animation/model/yup_AnimationPaint.cpp
  modules/yup_animation/model/yup_AnimationPaint.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
Due: none

Fix
  modules/yup_animation/io/yup_LottieWriter.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
Due: none

Fix lottie
  modules/yup_animation/io/yup_LottieReader.cpp
Due: none

More fixes to offscreen rendering
  examples/graphics/source/examples/LottieDemo.h
  modules/yup_animation/io/yup_LottieWriter.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.h
  modules/yup_graphics/context/yup_GraphicsContext.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/imaging/yup_Image.cpp
  modules/yup_graphics/imaging/yup_Image.h
  modules/yup_graphics/native/yup_GraphicsContext_d3d.cpp
  modules/yup_graphics/native/yup_GraphicsContext_metal.cpp
  modules/yup_graphics/native/yup_GraphicsContext_opengl.cpp
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  tests/yup_graphics/yup_GraphicsOffscreen.cpp
  tests/yup_graphics/yup_Path.cpp
  thirdparty/libclipper2/LICENSE
  thirdparty/libclipper2/include/clipper2/clipper.core.h
  thirdparty/libclipper2/include/clipper2/clipper.engine.h
  thirdparty/libclipper2/include/clipper2/clipper.export.h
  thirdparty/libclipper2/include/clipper2/clipper.h
  thirdparty/libclipper2/include/clipper2/clipper.minkowski.h
  thirdparty/libclipper2/include/clipper2/clipper.offset.h
  thirdparty/libclipper2/include/clipper2/clipper.rectclip.h
  thirdparty/libclipper2/include/clipper2/clipper.triangulation.h
  thirdparty/libclipper2/include/clipper2/clipper.version.h
  thirdparty/libclipper2/libclipper2.cpp
  thirdparty/libclipper2/libclipper2.h
  thirdparty/libclipper2/src/clipper.engine.cpp
  thirdparty/libclipper2/src/clipper.offset.cpp
  thirdparty/libclipper2/src/clipper.rectclip.cpp
  thirdparty/libclipper2/src/clipper.triangulation.cpp
Due: yup_graphics, YUP Graphics

Fix
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/io/yup_LottieReader.h
  modules/yup_animation/model/yup_AnimationLayer.cpp
  modules/yup_animation/model/yup_AnimationLayer.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.h
  tests/yup_animation/yup_AnimationPlayer.cpp
  tests/yup_animation/yup_LottieRoundtrip.cpp
Due: none

More tweaks
  modules/yup_animation/core/yup_AnimationEasing.cpp
  modules/yup_animation/core/yup_AnimationEasing.h
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/io/yup_LottieReader.h
  modules/yup_animation/model/yup_AnimationComposition.cpp
  modules/yup_animation/model/yup_AnimationComposition.h
  modules/yup_animation/model/yup_AnimationLayer.cpp
  modules/yup_animation/model/yup_AnimationLayer.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.h
  modules/yup_animation/renderer/yup_CubicBezier.cpp
  modules/yup_animation/renderer/yup_CubicBezier.h
  modules/yup_animation/yup_animation.cpp
  modules/yup_animation/yup_animation.h
  tests/yup_animation/yup_AnimationPlayer.cpp
  tests/yup_animation/yup_AnimationProperty.cpp
  tests/yup_animation/yup_AnimationTransform.cpp
  tests/yup_animation/yup_LottieRoundtrip.cpp
Due: none

More work with expressions
  modules/yup_animation/io/yup_LottieExpressionEvaluator.cpp
  modules/yup_animation/io/yup_LottieExpressionEvaluator.h
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/io/yup_LottieReader.h
  modules/yup_animation/model/yup_AnimationLayer.cpp
  modules/yup_animation/model/yup_AnimationLayer.h
  modules/yup_animation/model/yup_AnimationPaint.cpp
  modules/yup_animation/model/yup_AnimationPaint.h
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/yup_animation.cpp
  modules/yup_animation/yup_animation.h
  modules/yup_core/javascript/yup_Javascript.cpp
  modules/yup_core/javascript/yup_Javascript.h
  modules/yup_graphics/graphics/yup_ColorGradient.h
  tests/yup_animation.cpp
  tests/yup_animation/yup_LottieExpressionEvaluator.cpp
  tests/yup_animation/yup_LottieRoundtrip.cpp
  tests/yup_core/yup_JavascriptEngine.cpp
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

More javascript fixes
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_core/javascript/yup_Javascript.cpp
  tests/yup_animation/yup_LottieRoundtrip.cpp
  tests/yup_core/yup_JavascriptEngine.cpp
Due: yup_core, YUP Core

More tweaks
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  tests/yup_animation/yup_AnimationTransform.cpp
  tests/yup_animation/yup_LottieRoundtrip.cpp
  tests/yup_core/yup_JavascriptEngine.cpp
Due: none

More tweaks
  modules/yup_animation/animation/yup_AnimationPlayer.cpp
  tests/yup_animation/yup_AnimationPlayer.cpp
  tests/yup_animation/yup_AnimationTransform.cpp
Due: none

Fix path fills
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
Due: none

More fixes
  modules/yup_animation/core/yup_AnimationTransform.cpp
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.h
Due: none

Introduce transparency layers
  examples/graphics/source/examples/Artboard.h
  examples/graphics/source/main.cpp
  modules/yup_animation/renderer/yup_AnimationRenderer.cpp
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
Due: yup_graphics, YUP Graphics

Fix artboard
  examples/graphics/source/examples/Artboard.h
Due: none

Fix wasm tests
  tests/yup_graphics/yup_ImageDataFiles.cpp
Due: none

More fixes
  modules/yup_animation/io/yup_LottieWriter.cpp
  modules/yup_animation/model/yup_AnimationComposition.cpp
  tests/yup_animation.cpp
  tests/yup_animation/yup_AnimationPlayer.cpp
  tests/yup_animation/yup_AnimationRenderer.cpp
  tests/yup_animation/yup_LottieWriter.cpp
  tests/yup_graphics/yup_ColorGradient.cpp
Due: none

Fix tests
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/yup_graphics.cpp
  tests/yup_animation.cpp
  tests/yup_animation/yup_AnimationComposition.cpp
  tests/yup_animation/yup_AnimationGroup.cpp
  tests/yup_animation/yup_AnimationKeyPath.cpp
  tests/yup_animation/yup_AnimationModifier.cpp
  tests/yup_animation/yup_AnimationPaint.cpp
  tests/yup_animation/yup_AnimationPathData.cpp
  tests/yup_animation/yup_AnimationShape.cpp
  tests/yup_animation/yup_CubicBezier.cpp
Due: yup_graphics, YUP Graphics

Fix tests
  modules/yup_animation/yup_animation.cpp
  modules/yup_animation/yup_animation.h
  modules/yup_graphics/primitives/yup_CubicBezier.cpp
  modules/yup_graphics/primitives/yup_CubicBezier.h
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  tests/yup_animation.cpp
  tests/yup_animation/yup_AnimationFrameExporter.cpp
  tests/yup_animation/yup_AnimationRenderer.cpp
  tests/yup_animation/yup_LottieRoundtrip.cpp
  tests/yup_animation/yup_LottieWriter.cpp
  tests/yup_graphics.cpp
  tests/yup_graphics/yup_CubicBezier.cpp
  tests/yup_graphics/yup_Graphics.cpp
  thirdparty/libgif/upstream/quantize.c
Due: yup_graphics, YUP Graphics

Fix tests
  tests/yup_animation.cpp
  tests/yup_animation/yup_Animation.cpp
  tests/yup_graphics/yup_BmpImageFormat.cpp
  tests/yup_graphics/yup_Image.cpp
  tests/yup_graphics/yup_ImageFormatWriter.cpp
Due: none

More tests
  tests/yup_audio_basics/yup_MidiBuffer.cpp
  tests/yup_audio_formats/yup_AudioFormatReader.cpp
  tests/yup_core/yup_BufferedInputStream.cpp
  tests/yup_core/yup_GZIPCompressorOutputStream.cpp
  tests/yup_core/yup_MemoryOutputStream.cpp
  tests/yup_core/yup_ReferenceCountedArray.cpp
  tests/yup_core/yup_SHA1.cpp
  tests/yup_core/yup_SharedResourcePointer.cpp
  tests/yup_events/yup_MessageManager.cpp
Due: none

Fix Path tests
  tests/yup_graphics/yup_Path.cpp
Due: none

Warning fixes
  tests/yup_animation/yup_Animation.cpp
Due: none

Fix more issues
  cmake/platforms/emscripten/mini-coi.js
  docs/demos/web_render_0/mini-coi.js
  docs/demos/web_render_1/mini-coi.js
  docs/demos/web_render_2/mini-coi.js
  docs/demos/web_render_3/mini-coi.js
  docs/demos/web_render_4/mini-coi.js
  justfile
  modules/yup_audio_devices/audio_io/yup_AudioDeviceManager.cpp
  modules/yup_audio_devices/native/yup_AudioWorklet_emscripten.cpp
  modules/yup_core/native/yup_SharedCode_posix.h
  modules/yup_core/native/yup_Threads_wasm.cpp
  modules/yup_dsp/metering/yup_KMeterState.cpp
  modules/yup_dsp/metering/yup_KMeterState.h
Due: yup_audio_devices, YUP Audio Devices

Fix more
  cmake/yup_pluginval.cmake
  modules/yup_dsp/metering/yup_KMeterState.cpp
Due: none

More coverage
  tests/yup_animation/yup_LottieExpressionEvaluator.cpp
Due: none

Do not count coverage for platform specific
  .github/workflows/coverage.yml
Due: none

More tweaks
  .github/workflows/build_android.yml
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_wasm.yml
  .github/workflows/build_windows.yml
Due: none

Reduce rebuilds
  .github/workflows/python_linux.yml
  .github/workflows/python_macos.yml
  .github/workflows/python_windows.yml
Due: none

More coverage
  examples/graphics/CMakeLists.txt
  examples/graphics/source/examples/Artboard.h
  examples/graphics/source/examples/LottieDemo.h
  examples/graphics/source/main.cpp
  modules/yup_animation/animation/yup_Animation.cpp
  modules/yup_animation/animation/yup_Animation.h
  modules/yup_animation/io/yup_LottieReader.cpp
  modules/yup_animation/io/yup_LottieReader.h
  tests/data/lottie/goal.lottie
  tests/data/lottie/image_embedded.json
  tests/data/lottie/image_test.json
  tests/data/lottie/images/img_0.png
  tests/data/lottie/jolly_walker.json
  tests/yup_animation/yup_Animation.cpp
  tests/yup_animation/yup_AnimationEasing.cpp
  tests/yup_animation/yup_LottieReader.cpp
  tests/yup_animation/yup_LottieWriter.cpp
Due: none

Disable tests on WASM that fail CI
  tests/yup_animation/yup_LottieReader.cpp
  tests/yup_animation/yup_LottieWriter.cpp
Due: none

Bump emsdk
  .github/workflows/build_wasm.yml
Due: none

Fix undefined behaviour
  modules/yup_simd/types/yup_SIMDRegister.h
Due: none
