Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Fix
  tests/yup_python/yup_ScriptPython.cpp
Due: none

Failing tests
  python/tests/test_yup_core/test_URLInputSource.py
  tests/yup_python/yup_ScriptPython.cpp
Due: none

Fix pybind11 formatting
  .github/workflows/clang_format.yml
Due: none

More python bindings
  modules/yup_graphics/primitives/yup_Rectangle.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  modules/yup_python/bindings/yup_YupGraphics_bindings.h
  modules/yup_python/modules/yup_YupMain_module.cpp
  modules/yup_python/yup_python_graphics.cpp
Due: yup_graphics, YUP Graphics

More work
  modules/yup_python/bindings/yup_YupGuiEntryPoint_bindings.cpp
  modules/yup_python/bindings/yup_YupGuiEntryPoint_bindings.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
  modules/yup_python/modules/yup_YupMain_module.cpp
  modules/yup_python/yup_python_gui.cpp
  python/tests/test_yup_events/__init__.py
Due: none

More ports from popsicle
  modules/yup_python/bindings/yup_YupGuiEntryPoint_bindings.cpp
  modules/yup_python/bindings/yup_YupGuiEntryPoint_bindings.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/modules/yup_YupMain_module.cpp
  modules/yup_python/yup_python_gui.cpp
  python/setup.py
  python/tests/test_yup_graphics/__init__.py
  python/tests/test_yup_graphics/test_AffineTransform.py
  python/tests/test_yup_graphics/test_Colour.py
  python/tests/test_yup_graphics/test_ColourGradient.py
  python/tests/test_yup_graphics/test_FillType.py
  python/tests/test_yup_graphics/test_Graphics.py
  python/tests/test_yup_graphics/test_Justification.py
  python/tests/test_yup_graphics/test_Line.py
  python/tests/test_yup_graphics/test_Path.py
  python/tests/test_yup_graphics/test_PathStrokeType.py
  python/tests/test_yup_graphics/test_Point.py
  python/tests/test_yup_graphics/test_Rectangle.py
  python/tests/test_yup_graphics/test_RectangleList.py
  python/tests/test_yup_graphics/utilities.py
Due: none

More work
  modules/yup_python/bindings/yup_YupGui_bindings.h
Due: none

More work
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
Due: none

More tests
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
  python/tests/test_yup_graphics/test_Color.py
  python/tests/test_yup_graphics/test_ColorGradient.py
  python/tests/test_yup_graphics/test_Point.py
Due: none

Code formatting
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  modules/yup_python/bindings/yup_YupGraphics_bindings.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
Due: none

More work on point
  modules/yup_graphics/primitives/yup_Point.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
Due: yup_graphics, YUP Graphics

Disable clang format on pybind
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
Due: none

Fix coverage
  .github/workflows/coverage.yml
Due: none

More APIs
  modules/yup_graphics/graphics/yup_Color.h
  modules/yup_graphics/primitives/yup_Line.h
  modules/yup_graphics/primitives/yup_Rectangle.h
  modules/yup_graphics/primitives/yup_RectangleList.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
Due: yup_graphics, YUP Graphics

Code formatting
  modules/yup_graphics/primitives/yup_RectangleList.h
Due: yup_graphics, YUP Graphics

More work
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
Due: none

Remove cruft
  modules/yup_python/bindings/yup_YupCore_bindings.cpp
  modules/yup_python/bindings/yup_YupEvents_bindings.cpp
Due: none

Ignore stubgen errors
  python/setup.py
Due: none

Avoid formatting bindings
  modules/yup_python/bindings/yup_YupCore_bindings.cpp
  python/tests/__init__.py
  python/tests/conftest.py
  python/tests/utilities.py
Due: none

More bindings work
  modules/yup_python/bindings/yup_YupCore_bindings.h
  modules/yup_python/bindings/yup_YupEvents_bindings.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
Due: none

More path work
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  python/tests/test_yup_graphics/test_ColorGradient.py
  python/tests/test_yup_graphics/test_Point.py
Due: none

Make it work
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
Due: none

More tweaks
  modules/yup_events/native/yup_MessageManager_mac.mm
  modules/yup_graphics/graphics/yup_Color.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  python/tests/test_yup_graphics/test_Color.py
Due: yup_graphics, YUP Graphics

Experimental basic SVG support (#64)
  examples/graphics/data/svg/tiger.svg
  examples/graphics/source/examples/Svg.h
  examples/graphics/source/examples/VariableFonts.h
  examples/graphics/source/main.cpp
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/graphics/yup_Color.cpp
  modules/yup_graphics/graphics/yup_ColorGradient.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/layout/yup_Fitting.h
  modules/yup_graphics/layout/yup_Justification.h
  modules/yup_graphics/primitives/yup_AffineTransform.h
  modules/yup_graphics/primitives/yup_Line.h
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
  modules/yup_graphics/primitives/yup_Point.h
  modules/yup_graphics/primitives/yup_Rectangle.h
  modules/yup_graphics/primitives/yup_Size.h
  modules/yup_graphics/yup_graphics.cpp
  modules/yup_graphics/yup_graphics.h
  tests/yup_graphics/yup_Graphics.cpp
Due: yup_graphics, YUP Graphics

More stuff
  modules/yup_core/maths/yup_BigInteger.cpp
  modules/yup_core/maths/yup_MathsFunctions.h
  modules/yup_core/memory/yup_ByteOrder.h
  modules/yup_core/native/yup_SystemStats_windows.cpp
  modules/yup_core/system/yup_PlatformDefs.h
  modules/yup_core/system/yup_StandardHeader.h
  modules/yup_core/yup_core.h
Due: yup_core, YUP Core

More tweaks
  modules/yup_core/maths/yup_MathsFunctions.h
  modules/yup_python/bindings/yup_YupCore_bindings.cpp
Due: yup_core, YUP Core

Code formatting
  modules/yup_core/maths/yup_MathsFunctions.h
Due: yup_core, YUP Core

More exposure
  modules/yup_graphics/graphics/yup_BlendMode.h
  modules/yup_graphics/graphics/yup_ColorGradient.h
  modules/yup_graphics/graphics/yup_FillType.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
  modules/yup_graphics/graphics/yup_Graphics.h
  modules/yup_graphics/graphics/yup_StrokeType.h
  modules/yup_graphics/yup_graphics.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  tests/yup_graphics/yup_Graphics.cpp
Due: yup_graphics, YUP Graphics

Code formatting
  modules/yup_graphics/graphics/yup_FillType.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
Due: yup_graphics, YUP Graphics

Forgot a clamp
  modules/yup_graphics/graphics/yup_Graphics.cpp
Due: yup_graphics, YUP Graphics

More work
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/layout/yup_Justification.h
  modules/yup_gui/menus/yup_PopupMenu.cpp
Due: yup_graphics, yup_gui, YUP Graphics, YUP GUI

More testing
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  python/tests/test_yup_graphics/test_Path.py
  python/tests/test_yup_graphics/test_Size.py
Due: yup_graphics, YUP Graphics

Code formatting
  modules/yup_graphics/primitives/yup_Path.h
Due: yup_graphics, YUP Graphics

More work on python lifecycle
  modules/yup_core/logging/yup_Logger.cpp
  modules/yup_core/yup_core.h
  modules/yup_events/messages/yup_DeletedAtShutdown.cpp
  modules/yup_events/native/yup_MessageManager_ios.mm
  modules/yup_events/native/yup_MessageManager_mac.mm
  modules/yup_events/timers/yup_Timer.cpp
  modules/yup_events/timers/yup_Timer.h
  modules/yup_events/yup_events.h
  modules/yup_graphics/graphics/yup_Color.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/windowing/yup_DocumentWindow.h
  modules/yup_python/bindings/yup_YupEvents_bindings.cpp
  modules/yup_python/bindings/yup_YupEvents_bindings.h
  modules/yup_python/bindings/yup_YupGraphics_bindings.cpp
  modules/yup_python/bindings/yup_YupGraphics_bindings.h
  modules/yup_python/bindings/yup_YupGui_bindings.cpp
  modules/yup_python/bindings/yup_YupGui_bindings.h
  modules/yup_python/modules/yup_YupMain_module.cpp
  python/CMakeLists.txt
  python/demos/__init__.py
  python/demos/yup_init.py
  python/demos/yup_o_matic.py
Due: yup_core, yup_events, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Graphics, YUP GUI

More examples
  examples/graphics/source/examples/Python.h
Due: none

Code formatting
  examples/graphics/source/examples/Python.h
  modules/yup_events/timers/yup_Timer.cpp
Due: yup_events, YUP Events

Make yup_events tests working
  modules/yup_python/modules/yup_YupMain_module.cpp
  python/tests/test_yup_events/__init__.py
  python/tests/test_yup_events/test_ActionBroadcaster.py
  python/tests/test_yup_events/test_AsyncUpdater.py
  python/tests/test_yup_events/test_ChangeBroadcaster.py
  python/tests/test_yup_events/test_LockingAsyncUpdater.py
  python/tests/test_yup_events/test_Message.py
  python/tests/test_yup_events/test_MessageListener.py
  python/tests/test_yup_events/test_MessageManager.py
  python/tests/test_yup_events/test_MultiTimer.py
  python/tests/test_yup_events/test_Timer.py
Due: none

Fix python embeddable
  examples/graphics/source/examples/Python.h
Due: none

Make tests to work
  python/tests/test_yup_events/test_MessageManager.py
Due: none

More tests
  modules/yup_graphics/graphics/yup_Color.cpp
  tests/yup_graphics/yup_Color.cpp
  tests/yup_graphics/yup_ColorGradient.cpp
  tests/yup_graphics/yup_StrokeType.cpp
Due: yup_graphics, YUP Graphics

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
