Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

Fix plug editors
  modules/yup_audio_plugin_client/au/yup_audio_plugin_client_AU.cpp
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
Due: none

Fix plist
  cmake/platforms/ios/ApplicationInfo.plist
Due: none

Fix lock
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
Due: none

Fix issue
  tests/yup_simd/yup_FloatVectorOperations.cpp
Due: none

More numeric stability
  modules/yup_simd/buffers/yup_ComplexVectorOperations.cpp
  tests/yup_dsp/yup_BiquadCascade.cpp
Due: none

Seek more numerical stability
  tests/yup_dsp/yup_BiquadCascade.cpp
Due: none

Initial yup_simd (#107)
  cmake/platforms/yup_emscripten.cmake
  examples/graphics/source/examples/SpectrumAnalyzer.h
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.cpp
  modules/yup_audio_gui/displays/yup_SpectrumAnalyzerComponent.h
  modules/yup_dsp/convolution/yup_PartitionedConvolver.cpp
  modules/yup_dsp/metering/yup_LevelProcessor.cpp
  modules/yup_graphics/graphics/yup_Color.h
  modules/yup_graphics/imaging/yup_Image.cpp
  modules/yup_graphics/primitives/yup_AffineTransform.h
  modules/yup_graphics/yup_graphics.h
  modules/yup_simd/buffers/yup_AffineTransformOperations.cpp
  modules/yup_simd/buffers/yup_AffineTransformOperations.h
  modules/yup_simd/buffers/yup_ColorVectorOperations.cpp
  modules/yup_simd/buffers/yup_ColorVectorOperations.h
  modules/yup_simd/buffers/yup_ComplexVectorOperations.cpp
  modules/yup_simd/buffers/yup_ComplexVectorOperations.h
  modules/yup_simd/buffers/yup_FloatVectorOperations.cpp
  modules/yup_simd/buffers/yup_FloatVectorOperations.h
  modules/yup_simd/types/yup_EigenAdapters.h
  modules/yup_simd/types/yup_SIMDRegister.h
  modules/yup_simd/types/yup_Vec.h
  modules/yup_simd/yup_simd.cpp
  modules/yup_simd/yup_simd.h
  tests/CMakeLists.txt
  tests/yup_audio_gui/yup_SpectrumAnalyzerComponent.cpp
  tests/yup_dsp/yup_BiquadCascade.cpp
  tests/yup_graphics/yup_Image.cpp
  tests/yup_simd.cpp
  tests/yup_simd/yup_AffineTransformOperations.cpp
  tests/yup_simd/yup_ColorVectorOperations.cpp
  tests/yup_simd/yup_ComplexVectorOperations.cpp
  tests/yup_simd/yup_FloatVectorOperations.cpp
  tests/yup_simd/yup_SIMDRegister.cpp
  tests/yup_simd/yup_Vec.cpp
  thirdparty/xsimd/xsimd.h
Due: yup_graphics, YUP Graphics

The blunter clipper
  modules/yup_dsp/dynamics/yup_BlunterClipper.h
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp.cpp
  tests/yup_dsp/yup_BlunterClipper.cpp
Due: none

Fix warnings
  thirdparty/hmp3_library/hmp3_library_3.c
Due: none

Fractionally addressed delay line
  examples/audiograph/source/nodes/FractionalDelayNode.h
  examples/audiograph/source/nodes/GainNode.h
  examples/audiograph/source/nodes/LatencyNode.h
  examples/audiograph/source/nodes/LowPassFilterNode.h
  examples/audiograph/source/nodes/NodeRegistry.h
  examples/audiograph/source/nodes/NodeViewHelpers.h
  examples/audiograph/source/nodes/OscillatorNode.h
  modules/yup_dsp/delays/yup_FractionallyAddressedDelay.h
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp.cpp
  tests/yup_dsp/yup_FractionallyAddressedDelay.cpp
Due: none

More coverage
  tests/yup_audio_processors/yup_AudioParameter.cpp
  tests/yup_gui/yup_FileChooser.cpp
Due: none

Fix new audio process signature
  examples/audiograph/source/nodes/FractionalDelayNode.h
Due: none

Add more nodes and improve oversampler
  examples/audiograph/source/nodes/DistortionNodes.h
  examples/audiograph/source/nodes/NodeRegistry.h
  examples/audiograph/source/nodes/NodeViewHelpers.h
  modules/yup_dsp/resampling/yup_Oversampler.h
  tests/yup_dsp/yup_Oversampler.cpp
Due: none

Fix latency reporting
  examples/audiograph/source/nodes/DistortionNodes.h
Due: none

Fix spurious failure
  modules/yup_audio_basics/sources/yup_BufferingAudioSource.cpp
  modules/yup_audio_basics/sources/yup_BufferingAudioSource.h
  tests/yup_audio_basics/yup_BufferingAudioSource.cpp
Due: yup_audio_basics, YUP Audio Basics

The blunter clipper (#108)
  examples/audiograph/source/nodes/DistortionNodes.h
  examples/audiograph/source/nodes/NodeRegistry.h
  examples/audiograph/source/nodes/NodeViewHelpers.h
  modules/yup_audio_basics/sources/yup_BufferingAudioSource.cpp
  modules/yup_audio_basics/sources/yup_BufferingAudioSource.h
  modules/yup_dsp/dynamics/yup_BlunterClipper.h
  modules/yup_dsp/resampling/yup_Oversampler.h
  modules/yup_dsp/yup_dsp.h
  tests/yup_audio_basics/yup_BufferingAudioSource.cpp
  tests/yup_dsp.cpp
  tests/yup_dsp/yup_BlunterClipper.cpp
  tests/yup_dsp/yup_Oversampler.cpp
  thirdparty/hmp3_library/hmp3_library_3.c
Due: yup_audio_basics, YUP Audio Basics

More audio processor cleanups
  modules/yup_audio_processors/processors/yup_AudioProcessor.h
Due: yup_audio_processors, YUP Audio Processors

More work on audio processor
  examples/audiograph/source/AudioGraphApp.cpp
  examples/audiograph/source/nodes/DistortionNodes.h
  examples/audiograph/source/nodes/FractionalDelayNode.h
  examples/audiograph/source/nodes/GainNode.h
  examples/audiograph/source/nodes/LatencyNode.h
  examples/audiograph/source/nodes/LowPassFilterNode.h
  examples/audiograph/source/nodes/NodeViewHelpers.h
  examples/audiograph/source/nodes/OscillatorNode.h
  examples/audiograph/source/nodes/SamplePlayerNode.h
  examples/audiograph/source/nodes/SubgraphNode.h
  modules/yup_audio_graph/graph/yup_AudioGraphModel.cpp
  modules/yup_audio_graph/graph/yup_AudioGraphModel.h
  modules/yup_audio_graph/graph/yup_AudioGraphProcessor.cpp
  modules/yup_audio_plugin_client/clap/yup_audio_plugin_client_CLAP.cpp
  modules/yup_audio_plugin_client/vst3/yup_audio_plugin_client_VST3.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_AUv2.mm
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_CLAP.cpp
  modules/yup_audio_plugin_host/native/yup_AudioPluginInstance_VST3.cpp
  modules/yup_audio_processors/processors/yup_AudioBus.h
  modules/yup_audio_processors/processors/yup_AudioProcessor.cpp
  modules/yup_audio_processors/processors/yup_AudioProcessor.h
  modules/yup_audio_processors/yup_audio_processors.h
  tests/yup_audio_graph/yup_AudioGraphProcessor.cpp
  tests/yup_audio_plugin_host/yup_AudioPluginInstance.cpp
  tests/yup_audio_processors/yup_AudioParameter.cpp
Due: yup_audio_processors, YUP Audio Processors

More useful nodes
  examples/audiograph/CMakeLists.txt
  examples/audiograph/source/nodes/AnalyzerNodes.h
  examples/audiograph/source/nodes/NodeRegistry.h
  examples/audiograph/source/nodes/OscillatorNode.h
  examples/audiograph/source/nodes/RecorderNode.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
Due: yup_gui, YUP GUI

More work
  examples/audiograph/source/nodes/DistortionNodes.h
  examples/audiograph/source/nodes/GainNode.h
  examples/audiograph/source/nodes/LowPassFilterNode.h
  modules/yup_dsp/dynamics/yup_HardClipper.h
  modules/yup_dsp/nonlinear/yup_AaIirAntialiaser.h
  modules/yup_dsp/yup_dsp.h
  tests/yup_dsp.cpp
  tests/yup_dsp/yup_AaIirAntialiaser.cpp
Due: none

Fix AAIIR
  tests/yup_dsp/yup_AaIirAntialiaser.cpp
Due: none

Nice nodes and fixes
  examples/audiograph/source/nodes/LowPassFilterNode.h
  examples/audiograph/source/nodes/NodeRegistry.h
  examples/audiograph/source/nodes/OscillatorNode.h
  examples/audiograph/source/nodes/StateVariableFilterNode.h
  examples/graphics/source/examples/FilterDemo.h
  modules/yup_dsp/resampling/yup_Oversampler.h
  tests/yup_dsp/yup_Oversampler.cpp
Due: none

Fix once and for all
  modules/yup_audio_basics/sources/yup_BufferingAudioSource.cpp
  modules/yup_audio_basics/sources/yup_BufferingAudioSource.h
  tests/yup_audio_basics/yup_BufferingAudioSource.cpp
Due: yup_audio_basics, YUP Audio Basics

More tests
  tests/yup_core.cpp
  tests/yup_core/yup_Logger.cpp
  tests/yup_core/yup_Socket.cpp
  tests/yup_events.cpp
  tests/yup_events/yup_InterprocessConnection.cpp
Due: none

More tests
  modules/yup_audio_basics/buffers/yup_AudioSampleBuffer.h
  tests/yup_audio_basics/yup_AudioSampleBuffer.cpp
  tests/yup_audio_formats.cpp
  tests/yup_audio_formats/yup_AudioFormatReader.cpp
  tests/yup_audio_formats/yup_AudioFormatWriter.cpp
  tests/yup_audio_formats/yup_WaveAudioFormat.cpp
  tests/yup_core.cpp
  tests/yup_core/yup_BigInteger.cpp
  tests/yup_core/yup_Expression.cpp
  tests/yup_core/yup_PerformanceCounter.cpp
Due: yup_audio_basics, YUP Audio Basics

More tests (#110)
  modules/yup_audio_basics/buffers/yup_AudioSampleBuffer.h
  tests/yup_audio_basics/yup_AudioSampleBuffer.cpp
  tests/yup_audio_formats.cpp
  tests/yup_audio_formats/yup_AudioFormatReader.cpp
  tests/yup_audio_formats/yup_AudioFormatWriter.cpp
  tests/yup_audio_formats/yup_WaveAudioFormat.cpp
  tests/yup_core.cpp
  tests/yup_core/yup_BigInteger.cpp
  tests/yup_core/yup_Expression.cpp
  tests/yup_core/yup_Logger.cpp
  tests/yup_core/yup_PerformanceCounter.cpp
  tests/yup_core/yup_Socket.cpp
  tests/yup_events.cpp
  tests/yup_events/yup_InterprocessConnection.cpp
Due: yup_audio_basics, YUP Audio Basics

Make sure we fail on circular deps
  cmake/yup_audio_plugin.cmake
  cmake/yup_modules.cmake
  cmake/yup_standalone.cmake
Due: none

Make sure we fail on circular deps (#111)
  cmake/yup_audio_plugin.cmake
  cmake/yup_modules.cmake
  cmake/yup_standalone.cmake
Due: none

Initial check in of the audio device manager panel and window
  examples/audiograph/source/AudioGraphApp.cpp
  examples/audiograph/source/AudioGraphApp.h
  modules/yup_audio_gui/device_manager/yup_AudioDeviceManagerPanel.cpp
  modules/yup_audio_gui/device_manager/yup_AudioDeviceManagerPanel.h
  modules/yup_audio_gui/device_manager/yup_AudioDeviceManagerWindow.cpp
  modules/yup_audio_gui/device_manager/yup_AudioDeviceManagerWindow.h
  modules/yup_audio_gui/device_manager/yup_ChannelSection.cpp
  modules/yup_audio_gui/device_manager/yup_ChannelSection.h
  modules/yup_audio_gui/device_manager/yup_DeviceIOSelector.cpp
  modules/yup_audio_gui/device_manager/yup_DeviceIOSelector.h
  modules/yup_audio_gui/device_manager/yup_DeviceTypeSelector.cpp
  modules/yup_audio_gui/device_manager/yup_DeviceTypeSelector.h
  modules/yup_audio_gui/device_manager/yup_MidiSection.cpp
  modules/yup_audio_gui/device_manager/yup_MidiSection.h
  modules/yup_audio_gui/device_manager/yup_RateBufferSelector.cpp
  modules/yup_audio_gui/device_manager/yup_RateBufferSelector.h
  modules/yup_audio_gui/yup_audio_gui.cpp
  modules/yup_audio_gui/yup_audio_gui.h
  modules/yup_gui/widgets/yup_ComboBox.cpp
  modules/yup_gui/widgets/yup_Label.cpp
  modules/yup_gui/yup_gui.h
  tests/yup_audio_gui/yup_AudioDeviceManagerPanel.cpp
Due: yup_gui, YUP GUI

Fix duplicated SDL symbols in plugins
  cmake/resources/sdl-symbols-patch.h.in
  cmake/yup.cmake
  cmake/yup_audio_plugin.cmake
  cmake/yup_dependencies.cmake
  cmake/yup_sdl.cmake
Due: none

Fix combobox
  modules/yup_gui/widgets/yup_ComboBox.cpp
  modules/yup_gui/widgets/yup_ComboBox.h
  tests/yup_gui/yup_ComboBox.cpp
Due: yup_gui, YUP GUI

Fix label
  modules/yup_gui/widgets/yup_Label.cpp
Due: yup_gui, YUP GUI

Fix duplicated SDL symbols in plugins (#112)
  cmake/resources/sdl-symbols-patch.h.in
  cmake/yup.cmake
  cmake/yup_audio_plugin.cmake
  cmake/yup_dependencies.cmake
  cmake/yup_sdl.cmake
Due: none

Update macOS support status in README
  README.md
Due: none

Better core audio support for aggregate devices
  README.md
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
  modules/yup_audio_devices/yup_audio_devices.h
Due: yup_audio_devices, YUP Audio Devices

Fix issues
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
Due: none

Fix locking
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
Due: none

Improved code
  modules/yup_audio_devices/native/yup_CoreAudio_mac.cpp
Due: none

Path conditions:
  yup_core: any of: modules/yup_core/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_events: any of: modules/yup_events/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_basics: any of: modules/yup_audio_basics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_devices: any of: modules/yup_audio_devices/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_audio_processors: any of: modules/yup_audio_processors/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_graphics: any of: modules/yup_graphics/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  yup_gui: any of: modules/yup_gui/, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Core: any of: modules/yup_core/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Events: any of: modules/yup_events/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Basics: any of: modules/yup_audio_basics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Devices: any of: modules/yup_audio_devices/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Audio Processors: any of: modules/yup_audio_processors/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP Graphics: any of: modules/yup_graphics/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
  YUP GUI: any of: modules/yup_gui/**, but not: thirdparty/**/*, examples/**/*, tests/**/*, tools/**/*, cmake/**/*, docs/**/*, standalone/**/*, modules/*/native/**/*
